[2019-10-17 21:17] ferBonnin commented on #1500
@smoralesd does this repro in prod?

[2019-10-17 21:39] #1289 closed

[2019-10-17 21:40] #1397 closed

[2019-10-17 21:59] lisli1 opened #1505 "FastPass Automated checks: checkboxes do not have accessible name"
## Describe the bug

Failure instance checkboxes do not have an accessible name

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.washington.edu/accesscomputing/AU/before.html
2. Open the extension popup and click FastPass
3. On the resulting details view page, click on the arrow to expand the list of failures (ensure that "Enable universal cards UI" feature flag is **not**

[2019-10-17 22:07] DaveTryon commented on #1505
This occurs in the current production bits

[2019-10-17 22:48] #1501 closed

[2019-10-17 23:01] dbjorge commented on #1500
@ferBonnin Yes, it does

[2019-10-17 23:37] ferBonnin commented on #1494
Per Adarsh, this is expected behaviour. Tested that this is the same behaviour as an old report although NVDA decides to not announce the table and Jaws does.

[2019-10-17 23:39] ferBonnin commented on #1494
Assigning to Rob since he mentioned this; please let us know if you agree.

[2019-10-17 23:42] karanbirsingh opened #1508 "Toast placement incorrect when page zoomed in"
## Describe the bug

When the details view is zoomed in (using control + plus) and scrolled down to the bottom, clicking "copy failure details" can produce a Toast in the center of the page instead of the bottom of the page.

![toast](https://user-images.githubusercontent.com/7775527/67055379-cb9d0180-f0fc-11e9-88e1-c92c0106bbe8.gif)

**To Reproduce**
Steps to reproduce the behavior:

1. Run a fas

[2019-10-17 23:44] ferBonnin commented on #1505
@iamrafan could you check if this issue, please?

[2019-10-17 23:56] ferBonnin commented on #644
@iamrafan friendly ping to take a look at the reply of the bug you filed, please

[2019-10-17 23:58] lisli1 opened #1509 "Card footer more actions button dots not centered"
## Describe the bug

The 3 dots in the "more actions" button in the card footer are not centered in the button/focus box.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.washington.edu/accesscomputing/AU/before.html
2. Open the extension popup and click FastPass
3. Scroll down to a failure instance card
4. Hover over 3 dots in the card footer (or tab to this button to main

[2019-10-17 23:58] ferBonnin commented on #696
marking as ready for triage to review again

[2019-10-18 00:00] ferBonnin commented on #917
Marking this as resolved, please let us know if you encounter this issue again and we can reactivate this bug :)

[2019-10-18 00:00] #917 closed

[2019-10-18 00:06] ferBonnin commented on #981
dequelabs/axe-core#1731 is now closed

[2019-10-18 00:07] ferBonnin commented on #1071
@LiLoDavis after long investigation I think we decided not to move forward with this change, agree?

[2019-10-18 14:32] LiLoDavis commented on #1071
Agree. Current POR is to modify the bookmarklet to show root failures so users can figure out what actually went wrong.

[2019-10-18 17:29] #1071 closed

[2019-10-18 20:48] dbjorge commented on #1509
@lisli1: For resolving this, note that the issue is specific to release builds, so you should double check in canary rather than building from master

[2019-10-18 22:03] dbjorge commented on #1508
I am unable to repro this in either insiders (2.10.2) or a dev build from current master:

![screenshot with zoomed in toast showing up as expected](https://user-images.githubusercontent.com/376284/67131136-5f7fd380-f1b8-11e9-8ef6-971dcb7ff850.png)

@karanbirsingh, can you check whether this is still reproducing on your machine and investigate if so?

[2019-10-18 22:19] dbjorge commented on #365
This still repros today against current master.

The root cause of this is that https://schwab.com is dynamically updating our buttons' onClick handlers as they get loaded into the DOM (it is this for all `<button>` elements, not looking for ours specifically).

I do not believe there is going to be any realistic way to fix for the general case short of finishing the "render the target page dialog

[2019-10-18 22:22] #1500 closed

[2019-10-18 22:58] smoralesd commented on #1500
@dbjorge LGTM on master

[2019-10-21 16:40] karanbirsingh commented on #1508
@dbjorge looks like I can repro on production, but not insiders. I'll close the bug

[2019-10-21 16:40] #1508 closed

[2019-10-21 17:51] ferBonnin commented on #1503
Per conversation with Peter, @waabid can you please take a look?

[2019-10-21 17:56] #365 closed

[2019-10-21 17:56] ferBonnin commented on #365
Per the investigation and cost to fix we are marking this as out of scope.

[2019-10-21 18:04] dbjorge commented on #365
Updated title to clarify the relatively specific scope of the issue

[2019-10-21 19:52] #1509 closed

[2019-10-22 00:22] iamrafan commented on #644
@Shobhit1 I do not see this issue anymore, can you please let me know if you are able to repro?

[2019-10-23 18:17] karanbirsingh opened #1543 "Text in electron-port-textbox acts as if 'insert' is on & deleting creates spaces"
## Describe the bug

When entering a port in the android textbox, moving the cursor back and typing leads to two oddities:
- typing over an existing character replaces it
- deleting a character via backspace replaces it with a space

![gif of behavior](https://user-images.githubusercontent.com/7775527/67422069-92461500-f586-11e9-8741-699c392686be.gif)

**To Reproduce**
Steps to reproduce the behav

[2019-10-23 21:53] ferBonnin opened #1548 "Congratulations text in Cards UI is too big"
## Describe the bug
"Congratulations!
No failed automated checks were found" text is too big

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a page without any automated check issues
2. run automated checks
4. See gigantic text

## Expected behavior

smaller text :) per best practices text should not be bigger than the H1 and H2 in page. font 16 or 14px would be better

[2019-10-24 00:25] varshannagarajan commented on #1219
Hey, I was wondering if I could work on this issue.

[2019-10-24 00:36] ferBonnin commented on #1219
Hi @varshannagarajan for sure! thanks for the help :)

[2019-10-24 08:42] joppekroon opened #1553 "During 'Parsing' check, Accessibility Insight injected styles are also reported"
## Describe the bug
When running the 'Parsing' check, the checker reports failures with <style> elements that have an unnecessary type attribute. It took me a while to figure out that these were failures caused by injections from accessibility insights ([dev tools performance issue didn't help](https://github.com/microsoft/accessibility-insights-web/issues/1503)).

**To Reproduce**
Run the Nu HTML

[2019-10-24 17:32] iamrafan commented on #1505
@ferBonnin This is a valid issue, but currently has no user impact as the checkboxes in the instance list are not individually focusable. We need to fix this if we plan to have the same details list experience and if we plan to enable focus on each grid cell in the row.

[2019-10-24 19:57] LiLoDavis opened #1558 "Contrast > State changes > How to test: Clarify requirement for redundant state indicators"
**Describe the bug**
The test instructions need to clarify that when a UI component has multiple (redundant) non-text state indicators, only one of them needs sufficient contrast.

**Current text**
The visual helper for this requirement highlights links, native widgets, and custom widgets in the target page.

1. In the target page, examine each highlighted element to determine whether it can adopt

[2019-10-25 18:32] ferBonnin commented on #1505
thanks @iamrafan, in that case, since there is no user impact this bug will disappear with Cards UI, removing from ready for work and grouping it with the feature.

[2019-10-28 02:29] aardrian commented on #394
I made a video that played at Smashing Conference NYC to try to garner broader community support: https://adrianroselli.com/2019/10/smashing-web-we-want-video-pitch.html

It is also on YouTube: https://www.youtube.com/watch?v=UjXCAuWuXdk

[2019-10-28 18:04] peterdur opened #1567 "Visual Helper toggle in Assessment > Automated Checks not toggling target page highlights"
## Describe the bug

When there are failures in an Assessment > Automated Checks scan, toggling the visual helper on should highlight the elements that fail the requirement. This is not working. Navigating to a different requirement and back does cause the highlights to be shown/hidden as determined by the state of the toggle.

**To Reproduce**
Steps to reproduce the behavior:

1. In the browser,

[2019-10-28 18:07] smoralesd opened #1568 "Rule group header loses focus indicator while using AT"
## Describe the bug

While using an screen reader (NVDA, JAWS), the rule group loses the focus indicator when the user activates the control (collapsing or expanding the hidden content)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [Accessible University before](http://www.washington.edu/accesscomputing/AU/before.html)
1. Open fast pass and go to Automated checks, wait for the resul

[2019-10-28 18:19] smoralesd commented on #1567
I also check test **7 Links**.
**Link function** visualization seems to work just fine:
![02 - link function visualization](https://user-images.githubusercontent.com/2837582/67705684-b2097e80-f974-11e9-86fc-2491187677c9.gif)

But **Link purpose** behaves the same as the *Automated checks**
![01 - link purpose visualization](https://user-images.githubusercontent.com/2837582/67705711-c5b4e500-f974-1

[2019-10-28 18:31] smoralesd opened #1569 "Active element style not present when using NVDA"
## Describe the bug

While using NVDA and opening the "more actions" kebab menu on the failure instance card, the contextual menu automatically selects the first element **File issue** but there is no visual indication.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [Accessible University before](http://www.washington.edu/accesscomputing/AU/before.html)
1. Open **Fast pass**, navigat

[2019-10-28 20:04] ferBonnin commented on #1553
Per conversation with Peter, needs dev investigation. Is there anything we need to fix on our side: If we can't hide the styles from the validator, lets fix the issue the validator is calling out.
Dan might have more context/knowledge on the validator since we investigated other issues with it in the past.

[2019-10-28 20:06] ferBonnin commented on #1558
This is a minor text change

[2019-10-28 20:12] ferBonnin commented on #1543
Per conversation with Peter his guess is that we are enforcing only 5 numbers, which is expected but may have the side effect of been disconcerting for the user.
Recommendation is to review expected behaviour of numeric constrains in electron text boxes (did we enforce it or is it done by the Electron control?)
 Also, given that the port number is hard-coded, why don't we pre-populate the text box

[2019-10-28 20:17] smoralesd commented on #1569
@iamrafan I was working to file this issue against office ui fabric react repo but they have this in their ***Accessibility Issue** template:

Can you help us check if we should file this agains **NVDA** and **JAWS** (it repro on both).

In the case of **Narrator**, the focus indicator style is being override so "it looks" like is working but it's now the normal style.

[2019-10-29 21:35] vikasgupta18 opened #1575 "<li> elements must be contained in a <ul> or <ol>"
## Describe the bug

**To Reproduce**
Steps to reproduce the behavior:

1. Go to answers.microsoft.com
2. Click on Participate and run accessibility insight tool, It is complaining about "<li> elements must be contained in a <ul> or <ol>"

I verified the html for this and I confirm that <li> elements are already inside <ul>

Here is the code snippet for the same :
![image](https://user-images.gith

[2019-10-29 21:58] iamrafan commented on #1575
hi @vikasgupta18, the issue you see is a failure in the sub-list rather than the list you mentioned in the code snippet. Please find the correct snippet from below

![image](https://user-images.githubusercontent.com/22068434/67812272-020f4080-fa5c-11e9-8513-8f0526cebe64.png)

This is a valid issue and as highlighted above it is caused by the empty ```<li>``` items which do not have ```role present

[2019-10-29 23:54] smoralesd commented on #1567
This was introduce on #1376 when we remove the old `ClientViewController` and started using `ClientStoreListener`, `FocusChangeHandler`, `TargetPageVisualizaitonUpdater` and `VisualizationStateChangeHandler`.
Associated commit is [d7eeca5fb5a7ea73a42b1790f8aff8dd06b83da5](https://github.com/microsoft/accessibility-insights-web/commit/d7eeca5fb5a7ea73a42b1790f8aff8dd06b83da5)

[2019-10-30 02:08] varshannagarajan commented on #1219
Hi, @ferBonnin I was trying out a few different changes and was wondering if the drop down box should remain the same size or if it was OK if it changed according to the length of the text?

Static:
![StaticDropdown](https://user-images.githubusercontent.com/48139461/67823211-8e3f5900-fa98-11e9-836a-c686affa117d.gif)

Dynamic:
![DynamicDropdown](https://user-images.githubusercontent.com/48139461/6

[2019-10-30 17:12] ferBonnin commented on #1219
hi @varshannagarajan thanks for adding the gif and experimenting with different ideas :)
I think it would be better to have the dropdown box size static. That part of the UI doesn't really change much for the users and it feels more consistent if the size doesn't change.

I noticed from the gif that the dropdown is a bit bigger than the title bar, is it just the gif? if not, could you please make

[2019-10-30 21:56] smoralesd commented on #1543
We are using Office UI Fabric's `MaskedTextField` (one of the sub classes of the [TextField](https://developer.microsoft.com/en-us/fabric#/controls/web/textfield) component). This seems to be the default behavior of this control.
You can check this [code pen](https://codepen.io/smoralesd/pen/OJJOJMq?&editable=true) to play with the control.
I do notice a little difference between our usage and the

[2019-10-31 12:37] Anschur opened #1585 "Headings disappear on scrolling the page"
## Describe the bug

Heading outline on page disappears when scrolling the page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.office.com/search?auth=2&q=office (Office.com search result page)
2. Activate Headings on the Accessibility Insights extension in Chrome (Ad-hoc tools)
3. Heading outline appear on page
4. Scroll page
5. Heading outline disappears

## CodePen rep

[2019-10-31 17:03] karanbirsingh commented on #1494
For NVDA, here is the behavior we see in the report in 2.10.3 (production).
- pressing "tab" to get to the card leads to focus on the card. Pressing any arrow key or shortcut key from this point does not lead to the content of the card being read (only the first card row, which gets read by default when first focused on the card. The CTRL+ALT+arrow combinations also do not lead to any cell
- befor

[2019-10-31 17:17] smoralesd commented on #1585
@Anschur thanks for reporting this issue. I'm able to repro it using all of the ad-hoc visualizations. This only happen this specific website (I see normal behavior on other websites) which may point to the root cause of this. We'll investigate and triage this issues soon.
In the meanwhile, there are a couple of workaround you may want to try to get you unblocked.
1. Maximize the browser window an

[2019-10-31 19:32] ferBonnin opened #1591 "Canary hasn't updated since 10/24"
## Describe the bug

Our canary releases are "in pending review" by the Chrome web store.
Canary is stuck since 10/24, push to insider took 1.5 days and Playground is also not in review.

Let's review Google's guidance and check if there is any permissions we can remove/edit to avoid having a compliance review for each release.

## Expected behavior

release should be available as fast as it was b

[2019-11-01 16:53] smoralesd commented on #1591
google developer's transition guide around permissions: https://developer.chrome.com/extensions/runtime_host_permissions

[2019-11-01 21:46] smoralesd commented on #1567
Workaround:
1. Enable the visual helper you want to use
1. Navigate to a differente requirement
1. Navigate back to the requirement with the enabled visual helper
1. The visualization should be enabled and visible on the target page

[2019-11-01 21:47] varshannagarajan commented on #1219
Hi , I have submitted a pull request to just address the text overlap. I tried a couple of different things to make sure the drop down box would not go below the header (when the function is applied) but wasn't yet able to find a good solution. I was wondering if it would be OK to change the height of the header or if that must stay the same?

I submitted the PR now just to get it in before the en

[2019-11-01 21:51] ferBonnin commented on #1219
Hi @varshannagarajan thanks for the PR! Since you plan on keep working on this, I have marked your PR as do not merge for now until we are ready, sounds good?

I am adding @peterdur to the thread, can we help with varshannagarajan to fix the drop down box without changing the size of the header?

for the side menu, great point! if you want to file an issue and help us fix it that would be great :)

[2019-11-04 20:23] smoralesd commented on #1591
In order to improve our chances to not get flag with **Pending review** (which takes 5~7 bussiness days acording to google developer support) we need to change our current permissions. Basically, remove `"https://*/*", "http://*/*", "file://*/*"` and add ` "activeTab"`.
`"activeTab"` gives us permission to inject javascript and css to the target page in a tab-by-tab basis and only when the user ac

[2019-11-04 21:09] ferBonnin commented on #1494
@karanbirsingh this is a different bug. Could you please file a new but with detailed info?

Thanks!

[2019-11-04 21:09] #1494 closed

[2019-11-04 21:16] ferBonnin commented on #1449
@waabid assigning to you since you are looking into this feature. We need to fix high contrast before releasing Cards UI

[2019-11-04 21:17] ferBonnin commented on #1568
@waabid assigning to you since you are looking at this feature

[2019-11-05 00:01] smoralesd commented on #1585
closed by #1583

[2019-11-05 19:32] JGibson2019 opened #1625 "[playground] FastPass will not run again if you navigate to a different target page"
## Describe the bug

For the Playground version of the extension: If you navigate to a new target page in the **same** tab after running FastPass, FastPass hangs if you try to run automated checks or tab stops on the new target page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'www.cnn.com'
2. Click on the extension and run FastPass; wait for results to populate in DetailsView
3.

[2019-11-05 19:39] JGibson2019 opened #1626 "Images > Image Function Visual Helper not highlighting the first image"
## Describe the bug

The visual helper does not place a highlight box around the first image on 'www.microsoft.com'; the image does show up in the instances list in the DetailsView page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'www.microsoft.com'
2. Click on the extension and elect to start an Assessment
3. Go to 14 > Images > Image function and enable the Visual helper
4. See

[2019-11-06 11:46] MattMoranJava opened #1631 "[Feature] - Add a feature to specify what level of WCAG compliance you require"
## Is your feature request related to a problem? Please describe.
Currently my employer is auditing our website and upgrading accessibility to WCAG level A. We don't require AA or AAA. We're using Microsoft's Accessibility Insights tool as one method of auditing the site, but the tool only goes to level AA with no ability to change that. Consequently we have to keep a list of WCAG rules that are o

[2019-11-07 00:00] #1575 closed

[2019-11-07 00:03] vikasgupta18 commented on #1575
Thanks for your reply. This was helpful.

[2019-11-07 18:40] qazaahir opened #1639 "Don't see the aria labels in Custom widget Assessment"
## Describe the bug

1. We are not able to see the  visual helper marking the component
2. Besides aria-label being in the elements, we are not able to see the labels in the test

One of the examples is that pivot does not have an accessible name when tested using the Accessibility Insights tool under the Custom Widgets > Design Pattern Test (Assessment) :: We see
When I check in the inspect eleme

[2019-11-07 21:27] flyingUnderTheRadar commented on #1639
@qazaahir - Thanks for reaching out. A code pen to repro wil help us repro / understand the issue much faster.

For issue 1 do you see the element in the instances list and not see the visual helper mark it on the page? In the screenshot that you have shared we can see the element being highlighted at the top.

We are looking into issue 2 where for custom widget > Instructions an aria-label does n

[2019-11-07 21:52] qazaahir commented on #1639
issue 1: The red box is inconsistent it does not show up every time
There is a heavy data dependence of the component that is why I couldn't share the code. Happy to hop on a call to give you more detailed perspective

[2019-11-07 22:31] smoralesd commented on #1567
This issue has been resolved on master (#1601) but it hasn't been deploy to production yet (blocked by #1591)

[2019-11-07 23:10] flyingUnderTheRadar commented on #1639
Looks like issue 1 is a known [issue](https://github.com/microsoft/accessibility-insights-web/issues/1567). We have a fix for the issue but it is not out in production yet. The temporary workaround is mentioned in the issue.

[code]

Regarding issue 2, we have identified the cause and we have a [fix in the pipeline.](https://github.com/microsoft/accessibility-insights-web/pull/1642)

[2019-11-08 01:18] #1631 closed

[2019-11-08 01:18] ferBonnin commented on #1631
Hi @MattMoranJava, thank you for the feature request! A quick question, do you use Automated checks or Assessment?

After an extensive chat, we came to the conclusion that we want to encourage our users to be WCAG 2.1 AA compliant, thus we do not want to add a filter for A only.
Also, we took a look and for the **automated checks** most of them are A, not AA.

[2019-11-08 08:45] MattMoranJava commented on #1631
Mostly automated at the moment, but the plan was to use the full spectrum
of tests available. Basically we have a pretty large website made up of a
lot of components, and the client for whom we maintain the website has
requested we upgrade to level A (for now - I hear that AA is going to be
required by law for any government sites soon, so it's likely that that
will go further, in the future). So

[2019-11-08 23:43] abettadapur commented on #558
Any news on a timeline/priority for this issue?

[2019-11-08 23:46] ferBonnin commented on #558
Hi @abettadapur thanks for reaching out! No new updates on our side for this yet. We will update this feature request when we have updates.

[2019-11-09 00:29] ferBonnin commented on #1631
Got it, thanks for the explanation for your scenario @MattMoranJava!

As mentioned we want to encourage our users to be WCAG 2.1 AA compliant but while you are in the journey of getting to AA, for the manual and assisted checks in Assessment, we add the WCAG Success Criterion that is covered in the _more info & examples_ panel.
Also, new WCAG 2.1 requirements are marked as such with a tag next to

[2019-11-10 08:06] vitokhangnguyen commented on #1169
I would like to help with this issue. Is that ok?

[2019-11-11 21:02] ferBonnin commented on #1625
this is a side effect of the permissions change. Sebastian is already looking into this experience.

[2019-11-11 21:05] iamrafan commented on #981
The fix for this issues is part of axe-core 3.4.0 release

[2019-11-11 21:07] ferBonnin commented on #1626
Per conversation with Peter, this seems to be because the image is on a carousel. If this is the case, then this is a known issue and won't fix. If not, lets add more details on what is causing this

[2019-11-11 21:09] ferBonnin commented on #1219
Marking this as resolved :)

[2019-11-12 18:37] qazaahir commented on #1639
Is there any update on this. Our release is dependent on this and we would appreciate a quick help

[2019-11-14 00:51] varshannagarajan commented on #1219
Hi, I was wondering if you would like me to create a new separate issue regarding the drop down box moving outside the header?

[2019-11-14 19:49] ferBonnin commented on #813
since this is closed marking it as resolved

[2019-11-14 19:49] ferBonnin commented on #805
since this is closed marking it as resolved

[2019-11-14 19:50] ferBonnin commented on #598
since this is closed marking it as resolved

[2019-11-17 20:52] marapper opened #1701 "Localization possibilities"
## Is your feature request related to a problem? Please describe.

Here in Russia we have also WCAG-like accessibility laws and accessibility' movement growing support by developers and companies. It would be great if non-English speakers like QA and product owners could use this tool in theirs everyday work.

## Describe the desired outcome

Any of i18n libaries could help. But there is much more

[2019-11-19 18:18] Shobhit1 opened #1713 "Update prettier config to change line width to 100"
## Describe the feature

The idea is to have line width more compatible with the `GitHub` diff view and we feel that default `prettier line width of 80 is best suited for that.
So, using [Prettier Override](https://prettier.io/docs/en/configuration.html#configuration-overrides) as suggested by @dbjorge and @smoralesd .

Creating this issue to track all the PRs that are going to be part of this, si

[2019-11-21 20:16] qazaahir commented on #1639
We would appreciate some update on this issue

[2019-11-21 21:57] smoralesd commented on #1639
Hi @qazaahir our releases are currently block by #1591 We are working on that issue with high priority. Stay tuned for more updates.

[2019-11-21 22:08] JGibson2019 commented on #1626
The highlight box will only be drawn around the image that was present when the scan first occurred. More specifically, if there are two images, A and B, and A was visible when AI Web scans, the highlight box can be hidden and redrawn when A is visible. When B comes to the front of the carousel, the box can be hidden but cannot be redrawn. When A becomes visible again, the image must be deselected

[2019-11-21 22:11] qazaahir opened #1732 "Accessibility bug: DetailsList - Variable Row Heights command bar"
## Describe the bug

The aria allowed attributes aria-orientation-"horizontal" is failing. We don't have access to this variable and cannot make the changes

**To Reproduce**
If you run

https://developer.microsoft.com/en-us/fabric#/controls/web/detailslist/variablerowheights

in code pen you will observe the bug

## Screenshots

![image](https://user-images.githubusercontent.com/57369169/69381034

[2019-11-21 22:24] flyingUnderTheRadar opened #1733 "Section 508 502.3.1: (Accessibility Insights for Android/text ' ') The Name property must not contain only space characters."
This might not end up being a valid issue.

As a part of the compliance I ran AI Windows over AI Android and the following accessibility issue needs investigation. Added the a11ytest file in a comment. The extension will need to be reverted to "a11ytest" before checking.

**App:** Accessibility Insights for Android

**Element path:** text ' '

**Issue Details:** The Name property must not contain

[2019-11-21 22:24] flyingUnderTheRadar commented on #1733
[AiWin-over-AIAndroid.zip](https://github.com/microsoft/accessibility-insights-windows/files/3877016/AiWin-over-AIAndroid.zip)

[2019-11-21 23:55] #1732 closed

[2019-11-21 23:55] JGibson2019 commented on #1732
@qazaahir this is an issue with OfficeFabric and not with Accessibility Insights for Web. The issue is documented here: https://github.com/OfficeDev/office-ui-fabric-react/issues/11039. Please reach out to the Office Fabric React UI team directly.

[2019-11-22 01:00] adarshrema commented on #1701
@marapper, thank you for using Accessibility Insights for Web and this feedback. We triaged this and our current priorities do not allow us to focus on localization for now. We really appreciate your continued use of our tool and your interest in helping with wider adoption & usage.

[2019-11-22 01:00] #1701 closed

[2019-11-23 01:03] bnb opened #1739 "export: provide hosted export targets"
## Is your feature request related to a problem? Please describe.
Nope.

## Describe the desired outcome
Currently, if I export I just get a bare HTML file. If I want to share this with peers, I need to publish it myself.

While I personally know of and have access to a dozen ways to publish a single HTML file rapidly, this isn't true of everyone who may use Accessibility Insights.

I'd love to se

[2019-11-26 22:21] adarshrema opened #1750 "Update description text on Microsoft Edge Insider addons page"
Issue:
Update WCAG version from 2.0 to 2.1 and remove '100%' coverage language based on guidance from CELA

Resolution:
Update language on the [Microsoft Edge Insider Addons page](https://microsoftedge.microsoft.com/insider-addons/detail/ghbhpcookfemncgoinjblecnilppimih) for Accessibility Insights for Web. Update *Assessment* under *Description* section to the following to be consistent with text

[2019-11-27 00:28] smoralesd opened #1753 "Help section loses bottom margin when the windows is small"
## Describe the bug

By setting the windows size to less than 1130px the **Help** section (under Assessment > Overview) gets re-flowed to the bottom of the page but it doesn't have a proper border/margin, so it gets align with the end of the page itself

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any website
2. Start a new **Assessment**
3. Go to the **Overview** section
4. Change

[2019-11-27 00:38] dbjorge opened #1754 "FastPass with cards UI: "turn on automated checks" text is outdated, should refer to start over button"
## Describe the bug

#1723 updated the fastpass w/cards view UI to show the Start Over button rather than the Visual Helper toggle, but the text explaining how to rescan the page still refers to the old UI. Needs to be updated to refer to the start over button instead.

**To Reproduce**

1. Build from master/playground (where cards UI is enabled by default)
1. Open FastPass against any page
1. Nav

[2019-11-27 01:08] devaradhanm opened #1756 "No failures in automated checks should not show red icon"
## Describe the bug
When there are no failures, we show the red icon instead of a green sign or not show the red icon.

![image](https://user-images.githubusercontent.com/29855291/69684918-4dbf0500-106f-11ea-88c9-109607137b32.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [https://www.microsoft.com](https://www.microsoft.com)
2. Open Playgound extension's popup & goto adhoc tool

[2019-11-27 01:13] dbjorge opened #1757 "Details view does not respect high contrast if initial state is "No content available""
## Describe the bug

If a Details View begins its lifecycle in the "No content available" state (as opposed to reaching it via the corresponding target tab closing), it doesn't respect high contrast mode and just always renders in normal mode. Repros in both Prod and Playground as of writing.

**To Reproduce**
1. Enable High Contrast mode
1. Open an Assessment against any target page
1. Close the

[2019-11-27 01:28] devaradhanm opened #1758 "In details view, console exception is thrown for violating Content Security Policy directive"
## Describe the bug

- Goto any web page & then Open Assessment in details view.
- Click on any test step.
- Open dev tools & goto console on the details view.

Exception thrown:
Refused to run the JavaScript URL because it violates the following Content Security Policy directive: "script-src 'self' 'unsafe-eval' https://az416426.vo.msecnd.net". Either the 'unsafe-inline' keyword, a hash ('sha256-

[2019-11-27 18:31] smoralesd commented on #1625
fix on playground  2019.11.26.2050

[2019-11-27 18:31] #1625 closed

[2019-11-27 19:11] devaradhanm opened #1764 "Environment tab in github has deployment link that doesnt exist"
## Describe the bug
Since we have a separate repo for docs, github pages docs deployment should be removed / fixed so that it doesn't point to dead link.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [https://github.com/microsoft/accessibility-insights-web/deployments](https://github.com/microsoft/accessibility-insights-web/deployments)
2. Click on any of the 'View deployment' links

[2019-11-27 19:26] adarshrema commented on #1739
Hello @bnb, thank you for using Accessibility Insights for Web and this feature request. Looks like this would support a workflow specific to your team/ project. We welcome any contributions from your team to make this happen.

We are interested in gauging how attractive this feature might be for the larger community. However, given our current priorities and information we have about this feature

[2019-12-02 18:50] JGibson2019 commented on #1626
Confirmed with team behavior is performing as designed. Closing out issue now.

[2019-12-02 18:50] #1626 closed

[2019-12-02 21:45] #1591 closed

[2019-12-03 22:34] dbjorge commented on #1764
I've disabled the bogus github pages setting in the repo settings, but this isn't sufficient to remove the Environment tab. https://github.community/t5/GitHub-Pages/How-to-remove-the-environment-tab/td-p/20662 suggests that this isn't officially supported yet, but one of the later comments suggests that we might be able to do it by [invoking a beta github API](https://developer.github.com/v3/repos

[2019-12-03 23:11] dbjorge commented on #1764
I've performed the necessary API calls to set all the deployment statuses as Inactive. This doesn't appear to have caused the Environment tab to be removed for my account when I'm logged in, but has removed it from the repo when I view it in an incognito window logged out. It appears that this is the best we're going to be able to do with GitHub's current support for this operation, so marking thi

[2019-12-03 23:21] ferBonnin commented on #1548
reviewed in canary.  Looks good :)

[2019-12-03 23:21] #1548 closed

[2019-12-03 23:54] #1754 closed

[2019-12-03 23:56] dbjorge commented on #1449
This was done as a part of earlier feature work, will release with v2.11.x

[2019-12-03 23:56] #1449 closed

[2019-12-04 01:04] JGibson2019 opened #1788 "e2e flakiness: tabstop.test.ts failing for Mac"
## Describe the bug

The E2E reliability build failed for Insider 2.11.0, and there was one failure for e2e_tests_mac_2 job.

Link to failing build: [https://dev.azure.com/ms/accessibility-insights-web/_build/results?buildId=52609](url)

Excerpt from log:

[code]

[2019-12-04 01:11] JGibson2019 opened #1789 "e2e flakiness: issue-dialog.test.ts"
## Describe the bug

The E2E reliability build failed for Insider 2.11.0, and on one run there was a failure for the e2e_tests_linux_4 job; when re-queued, the same test failed for the e2e_tests_linux_1 job.

Link to failing builds: https://dev.azure.com/ms/accessibility-insights-web/_build/results?buildId=52609 and https://dev.azure.com/ms/accessibility-insights-web/_build/results?buildId=52406

[2019-12-04 01:16] JGibson2019 opened #1790 "e2e flakiness: adhoc-panel.test.ts for Linux"
## Describe the bug

The E2E reliability build failed for Insider 2.11.0, and on one run there was a failure for both the e2e_tests_linux_1 and e2e_tests_linux_3 jobs.

Link to failing build: https://dev.azure.com/ms/accessibility-insights-web/_build/results?buildId=52640

Excerpt from log:

[code]

[2019-12-04 01:17] ferBonnin commented on #1567
I see this fixed in canary

[2019-12-04 01:17] #1567 closed

[2019-12-04 01:18] waabid opened #1791 "Automated checks report: CSS broken in insider for Passed and Non-applicable rules"
## Describe the bug

The passed and non-applicable rules not stylized appropriately.

**To Reproduce**
Steps to reproduce the behavior:

1. Scan any page with passing/non-applicable rules.
2. Export the results.
3. Expand the passed/non-applicable section.

## Expected behavior

Styling should be the same as production.

## Screenshots

Insider:

![image](https://user-images.githubusercontent.com/

[2019-12-04 01:20] waabid commented on #1791
Seems to be fixed by #1787

[2019-12-04 02:23] #1764 closed

[2019-12-04 17:42] ferBonnin commented on #1219
validated this issue in canary and insider, looks good :)

[2019-12-04 17:42] ferBonnin commented on #1219
yes, please!

[2019-12-04 17:42] #1219 closed

[2019-12-04 17:45] ferBonnin commented on #1585
@smoralesd is this still blocked?

[2019-12-04 17:47] ferBonnin commented on #1558
@smoralesd you validated this, can you please close?

[2019-12-04 17:49] ferBonnin commented on #1639
Hi @qazaahir this fix is now available in our [insider ](https://chrome.google.com/webstore/detail/nnmjfbmebeckhpejobgjjjnchlljiagp)build. It will also be in the next production release. Please take a look and let us know if this looks ok to you.

[2019-12-04 18:14] ferBonnin commented on #1278
validated in insider. looks good.

[2019-12-04 18:14] #1278 closed

[2019-12-04 21:36] karanbirsingh opened #1796 "Card from report doesn't respond to NVDA / Narrator table commands when reached via 'tab'"
## Describe the bug

This issue was created from this [comment](https://github.com/microsoft/accessibility-insights-web/issues/1494#issuecomment-548473227). When a user tabs to a card in the report, the row contents are not read by NVDA or Narrator.

**To Reproduce**
Steps to reproduce the behavior:

- Run a fastpass on [this website](https://www.washington.edu/accesscomputing/AU/before.html)
- Ex

[2019-12-05 00:49] ferBonnin opened #1799 "Status messages summary in Requirements is incorrect"
## Describe the bug
Status messages summary in Requirements is incorrect
**To Reproduce**
Steps to reproduce the behavior:

1. Go to Assessment > Errors /status > status messages
2. Look at the text in the requirements column, it says "if an input error is automatically detected..." that is the same text in error identification requirement and its not the correct content.

## Expected behavior

co

[2019-12-05 01:04] smoralesd opened #1800 "Cards UI state resets when opening links"
## Describe the bug

Cards states resets when the user opens a links (e.g. the more information links for the rules) and then navigate back the tab where the fast pass view is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [Accessible University](https://www.washington.edu/accesscomputing/AU/before.html)
2. Open fast pass, let the scan finish
3. Expand the **bypass** card
4. Activat

[2019-12-05 01:11] ferBonnin opened #1801 "Cards UI and parsing"
## Describe the bug

Cards UI fails parsing requirement

**To Reproduce**
Steps to reproduce the behavior:

1. Run automated checks, fast pass in a website with issues
2. open inspect and run the following command in the console:
[code]
3. "then run the [check for WCAG 2.1 parsing compliance bookmarklet](https://validator.w3.org/nu/about.html)
4. See errors
 * Error: Start tag seen without seeing

[2019-12-05 19:29] ferBonnin commented on #1796
@iamrafan could you please take a look at this?

[2019-12-06 00:06] qazaahir commented on #1639
I am not able to see the changes. Here are my screen shots
![image](https://user-images.githubusercontent.com/57369169/70284522-1cce8680-1779-11ea-86e9-0ee0cc324967.png)
![image](https://user-images.githubusercontent.com/57369169/70284536-2952df00-1779-11ea-80f5-1adad66ad495.png)

[2019-12-06 00:24] ferBonnin commented on #1639
sorry to hear that @qazaahir. Can you provide us with the url you are testing with or a codepen repro so we can investigate this further?

[2019-12-06 00:48] qazaahir commented on #1639
https://codepen.io/taparikh_msft/pen/RwNPvOp

[2019-12-06 18:24] ferBonnin opened #1813 "Cards UI: selecting failure doesnt move target page"
## Describe the bug

cannot select a failure in the details view and have the target page move to the location.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.washington.edu/accesscomputing/AU/before.html
2. run FastPass > automated checks with Insider build
3. Scroll to the bottom in the target page
4. in the details view, select any of the color contrast failures

## Ex

[2019-12-06 18:46] ferBonnin opened #1814 "Insider: Iframes scanning and highlighting"
## Describe the bug

Highlights are not showing with insider build

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://codepen.io/FerBonnin/pen/GRgprmO
2. Run Automated checks (fastpass) with Insider
3. you will get two type of failures:
* color-contrast failure is not detected (1st time you scan)
* highlighter for the color contrast doesnt work (2nd time you scan)

In both cases,

[2019-12-06 18:59] ferBonnin commented on #1639
@flyingUnderTheRadar could you please take a look?
@qazaahir feel free to jump in with any additional observations.

From the code pen example provided,
**Issue 1**
I do not see the red highlight on codepen ( I see the red highlight in other pages). I get an error in the console on: "cannot connect to iframe..." This is a different/new issue I have filed a bug for: #1814 .

**issue 2**
 I see the

[2019-12-06 23:31] waabid opened #1816 "Automated checks is scanned in assessments view even when it is not selected"
## Describe the bug

When a user starts an assessment and decides to select a test other than automated checks, automated checks are scanned regardless. This should not happen: only the requirement that is selected should be scanned.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to overview in assessment view.
2. Select a test that is not automated checks (e.g. custom widgets).

Note:

[2019-12-10 23:19] dbjorge commented on #445
(sorry for the late reply!)

@rugk, sorry for the late reply; the answer to both of your points is that the "settings page" we're talking about there is the browser page to "manage the extension", *not* the extension's options page (Accessibility Insights doesn't use an options page). In Chrome, we direct the user to that settings page when the user tries to use the extension against a file://* UR

[2019-12-10 23:21] dbjorge commented on #445
One more point we'll need to deal with: Per https://bugzilla.mozilla.org/show_bug.cgi?id=1444294 , Firefox doesn't support the `browser.permissions.onAdded`/`onRemoved` events we're about to start using for Chrome, so we'll need some sort of workaround for that. There's a polyfill that adds partial support for the events but it only works for permissions requests that are initiated from the same p

[2019-12-11 17:54] rugk commented on #445
Could you then at least reopen this issue for now to signal you are working on this issue?

----

As for the specific issues, I do understand the second one, but the first one is not clear to me: So you mean you are missing a "permission control site" for the user, you can link to?

Currently, Firefox can only show the permission and loads of the idea of requesting permissions to the extension its

[2019-12-11 18:06] ferBonnin commented on #1800
@waabid did you fixed this already?

[2019-12-11 18:09] ferBonnin commented on #1757
Per conversation with Peter, It would be nice to fix, but its not a since there isn't anything the user can do once they receive this message, so won't fix.

[2019-12-11 18:09] #1757 closed

[2019-12-11 18:10] ferBonnin commented on #1750
This needs to wait for next release, assigning to Peter per conversation.

[2019-12-11 18:12] ferBonnin commented on #1814
@smoralesd @dbjorge assigning to you since you are already looking into this :)

[2019-12-11 18:13] ferBonnin commented on #1753
will take care of this one as part of the reflow features. @ferBonnin add to appropiate feature

[2019-12-11 18:15] #1756 closed

[2019-12-11 18:15] ferBonnin commented on #1756
Per conversation with Peter, the icon with 0 failures is consistent with the UI with failures. If we get user feedback that this is confusing will look into this again.

[2019-12-11 18:18] ferBonnin commented on #1758
Per conversation with Peter, this needs dev investigation.

[2019-12-11 18:24] ferBonnin commented on #1543
Per conversation with Peter and looking at Sebastian comments, this is by design

[2019-12-11 18:25] #1543 closed

[2019-12-11 18:26] ferBonnin commented on #1505
this is now fixed with new UI in Insider, @lisli1 can you take a look and close or comment?

[2019-12-11 22:08] lisli1 commented on #1505
Closing this issue since the (new) universal cards UI feature flag is on by default, and this issue shows up only on the old UI.

[2019-12-11 22:08] #1505 closed

[2019-12-12 00:39] taparikh commented on #1639
@flyingUnderTheRadar @ferBonnin @qazaahir

Here is the screenshot that shows that the aria-label indeed gets added through the react component “Pivot” : https://developer.microsoft.com/en-us/fabric#/controls/web/pivot
We are passing aria-label=”Top Navigation Bar” as a prop to the Pivot component present in the Office-UI-Fabric Library.

![image](https://user-images.githubusercontent.com/51679982/

[2019-12-12 01:27] taparikh commented on #1639
Thank you @ferBonnin for hoping on a call and showing me exactly where the issue was. I have written up a follow-up comment on the office-ui fabric bug https://github.com/OfficeDev/office-ui-fabric-react/issues/11072 where I will be continuing the discussion. Closing this issue ! Thank you!

[2019-12-12 01:31] #1639 closed

[2019-12-12 18:40] ferBonnin commented on #1791
this looks ok in Canary now  2019.12.12.1641

[2019-12-12 18:40] #1791 closed

[2019-12-12 18:57] karanbirsingh opened #1846 "e2e flakiness: electron e2e tests fail to capture start button click"
## Describe the bug

Several electron e2e tests for Linux in the device-connect-view area have failed recently with:
`element click intercepted: Element <button type="button" class="ms-Button ms-Button--primary start-using-product-button root-102" data-is-focusable="true">...</button> is not clickable at point (325, 288). Other element would receive the click: <div class="ms-Dialog-inner inner-87"

[2019-12-13 18:05] brandonleyton opened #1858 "Pop up for starting a new report in Assessment tool"
## Describe the desired outcome

In the assessment tool, when an assessment is complete and the user loads a new page to test, a pop up appears asking if they want to stay on the current assessment or load a new assessment.

At that point it would be helpful for workflow to offer a button option allowing the user to save the current assessment report and then start a new assessment. If this were o

[2019-12-13 18:05] xugao commented on #981
@ferBonnin  @iamrafan  this bug is still reproing on https://developer.microsoft.com/en-us/fabric#/controls/web/combobox site. and it seems to only be fixed if the disabled element is an input.

is the axe-core not included in the latest extension yet?

[2019-12-13 18:09] ferBonnin commented on #981
Hi @xugao we have not consumed the 3.4 axe-core release yet, but this is in our backlog. We will update this issue once we have updated the rule set.

Thanks!

[2019-12-16 19:41] ferBonnin opened #1868 "No pop-up dialog when uninstalling and installing again Electron"
## Describe the bug

When uninstalling and installing again the electron app, I don't get the telemetry pop-up dialog again

## Expected behavior
always get the initial pop-up dialog on installation

[2019-12-16 21:06] ferBonnin commented on #1585
Hi @Anschur, the fix for this bug is now available in our [insider extension](https://chrome.google.com/webstore/detail/nnmjfbmebeckhpejobgjjjnchlljiagp). Could you please take a look and let us know if the issue is fixed for you?

[2019-12-17 01:01] JGibson2019 opened #1875 "Exported report does not show icons when opened in IE"
## Describe the bug
The report does not show icons when opened in Internet Explorer

Here is a picture of how the report looks in IE
![image](https://user-images.githubusercontent.com/19158512/70955318-41521a80-2025-11ea-83a1-537af18438a8.png)

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'www.google.com'
2. Click on the Accessibility Insights extension
3. Select 'FastPass'
4. In Fa

[2019-12-17 17:22] mhulse opened #1877 "Overview icons green and red color"
Would it be possible to make the pass or fail icons green or red respectively?

![](https://user-images.githubusercontent.com/218624/71019067-8cfcd680-20ae-11ea-9e98-166fda875c38.png)

[2019-12-17 18:02] karanbirsingh commented on #1868
This occurs because the AI-Android data in indexeddb persists between installations. This data is stored in `C:\Users\--username--\AppData\Roaming\Accessibility Insights for Android\IndexedDB\`

In the Chrome extension, AI-Web indexeddb data is removed when the extension is removed.

Some options to explore might include:
- Write a [custom NSIS uninstaller](https://www.electron.build/configuration

[2019-12-17 18:41] #1846 closed

[2019-12-18 01:24] #1733 closed

[2019-12-19 19:01] ferBonnin commented on #1169
hi @vitokhangnguyen our apologies on the delay to reply to this!
 Yes, if you would like to help that would be awesome.

[2019-12-19 22:10] ferBonnin commented on #1877
Hi @mhulse thanks for the feature request!

It is a good idea and we also thought about this, but when we did the designs and tested them we found it was an overwhelming experience for some users and the UI looked too busy with all those colors (grey, white, blue, red and green) so we decided to keep them grey and use the icons only.

[2019-12-19 22:10] #1877 closed

[2019-12-20 18:54] ferBonnin commented on #777
this bug will be part of the Office Fabric update feature

[2019-12-20 19:07] ferBonnin commented on #1585
Closing this bug as resolved, feel free to reactivate if needed.

[2019-12-20 19:07] #1585 closed

[2019-12-20 19:09] ferBonnin commented on #1558
Closing this bug as resolved, verified in insider 2.11.0

[2019-12-20 19:09] #1558 closed

[2019-12-20 19:15] ferBonnin commented on #1569
@iamrafan why is this marked as blocked?

[2019-12-20 19:16] #743 closed

[2019-12-20 19:16] ferBonnin commented on #743
per conversation with Peter and given that we didn't hear back on this issue, closing as out of scope.

[2019-12-20 22:59] lisli1 opened #1904 "Target page link fails aria-valid-attr-value"
## Describe the bug

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.washington.edu/accesscomputing/AU/before.html
2. Open the extension and run FastPass or Assessment
3. Open browser console (right-click details view page > Inspect > Console tab)
4. Run `a11ySelfValidator.validate()` in the console
5. Expand result to see error:
[code]

## CodePen repro example

## Expecte

[2019-12-23 21:45] #1904 closed

[2019-12-27 18:43] ferBonnin commented on #1800
@smoralesd this looks fixed in Canary

[2019-12-27 20:05] #1799 closed

[2019-12-31 01:34] smoralesd commented on #1800
Verified fixed on insider 2.12.0

[2019-12-31 01:34] #1800 closed

[2020-01-02 13:55] Anschur commented on #1585
Works like a charm. Thanks :)

[2020-01-03 01:19] pownkel opened #1932 "Automated checks visual helper behaves differently in ad hoc and assessment page"
## Describe the bug

The visual helper for automated checks behaves slightly differently when turned on from the assessment page vs when turned on from the ad hoc tools panel (when turned on from the assessment page, I can't click the [!] box on the target page to see issue details). This is by design, but because both visual helpers look identical, I expected them to work the same and thought tha

[2020-01-03 01:28] lisli1 opened #1933 "Issue details dialog how to fix description repeats"
## Describe the bug

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.bing.com/
2. Open the extension and run FastPass
3. Scroll down to the bottom of the target page
4. Open the issue details dialog in the banner under "Experience beauty every day" (It should be a color contrast issue), by clicking on the exclamation mark box on the right side of the highlighted issue
![ima

[2020-01-03 17:25] peterdur commented on #1933
The text is also duplicated in the card for this result:
![image](https://user-images.githubusercontent.com/1752950/71738213-d8331b00-2e0a-11ea-9d20-56fb623b0c8d.png)
(Screenshot showing color-contrast result with duplicate text in "How to fix" area)

[2020-01-03 21:44] #1814 closed

[2020-01-03 21:45] smoralesd commented on #1814
Fixed as of 2.13.1

[2020-01-03 22:03] smoralesd commented on #1933
fixed on 2.13.1

[2020-01-03 22:03] #1933 closed

[2020-01-06 19:41] dwavid opened #1942 "[feature request] Ability to target an element in the DOM"
I love the power that Accessibility Insights gives me, but I'd love to be able to target a specific element in the DOM. It seems to currently target everything within the DOM. If I could either give it an ID, class name, or point-and-click, that would be amazing. It would declutter the test results.

[2020-01-06 19:47] karanbirsingh commented on #1758
This is caused (and fixed) by OF here: https://github.com/OfficeDev/office-ui-fabric-react/issues/10201 (fix in `office-ui-fabric-react@v7.27.0`)

This issue is blocked on our upgrade PR here: https://github.com/microsoft/accessibility-insights-web/pull/1924

[2020-01-06 21:03] ferBonnin commented on #1868
will address as part of feature

[2020-01-06 21:07] ferBonnin commented on #1875
Per conversation with Peter, lets time box the investigation for this and find out if its simply that what we are using is not supported by IE or if there is an easy tweak we can do to support it. In documentation for Web, we do mention that we work for Chrome and Edge insider only.

[2020-01-06 21:10] #1932 closed

[2020-01-06 21:10] ferBonnin commented on #1932
Per conversation with Peter, by design. the scenario to use automated checks in assessment is different than in FastPass and thus, users are not expected to click in each one of the failures (ideally, these issues are fixed before starting an assessment since they are low hanging fruit). Also, if this happened for automated checks in assessment would users be confused that other tests don't do thi

[2020-01-06 21:16] ferBonnin commented on #696
as a summary again, needs to:

- do a text change on the how to test information
- change what images we show to users (1a)
- show aria-role as part of the instance values (2)

[2020-01-06 21:17] ferBonnin commented on #1796
Per conversation with Peter, moving to active and assigning to @waabid since you are working on it too

[2020-01-06 21:19] ferBonnin commented on #1569
Removing blocked tag since there is no reason for this to be blocked.
@iamrafan investigating this. Per conversation with him, seems to be a known Jaws issue and possibly a known NVDA issue. Please add a link to the bugs.

[2020-01-06 21:20] ferBonnin commented on #1568
@iamrafan investigating this. Per conversation with him, seems to be a known Jaws issue and possibly a known NVDA issue. Please add a link to the bugs or let us know if this is something that needs to be fixed on our side :)

[2020-01-06 21:55] dbjorge commented on #445
I apologize; I didn't mean to signal that we're working on this issue. I'm just keeping notes about what we'd want to consider were we to reopen this issue in the future. I do have a personal interest in this feature, but my understanding is that our team does not have any current plans to prioritize it.

On the "manage extension" page: in Chromium, when an extension tries to run a content script

[2020-01-07 20:58] karanbirsingh commented on #1553
I have created an issue and PR [here](https://github.com/microsoft/rushstack/issues/1673) in `microsoft/rushstack/load-themed-styles` to suggest removing the type attribute from style tags. If the PR is accepted, then the warnings will subside once we consume a version of `office-ui-fabric-react` that consumes an updated version of `load-themed-styles`. Marking as blocked

[2020-01-07 22:43] smoralesd commented on #1932
Did we consider the option of making the highlighting different on each case? We could keep the exclamation mark on the case of fast pass and use a different character on the case of assessment.

[2020-01-07 22:57] lisli1 commented on #1932
I think @pownkel and @smoralesd bring up a good point. I was also confused when I first used the tool because the highlight boxes look exactly the same in both FastPass and Assessment but behave differently, when one would expect them to behave the same. Do we know if people generally use FastPass and fix all the automated checks issues before doing the Assessment, or if they prefer to do everythi

[2020-01-07 23:37] ferBonnin commented on #1932
Yes, but then the issue is consistency between the different parts of the tool and our other tools.
Thus, what we did was change the mouse from a pointer to a hand to show that the elements are clickable.

Yes, based on user interviews, FastPass is used (and recommended) for every UI change and an Assessment is only done when the feature is completed.

This hasn't come up before from user intervie

[2020-01-08 07:57] iamrafan commented on #1568
@ferBonnin the known JAWS issue I mentioned is related to the focus issue we are seeing on the ''more options" button in the instance card, this looks like a different one

@smoralesd this looks like an office fabric issue

Office fabric adds a class ```ms-Fabric--isFocusVisible``` to the ```<body>``` element when we tab onto one of the rule group headers
- When not using an AT, this class is not

[2020-01-08 08:00] iamrafan commented on #1568
We had a somewhat similar issue https://github.com/microsoft/accessibility-insights-web/issues/717 earlier, which was fixed by an Office fabric update

[2020-01-08 08:27] iamrafan commented on #1569
@ferBonnin this was the issue I mentioned was a known JAWS issue, as I was able to see the focus indicator if I manually switched modes and navigated to the ```menuitems```. But after investigating https://github.com/microsoft/accessibility-insights-web/issues/1568, this looks a similar office fabric issue

@smoralesd Even here the ```ms-Fabric--isFocusVisible``` class is removed when activating t

[2020-01-08 17:52] ferBonnin commented on #1569
@iamrafan lets validate this in latest version of OF and check if this is fixed or we need to file an issue with Office Fabric.

[2020-01-08 18:28] SavannahBourgeois opened #1952 "Incorrect Bug: ARIA attribute is not allowed: aria-orientation="horizontal""
## Describe the bug

We have gotten bugs filed on us because of the insights tool saying that aria-orientation is not an allowed attribute. It seems like aria-orientation is an allowed attribute [(link)](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/ARIA_Techniques/Using_the_aria-orientation_attribute) so we are confused as to why this is happening.

**To Reproduce**
Steps to rep

[2020-01-08 18:46] ferBonnin commented on #1952
Hi @SavannahBourgeois aria-orientation is not a valid attribute for role="group". Adding a link to the W3C documentation: [Aria-orientation](https://www.w3.org/TR/wai-aria/#aria-orientation)

[2020-01-08 22:07] ferBonnin commented on #1568
@iamrafan can you check if this is fixed in Playground?

[2020-01-08 22:07] ferBonnin commented on #1569
@iamrafan can you check if this is fixed in Playground?

[2020-01-08 22:29] devaradhanm opened #1953 "scanning doesnt complete on some pages"
## Describe the bug

This issue seems to be due to https://github.com/dequelabs/axe-core/issues/1754

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.microsoft.com/en-us/ignite
2. Run automated checks by clicking on "List view & filtering" from adhoc panels view

## Actual Behavior
Sscanning doesnt complete & the screen is stuck with Scanning spinner.
On looking at the dev

[2020-01-09 19:01] ichelsea opened #1961 "Focus ring when selecting instance cards with mouse"
## Describe the bug

When selecting a card with the mouse in Automated checks, the user gets the selected box as well as the focus ring. The focus ring should only be present if the user is navigating with the keyboard.

**To Reproduce**
Steps to reproduce the behavior:

1. Run Automated checks on a site with errors.
2. Select any instance card.

## Expected behavior

When selecting the card with

[2020-01-09 19:14] cheade opened #1962 "Automated checks background color"
## Describe the bug

Background should be #F8F8F8 (--neutral-2), is currently #FFFFFF

**To Reproduce**
Steps to reproduce the behavior:

1. Run Automated checks

## Expected behavior

Background should be #F8F8F8 (--neutral-2)

## Screenshots

Current:
![image](https://user-images.githubusercontent.com/40274682/72096773-c3093100-32cf-11ea-8cbb-43d5bcbff13d.png)

Should be:
![image](https://user-i

[2020-01-09 19:19] iamrafan commented on #1568
@ferBonnin I validated in Playground version 2020.1.8.2334. This issue still exists

[2020-01-09 19:19] iamrafan commented on #1569
@ferBonnin I validated in Playground version 2020.1.8.2334. This issue still exists

[2020-01-09 22:31] ferBonnin commented on #762
@iamrafan this looks to be addressed by OF V7 update. can you confirm?

[2020-01-09 22:34] ferBonnin commented on #763
@iamrafan looks like this has been addressed in OF V7, can you confirm?

[2020-01-10 00:02] smoralesd commented on #1962
@cheade should this change affect other "views": Fast Pass > Tab Stops; all of the Assessments?

[2020-01-10 00:08] ferBonnin commented on #1962
@smoralesd I think this is only for  the Cards UI in automated checks FastPass

[2020-01-10 00:54] waabid opened #1966 "Visualizations are drawn for nodes that are not within the screenshot"
## Describe the bug

When running the electron application, errors that are not on the screenshot are still visualized.

**To Reproduce**
Steps to reproduce the behavior:

1. Connect the electron application on android emulator (personally using Pixel 2)
2. Go to Bing Search app.
3. Scan the app.

## Expected behavior

These visualizations should not exist.

## Screenshots

![image](https://user-i

[2020-01-10 20:21] rugk commented on #445
Okay, so the only drawback would be that `file://` URLs are not supported.
I guess this is an acceptable trade-off, after all `file://` URLs are going to be less useful anyway already, because Firefox (and AFAIK Chrome too), do enforce a strong same-origin policy on them and do not allow loading/reloading JS/CSS from `file://` URLs via HTML tags or JS.

[2020-01-10 21:58] karanbirsingh commented on #1553
Turns out we can consume the indirect dependency ourselves - issue fixed in PR #1954

[2020-01-13 18:55] ferBonnin commented on #1962
@cheade This fix should be now available in Canary. Could you please review?

[2020-01-13 19:01] cheade commented on #1962
Looks good, thanks guys!

[2020-01-13 19:01] #1962 closed

[2020-01-13 19:13] ferBonnin opened #1974 "No confirmation dialog after installation"
## Describe the bug

With the Electron tool, there is no confirmation dialog after installation to let users know it completed and ask if they want to launch the app.

**To Reproduce**

1. Uninstall Electron app
2. Install again with the most recent installer

## Expected behavior

After installation, it should let the users know it succeeded and then (ideally) ask if they want to launch the app

[2020-01-13 19:13] ferBonnin commented on #1868
looks good! this fix introduced a new issue with the final screen. Created #1974

[2020-01-13 19:13] #1868 closed

[2020-01-13 19:48] SavannahBourgeois commented on #1952
Thanks, I have updated our code instead!

[2020-01-13 19:48] #1952 closed

[2020-01-13 21:05] ferBonnin commented on #1966
Per conversation with Peter, at the very least we should not highlight things that are not in the screenshot. partial highlights are ok

[2020-01-13 21:53] ferBonnin commented on #1758
@devaradhanm this should be fixed now. Can you confirm?

[2020-01-13 22:49] ferBonnin commented on #1942
thanks for the feature request @dwavid! we agree this would be an interesting feature and started looking into it a while ago, but there are some fit and finish elements that require some work.

We are leaving this feature as needs investigation to allow the community to up-vote if this is something they would like to have in Accessibility Insights for Web.

Also, for tracking purposes, listing be

[2020-01-14 00:30] peterdur commented on #1750
The 100% text has been removed from the listings in the [classic Edge store](https://www.microsoft.com/en-us/p/accessibility-insights-for-web/9nf8624pqs3c?activetab=pivot:overviewtab) and the [Chromium Edge store](https://microsoftedge.microsoft.com/addons/detail/ghbhpcookfemncgoinjblecnilppimih).

[2020-01-14 00:33] #1750 closed

[2020-01-15 23:33] ferBonnin opened #1988 "Telemetry in Console: Could not establish connection. Receiving end does not exist."
## Describe the bug

In Web Canary, the telemetry is not being logged. When opening background and looking at the console I have the following error:
`sendMessageToTab(99) failed for message { isStoreUpdateMessage: true,
  storeId: 'AssessmentStore',
  messageType: 'STORE_CHANGED',
  storeType: 0,
  payload: <payload info here> with browser error message: Could not establish connection. Receiving

[2020-01-16 00:08] smoralesd commented on #1988
Telemetry is being logged.
I think the issue we have is we are flooding the console with the `sendMessageToTab failed` errors, which is a problem as it just make noise.

![image](https://user-images.githubusercontent.com/2837582/72482015-1c320280-37b1-11ea-8e70-233e58093271.png)

[2020-01-16 18:19] LiLoDavis opened #1994 "Electron app text change - minimum touch size is 44dp (not 48dp)"
## Describe the bug
The "How to fix" content for TouchSizeWcag says to "Set the element's **minWidth** and **minHeight** attributes to at least 48dp."
However, the rule actually checks for a minimum of 44dp. (See [Why WCAG_TARGET_SIZE = 48; #12](https://github.com/dequelabs/axe-android/issues/12))

## Expected behavior

The "How to fix" content should say, "Set the element's **minWidth** and **min

[2020-01-17 18:44] ferBonnin commented on #1994
@Shobhit1 when/where can this be validated by @LiLoDavis?

[2020-01-17 20:50] Shobhit1 commented on #1961
Taking this one @devaradhanm @ferBonnin

[2020-01-20 18:30] LiLoDavis commented on #1994
I have validated.

[2020-01-20 18:30] #1994 closed

[2020-01-21 18:42] #1988 closed

[2020-01-21 18:44] ferBonnin commented on #777
@smoralesd this is fixed, however, now the tab stop doesn't stop in the second link

[2020-01-21 23:53] ferBonnin commented on #1553
Hi @joppekroon this issue is now fixed in our [Canary](https://chrome.google.com/webstore/detail/hbcplehnakffdldhldncjlnbpfgogbem) extension.

Please let us know if this fixes the issue reported.

[2020-01-22 00:44] smoralesd commented on #757
@cheade I have a couple of questions:
- should we use #C285FF as the text color? or the background color?
- should the color be applied to all the buttons? That sounds like it'll need proper validation throughout the extension

[2020-01-22 10:16] joppekroon commented on #1553
Yep, the injected styles in Canary no longer add the unnecessary type attribute. So the parsing check now only shows your own failures! ;-).

This fixes the reported issue adequately.

[2020-01-22 18:45] #1553 closed

[2020-01-22 22:43] iamrafan commented on #763
@ferBonnin Yes, this issue has been fixed

[2020-01-22 22:43] iamrafan commented on #762
@ferBonnin Yes, this issue has been fixed

[2020-01-22 22:44] #763 closed

[2020-01-22 22:45] #762 closed

[2020-01-23 18:44] Shobhit1 opened #2037 "Accessibility issue on 2.14.0 Insiders (validation bug)"
## Describe the bug

Found an a11y issue while validating Insiders 2.5.0 version with `description: "Ensures that lists are structured correctly"`.
Find attached screenshot to see the issue.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any website
2. Activate the extension and go to assessment and click on  `12 Page Navigation`
3. open dev tools and run `A11YSelfValidator.validate(

[2020-01-23 22:45] dbjorge commented on #1107
I don't think we intended to close this or tag it as needs author feedback, looks like this was just lost in upkeep.

I found that the repro steps from the original bug didn't work as-is; Chrome normalized the repro content as having a body tag. However, using content of `<frameset></frameset>` does cause the issue, where running a fastpass hangs with a scanning spinner and the injected page shows

[2020-01-23 22:46] ferBonnin commented on #1107
@dbjorge no. It needed a reply from Wahaj.
.@waabid is this our limitation or axe-core's?

[2020-01-23 22:49] dbjorge commented on #1107
@ferBonnin, I already clarified in the reopening comment: this is our issue, axe-core and axe's web extension both work fine on all repro variants.

[2020-01-23 23:29] #2037 closed

[2020-01-23 23:44] waabid commented on #1107
Sorry, I must have missed this from before! Dan is correct: we should be able to function even without a body element. My guess is we make this assumption in a few places and can likely replace it with html element (but this is just an educated guess).

[2020-01-24 20:53] iamrafan commented on #1569
@ferBonnin  Filed https://github.com/OfficeDev/office-ui-fabric-react/issues/11793

[2020-01-24 20:54] dbjorge commented on #777
Verified both original issue and new tab ordering issue are fixed in master

[2020-01-24 20:54] #777 closed

[2020-01-24 21:02] dbjorge commented on #1801
Checked parsing test again in current master. Most of the issues are false positives from the perspective of 4.1.1 compliance; in particular, we don't think the "missing <!DOCTYPE>" and "div has name attribute" cases are 4.1.1 violations.

The OF7 update has fixed the third of the 3 issues from the original report. The `<div class="button-flex-container" aria-hidden="true">` nested inside a `<span

[2020-01-24 21:09] ferBonnin opened #2043 "Text changes in Electron app"
## Describe the bug

Two text changes needed in Electron app:
- in port number screen, should be Android not android (uppercase A)
- in Congratulations message, when no automated checks errors are found. Need to add further clarification that more testing is required; suggestion:
"No failed automated checks were found.  Continue investigating your app's accessibility compliance through manual test

[2020-01-24 21:10] ferBonnin commented on #2043
Marking as ready for triage so we can review text suggestions before changing them

[2020-01-24 22:00] #1801 closed

[2020-01-24 22:06] LiLoDavis opened #2045 "Electron app should have 6-digit placeholder"
## Describe the bug

Instead of 12345, show 123456

[2020-01-24 22:28] AhmedAbdoOrtiga opened #2046 "Navigating the target page into a different site doesn't work as expected"
## Describe the bug

**To Reproduce**
## Steps to reproduce the behavior:

1- Start an assessment
2- Navigate the target page's tab to a different site.
3- It shows "No content available" in the details page.

Verify that the details page shows "Assessment in progress" dialog with the correct links/titles

## Expected behavior:
1- Start an assessment
2- Navigate the target page's tab to a differen

[2020-01-24 22:33] #2046 closed

[2020-01-24 23:09] dbjorge commented on #2045
@LiLoDavis I'm assuming you mean in the device connection dialog's port number field, right? Can you help me understand why you would prefer to see 6 digits? In general, port numbers can only range from 0-65535, so I would expect that a 5 digit number is an appropriate choice of placeholder.

[2020-01-27 16:28] #2045 closed

[2020-01-27 17:42] cheade commented on #757
@smoralesd Hi! I'm back from my OOF, so apologies on the delayed response. In the case of the Pass all unmarked instances button, it's just the text that is visible as there is no defined border so we'd change the text to the purple color.

Any button that does have a defined background, the background color should change.

[2020-01-27 18:10] LiLoDavis opened #2052 "Electron app "Rescan" button --> "Start over""
## Describe the bug

In electron app, change "Rescan" button to "Start over" (for better consistency with web tool terms).

[2020-01-27 21:04] ferBonnin commented on #2052
per conversation with Peter, sounds good to change.

[2020-01-27 21:10] ferBonnin commented on #1107
per conversation with Peter, there are 2 issues:

1. we hang
1. we don't scan framesets.

Suggestion for this is (in parallel)

- add a fix so we dont hang
- either scan the frameset or create a rule (contribute back to Deque) that tells the users that framesets are obsolete

[2020-01-27 23:14] iamrafan commented on #1568
Valdiated the fix in Insider version - 2.14.1

[2020-01-27 23:14] #1568 closed

[2020-01-28 15:27] kjmears opened #2057 "Access to the Info and Examples"
I find the info and examples really useful. Would it be possible to have them as a standalone reference site. I think it would be really useful to share with developers and others in our organisation who need to have the errors explained and learn about the next steps to solve them.

Thanks for an awesome tool btw.

[2020-01-28 19:30] smoralesd commented on #1758
@devaradhanm I have validated the error does not shows up on insider 2.14.1 so I'm closing this issues as resolved.

[2020-01-28 19:30] #1758 closed

[2020-01-28 22:55] karanbirsingh opened #2059 "Pinned taskbar shortcuts for unified electron client are removed on Windows during updates"
## Describe the bug

On Windows: If a user has pinned the unified product to their taskbar, the pin is removed when the unified product gets an update. This is a known issue in electron-builder: https://github.com/electron-userland/electron-builder/issues/2514

The linked issue includes potential workarounds:
- [this](https://github.com/electron-userland/electron-builder/issues/2514) workaround do

[2020-01-29 18:05] ferBonnin commented on #2043
per conversation. For web, similar text (note that the differences are bolded)
No failed automated checks were found. Continue investigating your **website's** accessibility compliance through manual testing **using Tab stops and Assessment**"

[2020-01-29 20:33] ferBonnin opened #2064 "Change secondary text color"
## Describe the bug

Please change secondary color from:
secondary-text: rgba(0, 0, 0, 0.55);

To:
secondary-text: rgba(0, 0, 0, 0.70);

[2020-01-29 23:00] karanbirsingh commented on #2043
This text is still not done:

`No failed automated checks were found. Continue investigating your website's accessibility compliance through manual testing using Tab stops and Assessment` because it requires different electron & web behavior. Getting the other static parts in now

[2020-01-31 18:31] ferBonnin commented on #2052
Hi @LiLoDavis this change should be in canary now, could you let us know if this is fixed for you?

[2020-01-31 18:34] ferBonnin commented on #1974
@karanbirsingh which version can I use to confirm this has been resolved?

[2020-01-31 18:36] #2064 closed

[2020-01-31 19:48] karanbirsingh commented on #1974
@ferBonnin Tried resolving this on the most recent official canary and don't see it - moving back t oactive

[2020-01-31 20:01] LiLoDavis commented on #2052
Yes, it's fixed.

[2020-01-31 20:01] #2052 closed

[2020-02-04 19:05] dbjorge opened #2097 "Unified: app icon is not set in linux AppImage"
The strategy we implemented last week for using separate insider/canary/production app icons (omitting `icon` from our `new BrowserWindow` options and instead allowing it to defer to the icons set in the `electron-builder` config) doesn't work as expected with the linux AppImage (see https://github.com/electron-userland/electron-builder/issues/3599, https://github.com/electron-userland/electron-bu

[2020-02-05 17:17] ferBonnin opened #2104 "Add Ada in the report!"
## Is your feature request related to a problem? Please describe.

When no automated checks failures are detected, apart from the message, it would be great if there was an Ada cat too.

## Additional context

we used to have an Ada cat before and there is a new design of sleeping Ada

[2020-02-05 18:51] ferBonnin commented on #1078
@smoralesd is this resolved? can we close, please?

[2020-02-06 18:53] ferBonnin commented on #2057
Hi @kjmears thanks for the feature request!
We are glad you find the info & examples useful.

Apart from making them available as a standalone reference, another feature request that has been mentioned before for sharing the info & examples is adding them to the downloaded report.

We will leave this feature request open to monitor for upvotes from the community.

[2020-02-06 21:06] ferBonnin commented on #2104
looks great!

[2020-02-06 21:06] #2104 closed

[2020-02-06 22:57] karanbirsingh commented on #2097
linked PR #2113

[2020-02-06 23:18] karanbirsingh commented on #1974
@ferBonnin the latest version should be updated now (2020.206.3)

[2020-02-07 00:06] ferBonnin commented on #1974
looks great!

[2020-02-07 00:06] #1974 closed

[2020-02-07 01:28] #2097 closed

[2020-02-07 01:34] dbjorge opened #2121 "Unified: Screenshot view overflows off bottom of screen when scrollbar is present"
## Describe the bug

When resizing AI4Android to minimum height and non-minimum width, such that the screenshot view pane requires a scrollbar, the screenshot view overflows off the bottom of the screen and the bottom ~40px (including its scrollbar) is not visible.

Presumably the view's height is being calculated as too large (my bet is that it's not calculating the title bar width correctly)

Di

[2020-02-07 02:12] #2121 closed

[2020-02-07 04:08] mohanraj-r opened #2123 "Can the HTML results reporter be imported as a library and used individually ?"
I use axe-core. I really like the HTML results report produced by this extension. Would it be possible to import and use just the results formatter as a library separate from the extension along with axe-core?

[2020-02-07 05:38] mohanraj-r commented on #787
I use axe-core and have been thinking about something similar as well!

[2020-02-11 22:07] smoralesd commented on #2123
Hi @mohanraj-r thanks for your feature request and your interest on **Accessibility Insights for Web**.

I'm not 100% sure what you mean by _...import and use just the **results formatter**..._ but we are publishing [accessibility-insights-report](https://www.npmjs.com/package/accessibility-insights-report), which allows you to: _"Publish axe-core accessibility scan results as self-contained HTML

[2020-02-11 23:02] mohanraj-r commented on #2123
Thanks @smoralesd
Looks like accessibility-insights-report could be the answer to what I am looking for.
Might be good to document this - because I wasn't aware that this was being published from this repo to npm. Guess this can be closed for now.

[2020-02-12 17:45] LiLoDavis opened #2147 "Electron app main window always opens full-screen"
## Describe the bug
The primary window always opens full screen, and the window's **Restore down** button always shrinks it to a small, fixed size. As a consequence, getting the app window to the preferred size is a two-step process.

**To Reproduce**
Steps to reproduce the behavior:
1. Launch the app.
2. Start testing.
3. Use the **Restore down** button.

## Expected behavior
The primary window s

[2020-02-12 23:52] karanbirsingh opened #2154 "Add notarization to unified mac client"
## Describe the bug

Starting Feb 3, the startup workflow on MacOS Catalina is different for unnotarized applications:
- https://developer.apple.com/news/?id=12232019a
- https://support.apple.com/en-gb/HT202491

We need to check how the unified mac client runs on Catalina, and consider notarizing the app (in addition to existing signing) to remove extra end-user work.

[2020-02-13 15:17] Malvoz commented on #950
I'm experiencing the same issue with tab stops in https://maps4html.github.io/HTML-Map-Element-UseCases-Requirements/examples/create-map.html#mapkit-js. Can you reproduce?

[2020-02-13 20:02] adarshrema commented on #2123
Hello @mohanraj-r, marking this as resolved. Please go ahead and close this. Thank you!

[2020-02-13 20:04] #2123 closed

[2020-02-14 20:54] #1078 closed

[2020-02-16 19:28] pashvin commented on #2059
Any update on this issue?

[2020-02-18 18:08] ferBonnin commented on #2154
Per conversation with Peter, let's do this.

[2020-02-18 18:09] ferBonnin commented on #2147
Per conversation with Peter, let's take a look at this

[2020-02-18 18:16] ferBonnin commented on #2043
Per conversation with Peter, let's timebox getting the two different texts for Web and Unified to a day.
Android: "No failed automated checks were found. Continue investigating your app's accessibility compliance through manual testing"

Web: "No failed automated checks were found. Continue investigating your website's accessibility compliance through manual testing using Tab stops and Assessment"

[2020-02-18 21:42] smoralesd commented on #2043
@ferBonnin this message also shows up on the automated checks report. Should we use the "web" version of this message on the report too?

[2020-02-18 21:48] ferBonnin commented on #2043
@smoralesd yes, please

[2020-02-19 18:54] iamrafan commented on #1569
@smoralesd, can you please confirm if a similar fix like you did for #1568 , will work for this issue too?

[2020-02-21 00:41] DaveTryon commented on #2043
@ferBonnin, this has been merged into master and should soon be present in canary releases of both AIWeb and the unified client. Please regress at your convenience.

[2020-02-21 20:19] DaveTryon opened #2201 "[Bug] Sporadically failing E2E tests"
## Describe the bug

The Canary release was blocked recently by the same test failing in 3 consecutive runs. It eventually succeeded, but there was no indication of the cause of the failure or why it impacted this specific test. Opening this issue for tracking, although it may be something outside of our immediate control.

Detail from pipeline output:

[code]

The same test (`yarn test:unified`)

[2020-02-22 00:52] ferBonnin opened #2207 "Update README to include information of unified tool"
## Describe the bug

Bug to track the need to update the README file **after 3/10**

## Additional context

[2020-02-24 04:40] mohanraj-r opened #2208 "Option to use custom rulesets"
## Is your feature request related to a problem? Please describe.
Currently there seems to be no way in the extension UI to configure axe with custom rules

## Describe the desired outcome
Option in Settings to be able to supply a custom ruleset and/or trigger a run with a custom ruleset from the Launchpad. Options to export/import named rulesets would also be great.

## Describe alternatives you'

[2020-02-24 04:46] mohanraj-r opened #2209 "Option to trigger a11y checks automatically based on selected page events"
## Is your feature request related to a problem? Please describe.
Right now the accessibility validation through the browser extension takes multiple clicks to trigger.

## Describe the desired outcome
An automatic mode in which the chosen check (e.g. Fastpass) is run automatically on selected page events (e.g. page load) and to optionally highlight issues (e.g. based on a keyboard shortcut) and o

[2020-02-24 19:01] ferBonnin opened #2215 "horizontal scrollbar and whitespace in fastpass automated checks"
## Describe the bug

In FastPass, automated checks, when no issues are found, there is a vertical white bar and that causes a horizontal scrollbar.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a page with no automated check faulures
2. run automated checks in fastpass
3. hide the target page

## Expected behavior

there should not be a bar nor a horizontal scrollbar

## Screenshots

[2020-02-24 20:11] ferBonnin commented on #2043
validated in unified and web canary. looks good.

[2020-02-24 20:11] #2043 closed

[2020-02-25 19:09] dbjorge opened #2228 "Store getState operations return state objects that can mutate"
## Describe the bug

This is a tracking bug for a class of different related issues in web that follow this pattern:

* Some component that lives in the same context as a store (in web, something in the background, in unified, something in the renderer process) invokes `getState()` on a store
* That component stores a reference to the resulting state object (and/or a sub-object)
* Later operations

[2020-02-26 01:00] mohanraj-r commented on #2208
@lamaks If I were to make a POC PR, how would I go about this. I am trying to navigate through the code but finding it hard given the number of files and lack of comments on classes/functions. Even though the code seems extremely well organized (maybe a little too organized 😄) given the sheer number of moving parts it is potentially overwhelming for newcomers. Any doc describing the overall archit

[2020-02-26 17:00] peterdur commented on #2207
Some notes:

I expect we’d shift to a smaller root README (probably moving the existing building/more info/testing sections into something like docs/building-for-web.md and creating a parallel docs/building-for-android.md).

We’d also want to update the “Working with the Electron app” in docs/workflow.md to reflect use of the AI for Android Service.

[2020-02-26 18:48] ferBonnin commented on #2208
Hi @mohanraj-r thanks for your interest in Accessibility Insights and the feature request!

This feature request needs a bit of conversation on our side. Right now, we are heads-down getting ready for a conference in mid-March but we will get back to this right after that.

Keeping this feature as ready for triage.

[2020-02-26 18:51] ferBonnin commented on #2209
Hi @mohanraj-r thanks for the feature request!

One question, have you take a look at the [Keyboard Shortcuts for Accessibility Insights for Web](https://accessibilityinsights.io/docs/en/web/reference/keyboard)?

[2020-02-26 19:10] mohanraj-r commented on #2208
Thanks @ferBonnin
Good luck with the conference (is it CSUN?)!
I am planning to participate in the post CSUN [2020 axe-hackathon](https://www.deque.com/axe-hackathon-2020/) - if your team members are participating as well,  guess we can meet and discuss and maybe work on this as part of the hackathon.

[2020-02-27 01:24] dbjorge opened #2243 "Unified: disabling visual helper toggle causes scroll bars to overflow off bottom of screen"
## Describe the bug

Disabling the visual helper toggle in unified somehow causes the automated checks view container to increase in height such you can't scroll to the very bottom of either of the two panels:

![animation showing scroll bar bottoms disappearing as you toggle visual helper off](https://user-images.githubusercontent.com/376284/75403351-54eaee80-58bc-11ea-9758-7b44ab2898b0.gif)

##

[2020-02-28 22:56] dbjorge opened #2254 "Requirement 3.2 "Revealing content" should not apply to non-sequential content?"
## Describe the bug

Web requirement 3.2 currently reads:

We think this might be a little too broad; [SC 2.4.3](https://www.w3.org/WAI/WCAG21/Understanding/focus-order) / [F85](https://www.w3.org/WAI/WCAG21/Techniques/failures/F85) that this requirement is based on only demand that focus be ordered in *some* reasonable sequential order, and specifically note that complex widgets may exist for whi

[2020-02-28 22:58] ferBonnin commented on #2254
@LiLoDavis could you please review this is issue and let us know what you think?

[2020-02-28 23:29] dbjorge opened #2256 "Settings panel styling regression since 2.14.1"
## Describe the bug

It looks like some of the styling for the Settings panel has regressed since 2.14.1 (presumably as part of extracting the Settings panel for use with unified in feat(android-settings).

2.14.1 on left, canary on right:

![screenshot of prod/canary side by side](https://user-images.githubusercontent.com/376284/75594493-c605df80-5a3d-11ea-9431-d17acf0ccf5a.png)

On canary, note:

[2020-02-28 23:32] LiLoDavis commented on #2254
I don't see how this would violate 2.4.3, because that S.C. doesn't require a sequential focus order. Rather, it requires that focus order preserve meaning and operability.

However, in this case I think it would make sense to move focus into the first section heading; otherwise, an assistive technology user would miss important introductory content.

In the electron app, I see that activating **E

[2020-02-29 21:44] mgifford commented on #653
Just wanting to check in on the status of this. Love the idea of being able to take this data and just plug it into W3C's WCAG-EM Report Tool /c @scottsb @nschonni

[2020-03-01 13:57] nitedog commented on #653
@ferBonnin I'd be happy to engage in such a discussion on interchangeable formats.

[2020-03-02 19:22] ferBonnin commented on #2243
Per conversation with Peter, we should fix this. Is not a blocking bug.

[2020-03-02 19:31] mgifford commented on #653
@WilcoFiers let me know that you should be able to do this in axe with https://github.com/dequelabs/axe-reporter-earl

In which case, it should be possible with Accessibility Insights.

[2020-03-02 23:21] LiLoDavis opened #2265 "Electron app > How to fix - Text should not break in the middle of a word."
## Describe the bug

The **How to fix** content should break _between_ words, not _within_ words.

**To Reproduce**
Steps to reproduce the behavior:

1. Run automated checks
2. Expand results
3. Resize window

Text breaks in the middle of a word. For example, on my screen it currently looks like this:

## Expected behavior

Should break between words, something like this:

[2020-03-02 23:35] #1813 closed

[2020-03-02 23:46] dbjorge commented on #2265
This probably implies we're using `word-break: break-all;` in a place where we should instead be using `overflow-wrap: break-word;` (the latter will only break a word apart if strictly necessary to avoid overflowing the container)

[2020-03-03 00:05] dbjorge opened #2266 ""High contrast mode" requirement has outdated "How to test" text"
## Describe the bug

The "How to test" section for Test 17 (Text legibility) Requirement 1 (High contrast mode) reads:

This text has a few inaccuracies:
* Still calls new Edge `Microsoft Edge Insider`
* It's no longer correct that new Edge doesn't support Windows HC mode (new Edge stable supports it now)
* The suggested path to get to the system HC settings is outdated (the updated menu path is `

[2020-03-03 01:12] ferBonnin commented on #2266
@LiLoDavis suggestion for the text change:

Google Chrome doesn't support Windows' high contrast mode.
1. Open the target page in Microsoft Edge or the new Microsoft Edge.
2. Use **Windows Settings** > **Ease of Access** > **High contrast** to apply a high contrast theme.

(rest is the same).

Thoughts?

[2020-03-03 01:25] LiLoDavis commented on #2266
Appears to be accurate, but "Microsoft Edge or the new Microsoft Edge" is odd, sounds a bit like a typo. How about this: "Open the target page in the new Microsoft Edge or Microsoft Edge Legacy."
Here's a [reference](https://support.microsoft.com/en-us/help/4533505).

[2020-03-03 01:48] #2243 closed

[2020-03-03 01:54] dbjorge opened #2270 "Cards UI rule headers should have `aria-controls` attribute per ARIA Accordion pattern"
## Describe the bug

We think the collapsible rule sections in our cards UI meet the description of an ARIA Accordion pattern. There is one requirement of that pattern that the cards do not currently fulfill, from https://www.w3.org/TR/wai-aria-practices-1.1/#wai-aria-roles-states-and-properties

We think this is low impact (this attribute has [poor AT support](https://a11ysupport.io/tests/tech__a

[2020-03-03 22:48] lisli1 commented on #696
Also looked into this; work-in-progress on [this branch](https://github.com/microsoft/accessibility-insights-web/compare/master...lisli1:lisli1/bug-decorative-elements-with-background-reported-as-meaningful), which should have all the requested text changes and aria-role shown as part of instance values (2).

Still needs:
- change what images are shown to users for Text Alternative and Images of T

[2020-03-04 00:29] ferBonnin commented on #2270
Leaving this comment for the triage meeting:

As Dan mentions, there is poor support for Aria-controls (only JAWS); I remember reading an article that aria-controls is not great and there is [this open issue](https://github.com/w3c/aria/issues/995) that talks more on the disadvantages in JAWS and that is no longer going to be announced by Jaws.

[2020-03-04 01:29] smoralesd commented on #761
@iamrafan This has been address and it should be on canary presently

[2020-03-04 09:15] grace-snow opened #2285 "Matching name and id on form element should not fail duplicate-id-aria"
## Describe the bug

On a fast pass web test, the accessibility insights chrome extension is flagging the following markup as **duplicate-id-aria** and giving the warning "Fix the following: Document has multiple elements referenced with ARIA with the same id attribute: sortCode". However, there is only one instance of sortCode as an id on the page.

[code]

WCAG21 says this html is valid, accessi

[2020-03-04 18:06] pownkel commented on #2285
Hi @grace-snow, unfortunately I wasn't able to reproduce the bug with the steps listed (I tried with [this codepen](https://codepen.io/smoralesd/pen/XWbemmX)). I noticed that you seem to be using some sort of template engine for the required value, so I tried both replacing that string with an arbitrary value and removing it altogether, but it didn't seem to change anything significant.

Since it

[2020-03-04 23:30] dbjorge commented on #2266
All set! @LiLoDavis / @ferBonnin can you verify the text changes (after waiting long enough for #2293 to hit canary)

[2020-03-05 18:18] ferBonnin commented on #2266
validated in canary  2020.3.5.1713 looks good :)

[2020-03-05 18:18] #2266 closed

[2020-03-05 19:23] ferBonnin commented on #2208
Thanks @mohanraj-r!

We have some additional questions to help us understand this scenario better. Can you tell us more on the custom ruleset you are using and what rules are included in it?

[2020-03-05 19:27] ferBonnin commented on #653
Hi Everyone, thanks for the additional inputs on this feature request! This last comments seem to be focused around the ability to export the assessment as data.

To help us understand better the requirements, can you share a little bit about:
-  the scenarios where having the assessment as data would be helpful / how would you use this data?
- tell us a bit more about what formats would be helpfu

[2020-03-06 17:00] ebarrette-lhob commented on #485
+1 for this feature request.  Excellent tool can be made better with comments feature added to all manual tests pass or fail.

[2020-03-06 21:27] mmafe commented on #653
@ferBonnin Thanks for looking into this!

I'd find an export of the assessment as data helpful if I need to:
- update the report (e.g. if I find a new issue)
- have someone else review or edit the report before we finalize it
- do multiple accessibility audits at the same time

I'm comfortable with JSON, however I think (for me) any format would work as long as I can import or export it specifical

[2020-03-06 21:40] adbajaj commented on #653
+1 mmcafe's comments

[2020-03-06 23:32] karanbirsingh opened #2316 "telemetry dialog has invalid aria attribute"
## Describe the bug

The telemetry dialog renders with role='alertdialog' and an invalid aria-attribute. This leads to an accessibility error as well as non-ideal NVDA behavior. ~Refactoring the component to use the 'BlockingDialog' component [here](https://github.com/microsoft/accessibility-insights-web/blob/master/src/common/components/blocking-dialog.tsx) would remove the error and improve NVDA

[2020-03-07 00:06] ferBonnin commented on #2316
Took a look at this issue, looks like the aria-labelledby attribute being used doesn't exist. recommend changing it to a valid id

[2020-03-09 01:35] scottsb commented on #653
For me having the output as data would be ideal for transfer to other tools for generation of a final report that includes manual testing as well. For this purpose ACT/EARL would be the ideal format, ideally in the JSON-LD serialization, as suggested by others above.

[2020-03-09 17:01] pownkel opened #2320 "SettingsPanelOpen telemetry event missing in Unified"
## Describe the bug

In the electron app, the last SettingsPanelOpen event before turning off telemetry is consistently not fired.

**To Reproduce**
Steps to reproduce the behavior:

1. Open Accessibility Insights for Android with telemetry enabled
2. Connect a device, enter the port number, and start scanning
3. Toggle the settings menu open and closed a few times
4. Open the settings menu and tu

[2020-03-09 20:05] ferBonnin commented on #2270
Per conversation with Peter and based on the comment above, we will not add aria-controls

[2020-03-09 20:05] #2270 closed

[2020-03-09 20:07] ferBonnin commented on #2320
Per conversation with Peter, worth investigating but we recall a conversation where we agreed that if the user selects telemetry OFF we stop sending telemetry even if there is pending events.
If that is what is happening here, we agree with keeping that approach even if we miss this event.

[2020-03-09 20:39] smoralesd commented on #2256
Info & Examples panel seems to have the same some of the same issues as the other panels, specifically, the position of the close button

![image](https://user-images.githubusercontent.com/2837582/76254904-762bd300-620a-11ea-9bce-05b4e42a0c49.png)

[2020-03-09 20:47] ferBonnin commented on #2256
* there is inconsistency in the different sizes for the panel. they should all be the same
* the new size of the settings panel per #2307  is too small / hard to read

[2020-03-09 20:53] #764 closed

[2020-03-09 21:09] karanbirsingh opened #2323 "connected device info still present even if device disconnected (unified)"
## Describe the bug

The 'Connected device' information in the unified app does not reset when the device is disconnected.

**To Reproduce**
Steps to reproduce the behavior:

1. Start unified application
2. Connect to device (using mock service or real emulator)
3. Click validate port
4. Before starting a scan, disconnect the device
5. Start a scan
6. In the ensuing 'device disconnected' dialog, s

[2020-03-09 21:25] pownkel opened #2324 ""No Content Available" page breaks when refreshed"
## Describe the bug

The "no content available" page that appears in the details view when the target page changes or is closed should be able to be refreshed. When it is refreshed, it turns into a blank page. This appears to be a regression since our last release.

**To Reproduce**
Steps to reproduce the behavior:

1. Start an assessment on any web page
2. Close the target page
3. The details vie

[2020-03-09 21:42] pownkel opened #2325 "Some headings not visualized when target page changed"
## Describe the bug

When scanning a local html file, if we change the target page while the headings visualizer is on, the visualizer remains on and starts highlighting headings in the new target page. However, only some headings are highlighted. Note that this happens whether or not iframes permissions are granted.

**To Reproduce**
Steps to reproduce the behavior:

1. Open a local html file in

[2020-03-09 22:54] waabid commented on #2325
This is expected behavior.

What you're seeing here is the app trying to visualize based off the data found in the previous scan on the first website. In most situations, there would be very few items that are visualized because of course different websites will have different selectors generated for the elements. In this case, these websites seem to share a lot of the selectors so the app looks l

[2020-03-09 22:54] #2325 closed

[2020-03-10 17:40] ferBonnin commented on #1953
@devaradhanm we have updated to axe-core 3.5.1, can you confirm this issue has been addressed?

[2020-03-10 18:05] ferBonnin commented on #981
@iamrafan we have updated to axe-core 3.5.1, can you check this issue?

[2020-03-10 21:22] mohanraj-r commented on #2209
I guess using keyboard shortcuts could be useful (that is a cool feature, thanks for the pointer). But the way I see it, this option could also be useful in automated testing environments - where screenshots / recordings of the tests are done esp on failure or even when just manually running a UI test with the extension installed and watching it.

For automated environments though this might requi

[2020-03-10 21:53] mohanraj-r commented on #2208
@ferBonnin We have couple of custom rulesets - with one covering more extensive rules with the other being more conservative in terms of probability of false positives and importance of the rule in terms of accessibility etc. The rulesets are also adapted for the UI development practices in our company. Sometimes we also need to exclude rules for performance (e.g. `color-contrast`).

[2020-03-10 22:43] iamrafan commented on #764
Validated the fix in prod version 2.15.0

[2020-03-10 22:44] iamrafan commented on #760
Validated the fix in prod version 2.15.0

[2020-03-10 22:44] #760 closed

[2020-03-10 22:47] iamrafan commented on #757
Validated the fix in prod version 2.15.0

[2020-03-10 22:47] #757 closed

[2020-03-10 22:47] iamrafan commented on #761
Validated the fix in prod version 2.15.0

[2020-03-10 22:47] #761 closed

[2020-03-10 23:27] iamrafan commented on #981
Hi @ferBonnin , @xugao: The issue we initially filed with axe-core has been fixed, but looks like the way this disabled control is labelled in the Office Fabric page has been changed from using ```<label>``` element & ```for``` attribute to use ```aria-labelledby``` attribute.

axe-core fails such labeling, so I filed issue https://github.com/dequelabs/axe-core/issues/2090 with axe-core.

[2020-03-11 19:49] karanbirsingh opened #2336 "Update to electron 8.0"
This issue tracks work to update the unified app to [electron 8.0](https://www.electronjs.org/blog/electron-8-0). Currently 6/7/8 are supported (we are on 7). We may end up breaking this out into a small feature.
- evaluate [breaking change list](https://www.electronjs.org/blog/electron-8-0#breaking-changes) and validate behavior on windows/mac/Linux
- document/improve this update process (this wo

[2020-03-11 20:15] karanbirsingh commented on #2316
The aria-attribute fix is now in canary for both products. I am closing the issue. I don't believe the alertdialog NVDA portion originally filed is relevant for the telemetry dialog since it's the first thing in the application, so NVDA provides additional context. I'll consider a separate issue or PR for the device disconnected dialog, where the alertdialog role leads to less helpful info from NV

[2020-03-11 20:15] #2316 closed

[2020-03-11 22:56] #2336 closed

[2020-03-11 23:00] #2285 closed

[2020-03-12 22:09] #2323 closed

[2020-03-13 23:34] ferBonnin commented on #2208
hi @mohanraj-r thanks for the explanation!
We reviewed this feature request with the team and decided that this feature is out of scope. Introducing different rule sets will mean that everyone running accessibility insights will get different results and expressing this adequately will require significant UI changes and will make the user experience more complex.

[2020-03-13 23:34] #2208 closed

[2020-03-13 23:36] ferBonnin commented on #2209
hi @mohanraj-r got it! for the scenario you are talking about in automated check environments, please take a look at the [axe-pipelines-samples ](https://github.com/microsoft/axe-pipelines-samples) repo.

[2020-03-17 17:41] smoralesd commented on #2324
@pownkel this should be fixed on AI-Web canary now

[2020-03-18 17:56] ferBonnin commented on #2265
validated in canary. looks good

[2020-03-18 17:56] #2265 closed

[2020-03-18 17:58] ferBonnin commented on #1816
@waabid I can't repro this anymore in production. Is this fixed? if not, can you please add new repro steps?

[2020-03-19 03:39] mohanraj-r commented on #2209
@ferBonnin looking at [axe-pipelines-samples/index.test.ts](https://github.com/microsoft/axe-pipelines-samples/blob/master/typescript-selenium-webdriver-sample/tests/index.test.ts) it looks like they are not using the accessibility insights project? Looks like they are distinct efforts with no reuse? I am looking/hoping for reusing the same workflow based on the extension in an automated testing w

[2020-03-19 15:04] ferBonnin commented on #2209
This project uses the same automated checks (axe-core) we use in Accessibility Insights for Web; since its for an automated check environment, the workflow and what you can test (in this case just automated checks) is different.

[2020-03-23 17:48] pownkel commented on #2324
Verified that this works in Canary now!

[2020-03-23 17:49] #2324 closed

[2020-03-23 19:19] dbjorge commented on #2256
@smoralesd The info and examples panel having its close "x" above the initial header isn't part of the same regression this bug tracks, but I agree it doesn't look very good; it would be nice for us to improve it, but I think it should be a separate bug. I'll go file one.

@ferBonnin
* Do you mean "between the info & examples panels and the other panels"? That difference is intentional, since info

[2020-03-23 19:37] ferBonnin commented on #2256
@dbjorge
- Yes, I meant the info & examples panel but per offline conversation I agree that the panel has sufficient distinct purpose and layout, plus the fact that it has columns that its ok to not have the same size of the other panels
- I'll review this with Jim. Per offline conversation, the text in the settings panel now looks cramped so might be good to explore ways to improve this.

[2020-03-23 19:39] dbjorge opened #2380 "Info & Examples panel close button is misaligned"
## Describe the bug

(split out from [this comment](https://github.com/microsoft/accessibility-insights-web/issues/2256#issuecomment-596767677) in #2256)

The "close" button in our Info & Examples panels renders up above the title for the panel, inconsistent with the standard fabric layout our other panels use. It should ideally be laid out more similarly to the other panels (vertically aligned wi

[2020-03-23 21:27] #2209 closed

[2020-03-23 21:28] mohanraj-r commented on #2209
I understand that the vision I have is probably not aligned with the goals/plans of this project. Hence closing the issue.

[2020-03-23 22:02] ferBonnin commented on #2209
@mohanraj-r from what we understand, this feature request is about running the checks automatically on a page event instead of waiting on a user action. This would be helpful for automated environments. is our understanding of the request correct?

if yes, there are two options we currently have:

- using shortcuts in Accessibility Insights for Web
- using the axe-pipelines-samples, to run the aut

[2020-03-24 04:32] devaradhanm commented on #1953
Validated. this is fixed now.

[2020-03-24 04:32] #1953 closed

[2020-03-24 22:32] ferBonnin commented on #2380
per conversation with Peter, makes sense to pick up

[2020-03-25 01:02] ferBonnin commented on #2207
looks great!

[2020-03-25 01:02] #2207 closed

[2020-03-25 17:21] smoralesd commented on #1713
Since this is an engineering task, I'm closing it myself.

[2020-03-25 17:21] #1713 closed

[2020-03-25 18:14] karanbirsingh opened #2391 "build-unsigned-release-packages build flaky due to e2e test hook timeouts"
## Describe the bug

On Windows, the build-unsigned-release-packages shows transient failures due to e2e test timeouts. An example log is listed below. It is possible that the hook timeout is not long enough for the application to start on the Windows build machines; the mac and linux tests do not seem to exhibit this issue.

[code]

[2020-03-26 18:31] ferBonnin commented on #696
Hi @mmafe we have fixed this issue and the new version is available in our  [Canary  extension](https://chrome.google.com/webstore/detail/accessibility-insights-fo/hbcplehnakffdldhldncjlnbpfgogbem).

Please let us know what you think!

[2020-03-26 23:38] mmafe commented on #696
@ferBonnin Hey guys, thank you so much for looking into this issue! Unfortunately, with all that's going on right now, it's unlikely I'll be able to review the new version in a timely fashion. If you are confident the issue is fixed, please feel free to close the issue. Thank you!

[2020-03-26 23:39] ferBonnin commented on #696
Hi @mmafe no worries, we understand!
Thank you!

[2020-03-26 23:39] #696 closed

[2020-03-27 00:19] dbjorge commented on #1961
The current behavior is the browser's default; the "not showing the focus indicator for mouse clicks" behavior we see with other buttons is only the normal browser behavior for `<button>`s that don't override border/outline styles.

There is a W3C proposal for a [`:focus-visible` CSS selector](https://developer.mozilla.org/en-US/docs/Web/CSS/:focus-visible) that we could use in place of `:focus` t

[2020-03-27 17:32] ferBonnin commented on #1961
@dbjorge thanks for investigating this!
Yes, marking out of scope for now; we can revisit when `:focus-visible` is available by default if we receive user feedback on this.

[2020-03-27 17:32] #1961 closed

[2020-03-27 17:40] ferBonnin commented on #682
validated with Canary and NVDA

[2020-03-27 17:40] #682 closed

[2020-03-27 18:01] smoralesd opened #2404 "AI-Android icon on Mac's spotlight is not AI heart"
## Describe the bug

When using Mac's spotlight feature to search for Accessibility Insights for Android, the icon being shown does not match the app icon.

**To Reproduce**
Steps to reproduce the behavior:

1. Install Accessibility Insights for Android (follow the instruction from [accessibilityinsights.io](https://accessibilityinsights.io/))
1. Open Spotlight search (command + space)
1. Type: ac

[2020-03-27 18:16] karanbirsingh commented on #2404
Adding some context:
- We use electron-builder to handle icons for us (documentation [here](https://www.electron.build/icons)). We may want to look at guidance suggested in other issues such as https://github.com/electron-userland/electron-builder/issues/1184
- May be able to compare with https://github.com/microsoft/BotFramework-Emulator

[2020-03-27 18:18] ferBonnin opened #2405 "Text on Hover contrast"
## Describe the bug

For the _export report_ _Start over_ _info & examples_ and _add a failure instance_ buttons, on hover we change the font color and the pointer.
In both High contrast and default mode, the contrast for the text is not 4.5:1. After reviewing, we have agreed that text does need to have enough contrast on hover for both accessibility and usability purposes.

We are using:
default:

[2020-03-27 18:28] ferBonnin commented on #2215
verified in canary

[2020-03-27 18:28] #2215 closed

[2020-03-27 20:20] LiLoDavis opened #2406 "Text change in Contrast > State changes > How to test"
## Describe the bug

Immediately after **How to test**, insert the following clarification:

_Note: Contrast requirements for text within a UI component or graphic are covered in **Automated checks** and **Text legibility**._

[2020-03-27 22:13] smoralesd commented on #2406
Hi @LiLoDavis is this the right place?
![image](https://user-images.githubusercontent.com/2837582/77804773-90a0e180-703d-11ea-9e31-c158b929aaf4.png)

[2020-03-27 22:16] LiLoDavis commented on #2406
Yes, perfect.

[2020-03-30 18:37] ferBonnin commented on #2254
per conversation with Lisa Louise, let's modify step one to:

1. Examine the target page to identify any "trigger" components (typically buttons or links) that reveal hidden menus or dialogs.

[2020-03-30 19:45] dbjorge commented on #2406
Text should be available to validate in Insiders build 2.16.0!

[2020-03-30 20:02] ferBonnin commented on #2404
per conversation with Peter, we should fix this

[2020-03-30 20:04] ferBonnin commented on #2405
triaged with Peter, sounds good

[2020-03-30 20:05] ferBonnin commented on #2254
per conversation with Peter, sounds good :)

[2020-03-30 20:21] dbjorge opened #2417 "Flaky web E2E: Details View -> Assessment -> Headings should pass accessibility validation"
## Describe the bug

In the past 30 days, [test analytics](https://dev.azure.com/ms/accessibility-insights-web/_test/analytics?definitionId=180&contextType=build) shows that these two test cases (the high contrast true and false versions) are by far the flakiest of the tests in the web E2E suite; they have 23 failures each, compared to 8 failures for the next-flakiest and <5 for every other test.

[2020-03-30 20:32] LiLoDavis commented on #2406
Looks good.

[2020-03-30 20:32] #2406 closed

[2020-03-30 22:08] ferBonnin commented on #2405
moving to needs investigation because we don't use black background we use #161616 so contrast is different

[2020-03-30 22:17] smoralesd commented on #1816
I tried to repro this again (prod 2.15.0 and insider 2.16.0) without success. Closing the issue base on 2 different people at separated times not being able to reprro.

[2020-03-30 22:17] #1816 closed

[2020-03-30 22:23] smoralesd opened #2418 "Automated checks automatically selected after start over assessment"
## Describe the bug

After the user selects **start over assessment**, automated checks gets selected.

**To Reproduce**
Steps to reproduce the behavior:

1. navigate to any website
1. start a new assessment
1. select any test but automated checks (neither overview), e.g. Keyboard
1. use the start over assessment option
1. Observe: the selected test gets updated from what the user selected before

[2020-03-31 22:52] dbjorge commented on #2254
Resolved in master, should hit canary in 10-15 minutes. @LiLoDavis or @ferBonnin , can you double check the text change and close?

[2020-04-01 10:30] SwathyMothilal opened #2428 "Showing insights for non-existing views - React native screen"
The tool is displaying suggestions for "android.widget.Button" which are not existing in the react-native page.

When tapped on the suggestions, the visual helper highlights a portion near the bottom strip of the device. [home, back button]

<img width="450" alt="Screenshot 2020-04-01 at 4 05 40 PM" src="https://user-images.githubusercontent.com/20316658/78127965-bc9fd680-7432-11ea-81d8-f44c475443

[2020-04-01 17:41] ferBonnin commented on #2428
Hey @SwathyMothilal can you give us a bit more detail to reproduce this bug?

[2020-04-01 17:43] ferBonnin commented on #2254
verified in Canary

[2020-04-01 17:43] #2254 closed

[2020-04-02 17:37] dbjorge commented on #2380
Didn't end up completing this before next feature started, so moving back to ready for work. The bits of work I had in progress are at https://github.com/dbjorge/accessibility-insights-web/tree/content-panel-header

[2020-04-02 21:58] gatosocal commented on #520
The sentence, "If the page uses headings, an automated check will fail if the page does not have exactly one top-level heading.", is no longer in the Assessment section for Headings.

But, this sentence, "Use exactly one top-level heading. (WCAG 1.3.1)" is still on the "Guidance for Headings" page.  Shouldn't the "WCAG 1.3.1" in parentheses be replaced with "best practice"?

Accessibility Insights

[2020-04-02 22:04] ferBonnin opened #2444 "Guidance in Headings for top-level should be best practice"
## Describe the bug
 This sentence, "Use exactly one top-level heading. (WCAG 1.3.1)" is still on the "Guidance for Headings" page, but that is not a WCAG violation.

**To Reproduce**
Go to Assessment > Headings> Guidance >Do's

## Expected behavior

the "WCAG 1.3.1" in parentheses should be replaced with "best practice"

## Context (please complete the following information)

Accessibility Insigh

[2020-04-02 22:18] ferBonnin commented on #520
hi @gatosocal great point! we have filed a bug #2444 to track this change.

[2020-04-03 16:15] ferBonnin commented on #1503
perf is much better 👍

[2020-04-03 16:15] #1503 closed

[2020-04-03 17:38] ferBonnin commented on #2405
validated in Canary

[2020-04-03 17:38] #2405 closed

[2020-04-06 20:02] ferBonnin commented on #2418
Per conversation with Peter, let's fix this

[2020-04-07 04:39] kar183 opened #2460 "Accessibility Insights popup is not showing up"
## Describe the bug
Accessibility Insights popup is not showing up. We guess the code on the git hub repository is not upto date

**To Reproduce**
Steps to reproduce the behavior:

1. Downloaded the git hub file from here and loaded the unpacked version to chrome.
2. Go to google.com
3. Click on accessibility insights icon

## Expected behavior

Once we click on Accessibility Insights icon we shou

[2020-04-07 17:13] ferBonnin commented on #2460
Hi @kar183 thanks for reporting this issue!

To help us understand and reproduce the issue, can you help us with the following information?

1. from step 1 in the repro steps, from where are you getting the extension file?
1. from step 1, sounds like like you are unpackaging and installing, is this correct?
1. can you please go to chrome://extensions/ and share the version of the extension?
1. wou

[2020-04-07 18:34] ferBonnin commented on #2460
Hi @kar183 Thanks for reaching out!

Based on the repro steps and screenshot you provided, we think you're trying to install Accessibility Insights for Web by downloading the "Source code" zip file from our GitHub Releases page and asking Chrome to load some folder inside it as an unpacked extension.
This is not a supported means of installing Accessibility Insights for Web; the Source code zip fi

[2020-04-08 05:47] SwathyMothilal commented on #2428
Hi @ferBonnin, we have designed a reach native screen in our hybrid-app[it has both native and react implementation]. And, when I was scanning the app with the insights tool, I was getting insights for the bottom strip as shown in the image above.[home, back button].

[2020-04-08 13:48] kar183 commented on #2460
Hello Team,

Thanks  for the quick response. Please find the answers inli

   1. We are getting the extension files from here.
   2. Yes
   3. Current version: 1.0.4
   4. There is no output currently
   5. This doesn't fit for our use case
   6. No

We have want to know why there is a discrepancy  between source cod and
working version

Thanks
Karthik

On Tue, 7 Apr 2020 at 22:52, ferBonnin <noti

[2020-04-08 14:24] kar183 commented on #2460
karthik kohli <karthikminupala183@gmail.com>
19:18 (23 minutes ago)
to *microsoft/accessibility-insights-web*, *Mention*,
microsoft/accessibility-insights-web
Hello Team,

Thanks  for the quick response. Please find the answers inline below

   1. We are getting the extension files from here
   <https://github.com/microsoft/accessibility-insights-web>.
   2. Yes
   3. Current version: 1.0.4
   4.

[2020-04-08 17:13] ferBonnin commented on #2428
@SwathyMothilal this might be related to #1966
Please help us investigate if this is the same issue or a different one.

- Can you try to scroll down in the application, scan again and check if you get visualizations on the home button again?
- Can you share the failure instances (should have at least the _class name_ and the _how to fix information_ but might also include additional information l

[2020-04-09 01:37] lisli1 commented on #2460
Hi @kar183, we are unable to view the image you attached in your email response. Could you post it by using the GitHub client instead?

There is a discrepancy between the published extension and the source code because we modify the version as a part of our release and it is not updated in the source code every time we release.

Based on the repro steps you provided, it seems that you downloaded t

[2020-04-09 07:57] kar183 commented on #2460
Hello Team,

We have downloaded the extension from [here](https://github.com/microsoft/accessibility-insights-web/releases/tag/web%402.16.0) version 2.16.0 and when we unpack and load it to chrome or just see the maifest.json file we are seeing the version as 1.0.4 and not 2.16.0. we are not sure what's wrong here.
![image](https://user-images.githubusercontent.com/28563498/78871404-44a26380-7a65-

[2020-04-09 22:07] lisli1 commented on #2460
To clarify the version number discrepancy, this zip folder is essentially a snapshot of what the repo contained at the time of release. Even though it says v1.0.4, it **does** have all the updates/changes that you would see in the extension found in the Chrome store for v2.16.0. The reason why the version number you see when you downloaded the extension from the GitHub release (1.0.4) doesn't matc

[2020-04-14 00:57] Shobhit1 commented on #2444
Fixed.

[2020-04-15 20:00] #2428 closed

[2020-04-15 23:36] devaradhanm opened #2505 "Wait for injected scripts to load before start scanning"
## Describe the bug
We identified this issue when scanning in teams page with iframes.
axe waits for 500 ms for iframe to respond back for axe.ping.
The injected.bundle.js script gets injected when the user scans first time after page load. (Subsequent injections would be no-op, since the file is already injected)
So, we may need to make sure that the injected script is loaded before calling axe.r

[2020-04-16 16:51] ferBonnin commented on #2444
Validated in Canary 2020.4.16.19

Thanks for the fix @Shobhit1!

[2020-04-16 16:51] #2444 closed

[2020-04-16 20:15] chjaya-a11y opened #2509 "Autocreation of bugs"
## Is your feature request related to a problem? Please describe.

**Problem Statement:**
This request is raised on behalf of the website owners. Microsoft website compliance initiative is driving more accessibility checks on more websites and it makes it quite challenging for the product owners to spend time and resources to review errors generated by accessibility insights and file bugs. This ma

[2020-04-17 02:00] #2460 closed

[2020-04-20 21:34] ferBonnin commented on #2505
Per conversation with Peter, lets take a look at this.

[2020-04-20 23:02] dbjorge opened #2521 "Landmarks requirements confusing for target page with no (or multiple) main landmarks"
## Describe the bug

The "How to test" info for the Landmarks > Primary content requirement reads:

The Getting Started text for landmarks includes this paragraph:

...however, it's not clear to me that this is up to date (I'd have expected it to fail an automated check for "contains landmarks but no main landmark", but it doesn't, maybe it's one of the best-practice landmark rules now?), and it's

[2020-04-21 17:11] ferBonnin commented on #2521
@dbjorge there isnt a rule that checks for that. the closer think is landmark-one-main but its a best practice.

now for clarifying the how to test in Primary content and no repeating content:
@LiLoDavis should we add some step that says something around: if you don't have any landmarks then you can mark this req as pass, if you have landmarks but not a main landmark then its a fail?

to make it e

[2020-04-21 17:28] LiLoDavis commented on #2521
Yes, I'll work on the text.

[2020-04-21 18:32] LiLoDavis commented on #2521
Here are two versions: one with automatic pass and one without.

**Alternative 1: Automatic pass when page has no landmarks of any type**

**2 Primary content**. The main landmark must contain all of the page's primary content.
The visual helper for this requirement highlights the page's main landmark.
_Note: If no matching/failing instances are found, this requirement will automatically be marked

[2020-04-23 04:12] dbjorge commented on #2521
I thought a page was specifically allowed to have multiple main landmarks if iframes are involved, there is at most one per iframe, and they have distinct labels?

[2020-04-23 17:58] LiLoDavis commented on #2521
Oh, yeah, you're right. Forgot about that case. Below I added exceptions for nested main landmarks, but I didn't mention the label requirement, which I see as a separate issue. Also, I didn't say that the nested pages have to meet the requirements, which could be quite burdensome to verify. @ferBonnin do you agree with this approach?

**Alternative 1: Automatic pass when page has no landmarks of a

[2020-04-23 22:57] JGibson2019 opened #2545 "AI Android: High Contrast hover state color not changing for certain components"
## Describe the bug
For certain buttons, such as "Start Over" the color of the component is not changing to blue when the user hovers over.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the Insider build of Accessibility Insights for Android desktop application
2. Connect to a port (either through an emulator or through using mock of the Android service)
3. Hover over the "Start ove

[2020-04-27 20:02] ferBonnin commented on #2521
Per conversation with Peter lets go with opt 1 (automatic pass).

[2020-04-27 20:03] ferBonnin commented on #2545
Per conversation with Peter, let's fix this.

[2020-04-27 20:12] ferBonnin commented on #1966
@waabid can you please validate and close this?

[2020-04-27 20:13] ferBonnin commented on #2418
Validated with Canary 2020.4.27.1939

[2020-04-27 20:13] #2418 closed

[2020-04-27 21:20] peterdur opened #2563 "Some characters are escaped in Provide result description dialog"
When exporting a report, the Provide result description dialog prompts for description text. When < > and & are typed here, they are HTML-escaped. Once escaping begins, it compounds on further entry.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a website in Chrome or Edge
2. Click on the AI-Web extension button and choose FastPass
3. When scanning completes, click Export Result
4.

[2020-04-27 21:24] peterdur commented on #2563
Pre-triaged today with Fer.

[2020-04-27 23:25] ferBonnin opened #2565 "Add the WCAG S.C name and Level"
## Is your feature request related to a problem? Please describe.

The level of a particular failure is used for certain teams / companies to decide the priority in which issues get fixed first. Having this information surfaced in the UI and reports will make this much easier.

## Describe the desired outcome

- In FastPass >automated checks and the report the 'resources for this rule' information

[2020-04-29 00:25] tohmjudson-ms commented on #822
@ferBonnin This seems to still be active, mind if I work on it as a first bug?

[2020-04-29 17:41] jalkire commented on #2380
Fix merged in PR #2572

[2020-04-29 22:08] dbjorge commented on #2380
Confirmed

[2020-04-29 22:08] #2380 closed

[2020-04-30 00:07] haonliu opened #2583 "Code snippets in Semantics test not styled correctly"
## Describe the bug

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'bing.com'
2. Click on 'assessments -> Semantics'
3. See error:

- CSS content – ":before" and ":after" need correct code styling in requirement and in How to test; not part of data tables, but the only place left in this test with incorrect code styling. (we can also address this later in a bug)

- Headers attribute

[2020-04-30 18:02] ferBonnin commented on #822
Hi @tohmjudson-ms for sure! I am assigning this to you

thanks!

[2020-04-30 18:20] waabid opened #2590 "Android client has scrollbar on view when it shouldn't (and can scroll away from title bar)"
## Describe the bug

There seems to be a scroll bar on the entire application when it is not necessary. It seems to occur when the window is re-sized manually and there is a scroll bar on the results portion.

**To Reproduce**
Steps to reproduce the behavior:

1. Scan an app with many errors (I used our mock app).
2. Expand all errors.
3. Re-size such that you need a scroll bar on the results/card

[2020-04-30 18:33] markreay commented on #2565
I think the features seems like something we should do. I am find with it if we can work out the visual design.

[2020-04-30 23:10] dbjorge commented on #2590
Not mac-specific, I repro on windows as well in current master:

![screenshot of same issue in windows](https://user-images.githubusercontent.com/376284/80767612-21675300-8afd-11ea-8867-aa92ff08c15e.png)

Updating title/description accordingly.

Seems feasible that the electron 8 update could have brought this with it; we've seen very similar issues in web before with chromium updates.

[2020-04-30 23:14] #2583 closed

[2020-05-01 00:26] lamaks opened #2597 "accessibility-insights-report: reporterFactory require singleton creation to eliminate Office Fabric warnings"
### Source
https://github.com/microsoft/accessibility-insights-web/blob/4bf47d142ba07b83c8c727a64ad24abca70d9f39/src/reports/package/reporter-factory.ts#L89

### Issue
The officeFabric cannot be instantiated multiple times b/c it breaks Office Fabric logic. As result console will have the following messages multiple times:

`Some icons were re-registered. Applications should only call registerIcon

[2020-05-04 17:36] LiLoDavis opened #2610 "Text changes to Sequence > Columns and Semantics > Table semantics"
## Describe the bug

See attached file for text changes to two requirements:

- **Sequence** > **Columns**
- **Semantics** > **Table semantics**

[Updates to Sequence and Semantics.docx](https://github.com/microsoft/accessibility-insights-web/files/4576191/Updates.to.Sequence.and.Semantics.docx)

## Are you willing to submit a PR?

No

## Did you search for similar existing issues?

Yes

[2020-05-04 18:30] #1966 closed

[2020-05-04 21:28] dbjorge commented on #2521
I think the proposed option 1 text is a little confusing in the case where there exist some non-main landmarks but no main landmarks; I think what would happen in that state would be:

* The text will say "If no matching/failing instances are found, this requirement will automatically be marked as pass."
* There will be no listed matching/failing instances
* ...but the requirement will not be auto

[2020-05-04 21:29] dbjorge commented on #2521
(@ferBonnin / @LiLoDavis , see above)

[2020-05-04 21:41] ferBonnin commented on #2521
Per conversation with Dan, let's go with option 1 and change the text from:
"If no matching/failing instances are found, this requirement will automatically be marked as pass" to
"If no landmarks are found, this requirement will automatically be marked as pass"

[2020-05-07 18:48] ferBonnin commented on #1297
Hi @jechols!

We have reviewed this feature request and the tables failures and released [Accessibility Insights for Web V2.1.18.2](https://github.com/microsoft/accessibility-insights-web/releases/tag/web%402.18.2) that has additional support for tables

[2020-05-07 19:58] karanbirsingh commented on #2590
@waabid @ferBonnin this has been resolved :)

[2020-05-07 20:05] ferBonnin commented on #2590
@waabid can you please validate and close?

[2020-05-08 17:51] jechols commented on #1297
I finally managed to get this installed and tested, it looks like a major improvement!  Thanks!

[2020-05-08 17:51] #1297 closed

[2020-05-10 12:28] patrickhlauke opened #2655 "Rename "Text legibility" category"
## Is your feature request related to a problem? Please describe.
The current category name of "Text legibility" does not sufficiently/accurately convey what some of the tests/SCs are about.

High Contrast Mode, Orientation, Reflow (see https://github.com/microsoft/accessibility-insights-web/pull/2654) and Hover / focus content are not solely about text, but content in general.

Having these group

[2020-05-11 17:35] ferBonnin commented on #2655
Thanks for the suggestion @patrickhlauke!

@LiLoDavis thoughts for changing the title of the test?
Changing requirements from one test to another is not trivial work (specially considering what happens for users that have an assessment in progress) but we could change the test title to something that is more comprehensive

[2020-05-11 17:37] patrickhlauke commented on #2655
if they were all to still stay within the same category, maybe (though a bit ugly) renaming to a combined "Content adaptability / text legibility"? hover/focus would still feel like the odd one out though to an extent...

[2020-05-11 19:26] LiLoDavis commented on #2655
We'll need the test name to be short. At this time, the longest test name is **Automated checks**.
How about **Viewable content**?

[2020-05-11 20:01] ferBonnin commented on #2610
Reviewed with Peter, looks good

[2020-05-11 21:12] patrickhlauke commented on #2655
Going forward though, I think that would be the preferred option...but understand that it's quite a breaking change.

How about Viewable content?

Doesn't completely capture some of the nuance (e.g. could argue that for "orientation", stuff is still "viewable", just that you potentially are forced to tilt your head on your hard-mounted device to see it properly), but as I can't come up with anythi

[2020-05-15 17:55] karanbirsingh opened #2695 "[Canary] Assessment > Automated Checks does not complete"
The current version of canary (2020.5.15.151) does not complete automated checks in assessments. Instead, the loading spinner stays stuck at 0%.

Chrome version: Version 81.0.4044.138 (Official Build) (64-bit)
Target page: https://markreay.github.io/AU/before.html

issue enters between commit 951242eb0fc87515fe4b310b5843f76e6acd4e9c and 7d592865b17197175e23ce1cb6de6d1ce4ea6444 - believe it is 6314

[2020-05-15 19:52] karanbirsingh commented on #2695
resolved & released in 2020.5.15.1932

[2020-05-15 19:52] #2695 closed

[2020-05-18 17:35] #2590 closed

[2020-05-18 20:33] dbjorge commented on #2521
@LiLoDavis @ferBonnin The text updates and new auto-pass behavior are now in canary, it'd be great if you could double check them to close out the bug :)

Per discussion with Fer we also implemented similar auto-pass behavior for Semantics > CSS content and Sequence > CSS positioning; would be good to double check that too (the only text change for those was adding the standard auto-pass note in t

[2020-05-18 20:56] DaveTryon opened #2712 "[BUG] Transposed mappings for Android Rule/WCAG guidance"
Please check whether the bug has [already been filed](https://github.com/Microsoft/accessibility-insights-windows/issues).

**Describe the bug**
In AI for Android 2020.515.2, the WCAG mappings for TouchSizeWcag and ActiveViewName are transposed. TouchSizseWcag should point to WCAG 2.5.5, and ActiveViewName should point to 1.3.1 and 3.3.2.

**To Reproduce**
Steps to reproduce the behavior:
1. Start

[2020-05-18 22:40] LiLoDavis commented on #2521
@dbjorge @ferBonnin, these look good to me:
- Landmarks > Primary content
- Landmarks > No repeating content
- Sequence > CSS positioning
- Semantics > CSS content

[2020-05-18 22:44] ferBonnin commented on #2655
Perfect, just to summarize, this requires to change the Test title from "Text Legibility" to "Viewable Content"

[2020-05-18 22:46] LiLoDavis commented on #2655
I believe that's correct.

[2020-05-19 18:23] DaveTryon commented on #2712
This was fixed in #2713 and has been validated in 2020.518.7

[2020-05-19 18:23] #2712 closed

[2020-05-19 22:16] dbjorge commented on #2610
Making the updates now. @LiLoDavis / @ferBonnin , the document suggests adding additional guidance on columns with a link like [CSS Multi-column Layout Module Level 1](https://www.w3.org/TR/css-multicol-1/); I noticed that MDN has a pretty good introductory documentation page for [Multiple-column layout](https://developer.mozilla.org/en-US/docs/Learn/CSS/CSS_layout/Multiple-column_Layout) that loo

[2020-05-19 23:14] peterdur commented on #2563
Verified in Canary.

[2020-05-19 23:14] #2563 closed

[2020-05-20 16:08] LiLoDavis commented on #2610
If Fer is OK with linking to MDN, I recommend including both.

[2020-05-20 19:49] dbjorge commented on #2610
All set! Canary is updated (with both links) and ready to validate

[2020-05-20 20:19] LiLoDavis commented on #2610
Looks good.

[2020-05-20 20:19] #2610 closed

[2020-05-20 21:00] dbjorge commented on #2521
Thanks! Closing issue

[2020-05-20 21:00] #2521 closed

[2020-05-20 21:03] #1107 closed

[2020-05-20 23:50] pownkel opened #2736 "Insufficient contrast for active command bar buttons in high contrast mode"
## Describe the bug

Currently in both web and electron, when we click one of the command bar buttons (for example, start over), the text becomes the default text color (normally black) and the icon becomes a very dark blue:

<img width="76" alt="button active" src="https://user-images.githubusercontent.com/55459788/82507963-87217c00-9ab8-11ea-91df-260cc064efe3.PNG">

In high contrast mode, the da

[2020-05-20 23:54] peterdur commented on #1796
Moving back to Ready for Work since this is not actively being worked on.

[2020-05-20 23:56] #2545 closed

[2020-05-21 01:02] dbjorge commented on #1875
#2737 fixes the most glaring usability issues. Most other issues stem from our use of CSS variables (which IE doesn't support) for colors. Investigating a possible update to improve how we manage CSS colors such that we might be able to support this in the future (in a separate PR from #2737).

[2020-05-21 21:21] dbjorge commented on #445
A few more implementation notes:
* Firefox 77 (currently in beta, release date slated for 6/2/20) will start supporting the `onAdded`/`onRemoved` permissions events (yay!)
* As of 77, Firefox's `windows.create()` implementation will throw an error if you attempt to pass it the `focused` property; we need to diverge what we pass to this API between Chromium/Firefox.
* As of 77, Firefox doesn't supp

[2020-05-22 19:35] lisli1 commented on #2147
Started working on this here: https://github.com/microsoft/accessibility-insights-web/pull/2584

Need to update to use IpcRendererShim and also save the most recent position of the window, as mentioned in Dave's comment on the above PR.

[2020-05-26 23:58] waabid opened #2758 "Don't show "no content available" page if target page URL changes if all url permissions granted"
## Is your feature request related to a problem? Please describe.

Every time you switch the target page to another website, the details view shuts down. It does this because of activeTab permissions. However, if I set the permissions for allUrls to be granted, the "reactivation of Accessibility Insights for Web" is not required, and so I shouldn't see this page.

## Describe the desired outcome
I

[2020-05-27 17:38] #2736 closed

[2020-05-28 19:23] ferBonnin opened #2770 "Add a screenshot in the Web Automated checks report"
## Is your feature request related to a problem? Please describe.
It will make easier to visualize the elements that have a failure if we had a screenshot of the app or page scanned with the failures highlighted

## Describe the desired outcome
Add a screenshot in the exported report of Automated check failures.

## Describe alternatives you've considered

taking a screenshot and saving it along t

[2020-06-01 17:10] LiLoDavis opened #2774 "'More actions' button role and name"
## Describe the bug

In Accessibility Insights for Android, each failure instance has a button that reveals a menu with two options: **File issue** and **Copy failure details**.
### Current
The button's current role is **menu item**.
The button's current name is "More actions for card X in rule Y" where X is the class name of the failure instance and Y is the name of the rule.
### Expected
The but

[2020-06-02 12:55] kewisch commented on #445
Hi @dbjorge, I'm excited you are looking at Firefox support, even if your team has not prioritized it.

For the second item on your list, we're looking into a quick fix that would avoid `window.create` throwing with `focused: false` passed, though at the moment we're not supporting opening inactive windows. I hope this makes it easier for you and others. See [bug 1253129](https://bugzilla.mozilla.

[2020-06-02 19:32] LiLoDavis opened #2784 "Text change - Issue filing > labels for URLs"
In Accessibility Insights for Android, modify two labels under **Settings** > **Issue filing**

1. Change **Enter desired GitHub issues link:** to **Enter your GitHub issues URL**
2. Change **Enter the desired Azure Boards project link:** to **Enter your Azure Boards project URL**

No colon (:) is needed after the label.

[2020-06-05 17:53] LiLoDavis opened #2809 "Contrast test - text changes to UI components & State changes (requirement & how to test)"
## Describe the bug

We need to modify the text to for these two requirements. Note that steps with small Roman numerals (i, ii) should be indented relative to steps with lower case letters (a, b, c)

### UI components
#### Requirement
Visual information used to identify active user interface components and their states must have sufficient contrast.
#### How to test
The visual helper for this req

[2020-06-05 19:38] AhmedAbdoOrtiga commented on #1753
resolved in [PR#2798](https://github.com/microsoft/accessibility-insights-web/pull/2798)

[2020-06-05 20:45] #2758 closed

[2020-06-08 20:07] ferBonnin commented on #2774
reviewed this with Peter. Makes sense that, since we are not expanding the menu items to be individual buttons ever, to make this role= button. We will need to revisit this when/if we expand this options.

[2020-06-10 02:31] AhmedAbdoOrtiga opened #2837 "Error when switching off the "reflow-ui" flag in the getting-started page"
## Describe the bug
An exception is thrown when you switch off the "reflow-ui" feature flag while you are in the getting-started page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any assessment.
2. enable the "reflow-ui" feature flag
3. got to the "Getting Started" page
4. Diable the "reflow-ui" feature flag.
5. App crash.

## CodePen repro example

## Expected behavior
App should

[2020-06-10 02:31] AhmedAbdoOrtiga commented on #2837
I think the issue is while rendering the "getting-started", we assume that a test step is selected and we still check if  that test step was already scanned before but that won't work in the new ui because there's no step info, it works fine without the flag enabled because the getting-started page is in the same view as the step.

[2020-06-12 17:05] ferBonnin commented on #2655
after reviewing this with the board, the suggestion was to use "Adaptable content".

[2020-06-12 18:03] dbjorge opened #2869 "Codebase should use strict null checks"
Per 6/12/20, there was broad (but not unanimous) agreement among the engineering team that we would like to enable typescript's `strictNullChecks: true` config in our codebase; most participants felt that the errors that could be prevented with this particular check outweighed the engineering cost of retrofitting the code to allow it.

To enable this, we'll be following the same strategy that VS C

[2020-06-12 23:39] patrickhlauke commented on #2655
guessing that moving text contrast to the contrast category would still be too big a change though, right?

[2020-06-12 23:41] ferBonnin commented on #2655
yes; doing this correctly, to not break any users that have an in progress assessment, is something complex. It is in our radar but we need to weight this effort against other possible features.

[2020-06-15 20:04] ferBonnin commented on #2837
per conversation with Peter, there is no user impact to this and we will remove the feature flag in a couple of weeks; reading at the comments, we have investigated and we understand what is causing this, it should go away once we remove the feature flag so not need to invest this. (if we were to make this view a public feature flag, then we should fix this issue, but we don't have plans to do tha

[2020-06-15 20:05] #2837 closed

[2020-06-18 07:21] lisli1 opened #2914 "Reflow navigation bar colors in high contrast mode"
## Describe the bug

**HC issue 1:**
Color contrast issue in navigation bar in high contrast mode when hovering a selected nav item (black text against dark gray background). Hover color should be same as in Production Version 2.18.2.

**HC issue 2:**
Selected test in FastPass has light blue color #c7e0f4 in high contrast mode. The selected test in FastPass should have the same background color as

[2020-06-18 19:44] chadsowald opened #2920 "["File Issue"] Taking me to DevOps with "Issue" as the work item type. Maybe because I'm also signed into GitHub?"
## Describe the bug

Hi.  I use both GitHub and DevOps for different projects, but am typically signed into both.  I recently started running FastPasses on one of my projects (the one in DevOps).  When it finds issues, I click the "File issue" button.  I've already configured the extension with my DevOps project.  The extension correctly takes me to DevOps with the work item description filled in

[2020-06-18 20:05] ferBonnin commented on #2920
hey @chadsowald thanks for filing this bug!

To have Accessibility Insights file bugs instead of issues, please follow this instructions:

1. go to _settings_ in Accessibility Insights for Web
1. In the _Issue Filing_ section, select _Azure boards_ and select the option to _File issue details in:_  **Repro steps**.

When the _File issue details in:_  option says **Description** Accessibility Insig

[2020-06-18 20:51] gatosocal opened #2921 "Bypass Blocks - Info & examples - misspelled word "cotent""
In the Info & examples section of the Bypass Blocks test, the word "content" is misspelled as "cotent" in this sentence:
"Otherwise, reaching the primary cotent could require dozens of keystrokes."

<img width="626" alt="Bypass Block misspelled word" src="https://user-images.githubusercontent.com/63076384/85070503-c05a1400-b16a-11ea-9a75-21f7141d68b3.PNG">

[2020-06-18 21:13] chadsowald commented on #2920
Oh, okay, thanks! Could you please update your documentation and maybe the extension settings to make that clear?  Really appreciate your quick turnaround.  Take care!

[2020-06-18 21:18] ferBonnin commented on #2920
Thanks for the suggestion! we will address this in the documentation.

[2020-06-18 21:18] #2920 closed

[2020-06-19 16:09] mgifford opened #2926 "Add a Color Picker to the FastPass"
## Is your feature request related to a problem? Please describe.

Right now there is no way to find color contrast errors in:
- text in images
- videos
- CSS gradients
- image backgrounds behind text (or inside text)
- image icons

Level Access’s Accessible Color Picker might be the best alternative out there but it isn't open source and requires teams to install and monitor yet another browser e

[2020-06-22 20:02] ferBonnin commented on #2921
thanks for issue @gatosocal, we will fix this!

[2020-06-22 20:04] ferBonnin commented on #2914
Per conversation with Peter, we will address this during feature work for the last feature for reflow.
cc @pownkel

[2020-06-24 17:30] jalkire commented on #2154
Added the [ESRP notarization task to our signed build](https://github.com/microsoft/accessibility-insights-web/blob/144fbd6b92d02c202907c375dcaa41e5d5b2bd61/pipeline/unified/channel/sign-release-package.yaml#L41). Resulted in [an error with no details](https://dev.azure.com/accessibility-insights-private/Accessibility%20Insights%20(private)/_build/results?buildId=12115&view=logs&j=c4b2f6bc-f488-55

[2020-06-25 19:06] dbjorge opened #2968 "Should Android setup dialog have a title bar close button?"
## Describe the bug

As-designed, the new Accessibility Insights for Android device setup flow is being styled like a modal dialog without the "normal" title bar close/minimize/maximize buttons. In the earlier version, one of the reasons we did this was because there was always an explicit "Close" button as part of the dialog itself, but in the newer/more complex flow, there are many states where

[2020-06-27 13:51] juchampa commented on #1739
Hi @bnb ,

We are happy to inform you this issue has been addressed through a public contribution to our open source repository [here](https://github.com/microsoft/accessibility-insights-web/pull/2252), by @ sean-beard. This feature is now under a public flag, so feel free to use this feature and contribute to it if you'd like.

[2020-06-27 13:58] bnb commented on #1739
Thought I had responded to this initially, but apparently not.

This has nothing to do with my specific team. The context in which I was asking was open-source work in which I used Accessibility Insights to provide feedback on how extremely inaccessible the site being proposed was. I outlined the entire scope of why I was requesting this in my initial comment and am concerned that the context that

[2020-06-27 20:57] CorgiDev commented on #987
I believe the following is what the original author's issue was about. The Accessibility Insights tool is counting nested lists as invalid even though W3 standards say that nested lists are okay. For example, if I have a list like so:
[code]

Accessibility Insights marks that as invalid, saying that "List element has direct children that are not allowed inside <li> elements". Blanket marking these

[2020-06-29 20:05] ferBonnin commented on #2968
Per conversation with Peter, we will explore this and also look for user feedback

[2020-06-29 20:48] ferBonnin opened #2988 "Unified: new setup process UI"
## Describe the bug

A few UI changes from the new setup dialogs:
1.	On the “choose which device to use” screen, the list of connected devices appears to be indented quite a bit. It would be nicer if the device list was flush-left like the other places where we show a device.

![Choose which device to use screen](https://user-images.githubusercontent.com/9062104/86054244-a8a64980-ba0e-11ea-930d-5b

[2020-06-30 01:40] AhmedAbdoOrtiga commented on #2988
@ferBonnin The android setup feature is still open, do you think this issue should be addressed as a part of it so it'd be included in the release validation?
@DaveTryon what do you think?

[2020-06-30 16:46] ferBonnin commented on #2988
@AhmedAbdoOrtiga no, we talked about this and we will take this outside of the feature.

[2020-07-01 16:28] juchampa commented on #2926
Hi @mgifford , thank you for submitting this feature request. We currently don’t have a color picker in Accessibility Insights for Web Extension however, we do have a color contrast analyzer in Accessibility Insights for Windows. This feature request does need more investigation and we will also be looking forward to see how widely requested this feature is through the upvotes.

[2020-07-02 19:31] dbjorge commented on #2988
@ferBonnin The extra indent on the choose your device screen is because that empty space is where the checkbox renders when the device is selected. What do you want to do about the checkbox?

[2020-07-02 19:38] dbjorge opened #3015 "unified telemetry dialog high contrast styling is off"
## Describe the bug

As of 2020.702.4, the unified/android telemetry dialog looks like this in high contrast mode:

![image](https://user-images.githubusercontent.com/376284/86401549-44c68f80-bc5f-11ea-9728-c93ef6da1d88.png)

In the web extension, the dialog looks like this:

![image](https://user-images.githubusercontent.com/376284/86401500-2d87a200-bc5f-11ea-8da7-53389b15bb29.png)

The styling s

[2020-07-02 20:00] ferBonnin commented on #2988
@dbjorge thanks! I checked with Nate and he mentions that in the mocks we were assuming always one would be selected, once one of them is selected it doesn't look weird.

would it be possible to always have the first device selected by default?

[2020-07-02 20:25] dbjorge opened #3017 "Android setup dialogs with loading spinners aren't consistent in vertical alignment"
## Describe the bug

Some of the loading spinners are top-aligning (eg, "Scanning for devices..." after selecting "Detect my device" button), and some are center-aligning (eg, "Loading..." after selecting ADB path). The inconsistency mismatches the mock and is a bit visually jarring. They should be consistently center-aligned.

It seems like probably an issue with the `AndroidSetupStepSpinnerLayou

[2020-07-06 16:54] ferBonnin opened #3024 "unified: on update, the port forwarding fails"
## Describe the bug

After updating Accessibility Insights for Android (prod) to 2020.702.3, port forwarding fails on first launch.

**To Reproduce**
Steps to reproduce the behavior:

1. open Accessibility Insights for Android
2. update to 2020.702.3
3. connect a device
4. port forwarding fails

## Expected behavior

port forwarding succeeds

## Context (please complete the following information)

[2020-07-06 17:43] karanbirsingh commented on #3024
In the cases you've seen, was this on a device/emulator, or both? I haven't been able to get a repro on my emulator @ferBonnin

[2020-07-06 17:45] ferBonnin commented on #3024
@karanbirsingh emulator for me.
@LiLoDavis were you using an emulator or physical device?

[2020-07-06 17:58] LiLoDavis commented on #3024
I was using a physical device.

[2020-07-06 20:04] ferBonnin commented on #3015
Per conversation with Peter and since there are no color-contrast issues, its ok to have the dialogs slightly different.

[2020-07-06 20:04] #3015 closed

[2020-07-06 20:23] ferBonnin commented on #1739
Hi @bnb thanks for clarifying that and our apologies for the confusion!

We are open to contributions like the existing CodePen one, however we would prioritize sites for where there is user demand and we might need a different UX experience if we were to have more than 2-3 options on where to export to.

[2020-07-08 22:59] karanbirsingh commented on #3017
@ferBonnin do we want the spinner halfway between the footer and top (and stays there even if the screen has no footer)?

[2020-07-09 00:52] #2914 closed

[2020-07-13 18:30] DaveTryon commented on #2988
@ferBonnin, this is live in canary. Please regress as appropriate. Thanks!

[2020-07-13 18:41] ferBonnin commented on #2988
looks good!

[2020-07-13 18:41] #2988 closed

[2020-07-14 16:41] karanbirsingh opened #3075 "insider reflow validation: overflow button fails 'aria-required-children'"
## Describe the bug

- open the details view with reflow (Insider 2.19)
- resize the window smaller so the top-right "..." button appears
- run A11YSelfValidator.validate()

failure:
description: "Ensures elements with an ARIA role that require child roles contain them"
id: "aria-required-children"
message: "Required ARIA children role not present: menuitem, menuitemradio, menuitemcheckbox"

We ha

[2020-07-14 21:43] pownkel opened #3078 "insider reflow validation: Overview percent text fails color contrast when selected"
## Describe the bug

The dark grey used for the Overview percent completed text does not have sufficient contrast against the nav selection color:

<img width="177" alt="overview percent" src="https://user-images.githubusercontent.com/55459788/87479162-d7601a80-c5df-11ea-85fa-7768d3ca3d2c.PNG">

Contrast should be at least 4.5:1 for regular text.

## Context (please complete the following informat

[2020-07-14 22:28] #3075 closed

[2020-07-15 00:23] lisli1 opened #3082 "Insider reflow validation: Overview test details column lines overlap/misalign at certain zoom level/window width"
## Describe the bug

At a certain zoom level or window width, the lines in the test details columns overlap or misalign.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [Accessible University](http://www.washington.edu/accesscomputing/AU/before.html)
2. Run an Assessment
3. Zoom or resize details view window, while keeping Test details in view
4. See overlapping/misaligned lines

![ov

[2020-07-15 01:23] pownkel opened #3083 "Insider reflow validation: Overview summary bar not readable by screen reader"
## Describe the bug

When reading the Overview page with NVDA, the summary bar is read as three percentages with no indication of what the numbers represent (passed, incomplete, and failed requirements). The outcome summary bar should have a meaningful accessible name to communicate this information.

**To Reproduce**
Steps to reproduce the behavior:

1. Start a new Assessment
2. Using NVDA, read

[2020-07-15 15:52] #3078 closed

[2020-07-15 20:34] JGibson2019 opened #3089 "Insider reflow validation: Headers inside nav panel is a different height than the rest of assessment view"
## Describe the bug
#2852 was supposed to make these heights equal, but currently the header in the nav panel is taller, as seen here:
![image](https://user-images.githubusercontent.com/19158512/87593020-a5ae8880-c69f-11ea-9215-e29f1b89b44c.png)

The fix employed in the previous PR could have possibly regressed. We were able to repro with Windows/Chrome, Windows/Edge, and Mac/Edge

**To Reproduce*

[2020-07-16 17:06] iamrafan opened #3095 "Insider reflow validation: Focus indicator is not visible on the left nav links during keyboard navigation with Screen readers"
## Describe the bug

When navigating through the left nav in assessment with screen readers on, the focus indicator on the links is not visible after activating any of the links with keyboard. Once the focus indicator disappears it is not visible even when navigating through the list of test/requirements using an arrow key. This issue exists in the following browser/AT combinations

Browser | AT
-

[2020-07-16 17:26] sahithikkss opened #3096 "Text Spacing Bookmarklet test in Accessibility Insights"
#2564
 Is your feature request related to a problem? Please describe.
Text Spacing defines the success criterion
https://www.w3.org/TR/WCAG21/#text-spacing
But tools are not yet standardized to test this area.

## Describe the desired outcome
A precise bookmarklet test which both users and testers can use to achieve/verify text spacing on a website.

## Describe alternatives you've considered
IFra

[2020-07-16 19:42] #3083 closed

[2020-07-17 16:24] jalkire commented on #3096
Thanks for the feature request! We actually link to the first alternative you listed (https://www.html5accessibility.com/tests/tsbookmarklet.html) from the Text spacing requirement of the Text legibility test in [assessments](https://accessibilityinsights.io/docs/en/web/getstarted/assessment). Do you have an any specific issues with the bookmarklet or example pages where it fails?

[2020-07-17 16:55] iamrafan opened #3100 "Insider reflow validation: Expanded/Collapsed states of the tests in left nav are not announced by screen readers"
## Describe the bug

When navigating through the left nav in assessment with screen readers, expand/collapse state of the "test" list is not announced by screen readers

Browser | AT
-- | --
Chrome | NVDA
Edge | Narrator
Edge | JAWS

**To Reproduce**
Steps to reproduce the behavior:

1. Run assessment on 'https://www.washington.edu/accesscomputing/AU/before.html'
2. Use one of the above browser/AT

[2020-07-17 17:24] pownkel commented on #3095
This seems to be an issue with the office fabric nav component. I've filed[ this issue ](https://github.com/microsoft/fluentui/issues/14089)with their team.

[2020-07-17 18:11] DaveTryon commented on #3017
Confirmed that the spinners align consistently throughout the setup dialogs

[2020-07-17 18:11] #3017 closed

[2020-07-20 20:04] ferBonnin commented on #3100
@waabid assigning to you and marking this as active

[2020-07-20 20:07] ferBonnin commented on #3095
@iamrafan OF team mentions this is a screen reader issue. Could we investigate if this has already being filed with the ATs and if there is something we could do to show a focus indicator ourselves

[2020-07-20 20:08] ferBonnin commented on #3089
per conversation with Peter, marking as ready for work

[2020-07-20 20:09] ferBonnin commented on #3082
per conversation with Peter, marking as ready for work

[2020-07-21 19:16] ferBonnin commented on #1875
@peterdur per dbjorge comment above looks like we have fixed the bigger usability issues and fixing the CSS colors will require more investigation since IE doesn't support it at the moment. are we ok with closing this issue with a partial fix?

[2020-07-21 21:11] iamrafan commented on #3100
verified in v2.19.3

[2020-07-21 21:11] #3100 closed

[2020-07-23 13:21] sahithikkss commented on #3096
Please apply [bookmarklet 1 ]( https://www.html5accessibility.com/tests/tsbookmarklet.html)that works for iframes on this same page
https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-insights-overview
This does not show any text spacing.

Now, on a different tab, open https://docs.microsoft.com/en-us/azure/azure-monitor/app/app-insights-overview
Apply [bookmarklet 2]( https://dylanb.gith

[2020-07-23 18:29] RobGallo commented on #2774
It turns out the underlying HTML generated by ai-android is in accordance with the ARIA spec. In addition, both JAWS and NVDA render the button as a "menu button," which is what we expect. The only slightly odd piece is UIA (in Windows) gives the control type as MenuItem; which is somewhat unexpected, but perhaps a design decision on the part of UIA developers.
Given the code is correct, and scree

[2020-07-23 18:37] RobGallo commented on #2774
Resolved in PR #3149

[2020-07-23 19:43] karanbirsingh commented on #3024
worked offline with Fer to look into this & we were unable to repro the issue on other devices; we decided to close for now

[2020-07-23 19:43] #3024 closed

[2020-07-23 21:15] LiLoDavis opened #3153 "Web tool has content not contained in a landmark"
## Describe the bug
In the FastPass and Assessment pages, some content is not contained in any landmark. While this isn't a WCAG violation, it violates guidance provided in the [WAI-ARIA Authoring Practices 1.1](https://www.w3.org/TR/wai-aria-practices-1.1/#aria_landmark):

**To Reproduce**
Steps to reproduce the behavior:
Inspect the HTML or
1. Launch a FastPass on any page.
2. Save the FastPass

[2020-07-23 21:36] #822 closed

[2020-07-24 21:37] lisli1 commented on #3096
I applied these two bookmarklets to the App Insights Overview page you mentioned, and I am unable to repro the issue. I seemed to get the same text spacing behavior for both bookmarklets.

For reference, I've tried it on Microsoft Edge Version 84.0.522.40 (Official build) (64-bit) and Google Chrome Version 84.0.4147.89 (Official Build) (64-bit). Perhaps it would help to know what browser you are r

[2020-07-27 16:42] LiLoDavis commented on #2774
I agree with your decision to make not changes in the control type/role. Name change looks good.

[2020-07-27 16:42] #2774 closed

[2020-07-27 17:18] LiLoDavis commented on #2809
Looks good to me. :-)

[2020-07-27 17:18] #2809 closed

[2020-07-27 19:15] ferBonnin commented on #2565
taking a look at this during hackathon

[2020-07-28 05:08] sahithikkss commented on #3096
I used Microsoft Edge Version 84.0.522.40 (Official build) (64-bit) browser. But could not get text spacing as demonstrated above with the 1st bookmarklet. What could be the reason?

[2020-07-28 21:14] ferBonnin commented on #2565
If we wanted to do this without a feature flag or setting, we will just need to change _guidance-links.tsx_ (to remove a `toUpper()`) and link.tsx (to add the WCAG Name and level as part of the list of files).

Changing this would impact: automated checks details view, dialog, bug filing and report as well as the assessment guidance (Do's and Don'ts) and report.

![automated checks with longer URL

[2020-07-28 22:19] ferBonnin commented on #2565
Some more things to consider after a conversation with Karan:
- if we enable this with a feature flag, how do users of the report package specify preferences?
- Do & Don't content needs to change too
- Should this be a Setting, Feature Flag, or just change the content with the additional information for all users?

[2020-07-29 19:00] dbjorge commented on #445
@kewisch Thanks for the update! We're actually the case where we pass `focused: true`, but I see that the same bug covers our case as well. Looking forward to the resolution!

For other feedback: the incompatibility that I spent today tracking down was the difference in behavior between how Firefox and Chromium interpret relative paths passed in the `file` option to the `browser.tabs.insertCSS` an

[2020-07-29 23:33] ferBonnin commented on #2784
This issue is now resolved in our [Canary](https://chrome.google.com/webstore/detail/accessibility-insights-fo/hbcplehnakffdldhldncjlnbpfgogbem) extension

[2020-07-29 23:35] ferBonnin commented on #2921
Hi @gatosocal! This issue is now resolved in [Canary](https://chrome.google.com/webstore/detail/accessibility-insights-fo/hbcplehnakffdldhldncjlnbpfgogbem)

[2020-07-30 16:23] LiLoDavis commented on #2784
I filed this issue against the **android** tool, which has not yet been updated. I see, however, that the **web** tool has been updated, which is good because it has the same wording.

Also, under **Azure Boards**, I recommend changing **File issue details in:** to **Select a field for issue details** (no colon). That way, both instructions under **Azure Boards** are addressed to the user. (Curren

[2020-07-31 00:50] DaveTryon commented on #2147
@LiLoDavis, This fix is now live in the Canary build. Please regress at your convenience. Thanks!

[2020-07-31 16:02] LiLoDavis commented on #2147
Looks great!

[2020-07-31 16:02] #2147 closed

[2020-07-31 17:41] LiLoDavis commented on #2784
I see the fix is in for android now. I'll file a separate bug for changing the second field name under Azure Boards.

[2020-07-31 17:41] #2784 closed

[2020-07-31 17:46] LiLoDavis opened #3186 "Text change in Settings > Issue filing > Azure Boards"
## Describe the bug

In **Accessibility Insights for Web** and **Accessibility Insights for Android**, under **Settings** > **Issue filing** > **Azure Boards**, I recommend changing **File issue details in:** to **Select a field for issue details** (no colon). That way, both instructions under Azure Boards are addressed to the user. (Currently the first instruction says what the _user_ should do,

[2020-08-03 19:34] gatosocal commented on #2921
Verified on Canary.  Thank you!

[2020-08-03 19:43] #2921 closed

[2020-08-03 19:44] karanbirsingh commented on #3096
Copying over troubleshooting steps from an email thread last week with sahithikkss:

- When running the bookmarklet, check the browser console to see if there are any errors.
- Because the bookmarklet is Javascript that injects text-spacing styles into the page, you can edit it to output errors to the console if you don't see any from (1) or change it to something simple (i.e. console.log('hello w

[2020-08-03 20:22] dbjorge commented on #2154
Picking this up where John left off. Next few items I'm going to try, based on [Apple's notarization docs](https://developer.apple.com/documentation/xcode/notarizing_macos_software_before_distribution):

* [ ] Bring John's branch up to date with master
* [ ] Verify that electron-builder's output has the [hardened runtime](https://help.apple.com/xcode/mac/current/#/devf87a2ac8f) enabled (electron-b

[2020-08-03 22:01] dbjorge commented on #2154
Followed the [VS Code team's example](https://github.com/microsoft/vscode/blob/227d533937b17f54bae09f94083bf6304e6262e1/build/azure-pipelines/darwin/product-build-darwin.yml); the key realization is that it's the codesigning process that "enables" the hardened runtime in an electron build process, so I needed to add a parameter to enable it to the signing (not notarizing) step of the original ESRP

[2020-08-03 22:10] RobGallo commented on #2320
I have confirmed the timing of the code in AI-Web which disables telemetry is working as expected -- if you force the code which writes telemetry to the console to obey the enabled/disabled setting, you will see the expected pattern of open/close settings panel messages as described above. And the console telemetry is handled with the same exact code as all other telemetry.

[2020-08-03 22:10] #2320 closed

[2020-08-03 22:28] dbjorge commented on #2154
Wahaj found that the app crashes on startup. The relevant snippet of error is:

[code]

Related issues:
* https://github.com/electron-userland/electron-builder/issues/3989
* https://github.com/electron-userland/electron-builder/issues/4040#issuecomment-615839544

Karan suggested a second example to look at (Bot Framework):
* [PR where they added the notarization yaml logic](https://github.com/micr

[2020-08-04 18:56] peterdur commented on #1875
@ferBonnin here's what the report currently looks like in IE:
![image](https://user-images.githubusercontent.com/1752950/89329838-3bf12100-d644-11ea-8be3-8218fe6af688.png)
There's some regression in that most of the icons are no longer visible; since the earlier screenshot we moved to using CSS variables more extensively around icons for high contrast support purposes - see #3064 for more details

[2020-08-04 20:01] #1875 closed

[2020-08-05 13:27] sahithikkss commented on #3096
I could see the same behavior (no text spacing with first script) on Firefox 79.0 (64-bit).
The only difference between the scripts is that one is not html-encoded and the other is html-encoded.
Plain scripts pose XSS vulnerability and could have been stopped from execution (by browser).
You may want to consider including the safer one between the two in the Accessibility Insights tool.

[2020-08-05 16:45] karanbirsingh opened #3205 "make running an assessment easier in a11y-self-validator"
[a11y-self-validator](https://github.com/microsoft/accessibility-insights-web/blob/master/src/common/a11y-self-validator.ts) is sometimes used to self-check our UI for accessibility issues. It would be nice to add simple visualizations to highlight / log assessment instances to the console as well when requested. This would simplify self-assessments.

We might also use the save/load assessment beh

[2020-08-06 07:04] lisli1 commented on #3186
@LiLoDavis, the fix is now in Canary. Please close the issue if it looks good to you.

[2020-08-06 15:42] LiLoDavis commented on #3186
Looks good

[2020-08-06 15:45] #3186 closed

[2020-08-06 16:44] ferBonnin commented on #2655
Hi @patrickhlauke this issue is now fixed in our [Canary ](https://chrome.google.com/webstore/detail/hbcplehnakffdldhldncjlnbpfgogbem) extension

[2020-08-06 16:58] patrickhlauke commented on #2655
Just tried the canary extension ... looking good! The "Getting started" explanation for 17 Adaptable content could probably do with a slight rewrite, but I'll suggest something in a separate issue/PR. And yes, still holding out hope that in the far future, 17.3 Contrast will be moved to 24 Contrast :)

Long story short: perfect, thank you.

[2020-08-06 16:58] #2655 closed

[2020-08-07 17:06] karanbirsingh commented on #3096
@sahithikkss do you mind trying these two bookmarklets to share whether they both create an alert box? https://codepen.io/karanbirsingh/pen/gOrbdYR The scripts above have more differences than HTML-encoding so this will help us narrow it down.

[2020-08-07 20:25] dbjorge commented on #2154
Talked to the ESRP team today and confirmed with them that following the examples/guidance from the VS Code and BotFramework-Emulator repos is correct. At a high level, the process is:

* ESRP folks add our build/release admin group as a "derived" member of the general Microsoft account for the Apple Developer Program
* We generate a (derived) Apple Developer ID Certificate from the Apple Develope

[2020-08-07 23:54] pownkel commented on #3205
Note that the notes in the [A11y pass template](https://microsoft.sharepoint.com/teams/DD_VSCS/CandC/Keros/_layouts/OneNote.aspx?id=%2Fteams%2FDD_VSCS%2FCandC%2FKeros%2FDocuments%2FKeros%20Engineering&wd=target%28A11y%20Assessments.one%7CE3B2B901-4E9C-44FC-91D5-2D42841155ED%2FTemplate%7C01765BFA-2A55-41B1-861E-0E53E667F76F%2F%29%20onenote:https://microsoft.sharepoint.com/teams/DD_VSCS/CandC/Keros/

[2020-08-08 15:33] BogdanCerovac opened #3228 "Pass & Fail - how about adding "Not applicable" to (manual) checks that can not be checked"
## Is your feature request related to a problem? Please describe.
I think we must think of some checks in terms of trinary logic as we should be able to present the results with "Pass" / "Fail" / "Not applicable". Current solution for the final report now requires some additional manual editing for cases that could be marked as "Not applicable" (or some similar naming suggesting that it is nor pas

[2020-08-09 16:47] sahithikkss commented on #3096
Yes. Both did create alert box.

[2020-08-10 15:20] dbjorge opened #3229 ""Use the Start over button" is unclear now that the button can be hidden behind a ... menu"
## Describe the bug

When we implemented reflow behavior for the main details view navigation, we made it possible for the "Start over" and "Export report" buttons to end up hiding behind a "..." button on the command bar, where previously we were always displaying them as buttons.

There are a few points where we refer to these buttons in text, for example, in FastPass automated checks when there

[2020-08-10 17:11] LiLoDavis opened #3230 "Automated checks different results in FastPass vs. Assessment"
## Describe the bug

Where Automated checks in FastPass finds failed instances, Assessment finds none.

**To Reproduce**
1. Go to one of the URLs below
2. Run Automated checks in FastPass
3. Run Automated checks in Assessment
4. Compare results

URL | FastPass | Assessment
-- | -- | --
https://www.washington.edu/accesscomputing/AU/before.html | 24 failed instances | Never completes
https://docs.mi

[2020-08-10 17:14] LiLoDavis commented on #3230
Version 2.20.0 | Powered by axe-core 3.5.1

[2020-08-10 17:28] ferBonnin commented on #3230
Talked offline with Lisa Louise, this doesn't repo

[2020-08-10 17:28] #3230 closed

[2020-08-10 20:06] ferBonnin commented on #3229
Per conversation with Peter, would it be possible to make the text "start over" a selectable element users can use to scan?

[2020-08-10 20:17] ferBonnin commented on #3153
@LiLoDavis the new UI has the target page to the side of the left nav bar; given on how the page is structure and the keyboard order we cannot contain the command bar as part of this banner landmark; we could create another banner landmark (or any other landmark that is relevant for this section; maybe navigation?)

[2020-08-11 15:46] LiLoDavis commented on #3153
@ferBonnin It looks like we could include the FastPass/Assessment selector in the navigation landmark by moving `role="landmark"` to the `div` with `id="side-nav-container--28pZA"`.
I'm not sure the  command bar would qualify as navigation, as only one of the controls is a link. We could create a "command bar" landmark by adding `role="region"` plus `aria-label="command bar"` to the `div` with `cl

[2020-08-11 15:57] ferBonnin commented on #3228
Thanks for your feature request @BogdanCerovac!
This suggestion is something we considered back when we were creating Assessment in Accessibility Insights. To simplify the user workflow and reduce the complexity, we decided to have only 3 states inside Assessment: Pass, Fail and Incomplete; with Pass and Fail the only ones the users need to add.

After reviewing this with the team, we have decided

[2020-08-11 15:57] #3228 closed

[2020-08-11 16:55] BogdanCerovac commented on #3228
Thank you for your explanation. I will check the #485

[2020-08-11 17:28] dbjorge commented on #2154
We've now worked with the ESRP folks and provisioned an Apple developer account that can generate the derived cert we'll need. I've also hooked up placeholder secrets in our usual keyvault and piped them into the signing build. The next steps all require an actual mac for testing/validation:

* Generating the certificate we need requires using a mac to create a "certificate signing request" and up

[2020-08-11 18:04] ferBonnin commented on #3082
@lisli1 can you please verify the fix?

[2020-08-11 19:10] lisli1 commented on #3082
LGTM in Canary 2020.8.11.1635

[2020-08-11 19:10] #3082 closed

[2020-08-13 22:51] ferBonnin commented on #3089
@JGibson2019 please validate

[2020-08-17 16:31] JGibson2019 commented on #3089
Checked in Canary and the fix is there!

[2020-08-17 16:49] #3089 closed

[2020-08-17 19:39] dbjorge commented on #3229
@ferBonnin Yes, it is definitely feasible to make the inline text be a second start over button (my understanding is that it should look like a button, not a link, since it doesn't act like a link)

[2020-08-17 19:49] ferBonnin commented on #3229
@dbjorge correct

[2020-08-18 22:10] iamrafan opened #3258 "Clear visualization and show a message to use "Start over" button when using Fastpass link more than once"
## Describe the bug

On clicking FastPass in Launch Pad we trigger a scan and show the details view page, if the FastPass link is used once again on the same page we do not re scan but we clear the results in details view and keep showing the same visualization in the target page. This creates a false sense that the page was re scanned.

This is confusing especially in cases where changes are made

[2020-08-19 20:42] dbjorge opened #3263 "Android: on mac in dark mode, device setup dialog title bar has weird blank space if not focused"
## Describe the bug

On a Mac, when the device setup dialog isn't the currently focused window, its title bar has a weird looking blank space when the window isn't focused. I'm not sure what the "normal" mac behavior is here (is the window title text supposed to be centered?), but it probably isn't what we see in this screenshot:

![image](https://user-images.githubusercontent.com/376284/90687069-

[2020-08-19 21:36] DaveTryon commented on #3263
For reference, here's what happens with a system app (the image viewer):
1. The title is always centered
2. Everything is greyed out (but still visible) when the focus is lost

Image with focus:
<img width="606" alt="Reference (with focus)" src="https://user-images.githubusercontent.com/45672944/90692022-39d4b800-e229-11ea-83bc-c3922ec4ac73.png">

Image without focus:
<img width="609" alt="Referen

[2020-08-20 21:53] DaveTryon opened #3270 "link-name rule is disabled with axe-core 4.0.1 integration"
## Describe the bug

axe-core 4.0.1 introduces a false positive in the link-name rule (see https://github.com/dequelabs/axe-core/issues/2459), so we've temporarily disabled this rule. This creates a potential for regression, so we'll want to move to a newer version of axe-core quickly after this false positive is addressed.

## Context (please complete the following information)

- OS Name & Versi

[2020-08-20 21:55] ferBonnin commented on #3270
marking as blocked until the false-positive in the rule is addressed

[2020-08-21 16:47] JGibson2019 opened #3271 "UI Element for not supporting chrome-error:// pages"
## Describe the bug
Our extension normally does not support scanning browser internal pages. We have a popup that informs users of this when they try to scan "chrome://" pages, but users who try to scan "chrome-error://" pages are just left with a hanging scan. To prevent this from happening, we should show the popup for both "chrome-error://" and "chrome://" page scenarios

**To Reproduce**
Steps

[2020-08-21 20:10] karanbirsingh opened #3272 "target page exclamation points have no border in Edge high contrast mode"
## Describe the bug

When in Windows high contrast mode in Edge, the exclamation points on the target page can be hard to make out because there's no border separating the black background of the icon from the page.
![high contrast exclamation point](https://user-images.githubusercontent.com/7775527/90930186-f73ce800-e3ae-11ea-81cc-f782a39e5621.png)

**To Reproduce**
Steps to reproduce the behavio

[2020-08-25 17:41] ferBonnin commented on #981
@iamrafan this should now be addressed in Accessibility Insights for Web Version 2.21.1 | axe-core 4.0.1; could you please confirm?

[2020-08-25 17:51] ferBonnin commented on #653
We are looking into this, exploring some options and we have to open questions around EARL, if someone can help with the answer we will appreciate it!
- Does EARL has a way to add additional custom fields?
- Does EARL has a validator we could use to test the formatting is correct?

[2020-08-25 20:36] kewisch commented on #445
Thank you for the feedback Dan. I've filed [bug 1661125](https://bugzilla.mozilla.org/show_bug.cgi?id=1661125) on our end to improve the error messages. We'd love to increase compatibility between browsers and will see how to best approach this for the future. Let us know if you come across any other differences that were difficult to debug.

[2020-08-28 17:49] LiLoDavis opened #3300 "Text corrections in AI-Web > Needs review > color-contrast > How to check"
## Describe the bug
Several changes are needed in AI-Web > Needs review > color-contrast > How to check.

1. The content mentions text that "is intended to be invisible," but our tool doesn't return instances with a contrast ratio of 1:1 as **needs review** (or even as **fail**). (The rule does return such instances as **needs review** in axe-coconut.)
2. It says "contrast **compared to** the back

[2020-08-28 18:42] LiLoDavis opened #3301 "AI-Web > Assessment > Adaptable content > Contrast isn't showing instances"
## Describe the bug

In two places, the tool is supposed to show instances of the color-contrast rule that need review:

- FastPass > Needs review > color-contrast
- Assessment > Adapable content > contrast

However, the following pages are showing inconsistent results in the two place:
1. https://www.w3.org/WAI/standards-guidelines/aria/
2. https://www.factzoo.com/mammals/types-of-monkeys.htm
3.

[2020-08-28 20:45] pownkel commented on #3301
This looks like it might have been caused by the recent upgrade to Axe 4.0

[2020-08-28 20:51] ferBonnin commented on #3301
Interesting, how so?

[2020-08-28 22:19] pownkel commented on #3301
We get the color contrast evaluate function directly and wrap it in another function, but in axe 4 they've changed how they store/access those functions, so our check is failing silently. We don't call the evaluate function directly for any other checks, so this shouldn't affect other rules.

[2020-08-31 15:26] dbjorge commented on #3263
@ferBonnin Yes, this is technically feasible (iirc, the title bar already has custom behavior/styling between the 2 platforms)

[2020-08-31 18:49] DaveTryon commented on #3263
@ferBonnin, what do you want to do about the disappearing icons that originally prompted this issue? Can this issue really be "Ready for Work" without that answer?

[2020-08-31 18:51] ferBonnin commented on #3263
@DaveTryon can you clarify?

[2020-08-31 19:34] iamrafan commented on #981
@ferBonnin Yes, this issue has been fixed. Here is the demo page: https://codepen.io/iamrafan/pen/dyMzzmo

[2020-08-31 20:18] ferBonnin commented on #981
hey @cnamal this has now been addressed

[2020-09-01 17:11] LiLoDavis opened #3310 ""Getting Started" should be "Getting started" (sentence case)"
## Describe the bug
"Getting Started" is presented in title case (all words capitalized) but most navigation options and page titles are presented in sentence case (first word capitalized). For example, in the navigation pane, the **Keyboard** test includes the following options:

- Keyboard
  - Getting Started
  - Keyboard navigation
  - No keyboard traps
  - On focus
  - On input
  - No keystrok

[2020-09-02 17:03] pownkel commented on #3153
@LiLoDavis The "navigation" landmark on the left nav is added by office fabric, not by our code, and we don't have a way to remove it to move it to the larger container. Would it be better to create a new landmark for the switcher, or create a larger landmark to encompass both the switcher and the nav (with the nav still inside its own smaller landmark)?

[2020-09-02 17:55] LiLoDavis commented on #3153
Hm. The switcher by itself doesn't really meet the definition of a navigation landmark. Also, if you have multiple navigation landmarks in the same page, each is supposed to have a label that makes it unique. I presume we can't add a label to the fabric control.

I think it would be best to create a custom landmark for the switcher by adding `role="region"` and `aria-label="activity"` to its conta

[2020-09-02 17:57] ferBonnin commented on #3153
@LiLoDavis sounds good, although I would suggest `aria-label = "workflow"` instead of _activity_

[2020-09-02 18:04] LiLoDavis commented on #3153
@ferBonnin I like "workflow" better than "activity". However, the landmark would be called "workflow," and its only control would be called "select activity". Seems like we might be introducing an additional term unnecessarily.

[2020-09-02 18:06] ferBonnin commented on #3153
I see what you mean, the control says "select activity". Agree we should name it "activity" then

[2020-09-02 19:16] DaveTryon commented on #3263
@ferBonnin: When @dbjorge opened this issue, the primary concern was about the blank space in the top left corner--that blank space is where the close/minimize/fullscreen buttons live. These buttons disappear when we lose the focus. The secondary concern was that the text wasn't centered, like most Mac apps.

The question of "should we center text on Mac" seems to be answered (yes we should). The

[2020-09-02 20:09] ferBonnin commented on #3272
We should add a border to the box containing the target page exclamation point, if possible, doing inverse colors  (white box and black exclamation mark) would be a better alternative.

[2020-09-03 07:06] iamrafan commented on #3095
@ferBonnin This issue is related to https://github.com/microsoft/fluentui/issues/11793 filed by us

[2020-09-04 17:43] LiLoDavis opened #3322 "Adaptable content > Text spacing - New visual helper"
## Is your feature request related to a problem? Please describe.
For this requirement, users must apply certain styling properties to verify that text adopts them with no clipping or overlap. At present, users must apply the styling manually to any text in an iframe.

## Describe the desired outcome

- Turning on the visual helper should apply the required style properties to the root html docume

[2020-09-04 17:57] LiLoDavis commented on #3096
@sahithikkss Here's our proposed short-term solution. Would you please try out the instructions below and tell us what you think?

For a longer-term solution, we've added feature request #3322 specifying a visual helper that applies the required styling to the root html document and to any html documents embedded in iframes.

### How to test
This procedure uses the browser Developer Tools (F12).
N

[2020-09-04 22:50] #981 closed

[2020-09-04 22:51] ferBonnin commented on #3301
@LiLoDavis this is now fixed in Canary

[2020-09-06 04:03] CorgiDev commented on #987
In case anyone else looks at this issue, I believe I figured out the cause. I had a similar issue with my resume page on my personal site. I had nested lists formatted in a format similar to the example shown below:

[code]

This seemed like it should count as passing based on the information listed in my previous comment. Additionally, a practice question in a Deque CPACC/WAS prep course made it

[2020-09-07 14:52] FaustinoSolano opened #3326 "Add a 'File Issue' option via the Assessment section to automatically create work items."
## Is your feature request related to a problem? Please describe.
I am unable to use the 'File Issue' functionality from within the Assessment section

## Describe the desired outcome
I would like to be able to file an issue (bug) via Azure DevOps when using the Assessment section.

## Describe alternatives you've considered
Currently we have to copy and paste the data from the assessment into a m

[2020-09-08 15:43] LiLoDavis commented on #3153
Looks great!

[2020-09-08 15:43] #3153 closed

[2020-09-08 17:15] RobGallo commented on #3326
@FaustinoSolano ,
Would you be willing to fill in the rest of the information for the feature? i.e.,

- Is your feature request related to a problem? Please describe.
- Describe the desired outcome
- Describe alternatives you've considered
- Additional context

This will help us build the feature you want and prioritize the work.

[2020-09-09 16:07] LiLoDavis commented on #3301
Looks good to me.

[2020-09-09 16:07] #3301 closed

[2020-09-09 17:41] dbjorge commented on #3326
Adding a :+1: by proxy; a person I was interviewing recently (who shall remain anonymous) had the same request/suggestion

[2020-09-09 18:35] ferBonnin commented on #3263
Per conversation with Peter and after reading Dave's comment, yes, lets also simulate what Mac apps do if feasible.

[2020-09-10 16:08] aardrian commented on #394
The Edge DevTools team has deployed this feature to Chromium and it is coming in Edge 86:
https://docs.microsoft.com/en-us/microsoft-edge/devtools-guide-chromium/experimental-features#enable-source-order-viewer

While I think it still has value in the Insights tool, I will close this since the core feature is at least available to devs.

[2020-09-10 16:08] #394 closed

[2020-09-10 19:14] LiLoDavis opened #3337 "Text changes related to color-contrast 'needs review'"
## Describe the bug

The color-contrast rule can generate 'needs review' instances for elements that contain icons. We should tell users to ignore icons.

## Corrected text

### FastPass > How to check
New first bullet, modified start of second bullet. All other text remains as is, including links.

### Assessment > Adaptable content > Contrast > How to test
Add a new first step, and modify the se

[2020-09-11 15:53] LiLoDavis commented on #3096
@ferBonnin I presume we don't want this to be closed?

[2020-09-11 21:43] LiLoDavis commented on #3300
Obsolete. See issue #3337

[2020-09-11 21:43] #3300 closed

[2020-09-14 20:33] FaustinoSolano commented on #3326
I am unable to use the 'File Issue' functionality from within the Assessment section.

I would like to be able to file an issue (bug) via Azure DevOps when using the Assessment section.

Currently we have to copy and paste the data from the assessment into a manually created bug.

The fact that the option is there in the Automated Checks but not Assessment sections seems odd, is there a particular

[2020-09-14 22:55] waabid commented on #3258
I'm not sure if I agree with the expected behavior on this one. Previously, before this was broken, what would happen is that we would just show the details view again (and not re-scan). Is there a reason we want to change that expected behavior?

As in to say: the expected behavior should be that the details view instances don't disappear (which is the actual bug here).

[2020-09-14 22:59] ferBonnin commented on #3258
with the old results or with no results?

can you clarify this sentence? not sure if I follow

[2020-09-15 18:31] ferBonnin commented on #3310
thanks for the fix @CorgiDev!
@LiLoDavis this is now in canary.

[2020-09-15 18:39] LiLoDavis commented on #3310
Looks good!

[2020-09-15 18:39] #3310 closed

[2020-09-16 16:57] JGibson2019 commented on #3271
Easiest workaround is to download a local copy of the site’s outer HTML and scanning that. You can do this by running “document.documentElement.outerHTML” in the console, copying the output, saving it to a local file, and then running the extension there.

[2020-09-16 19:09] cliffkoh opened #3365 "testing bot"
making sure the bot was migrated properly

[2020-09-16 19:10] #3365 closed

[2020-09-17 13:57] sahithikkss commented on #3096
Sorry for the delay. I tried the steps on a non-iframe negative scenario. Text Spacing is as expected.

But, it is still going to be manual test. Is my understanding correct? If so, the style being available as AccessibilityInsights**RecommendedBookMarklet**  (with a link on browser extension/desktop exe) would be better than debug-console steps as most UX developers and testers are already aware

[2020-09-17 17:40] EqualEntry-Heather opened #3371 "False positive report of aria-hidden-focus"
## Describe the bug

Ran MS A11y Insights for Web on a clients test environment and results appear to be a false positive...
Failed - aria-hidden-focus: Ensures aria-hidden elements do not contain focusable elements

Snippet provide =
 `<div data-index="-1" tabindex="-1"   class="slick-slide slick-cloned" aria-hidden="true"   style="width: 1338px;">`

How to fix Focusable content should have tabin

[2020-09-17 17:56] ferBonnin commented on #3096
@sahithikkss yes, this will still be a manual test.
we have filed a feature request for this #3322 too to make it assisted and we will be tracking users upvotes for it.

[2020-09-18 17:54] lisli1 commented on #3371
Hi @EqualEntry-Heather, I tried to repro this [here](https://codepen.io/lisli1/pen/MWyPjrV) with the code snippet you provided, but I did not get an error. Based on this and the tab stop issue you mentioned, I suspect that something else or a combination of things on the page is causing this issue.

[2020-09-18 18:46] ferBonnin commented on #3326
thanks for the feature request @FaustinoSolano

We reviewed this with the team and there are some interesting questions on providing the option to file bugs in Assessment (e.g. at what level do we file the bug, requirement or instance? how does it look like for manual requirements where there isnt a path or code snippet).

We will leave this feature request open to allow the community to upvote an

[2020-09-19 00:32] cliffkoh opened #3377 "test"
test

[2020-09-19 00:34] #3377 closed

[2020-09-19 00:36] cliffkoh opened #3378 "testing bot"
test

[2020-09-19 00:44] #3378 closed

[2020-09-22 18:39] waabid commented on #3258
![fastpassclicktwicePRE](https://user-images.githubusercontent.com/32555133/93922912-7764af00-fcc7-11ea-9e15-25aa1f1446e2.gif)

Here is the behavior we had before this bug went in (around the time Needs Review went in). As you can see, if we already have automated checks enabled, we do not re-scan. The behavior described in the bug's expected outcome/the comment above is notably different from thi

[2020-09-22 18:52] ferBonnin commented on #3258
Got it, thanks @waabid! I am marking this as needs triage to continue the conversation. The previous behaviour doesn't match the expectations but it does keep the same data in both the visualization and the details view which is slightly better than showing two different things (visualization but clean details view).

To summarize:

* before needs review feature: both the visualization and the aut

[2020-09-22 19:07] waabid commented on #3258
Sounds good!

For what it's worth, if we do want to re-scan every time fast pass is pressed, it should be fairly easy to do.

[2020-09-24 20:04] CorgiDev commented on #1796
It seems to have to do with the use of `<div>` tags that are then given the role of table instead of semantic tables. The functionality of the table role greatly depends on the screen reader / browser combination. For example, I was able to navigate the tables in the card using the NVDA keyboard shortcuts when using NVDA with Firefox, but not using NVDA with Chrome or the Chromium based Edge. Look

[2020-09-25 20:00] #3371 closed

[2020-09-28 20:04] ferBonnin commented on #3258
reviewed this with Peter again. Makes sense to re-scan every time fastpass is selected.

[2020-09-29 09:42] Bram-diederik opened #3414 "WCAG 1.2.3 is missing in report"
I did a full report for a website and found out one WCAG item (WCAG 1.2.3) is missing in the report.
The application states that is does a full AA test of a website but if this is missing this is not the case.

please find the attached generated in the zip and see that WCAG 1.2.3 is missing

[PuberGezond_Assessment_20200915_Home_nr1.zip](https://github.com/microsoft/accessibility-insights-web/file

[2020-09-29 17:02] ferBonnin commented on #3414
Hi @Bram-diederik thanks for the bug report!

In Assessment, the test _Multimedia_ > requirement _Audio description_ maps to both 1.2.3 and 1.2.5. If you meet 1.2.5, you also meet 1.2.3.  Here’s a clarification from [Understanding Success Criterion 1.2.5: Audio Description (Prerecorded)](https://www.w3.org/WAI/WCAG21/Understanding/audio-description-prerecorded.html):

1.2.3, 1.2.5, and 1.2.8 overl

[2020-09-30 17:40] ferBonnin commented on #3337
verified in Canary :)

[2020-09-30 17:40] #3337 closed

[2020-09-30 20:15] joelkseattle opened #3419 "Accessibility Insights false positive bug when dealing with Shadow Text and Blur"
## Describe the bug

When using CSS text shadow, seems like Accessibility Insights will falsely think the shadow blur is a background color and will show a color constrast defect.
**To Reproduce**
Steps to reproduce the behavior:

1. https://flow.microsoft.com/en-us/
2. Run Accessibility Insights
3. Scroll down to "Explore Power Automate templates" section
4. See error indicated on the "Featured t

[2020-09-30 20:29] iamrafan opened #3421 "Remove tab stop/keyboard focus on the "HTML" cards in HTML report"
## Describe the bug

The HTML cards in failure instances in the HTML report are currently focusable. But these cards need not be selectable/focusable as there is no action available(non interactive) once we focus on them.

Removing the keyboard focus would not have an impact on AT users as the table content is available in browser/scan mode using table commands

**To Reproduce**
Steps to reproduce

[2020-10-01 14:13] mgifford opened #3425 "Support for French & other languages"
## Is your feature request related to a problem? Please describe.
I believe that this software (like many accessibility tools) is only available in English. Many users of the web speak other languages.  How do we support more people being able to understand how to create accessible content.

## Describe the desired outcome
I'd like to be able to add French strings into the interface and provide be

[2020-10-01 22:28] jamalmazrui opened #3426 "Latest Node.js interpreter on Windows cannot import accessibility-insights-report package"
I am trying to create a Node.js-based command-line utility that takes an Axe results.json file as a parameter and produces an HTML report in the format of the Microsoft Accessibility Insights for Web browser extension. I think the following Node package should make this possible:

https://www.npmjs.com/package/accessibility-insights-report

However, I cannot successfully import the accessibility-i

[2020-10-02 10:15] FernandVO opened #3430 "[Feature Request] Add a failure description"
Some assesments have a failure description option, but some don't.

**Steps to reproduce**
Example: Native Widgets > Instructions

- The assesment shows a list of all form fields it encounters

- In this example a Yes and  No radio button are not programmatically related to a question so I fail them:

![radiobuttons](https://user-images.githubusercontent.com/72253412/94910477-0bdbc800-04a5-11eb-80

[2020-10-02 16:28] ferBonnin commented on #3430
Hi @FernandVO Thanks for your feature request! This looks like a duplicate for #485.
Could you please take a look and let us know if that feature request covers this one?

[2020-10-02 19:10] jalkire opened #3431 "Details dialog not rendering Fix the following on some pages"
## Describe the bug

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://flow.microsoft.com/en-us/
2. Run Automated Checks
3. Click on a failure instance on the target page
4. Observe that fix the following renders an empty bullet list

## Expected behavior
Fix the following displays text

## Screenshots

![image](https://user-images.githubusercontent.com/4615491/94960211-58280780-

[2020-10-05 18:25] karanbirsingh opened #3435 "pass/fail radiobuttons in assessment don't show selected state (windows high contrast + edge)"
## Describe the bug

In Edge + Windows HC, the radio buttons in assessments are always white even if selected. It's therefore unclear what the state is. This issue only shows up when Windows high contrast mode is on. Toggling high-contrast mode from the extension itself (in both chrome and edge) produces the right behavior.

**To Reproduce**
Steps to reproduce the behavior:

1. Add Accessibility I

[2020-10-05 18:44] dbjorge commented on #3435
Potentially related fluentui issues/PRs:

* most similar issue, wontfixed: https://github.com/microsoft/fluentui/issues/13768
* similar issue, fixed in office-ui-fabric-react@v7.121.7: https://github.com/microsoft/fluentui/issues/13767
* PR that fixed 13767: https://github.com/microsoft/fluentui/pull/13846