[2020-10-05 19:15] dbjorge commented on #3435
In the latest Fluent UI (7.144.2 as of writing), this issue is sort-of resolved; the choicegroup buttons do use our override colors in that version, but we're providing override colors that don't meet contrast requirements, so it's a different problem rather than a complete fix:

![image](https://user-images.githubusercontent.com/376284/95121777-8747ae80-071d-11eb-8ccb-f00248b09845.png)

(there ar

[2020-10-06 03:43] ferBonnin opened #3438 "Accessibility Insights for Android bugs are filed with Web tags in ADO"
## Describe the bug

Accessibility Insights for Android bugs are filed with Web tags in ADO

**To Reproduce**
Steps to reproduce the behavior:

1. Open Accessibility Insights for Android, scan an app
2. Select file a bug with Azure DevOps settings
3. The bug is filed but the tags added say "Accessibility Insights for Web"
![tags include Web instead of Android](https://user-images.githubusercontent

[2020-10-06 06:00] iamrafan commented on #3419
@joelkseattle Thanks for filing the issue. I filed issue https://github.com/dequelabs/axe-core/issues/2541 with axe-core and we shall update you once we release the fix

[2020-10-06 08:51] iamrafan commented on #3258
As discussed with @ferBonnin, the following issue also needs to be fixed:
- Open a sample target page and go to AI Web ad hoc tools
- Turn on the automated checks toggle
- Click the ```List view and filtering``` link below it
- Observe that the details view is blank without any results

![MicrosoftTeams-image](https://user-images.githubusercontent.com/22068434/95180076-53e53e00-0776-11eb-917a-b8d4

[2020-10-06 18:02] ferBonnin opened #3446 "Background color when expanding a rule should stay grey"
## Describe the bug

The Background color in FastPass is grey. When you expand a rule, the background color is white.

**To Reproduce**
Steps to reproduce the behavior:

1. run Automated checks (fastPass) in a page with issues
2. expand a rule
3. notice that the background color for the expanded cards is white instead of grey.

## Expected behavior

the background color should stay grey (#F8F8F8)

[2020-10-07 16:14] dbjorge commented on #3438
@ferBonnin Should this be based strictly on the product name, or should it match how our application filename works and include the environment name when the environment is non-prod? ie, prod AI4Android would say "Accessibility Insights for Android" in either case, but would you prefer that canary AI4Android use "Accessibility Insights for Android" or "Accessibility Insights for Android - Canary"?

[2020-10-07 16:16] ferBonnin commented on #3438
@dbjorge just the name of the product name ("Accessibility Insights for Web" "Accessibility Insights for Android") no need to add the environment.

[2020-10-07 17:02] LiLoDavis opened #3448 "Reports in Web and Android tools have links that can't be distinguished from surrounding text"
## Describe the bug

In the Web and Android reports, some links can't be visually distinguished from surrounding text.

In both Web and Android reports:
- For rules that pass or N/A, the links to WCAG success criteria

In Web reports:
- Links in the footer to http://aka.ms/AccessibilityInsights

## Expected behavior

Links must have a distinct visual style (e.g., bold, italics, underlined) or a co

[2020-10-09 19:37] #3425 closed

[2020-10-09 19:37] ferBonnin commented on #3425
Hi @mgifford! thanks for the feature request.

Apart from the initial effort to translate the whole application, there are also other implication around compliance, maintainability, added load on translation for each release or text change and a considerable infrastructure investment to enable this.
After carefully reviewing with the team and weighting it against other possible efforts we can do f

[2020-10-09 20:00] #3430 closed

[2020-10-09 22:54] mgifford commented on #3425
Thanks @ferBonnin - should some organization step up willing to maintain the translations for a second language, would that change the decision?

This is a great open source tool. Surely some French, Spanish, Dutch or German speaking country might have a government who might be interested in having it in their language who might be able to front the cost and responsibility for this.

It's a big ta

[2020-10-12 16:45] dbjorge commented on #3446
Didn't mean for this to auto-close. Fix is in master, should be ready to validate (modulo waiting for a canary build)

[2020-10-12 16:56] ferBonnin commented on #3270
verified in version 2.22

[2020-10-12 16:56] #3270 closed

[2020-10-12 20:04] ferBonnin commented on #3435
@iamrafan can we please take a look at the fluent UI update to see if it introduces other HC issues? @dbjorge was this pushed to playground?

[2020-10-12 20:11] ferBonnin commented on #3431
Per conversation with Peter, looks like this particular page has a CSS rule that if it has aria-hidden = true, then it doesn't display the element. The color boxes are hidden on purpose so the screen reader doesn't read them (since we already add the HEX as part of the text).

Given that this particular page is doing something odd, we are marking this as out of scope.

[2020-10-12 20:11] #3431 closed

[2020-10-12 20:13] ferBonnin commented on #3426
Moving this to feature request to have a conversation about this

[2020-10-12 20:20] ferBonnin commented on #3448
Per conversation with Peter, lets fix this but we might need to change our blue color for links, since it doesnt pass with grey text (like the web footer or the how to check cards)

[2020-10-12 20:26] ferBonnin commented on #3448
@LiLoDavis could you please take a look at possible fixes here? Our blue color for links is not 3:1 against the grey text we use in some places (footer and cards in fastPass). Should we change that light grey or make the blue link slightly darker?

[2020-10-13 16:13] LiLoDavis commented on #3448
@ferBonnin I recommend making the grey darker. I wasn't able to find a darker blue that passes. Changing the gray (currently #4c4c4c) to #222222 looks good to me and has a contrast ratio of 3.027:1 compared to the links.

[2020-10-13 21:40] dbjorge commented on #3435
@ferBonnin Just pushed it to [playground](https://chrome.google.com/webstore/detail/accessibility-insights-fo/oiokpkjanjfndgbdgepalohbolalekek) now (sorry for the delay, needed to fix a few unit tests before it became releasable), should be there as soon as it clears store review.

[2020-10-14 17:30] dbjorge commented on #3435
I spent an hour or two investigating more immediate workarounds. I think the "right" workaround would probably be along the lines of:

* Add a detector to the background page similar to our unified HC detector that is along the lines of on `window.matchMedia('(forced-colors: active)').addListener(mq => userConfigActionCreator.nativeHighContrastTransition(mq.matches))`;
* Use that to set our fabric

[2020-10-15 23:30] iamrafan opened #3475 "Tab stops visualization is broken on the PowerBI web page"
## Describe the bug

Tab stops visualization is broken on the left pane in PowerBI web page

## Screenshots
![tabstops-viz-bug](https://user-images.githubusercontent.com/22068434/96196148-8d9b0f00-0f03-11eb-9c6d-b534d7f572c6.gif)

## Context

- OS Name & Version: Windows 10 Enterprise, Version: 20H2, Build 19042.508
- AI-Web Version & Environment: Production 2.22.0
- Browser Version: Google Chrome

[2020-10-16 17:16] karanbirsingh commented on #3475
initial triage note - I can reproduce this. Our visualization is unable to find the element.
[code]

outerHTML of element that breaks is:

[code]

The selector `button[pbi-focus-tracker-idx="\37 0"]` doesn't produce an element when queried in `svg-drawer`. We should check why that is / whether the selector value is changing. The `\37 0` is also odd given the `70` in the HTML.

https://github.com/m

[2020-10-16 17:57] RobGallo commented on #1796
We see the problem as being the current UI is confusing to a screen reader user because we have an unexpected control type which receives focus, and it causes NVDA’s focus mode to be activated automatically. The user could always press escape to get out of focus mode; they just aren’t given the right context to understand that’s what they should do.

An additional problem is that in the report UI,

[2020-10-16 18:00] RobGallo commented on #3421
While not an exact duplicate, issue #1796  seems to encompass the issue reported in this bug. So we will label this as a duplicate and address the problem in the earlier bug.

@iamrafan , if you see that as a problem, please let us know.

[2020-10-16 18:02] #3421 closed

[2020-10-16 18:37] iamrafan opened #3476 "HC Black: Links in launch pad and target page link in details view do not have sufficient contrast in both normal and on hover states"
## Describe the bug
The inks in launch pad and target page link in details view do not have sufficient contrast against the background in both normal and hover states

**To Reproduce**
Steps to reproduce the behavior:

1. Turn on windows high contrast and select High Contrast Black
2. Launch the AI Web Playground in Edge
3. Observe/Inspect the blue link do not have sufficient contrast

## Expected

[2020-10-16 22:59] ferBonnin commented on #3425
Thanks @mgifford! it is an interesting idea; someone willing to do the translation would help for the translation part. However, there are still other investments that need to be done to enable the infrastructure to add new languages and at this moment, we cannot take them.

[2020-10-17 01:00] mgifford commented on #3425
That's totally fair..  I know it's definitely not trivial. Had hoped it would be a standard practice to build for mulit-lingual products in MS.

[2020-10-19 15:49] Anschur opened #3486 "Can a list have children that are not listitem (or group)"
Hi!

If I have list (`ul`) and place a `button `directly inside it get an error that the list is not correctly structured:
https://dequeuniversity.com/rules/axe/4.0/list?application=msftAI

But if I have a structure where I use roles instead of semantic elements:
\<div role="list">
  \<div role="listitem">...\</div>
  \<div role="listitem">...\</div>
  \<button>Click me\</button>
\</div>

Accessib

[2020-10-19 19:44] DaveTryon commented on #3486
Thanks, @Anschur! We're investigating this now and will update this issue once we have more information.

[2020-10-19 20:09] ferBonnin commented on #3475
Per conversation with Peter, lets time box the investigation to 4 hours max, if we cannot find anything after that time, lets discuss further

[2020-10-21 17:31] DaveTryon commented on #3486
@Anschur, this appears to be a shortcoming in axe-core (the engine that we use for scanning). We've opened dequelabs/axe-core#2576 to report it and will pick up the fix once it's available.

[2020-10-23 17:35] juchampa commented on #3426
Thanks @jamalmazrui for your feature request! Can you please respond to the following questions to help us better understand your request:
1. Is your feature request related to a problem? Please describe it.
2. Describe the desired outcome you expect.
3. Describe any alternatives you’ve considered so far.
4. Any additional context you can provide about this feature request.

[2020-10-23 18:17] jamalmazrui commented on #3426
I already answered most of these questions, and the initial reply
implied an understanding of the issue, but let me try again.

1. Is your feature request related to a problem? Please describe it.

This is about a Node.js package that I referenced by URL.  Its purpose
is to create an HTML report in the same format as the Microsoft
Accessibility Insights browser extension.  The ReadMe file includes

[2020-10-23 18:47] ferBonnin commented on #3446
verfied in canary

[2020-10-23 18:47] #3446 closed

[2020-10-26 21:23] dbjorge opened #3529 "web e2e flakiness: pageerror with message 'Object'"
## Describe the bug

Recently, we've been seeing a high number of web E2E failures in an assortment of different test cases with errors of the form:

[code]

* [Example failure](https://dev.azure.com/accessibility-insights/accessibility-insights-web/_build/results?buildId=15110&view=logs&j=952ed597-794a-5756-0328-a93bb2daa2a4&t=46864a42-71df-5c2d-c60f-5fec8d56499d&l=33)

@waabid and I made some at

[2020-10-27 10:17] joppekroon commented on #3322
We unfortunately use a lot of nested iframes, so we are heavily impacted by Accessibility Insights referring to a bookmarklet that does not actually work for us.

Although it is possible to add this to [improve the code of the bookmarklet](https://github.com/joppekroon/bookmarklets/blob/master/text-adaptation.js), I believe using the same style injection system that Accessibility Insights already

[2020-10-27 19:02] ferBonnin opened #3538 "Export report dialog with Magnifier shifts when typing"
## Describe the bug

When using magnifier, the export report dialog moves unexpectedly when typing (specially if deleting text)

**To Reproduce**
Steps to reproduce the behavior:

Open Magnifier
1. Run automated checks in an Android app
2. select export report button
3. type some text and delete some text
notice how the text box moves when typing and moves erratically when deleting text.

## Expec

[2020-10-27 19:08] ferBonnin opened #3539 "Expand/ Collapse All button could be more descriptive"
## Describe the bug

For screen reader users, the first time they explore the detailed results the Expand / Collapse all button is confusing since there is no context (until there is more tabbing) on what the button is acting on.

## Expected behavior
A aria-label or aria-description that indicates that the button is expanding **all failure instances**

## Context (please complete the following in

[2020-10-27 19:57] ferBonnin opened #3542 "Add additional instructions in the 'Connect to your Android device' / 'Connect to Service' screens"
## Describe the bug

* In the connect to your Android device, we don't provide any text on what this screen is or what to do. Provide more information similar to what we do in other screens
* In the grant permissions on your device, mention in the text that users need to select _try again_
  * should _try again_ be _check again_?

## Context (please complete the following information)

- OS Name &

[2020-10-27 23:12] LiLoDavis commented on #3539
@ferBonnin This is in FastPass > Automated checks?

[2020-10-27 23:14] ferBonnin commented on #3539
yes in both our Web and Android tools

[2020-10-27 23:27] LiLoDavis commented on #3539
An `aria-label` attribute could communicate the function more clearly without changing the visible text. Something like this: `aria-label="Expand all rules to see failed instances."` For screen reader users, the `aria-label` would override the screen text.

[2020-10-27 23:29] ferBonnin commented on #3542
@LiLoDavis any suggestions for the text on the first screen or thoughts on changing to "check again" vs "try again"?

[2020-10-27 23:52] LiLoDavis commented on #3542
I prefer "Try again" but it is pretty vague. Try what, exactly? Perhaps it would help to clarify in the preceding text.

[2020-10-27 23:54] ferBonnin commented on #3542
I like the proposed text. Minor suggestion:

how about then select _try again_ to connect?

[2020-10-27 23:56] LiLoDavis commented on #3542
I like your edit, and I have my own minor suggestion:

[2020-10-28 21:05] DayanaFigueredo opened #3551 "HTML reports WCAG version"
The report might bring some concerns to the final reviewers because the WCAG Criteria version has not been updated.

When every new WCAG Criteria version is released report reviewers would request feedback from the latest version. So if the criteria is supported on the Accessibility Insigths tool, this should be reflected on the report as well.

The supported WCAG version should be displayed at al

[2020-10-29 20:32] ferBonnin commented on #3542
@LiLoDavis any suggestions for the other screen text? (connect your Android device)?

[2020-10-29 20:33] ferBonnin commented on #3486
@iamrafan could you please update?

[2020-10-29 21:09] LiLoDavis commented on #3542
How about this:

[2020-11-03 19:21] ferBonnin opened #3604 "broken link in docs/building-web.md"
## Describe the bug
the link for Fork and clone the repository is broken.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [**Fork and clone the repository** ](https://github.com/microsoft/accessibility-insights-web/blob/master/docs/building-web.md#fork-and-clone-the-repository)instruction in building-web.md
2. Click on 'see git branch setup'
3. receive 404

## Expected behavior

the i

[2020-11-03 21:46] #3604 closed

[2020-11-05 21:59] pownkel commented on #3448
@LiLoDavis The fix is in canary!

[2020-11-06 18:40] AhmedAbdoOrtiga commented on #1753
@ferBonnin  this issue was resolved in  [PR#2798](https://github.com/microsoft/accessibility-insights-web/pull/2798), should we close it or is there a reason to move it to actives?

[2020-11-06 18:41] ferBonnin commented on #1753
@AhmedAbdoOrtiga we keep issues in the Active column when they are _active_ or _resolved_. Someone needs to take a look, confirm the fix and close this issue for it to move to _closed_

[2020-11-10 20:00] #3426 closed

[2020-11-16 17:39] pownkel opened #3658 "Assessment guidance to ensure required fields have a visible indication"
## Is your feature request related to a problem? Please describe.
In the "How to test" section of the "Cues" section for Native Widgets and Custom Widgets , the tester is guided to interact with the highlighted widgets to determine whether it adopts any of these states: Disabled, Read-only, Required.

However, even though WCAG 2.1 SC 3.3.2 Labels or Instructions explicitly states that inputs have

[2020-11-16 17:49] ferBonnin commented on #3658
@LiLoDavis could you please take a look?

[2020-11-16 20:48] LiLoDavis commented on #3658
I'm not convinced failure to visibly indicate required fields is a violation of this (or any) SC.

Neither the 3.3.2 SC itself nor the **Intent** section of the **Understanding** document explicitly mentions it, nor is there a documented **Failure** example for it. (It does appear in the **Examples** and **Sufficient Techniques**, but those don't constitute requirements.)

I believe the need to co

[2020-11-16 21:26] ferBonnin commented on #3658
@LiLoDavis thanks for taking a look into this!

if it is not a failure criteria, we shouldn't add a requirement for it.

[2020-11-16 21:29] ferBonnin commented on #3658
@pownkel I think the reply above should be ok to update the user question. I am closing this issue but if there are additional points made by the user, please feel free to re-open

[2020-11-16 21:29] #3658 closed

[2020-11-19 08:44] iamrafan commented on #3486
@ferBonnin we have been told allowing this use case is not required by ARIA and issue w3c/aria#1033 has been filed to get more clarity about the guidance/definition for "required owned element"

[2020-11-19 17:27] DaveTryon commented on #3542
@ferBonnin, please validate/close at your convenience. Thanks!

[2020-11-19 18:01] ferBonnin commented on #3542
verified in canary, thanks!

[2020-11-19 18:01] #3542 closed

[2020-11-20 17:23] DaveTryon commented on #3539
@ferBonnin, this is fixed in the current Canary bits. Please validate/close when convenient. Thanks!

[2020-11-20 17:33] ferBonnin commented on #3539
validated in Canary with NVDA, thanks!

[2020-11-20 17:33] #3539 closed

[2020-11-23 19:52] RobGallo opened #3688 "[Bug] Next requirement button doesn't expose "next" or ">" behavior to ATs"
## Describe the bug

Quoted from Rob's original bug below:

"Note: The button gives no accessible indication it is meant to move to the next requirement. My understanding is there is a visual _next_ indicator (the presence of a rightward pointing arrow). This could be resolved by

1. Labeling the button simply as "next" or "next requirement" for everyone
2. Adding a character in the accessible lab

[2020-11-23 21:05] ferBonnin commented on #3688
Per conversation with Peter, lets investigate this for a day. If we can't find what the issue is and a possible solution, lets change all the buttons to say "Next requirement" instead

[2020-11-23 21:10] ferBonnin commented on #1753
reviewed this with Peter, this is still active. Ideally we would keep a small padding of white background after the help box.

[2020-11-23 21:13] ferBonnin commented on #3551
Hi @DayanaFigueredo this is now fixed in the [Canary version](https://chrome.google.com/webstore/detail/hbcplehnakffdldhldncjlnbpfgogbem) of Accessibility Insights. Please take a look and let us know what you think!

[2020-11-23 21:15] #3448 closed

[2020-11-24 21:23] pownkel opened #3692 "AI Android hamburger menu not closed by clicking outside"
## Describe the bug

In web, the hamburger menu can be closed by clicking outside the menu. In the electron app, the mouse pointer appears clickable outside of the hamburger menu, but clicking does not close the menu as expected.

**To Reproduce**
Steps to reproduce the behavior:

1. Open Accessibility Insights for Android, connect a device, and scan for issues
2. Resize the window until the left

[2020-11-24 22:25] dbjorge commented on #3692
Escape key also does not dismiss the menu (#3693 fixes both)

[2020-11-25 00:37] ferBonnin commented on #3414
Hi @Bram-diederik this is now fixed! Please take a look at the fix in the [Canary version of Accessibility Insights for Web](https://chrome.google.com/webstore/detail/accessibility-insights-fo/hbcplehnakffdldhldncjlnbpfgogbem) and let us know what you think!

[2020-11-25 00:42] pownkel opened #3694 "AI Android failure highlight color changes in high contrast mode"
## Describe the bug

In Accessibility Insights for Android, the red color highlighting failure instances in the app screenshot changes in high contrast mode to match the lighter red that we use against the black background. It seems odd to change the highlight color on a non-changing background, particularly when this behavior doesn't happen in web.

Also, although we can't predict the background

[2020-11-25 23:40] #3692 closed

[2020-11-30 13:58] iamrafan opened #3703 "Update WCAG mapping for a few rules"
Update WCAG mapping for the following rules to match the mappings in axe-core

Rule name | Current WCAG mapping | Expected  WCAG mapping
-- | -- | --
aria-allowed-attr | WCAG 4.1.1, WCAG 4.1.2 | WCAG 4.1.2
aria-required-attr | WCAG 4.1.1, WCAG 4.1.2 | WCAG 4.1.2
aria-roles | WCAG 1.3.1, WCAG 4.1.1, WCAG 4.1.2 | WCAG 4.1.2
aria-valid-attr | WCAG 4.1.1 | WCAG 4.1.2
aria-valid-attr-value | WCAG 4.1.1

[2020-11-30 21:05] ferBonnin commented on #3694
Per conversation with Peter, this is not a bug. It is ok to change the color in the highlighters of the screenshot to match the failure instance color that is next to them in the list of issues

[2020-11-30 21:05] #3694 closed

[2020-11-30 21:06] ferBonnin commented on #3703
Per conversation with Peter, let's try to tackle this as part of the axe-core update feature, if possible. cc @lisli1

[2020-11-30 21:53] jenniaynlynn commented on #2565
I love this idea!  Our testing team independently came up with this idea and brought it up to ferBonnin...only to learn it was already a suggested feature. The current link text of only the "WCAG x.x.x" criterion implies existing knowledge that may not be there for people.  Even now as an SME, I can recall names of rules better than numbers and they stick with me better.  In addition, there could

[2020-12-01 02:00] #3551 closed

[2020-12-01 15:26] jamalmazrui commented on #3426
Apologies for my delay in responding.  I created the following text
files as directed:  package.json, tsconfig.json, webpack.config.js, and
index.ts.  I then ran the CLI commands (on Windows 10) as directed,
without success.  Here are results from the yarn commands (the node
command did not work either, but I figure the yarn one should be solved
first):

yarn install
This seemed to work without er

[2020-12-02 05:00] #3414 closed

[2020-12-03 18:40] ferBonnin commented on #3229
verified in Canary, looks good!

[2020-12-03 18:40] #3229 closed

[2020-12-03 22:18] ferBonnin opened #3710 "Make needs review test On by default"
## Describe the bug

To increase usage and awareness of the needs review test, let's make it On by default.

## Expected behavior

The _needs review_ test is on by default and users can opt-out of this test by turning it off using the feature flag in preview features.

## Are you willing to submit a PR?
Yes

## Did you search for similar existing issues?

yes

## Additional context
with #3229 addr

[2020-12-04 19:30] ferBonnin opened #3729 "[Bug] Combined report UI changes"
## Describe the bug

A couple UI changes for the combined report:

- Add "Rules" next to the Failed, Not applicable, and Passed test
![](https://user-images.githubusercontent.com/9062104/101206024-5c95ab80-3623-11eb-9bfe-c127e56da6f9.png)
- Add additional information in the footer around us using a clean browser environment and the display size we use to test: "The scan was performed in a clean br

[2020-12-08 23:24] karanbirsingh commented on #3538
@ferBonnin I tried running Magnifier on notepad.exe, a [native HTML <input> element](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input) in Edge / Chrome, and Accessibility Insights. For me all experiences kept the text cursor in the center, so each character change moved the border. I wonder if this is expected behavior or if you had a different experience.

[2020-12-09 00:04] ferBonnin commented on #3538
sent link to two videos to @karanbirsingh. Can only reproduce in Unified.

[2020-12-09 20:15] lisli1 opened #3736 "Add a Label in Name (WCAG SC 2.5.3) requirement in Links test"
## Is your feature request related to a problem? Please describe.

From a [StackOverflow question](https://stackoverflow.com/questions/65207960/in-the-link-purpose-section-shouldnt-wcag-sc-2-5-3-be-referenced):

In the tests of the "Link Purpose" section of Accessibility Insights for Web, there is no reference to WCAG SC 2.5.3, Label in Name.

SC 2.5.3 is referenced in the Native Widgets & Custom

[2020-12-09 21:38] karanbirsingh commented on #3538
I am able to reproduce this with a minimal electron application with a simple textarea. A minimal sample app can be downloaded [here](https://github.com/karanbirsingh/sample-electron-textarea-app).

When Magnifier zooms in such that the textarea exceeds the size of the screen, typing leads to 'jumping' behavior where the Magnifier bounds alternate between centering on the text cursor and what seem

[2020-12-09 21:44] ferBonnin commented on #3538
thanks @karanbirsingh! taking this out of the board and keeping it as needs investigation to follow up.

[2020-12-11 17:01] LiLoDavis commented on #3736
We are investigating using the experimental [label-content-name-mismatch](https://dequeuniversity.com/rules/axe/4.1/label-content-name-mismatch?application=RuleDescription) rule  to address this issue. This rule verifies that the accessible name matches or includes the visible text label. The rule might generate a false positive if there is a mismatch but the visible text label is not programmatic

[2020-12-14 16:56] LiLoDavis opened #3752 "Text changes in Native widgets & Custom widgets > Instructions"
## Describe the bug
The proposed changes are intended to better align the **Instructions** requirements in the **Native widgets** and **Custom widgets** tests with [SC 2.5.3 Label in Name](https://www.w3.org/WAI/WCAG21/quickref/?versions=2.1&currentsidebar=%23col_overview&levels=aaa#label-in-name).
See [Instructions in Native widgets and Custom widgets.docx](https://github.com/microsoft/accessibil

[2020-12-14 17:40] lisli1 commented on #3752
This seems to be related to #3736

[2020-12-14 17:45] LiLoDavis commented on #3752
Yes, both are intended to ensure we adequately cover WCAG 2.4.3 Label in Name.

[2020-12-14 21:04] ferBonnin commented on #3729
To make this changes available to users, this will require a release to the report package and the CLI tool

[2020-12-16 14:26] shawnthompson commented on #445
Why is this issue closed? I would love to use this amazing tool in Firefox.

[2020-12-16 17:08] juchampa commented on #3710
Verified this in canary! Looks good to me :)

[2020-12-16 17:21] #3710 closed

[2020-12-17 01:01] ferBonnin commented on #445
Hey @shawnthompson thanks for your question and your interest in Accessibility Insights!

We revisited this issue internally and we still cannot prioritize this work. As we commented back when this issue was created, the cost to create and maintain this extension for Firefox would be too impactful for the team.

[2020-12-17 14:03] shawnthompson commented on #445
Thanks @ferBonnin. What about having it completely open and let the community support this?

Mozilla has a great team of developers that who worked very hard to get Firefox to work with VoiceOver.

[VoiceOver Preview for macOS Firefox](https://blog.mozilla.org/accessibility/voiceover-preview-for-macos-firefox/)

Maybe they have some bandwidth to work with you folks on this.

I'm actually demoing A

[2020-12-17 23:46] lisli1 commented on #3752
@LiLoDavis, the text changes are now in Canary. Please verify the changes and close out the issue at your earliest convenience.

[2020-12-18 16:46] LiLoDavis commented on #3752
Looks good to me.

[2020-12-18 16:46] #3752 closed

[2020-12-18 20:09] jalkire opened #3768 "False positive report on aria-required-parent with closed Shadow DOM"
## Describe the bug
When an element's parent is contained in a closed Shadow DOM, the aria-required-parent rule will report a failure regardless of the parent element's role.

**To Reproduce**
1. Go to the CodePen repro example or [this page](https://www.msn.com/en-in/feed/personalize/settings)
2. Run Automated Checks
3. Observe the aria-required-parent failures

## CodePen repro example
https://c

[2020-12-21 18:26] karanbirsingh commented on #3538
Updating with smaller video showing Magnifier "jumping" behavior:
https://user-images.githubusercontent.com/7775527/102809317-9e8a5580-4376-11eb-84fb-b9c54769a7c1.mp4

So far it seems the root cause is "extra" Focus events raised by textareas in Electron. Magnifier seems to react to the intermittent events and the viewport shifts.

Here are event recording logs:
[code]

In the Chrome or Edge brows

[2020-12-21 19:34] pownkel commented on #3729
This will be done once we release the service and CLI tool after the holiday change freeze

[2020-12-23 23:07] dbjorge opened #3778 "Contrast > State Changes requirement is missing info & examples content"
## Describe the bug

Assessment requirement 24.2 (Contrast > State changes) is missing its info and examples content (it has no "i" icon in its how to fix panel).

Not sure whether we missed ever getting this written or if it's written and we missed integrating it; @ferBonnin / @LiLoDavis , do either of you know if we have this content ready to go already?

**To Reproduce**
Steps to reproduce the

[2020-12-24 18:35] patrickhlauke opened #3783 "Making a pass/checkmark and a fail/cross a bit more immediately distinguishable in left-hand panel"
When trying to quickly skim over the pass/fails in the left-hand bar, the fact that the icons are all grey/monochromatic can (at least for me) make it really tough to spot/differentiate the checkmarks and crosses

![Example of the left-hand panel showing large number of automated test results - lots of checkmarks, one cross, but as they're all grey solid circles with the icon in white in the middl

[2021-01-04 14:08] iamrafan commented on #3486
@Anschur The description of 'Required owned elements' and 'Owned elements' in ARIA is somewhat problematic. The ARIA working group is working to clarify the definitions to help users interpret the guidance better (w3c/aria#1033).

Going by the discussion in the (w3c/aria#1033) thread, it looks like the example you mentioned need not be failed and hence this is not a missed case or a false negative

[2021-01-04 14:08] #3486 closed

[2021-01-04 17:39] ferBonnin commented on #3783
possible duplicate/ similar to #1877

[2021-01-04 18:28] LiLoDavis commented on #3778
See the attached document for info & examples.
[Contrast__Guidance__NEW_FINAL.docx](https://github.com/microsoft/accessibility-insights-web/files/5766211/Contrast__Guidance__NEW_FINAL.docx)

[2021-01-04 21:38] ferBonnin commented on #3768
per conversation with Peter, the ideal approach would be that axe-core marks this as needs review. In the meantime, marking this issue as blocked and recommending we document in our docs website that closed Shadow DOM is not supported (just as axe-core doesn't support it)

@LiLoDavis could you please take a look at the documented limitations of axe-core and drafting a short FAQ to link to it?

[2021-01-04 21:48] ferBonnin commented on #3783
thanks for the suggestion @patrickhlauke!

We are keeping this feature request open for upvotes from the community.
Previous user testing showed that adding colors was overwhelming for some users and the UI did look too busy, but we could explore subtle changes as suggested. To implement this change, we would need to generate various designs and do user testing first.

[2021-01-05 16:36] LiLoDavis commented on #3768
@ferBonnin yes, will do.

[2021-01-05 17:23] LiLoDavis commented on #3768
@ferBonnin and @peterdur - How does this sound? The last sentence might be unnecessary.

### Do automated checks work on Shadow DOM?
Yes. Automated checks are based on [axe](https://github.com/dequelabs/axe-core/blob/develop/doc/developer-guide.md#virtual-dom-apis), which supports Shadow DOM in _open_ mode.

Because Shadow DOM in _closed_ mode prevents JavaScript from accessing an element's intern

[2021-01-05 20:06] ferBonnin commented on #3768
@LiLoDavis this looks good to me, I will defer to @peterdur for the last sentence.

Apart from Shadow Dom, is there anything else that would be worth noting in our documentation?

[2021-01-06 00:16] jalkire opened #3800 "Default Headings keyboard shortcut conflicts with macOS screenshot shortcut"
## Describe the bug
On macOS, the default keyboard shortcut for Headings is Cmd + Shift + 3. This is the same as [the macOS screenshot shortcut](https://support.apple.com/en-us/HT201361).

**To Reproduce**
Steps to reproduce the behavior:

1. Install AI-Web on a Mac
2. Observe that the default Headings shortcut is Cmd + Shift + 3
3. Attempt to use that shortcut to activate Headings
4. A screenshot

[2021-01-06 00:57] lisli1 opened #3801 "Customizable shortcut unavailable for Needs review test in Adhoc panel"
## Describe the bug

The Adhoc panel contains tests that all have customizable shortcuts via `edge://extensions/shortcuts` or `chrome://extensions/shortcuts`, except Needs review. The Needs review test should also allow the use of a keyboard shortcut to access it.

**To Reproduce**
Steps to reproduce the behavior:

1. Open extension popup
2. Select hamburger menu at top right
3. Select `Keyboard s

[2021-01-06 01:32] lisli1 commented on #3435
In Edge Version 87.0.664.66 (Official build) (64-bit) with (1) Windows high contrast on and (2) the extension high contrast both on and off, the checkbox to turn on the visualization for a specific instance is not visible (first image) unless I am clicking on the instance (second image).
![image](https://user-images.githubusercontent.com/48259897/103718529-ccc58300-4f7b-11eb-9a0f-a37f331ff700.png)

[2021-01-06 18:32] ferBonnin commented on #3703
@dbjorge can this be marked as resolved?

[2021-01-06 19:44] LiLoDavis commented on #3768
I don't have anything at this time.

[2021-01-06 20:36] peterdur commented on #3768
@LiLoDavis @ferBonnin On the last sentence, I'm a little nervous about making security recommendations for other people's code.

[2021-01-07 01:53] lisli1 opened #3803 "General error message for Copy failure details on non-HTTPS and non-localhost webpages"
## Describe the bug

"Copy failure details" from an issue dialog on a non-secure webpage, such as http://www.washington.edu/accesscomputing/AU/before.html, does not work due to Chrome disabling clipboard access for security reasons (see [Additional context](#additional-context)). The error message says "Failed to copy failure details. Please try again."

**To Reproduce**
Steps to reproduce the beh

[2021-01-07 18:04] dbjorge commented on #3768
+1 to Peter's comment. I think the sentiment is still a good idea though; maybe replace the phrase "a security measure" with "an encapsulation measure"?

Minor nitpick: I'd recommend using "shadow DOM" (lowercase shadow) instead of "Shadow DOM"; that seems to be more consistent with the terminology in the [DOM spec](https://dom.spec.whatwg.org/) and [MDN](https://developer.mozilla.org/en-US/docs/W

[2021-01-07 18:18] ferBonnin commented on #3768
Per conversation with the team, would be good to timebox an investigation on detecting _closed shadow DOM_ to alert users that this is not supported and results might be unreliable. We will also move forward with updating the documentation.

[2021-01-07 18:26] jalkire commented on #3768
Fluent UI temporarily switched fluent web components to use closed shadow DOM in October 2020, which may have led to the false positive report we received
https://github.com/microsoft/fluentui/issues/15346

[2021-01-07 18:35] LiLoDavis commented on #3768
@peterdur what do you think of this suggestion?

[2021-01-07 18:35] LiLoDavis commented on #3768
I'm ok with lower case.

[2021-01-07 19:09] peterdur commented on #3768
How about something like this for the third sentence:
Closed mode is sometimes implemented as an encapsulation measure, but if you are experiencing incorrect automated checks results, you may want to consider other approaches.

[2021-01-07 19:12] LiLoDavis commented on #3768
@peterdur this sounds good to me. @dbjorge and @ferBonnin do you agree?

[2021-01-07 20:00] LiLoDavis opened #3806 "Minor text changes in Contrast > UI components and Contrast > State changes"
## Describe the problem

In **How to test**, both requirements mention the same exceptions:

However, this text could be interpreted as meaning that there's another, lower threshold for these components, when in fact there isn't.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to **Contrast** > **UI components** or **Contrast** > **State changes**.
2. Look at the content immediately afte

[2021-01-07 21:40] waabid commented on #3688
I looked into this a bit and it seems to be an issue with chrome.

I created a simple JS fiddle example that shows this behavior as well: https://jsfiddle.net/vf2udxco/1/.

I will look into maybe creating a chromium bug and seeing from there separately from what we want to do here.

[2021-01-08 18:50] dbjorge commented on #3768
I'd expect that the majority case would be for someone in an impacted case to not be able to tell whether they are experiencing incorrect results or not (they're more likely to see false negatives than false positives). Based on that, I'd probably drop the conditional, and maybe even make the rest of the answer a little more firm. Maybe something like:

[2021-01-11 16:29] LiLoDavis commented on #3768
@ferBonnin and @peterdur what do you think of @dbjorge's proposed text?

[2021-01-11 19:16] ferBonnin commented on #3768
I don't think we can make a strong recommendation on using open or close mode, but I agree with the more definitive messaging. How about this:

[2021-01-11 21:04] ferBonnin commented on #3801
Per conversation, once we remove the feature flag we will create this keyboard shortcut. Marking as needs investigation in the meantime since we are still looking for user feedback

[2021-01-11 21:08] ferBonnin commented on #3800
this one and #3801 should be tackled together. In general, we should consider how the different shortcuts affect different OS's and Browsers

[2021-01-11 21:15] ferBonnin commented on #3803
Per conversation with Peter, there isn't something we can do to make this functionality work in unsafe sites (both Edge and Chrome)
We should have a clearer message on why copy failure details is not working (and will not work in this type of sites) instead of asking users to try again.

Since this issue is only reproduced in the target page pop-up, we should:
1) In the toast, keep the message "Fa

[2021-01-13 03:33] DaveTryon commented on #3263
@ferBonnin, I've dug into this, and while centering the text should be fairly simple, the disappearing icons appear to be a bug in Electron. I've created a simplified repro and opened https://github.com/electron/electron/issues/27295 to report it. Here are some options that might be available:

1. If the Electron folks come back with an easy fix for the disappearing icons, we ought to be able to i

[2021-01-15 18:39] dbjorge commented on #3703
Yep! This should be resolved as of prod 2.23.0

[2021-01-15 18:40] ferBonnin commented on #3703
@iamrafan could you please verify and close?

[2021-01-17 13:57] iamrafan commented on #3703
Validate in prod 2.23.0

[2021-01-17 13:57] #3703 closed

[2021-01-17 14:06] iamrafan commented on #3419
@joelkseattle Fixed in Version 2.23.0

[2021-01-17 14:06] #3419 closed

[2021-01-19 23:20] ferBonnin commented on #3438
verified in canary

[2021-01-19 23:20] #3438 closed

[2021-01-19 23:20] ferBonnin commented on #3729
verified in combined report

[2021-01-19 23:20] #3729 closed

[2021-01-20 18:52] hmig commented on #653
@ferBonnin

- the scenarios where having the assessment as data would be helpful / how would you use this data?
1. Import the results back in Accessibility Insights and complete/revise an assessment
2. Import the results into another tool in order to compile the results for an entire website to produce a VPAT

- tell us a bit more about what formats would be helpful and why?
- 1. JSON and csv beca

[2021-01-25 21:03] ferBonnin commented on #3263
Per conversation with Peter, marking this as blocked until the bug in Electron is addressed. If we get user feedback on this issue, lets revisit option 4

[2021-01-27 22:36] DaveTryon commented on #3263
The electron team pointed out that the icons only disappear if the macOS is in dark mode, so our approach here is probably to decide how to respond to system themes on macOS. There may be a similar question about dark mode on Windows. This may bump down the priority.

[2021-01-31 14:51] cutePanda123 opened #3851 "yarn package manager command has a conflict with hadoop yarn command"
## Describe the bug

yarn package manager command has a conflict with hadoop yarn command

**To Reproduce**
Steps to reproduce the behavior:
1. install hadoop yarn command first
2. then install yarn package manager command
3. run the command from yarnpkg with abbreviation yarn install or yarn build
4. see error
[code]

## CodePen repro example
N/A

## Expected behavior
run yarn package manager com

[2021-02-01 19:05] dbjorge commented on #3806
Resolved by @cutePanda123 in #3852 (thanks for the contribution!)

[2021-02-01 20:02] ferBonnin commented on #3806
@LiLoDavis could you please take a look and close? :)

[2021-02-01 20:10] pownkel commented on #3851
As far as I can tell, the `yarnpkg` solution mentioned here seems like the usual solution for this problem. We should make a note of this in the build instructions and update any dev scripts that use the `yarn` command.

[2021-02-01 20:37] LiLoDavis commented on #3806
@ferBonnin Fixed in **Contrast** > **UI Components**, but not yet in > **State changes**.

[2021-02-01 21:03] ferBonnin commented on #3851
Per conversation with Peter, we should document this.

[2021-02-01 21:05] ferBonnin commented on #2154
@ferBonnin to schedule a small feature for this

[2021-02-01 21:06] ferBonnin commented on #3688
@waabid @iamrafan let's please file a bug on Chromium. Marking this as blocked.

[2021-02-01 21:08] ferBonnin commented on #2505
Per conversation with Peter, marking this as out of scope since there isn't any feedback around this issue and no-one has taken a look

[2021-02-01 21:08] #2505 closed

[2021-02-01 21:10] ferBonnin commented on #3435
@ferBonnin to create a feature for OF update.
@iamrafan how did the investigation on playground with the OF update went?

[2021-02-01 21:13] #3271 closed

[2021-02-01 21:13] ferBonnin commented on #3271
Per conversation with Peter, marking as out of scope until ew hear user feedback. Workaround is documented in this bug if needed.

[2021-02-01 21:14] #1753 closed

[2021-02-01 21:14] ferBonnin commented on #1753
Per conversation with Peter, small issue that should not impact usability. Will reactivate if we hear user feedback

[2021-02-01 21:15] ferBonnin commented on #3768
Since this has been documented, marking as resolved and closing.

[2021-02-01 21:15] #3768 closed

[2021-02-01 21:27] ferBonnin commented on #3806
thanks @LiLoDavis! marking this as ready for work to address in **State changes**

[2021-02-01 22:10] mhulse opened #3853 "Info panel as a web permalink"
I would love to be able to have a web permalink, where I can link to the tips/docs found in the various info panels used throughout the sections of the plugin.

For example, I wanted to share this information with my coworker, and it would be nice to not have to say "open up the plugin and navigate to the section ....":

![](https://user-images.githubusercontent.com/218624/106524050-e08ad900-6496-

[2021-02-01 23:25] peterdur commented on #3853
Duplicate/upvote of #2057?

[2021-02-02 05:16] mhulse commented on #3853
Oh my gosh, you're right! I feel so silly that I didn't find that. Thank you for pointing me in the right direction!

[2021-02-02 05:16] #3853 closed

[2021-02-02 11:28] daphneyyt opened #3862 "Queries For Potential False Positives on Accessibility Insights For Android"
Hello, I would like to seek clarification on potential false positives from Accessibility Insights For Android's findings/ reports.

For context: We have done mobile apps scanning with Accessibility Insights and have sent our reports to the app owners for their review and follow-up.

**1. Scenario 1: WCAG 1.3.1, 3.3.2, Accessibility Insights had flagged the following as an ActiveViewName issue (pl

[2021-02-02 19:31] ferBonnin commented on #3853
@mhulse thank you for the feature request and for upvoting #2057!

[2021-02-02 22:15] pownkel commented on #3862
Hi @daphneyyt, thank you for using Accessibility Insights for Android! Since this is not a bug in the service, I've moved it into the repo for our Android app and web extension.

1. **Scenario 1:**  Since this uses a WebView and looks like a web application, we recommend testing with [Accessibility Insights for Web](https://accessibilityinsights.io/docs/en/web/overview/) instead, using the browser

[2021-02-02 23:20] pownkel commented on #3851
The docs changes have just been merged. @cutePanda123 can you take a look and close this bug if that fixes the problem?

[2021-02-03 01:30] peterdur commented on #3806
@LiLoDavis the State Changes fix should now be in Canary.

[2021-02-03 01:53] peterdur commented on #3475
@ferbonnin As @karanbirsingh suggested above, I looked into whether the attribute we're using in the selector is changing, and it appears that it is.

To see this in the example above, right-click and Inspect the chevron next to Favorites. Put focus back on the page and Tab and shift-tab around that chevron and you'll see that the value of the class and pbi-focus-tracker-idx attributes change as y

[2021-02-03 02:10] peterdur commented on #3475
Manually adding stable id attributes to the chevrons in DevTools results in axe-core using those in the selector, which gives the expected behavior:
![image](https://user-images.githubusercontent.com/1752950/106687509-16a48780-6581-11eb-88f9-53748780e8ef.png)

[2021-02-03 14:44] ferBonnin commented on #3475
thanks @peterdur and @karanbirsingh for this investigation!
@iamrafan can we get this information back to the team that reported it, please?

[2021-02-03 19:18] LiLoDavis commented on #3806
Looks good

[2021-02-03 19:18] #3806 closed

[2021-02-03 20:03] cutePanda123 commented on #3851
Just checked the note about yarn vs yarnpkg in the readme. It looks good to me. Closed the bug.

[2021-02-03 20:03] #3851 closed

[2021-02-04 05:51] daphneyyt commented on #3862
Hi @pownkel thank you for your response!

 Noted on the issue for WCAG 1.3.1, 3.3.2 - we will use Accessibility Insights For Web for more accurate findings.

I have a follow-up question:
1) **WCAG 1.4.3** - Noted that there is no issues for the alt text as it is invisible, and was flagged by the Accessibility Insights For Android as a potential finding. However, since this page also uses WebView,

[2021-02-04 20:04] pownkel commented on #3862
Hi @daphneyyt, while it would not hurt to review the items marked "needs review" by Accessibility Insights for Android, you will generally get more relevant results for a WebView using Accessibility Insights for Web.

[2021-02-05 01:09] pownkel opened #3874 "Issue filing fails for some ADO project configurations"
## Describe the bug

When configuring Azure issue filing, the user is given the option to put issue details in either the "description" or "repro steps" field. Depending on which option they choose, filing an issue will create either a Bug or an Issue.

However, some ADO project may be configured to with different work item types. If the user tries to file an issue with a type that does not exist

[2021-02-05 01:30] pownkel commented on #3874
This looks useful--ADO provides an API to get available work item types for a given project:
https://docs.microsoft.com/en-us/rest/api/azure/devops/wit/work%20item%20types/list?view=azure-devops-rest-6.0

Maybe we could provide a dropdown list of work item types for the user to choose from?

[2021-02-05 02:15] daphneyyt commented on #3862
Hi @pownkel noted. Thank you very much for the clarification! Appreciate it :)

I do not have further questions at this point.

[2021-02-05 17:35] ferBonnin commented on #3874
@pownkel what does the scrum setting in ADO has for issues & bugs tracking by default?

[2021-02-05 19:30] pownkel commented on #3874
it has the "Bug" type, just not "Issues."

[2021-02-05 19:32] ferBonnin commented on #3874
with the bug type, if you choose _Repro steps_ in the dropdown does it still fails?

[2021-02-05 19:39] ferBonnin commented on #3874
related to #2920 & #1009

[2021-02-05 19:57] anthonyFer opened #3879 "Headings are not recognized"
Issue Description:
I cannot find headings using MS insights for Web.

To Reproduce:
1. Go to https://staging.pearsonvue.com/About.aspx
2. Click on MS Insights Ad-hoc Tools
3. Check Headings
4. I don't see headings on the page are highlighted.
For example "Driving global change, one exam at a time" is marked as a level 2 heading, but it's not flagged as a heading.

- OS Name & Version: Windows 10 E

[2021-02-05 20:05] pownkel commented on #3862
@daphneyyt Ok, I will mark this issue as resolved. Don't hesitate to ask if you need any additional clarifications from us. Otherwise, if the original issue has been addressed, please close this tracking issue.

[2021-02-05 20:30] peterdur commented on #3879
It looks like headings in the footer of this page are found, but headings inside the [obsolete](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/content) `<content>` element are missed. When the `<content>` element is replaced with a `<div>` the contained headings are recognized and highlighted.

[2021-02-05 21:20] pownkel commented on #3874
It does work with Repro Steps, but it's not immediately clear that that is a solution to the problem

[2021-02-05 21:23] ferBonnin commented on #3874
thanks @pownkel!
Last time we received this issue we updated our documentation. could we ask the user if this clarification helps unblock them? I suggestleaving this open to discuss at bug triage if we want to add additional functionality to clarify this in the settings :)

[2021-02-06 00:09] pownkel commented on #3879
Hi @anthonyFer, Since the `<content>` element is deprecated as @peterdur noted, it is no longer supported in Firefox, Chrome, IE, or Safari. The headers should be recognized if `<content>` is replaced with a supported element, like `<div>` or the recommended `<slot>`. Let us know if you have any additional questions!

[2021-02-08 02:51] daphneyyt commented on #3862
Noted. Thank you for your help @pownkel ! Appreciate it!

[2021-02-08 21:06] ferBonnin commented on #3874
per conversation with Peter, lets add a clarification of what to do if a user receives _server error_ when filing bugs, in the docs > Web > Issue filing (or FAQ) for this. @LiLoDavis can you help us draft this, please?

At this moment we don't believe changes in the extension UI are needed.

[2021-02-09 16:47] LiLoDavis commented on #3874
@ferBonnin I'll be happy to write this up.

[2021-02-09 20:34] DaveTryon commented on #3263
@ferBonnin, am I correct in thinking that we're going with option 4 (use the default title bar on Mac) ?

[2021-02-09 20:57] ferBonnin commented on #3263
yes, please @DaveTryon

[2021-02-09 21:23] pownkel commented on #3874
The user got back to me, and said that using "Repro steps" is failing for them as well. We may need to note that the ADO project must have the Bug or Issue [work item type enabled](https://docs.microsoft.com/en-us/azure/devops/organizations/settings/work/customize-process-work-item-type?view=azure-devops#enable-disable)

[2021-02-09 21:34] ferBonnin commented on #3874
@pownkel interesting! I see that you ask them what they use to file bugs but would be good to add this in the instructions too @LiLoDavis

[2021-02-10 21:40] MohammedAjaz opened #3899 "aria-posinset & aria-setsize not allowed on row element issue with tree grid - false positive"
URL: https://www.w3.org/TR/wai-aria-practices/examples/treegrid/treegrid-1.html
Accessibility Insights for Web: Version 2.23.0

Repro Steps:
1. Navigate to above URL
2. Run Fast Pass
3. Observe "Ensures ARIA attributes are allowed for an element's role" issue

Expected Result: According to New aria1.2 rules aria-posinset & aria-setsize are allowed on <tr> or role="row"
Actual R
![InvalidAriaAttrib

[2021-02-11 16:11] RobGallo commented on #3899
@MohammedAjaz ,

Thank you for filing this issue.

[ARIA 1.2](https://www.w3.org/TR/wai-aria-1.2/) is still a working draft at this time, and therefore is not supported by Accessibility Insights yet.

[2021-02-12 00:06] guillermorueda opened #3907 "Default shortcuts should NOT be the same as browser ones. Example: In Edge, Ctrl+Shift+K is "Duplicate tab" shortcut"
## Describe the bug

**To Reproduce**
Steps to reproduce the behavior:

1. In Edge, press Ctrl+Shift+K
2. Expect the current tab to be duplicated (default shortcut behavior)
3. Instead, [Accessibility Insights add-on has taken over the shortcut](https://accessibilityinsights.io/docs/en/web/reference/keyboard/), and just opens

## Expected behavior

All shortcuts should not override default Edge sh

[2021-02-12 18:12] RobGallo commented on #3907
Related to issue #3800 .

[2021-02-12 18:35] DaveTryon commented on #3263
@ferBonnin, option 4 (just use the default mac title bar) gave us the correct visuals (see #3891), but it had an unfortunate side effect. VoiceOver (the macOS AT) reads the title, which includes more information--it says something like "AccessibilityInsights for Android Canary - Automated Checks", which reflects the value that we set as the title. We basically have 1 string for the AT and one stri

[2021-02-12 18:58] #3862 closed

[2021-02-13 05:00] #3879 closed

[2021-02-16 19:54] ferBonnin commented on #3907
As a workaround, Keyboard shortcuts can be customized by going to edge://extensions/shortcuts or by opening the extension and selecting Keyboard shortcuts in the pop-up menu ([detailed instructions to customize keyboard shortcuts](https://accessibilityinsights.io/docs/en/web/reference/keyboard/#custom-keyboard-shortcuts))

[2021-02-18 20:00] #3899 closed

[2021-02-18 23:54] DaveTryon opened #3938 "Android: No graceful recovery from "Disconnected device" scenario"
## Describe the bug

If the user disconnects their Android device, we have a device disconnected dialog and associated recovery path that attempt to get the user back into a usable state. Due to port forwarding and ADB's behavior, though, the recovery doesn't work and the user's only viable option seems to be to exit the app and restart.

The root problem is that ADB knows when a device is disconn

[2021-02-19 18:21] LiLoDavis commented on #3907
@ferBonnin and @peterdur I propose fixing this bug and #3800 by modifying the keyboard shortcuts as follows:

Windows Key | macOS Key | Command
-- | -- | --
Ctrl+Shift+A (was Ctrl+Shift+K) | Option+Shift+A (was Shift+⌘+K) | Activate   the extension
Ctrl+Shift+1 | Option+Shift+1 (was Shift+⌘+1) | Show or hide Automated checks
Ctrl+Shift+2 | Option+Shift+2 (was Shift+⌘+2) | Show   or hide the visual

[2021-02-19 18:22] LiLoDavis commented on #3800
@ferBonnin and @peterdur I propose fixing this bug and #3907 by modifying the keyboard shortcuts as follows:

Windows Key | macOS Key | Command
-- | -- | --
Ctrl+Shift+A (was Ctrl+Shift+K) | Option+Shift+A (was Shift+⌘+K) | Activate   the extension
Ctrl+Shift+1 | Option+Shift+1 (was Shift+⌘+1) | Show or hide Automated checks
Ctrl+Shift+2 | Option+Shift+2 (was Shift+⌘+2) | Show   or hide the visual

[2021-02-19 18:41] guillermorueda commented on #3907
Ctrl+Shift+A (and other Ctrl+Shift+<Letter/Number>) are indeed used by Edge directly:
![image](https://user-images.githubusercontent.com/1143812/108546630-3be20700-729e-11eb-8c0d-fad47f0ff7ba.png)

If it's going to be impossible/too hard to find a shortcut that works consistently across OSs, some options to consider are:
1. Have different shortcuts based on OS/browser
2. Support shortcuts, and inc

[2021-02-19 19:01] ferBonnin commented on #3907
We don't see ctrl + shift + A in the [list of documented shortcuts ](https://support.microsoft.com/en-us/microsoft-edge/keyboard-shortcuts-in-microsoft-edge-50d3edab-30d9-c7e4-21ce-37fe2713cfad) (and a few weeks ago, ctrl + shift+ K was also not documented) is there more up to date documentation we should be looking at? it would be much easier to find a shortcut that works consistently if we had t

[2021-02-19 19:01] ferBonnin commented on #3907
marking this as blocked for continuing the investigation until we have a complete list of shortcuts

[2021-02-19 19:05] LiLoDavis commented on #3907
@guillermorueda you are correct. I made a mistake when I said Ctrl+Shift+[letter/number] wasn't used. It's only the numbers that aren't used.

I don't see Ctrl+Shift+A in the list of [Keyboard Shortcuts for Microsoft Edge](https://support.microsoft.com/en-us/microsoft-edge/keyboard-shortcuts-in-microsoft-edge-50d3edab-30d9-c7e4-21ce-37fe2713cfad). I don't have **New Application Guard window** in m

[2021-02-19 19:09] guillermorueda commented on #3907
@LiLoDavis, thanks for the quick response/turnaround. Regarding disabling shortcuts, it's not possible (I don't know if there's a way to mark them as optional). When I click on the X to remove it, it gets repopulated with the default when I move the cursor away, effectively not being able to remove it.

[2021-02-19 19:16] LiLoDavis commented on #3907
@guillermorueda I see you are correct again - I can't disable the shortcut for activating the extension. It *looks* like it's cleared, but it resets when I close the window. Other extensions behave the same way.

[2021-02-19 19:32] DaveTryon opened #3942 "Unified: Auto-update not working on macOS"
## Describe the bug

The unified client uses a strategy that is intended to automatically update it. It works well on Windows and Linux, but does not work on Mac.

**To Reproduce**
Steps to reproduce the behavior:

1. Install the Canary build of the unified client (available at https://aka.ms/accessibility-insights-for-android/downloads/CanaryMacOS)
2. Start the app and note the version. Exit the

[2021-02-22 18:36] ferBonnin commented on #3874
marking this as needs more info to track the need of knowing how else do teams file bugs/ issues

[2021-02-22 18:54] LiLoDavis commented on #3907
New proposal:
Use **Alt** instead of **Ctrl** (Windows) and **Option** instead of **Command** (Mac).

Windows Key | macOS Key | Command
-- | -- | --
Alt + Shift   + K | Option +   Shift + K | Activate the extension
Alt + Shift + 1 | Option + Shift + 1 | Show or hide Automated checks
Alt + Shift   + 2 | Option +   Shift + 2 | Show or   hide the visual helper for landmarks
Alt + Shift + 3 | Option +

[2021-02-22 18:57] LiLoDavis commented on #3800
@ferBonnin and @peterdur - New proposal:
Use **Alt** instead of **Ctrl** (Windows) and **Option** instead of **Command** (Mac).

Windows Key | macOS Key | Command
-- | -- | --
Alt + Shift + K | Option + Shift + K | Activate the extension
Alt + Shift + 1 | Option + Shift + 1 | Show or hide Automated checks
Alt + Shift + 2 | Option + Shift + 2 | Show or hide the visual helper for landmarks
Alt + Shi

[2021-02-22 19:01] LiLoDavis commented on #3800
It would be super helpful if someone who uses Linux could test and verify that the Windows commands work in Linux without conflicts.

[2021-02-22 19:15] LiLoDavis commented on #3874
@pownkel and @ferBonnin the [**Web > Issue** filing page](https://accessibilityinsights.io/docs/en/web/getstarted/issuefiling/) currently includes the following instructions:

Is there something else you recommend adding?

[2021-02-22 19:17] LiLoDavis commented on #3874
BTW, I've updated only the documentation for web. Is this relevant to Android and Windows, too?

[2021-02-22 19:48] ferBonnin commented on #3874
@LiLoDavis yes for Android. unsure on Windows @peterdur?

[2021-02-22 21:04] ferBonnin commented on #3938
per conversation with Peter, let's explore option #2: "When the user clicks on "Reconnect device", start with the first setup step instead of the last, so the user always goes through all setup steps. Most of these will transition automatically if the service is already running on the device, so the user impact is negligible in the simple case."

[2021-02-22 21:05] ferBonnin commented on #3942
Per conversation with Peter, let's investigate this further. @DaveTryon is this happening with Canary only or all channels?

[2021-02-22 21:09] ferBonnin commented on #3800
Per conversation with Peter, lets look into this. Peter will review Linux to ensure there are no issues.

Once this bug gets pick up, please sync with PM team since documentation changes and communication to users will be required

[2021-02-22 21:31] peterdur commented on #3874
@ferBonnin Verified that Windows successfully displays the work item form when doing a File Issue to a Scrum project. Need to continue exploring to see what happen if the Bug type is disabled.

[2021-02-22 22:09] ferBonnin commented on #3778
@dbjorge @LiLoDavis this has been addressed; could you please take a look?

[2021-02-22 23:21] peterdur commented on #3800
OK, a visual pass through Chrome and Edge Dev shows that they keep the same shortcuts across platforms. This is explicitly documented in [Chrome's keyboard shortcuts](https://support.google.com/chrome/answer/157179?co=GENIE.Platform=Desktop&hl=en#zippy=%2Ctab-and-window-shortcuts%2Cgoogle-chrome-feature-shortcuts%2Caddress-bar-shortcuts%2Cwebpage-shortcuts%2Cmouse-shortcuts) list in that a single

[2021-02-23 16:35] LiLoDavis commented on #3778
Looks good to me.

[2021-02-23 16:40] LiLoDavis commented on #3874
@ferBonnin So the changes I made to the[ **Web** > **Issue filing**](https://accessibilityinsights.io/docs/en/web/getstarted/issuefiling/) page also need to be made to the [**Android** > **Issue filing**](https://accessibilityinsights.io/docs/en/android/getstarted/issuefiling/) page, correct?

[2021-02-23 18:30] ferBonnin commented on #3874
yes, please!

[2021-02-23 18:31] #3778 closed

[2021-02-24 19:03] LiLoDavis opened #3959 "Add needs review rule: label-content-name-mismatch"
## Is your feature request related to a problem? Please describe.
Increase automated check coverage

## Describe the desired outcome
The axe experimental rule [label-content-name-mismatch](https://dequeuniversity.com/rules/axe/4.1/label-content-name-mismatch?application=RuleDescription) appears in **FastPass** > **Needs review**

## Describe alternatives you've considered
N/A

## Additional contex

[2021-02-26 00:19] waabid opened #3979 "Does not show issues in the details tab/list/cards view when navigating from adhoc panel"
## Describe the bug

No issues are shown when enabling the automated checks and navigating to the list view from ad hoc tools.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Adhoc tools.
2. Enable Automated Checks.
3. After scan is completed, use the "List view and filtering" link to get to the details tab.

## Expected behavior

Should show the cards for the issues.

## Screenshots

[2021-02-26 00:31] waabid commented on #3979
Duplicate to #3258; closing.

[2021-02-26 00:31] #3979 closed

[2021-02-26 23:43] iamrafan opened #3987 "'scrollable-region-focusable' false positive"
This issue is to track the scrollable-region-focusable false positive reported to our support alias.

Link to the external bug filed: https://github.com/dequelabs/axe-core/issues/2822

[2021-03-02 08:51] Bram-diederik opened #3994 "Typo in test."
There are tests added. I think this line has a typo:
`Select-name: Select element must have and accessible name. `

btw the associated tests are all written plural instead of singular

![image](https://user-images.githubusercontent.com/53519837/109622548-8421e480-7b3c-11eb-9b0f-ce8b5b220e2c.png)

[2021-03-02 09:07] Bram-diederik opened #3995 "Date stamp of report is always 19700101"
If you export a report it should have the date added to the file name. but with the current version: 2.23.0
the date in the filename is always 19700101

[2021-03-02 18:07] jalkire commented on #3995
I am able to repro this with the following steps:
1. Navigate to a new page
2. Launch assessment directly from the launchpad
3. Click start new on the dialog
4. Export result

If I first launch fastpass and then navigate to assessment, the problem goes away until I follow those steps again.

[2021-03-02 18:28] ferBonnin commented on #3994
Making a few notes to aid triaging: The rule name and short description are from axe-core directly,  there are a few cases where they refer to things as singular instead of plural although looks like mostly on the cases where its expected to have a single element (skip-link, main landmark, <html> lang)

[2021-03-02 18:34] iamrafan commented on #3475
@ferBonnin Update the team via email with the information to manually add ID attributes to the chevrons to see the expected behavior

[2021-03-02 18:34] #3475 closed

[2021-03-02 18:51] ferBonnin commented on #1166
this link is being flagged by the linter (anchor-is-valid) rule.

[2021-03-03 02:00] #3874 closed

[2021-03-08 23:05] ferBonnin commented on #3995
Per conversation with Peter, lets fix this. The time we should show on the report should be either the time the user selects the " export result" button or the time when the user did their first requirement. The first option is probably the more straightforward one.

[2021-03-08 23:08] ferBonnin commented on #3994
Per conversation with Peter the typo comes directly from axe-core.
@dbjorge can we file a bug (or a PR) on axe-core directly, please? the text should say _must have **an**_ instead of _must have **and**_ and the comment on singular vs plural is also interesting to note

[2021-03-08 23:11] ferBonnin commented on #1166
Per conversation with Peter, lets remove this link from the code until we actually complete this work

[2021-03-09 22:20] dbjorge commented on #3994
@ferBonnin This was already fixed in axe-core in December (https://github.com/dequelabs/axe-core/pull/2676) and has been included in axe-core since v4.1.2 (we're currently on v4.1.1). We expect to pick up this fix in our next web release after we pick up the new axe-core update.

[2021-03-09 22:43] ferBonnin commented on #3994
Thanks @dbjorge!

[2021-03-10 08:52] Badlapje opened #4013 "Add colour contrast fix to the output"
## Is your feature request related to a problem? Please describe.
When doing an audit and checking for colour contrast, I often want to implement a fix quickly.  Being a simple-minded developer I am not good with colours.  I have no idea how i can easily find a colour that does pass the contrast test.  Let alone one which is close to the original colour.  Left to fix it myself, everything would tu

[2021-03-10 09:03] Badlapje opened #4014 "Allow for merging results from another page or single rule failures from other pages"
## Is your feature request related to a problem? Please describe.
When creating a report using Accessibility Insights it's tedious to have to do it page/page on a website.  Certain rules are obviously going to evaluate the same because the template/colours are the same.  Whereas other rules only come in to play on specific pages (eg. only one page with embedded video).  Generating separate reports

[2021-03-10 09:14] Badlapje opened #4015 "Add possibility to add other possible issues that are found"
## Is your feature request related to a problem? Please describe.
When evaluating a page not all possible issues are currently in the tests.  Sometimes there are issues on / suggestions for a page that are not covered by WCAG SC, but which are good to make a note of none the less.  That currently cannot be done using Accessibility Insights.

## Describe the desired outcome
Add the possibility of a

[2021-03-10 13:56] Badlapje opened #4019 "Allow for marking all subtests as passed/fail"
## Is your feature request related to a problem? Please describe.
When testing certain pages, some things like timed events are no issue because there is no content of that type.  Currently you have to open each sub-test and hit pass in order to go through that test.  I've had several times during an audit that i could already see all subtests were going to pass because they simply do not apply to

[2021-03-10 19:34] dbjorge commented on #4019
This is interesting to think about! I'm not sure it would make sense for us to do this for all tests (most of the tests don't have exactly the same criteria for all sub-tests), but I agree that there are a few cases where it might make sense to add something like this. For example, I can see it being reasonable to offer some way to skip all the Multimedia tests if the user attests that there is no

[2021-03-10 20:46] dbjorge commented on #4014
Thanks for filing an issue! Could you help us understand the scenario a little more?

* Are you interested in this for Assessment results, FastPass results, or both? If both, is one higher priority than the other?
* Do you have an impression of whether "common between pages" vs "unique per page" issues are more common in your usage?
* When you stitch together multiple reports manually like you des

[2021-03-10 20:59] dbjorge commented on #4015
Thanks for filing the issue!

Adding freeform feedback/suggestions is one of the intended uses of the freeform "result description" text field in the "export results" dialog box pictured below:

![screenshot of "export report" dialog box](https://user-images.githubusercontent.com/376284/110695646-23d41800-81b8-11eb-83da-3e467493c3b9.png)

I think I'm probably misunderstanding your feature request;

[2021-03-11 15:12] mgifford opened #4026 "Run checks in both light mode & dark mode"
## Is your feature request related to a problem? Please describe.
I'd like Accessibility Insights to scan the site and evaluate for both dark mode and light mode, rather than just the state that the browser (or OS) is currently configured for. Why doesn't axe just test for all options available in prefers-color-scheme?

## Describe the desired outcome
Often personalization is forgotten. If we can

[2021-03-11 18:38] LiLoDavis opened #4027 "Semantics > Headers attribute: Visual helper needs styling changes to reduce size of labels"
## Describe the bug

The labels in the new visual helper obscure the cells in tightly-spaced data tables. When that happens, the visual helper isn't helpful at all.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [WCAG Failure 90](https://www.w3.org/WAI/WCAG21/working-examples/failure-table-headers-incorrect-association/)
2. Open Accessibility Insights for Web (Canary) and select Asse

[2021-03-11 19:28] dbjorge commented on #4027
I agree that we should do something to improve the UX here with small table cells, but I don't feel that .5em text is sufficiently accessible for a user that already needs to use high zoom levels with standard-sized text. Are there alternatives we could consider (eg, options for moving the text outside the highlight box, or omitting it if the box is too small)? Perhaps we could ask the design folk

[2021-03-11 19:31] LiLoDavis commented on #4027
Exploring alternatives is a good idea.

[2021-03-15 23:36] peterdur commented on #4027
Brainstorming for your consideration....

If users were to look at one row's visual helper at a time, we could move the text outside the highlight box as Dan suggests above:
![image](https://user-images.githubusercontent.com/1752950/111233185-be15d080-85a9-11eb-8e69-070958316872.png)

Thinking about the one-row-at-a-time approach more, what we highlight shows the relationship between id and header

[2021-03-16 16:12] LiLoDavis commented on #4027
@peterdur I really like the reduction of clutter in your second alternative, And because we include a code snippet in the report (oops, twice!), sufficient information to identify the problem cells will be included automatically in the report.

[2021-03-17 23:00] #4015 closed

[2021-03-17 23:00] #4014 closed

[2021-03-22 16:54] tohmjudson-ms opened #4052 "Duplicate id's within display:none should be ignored"
## Describe the bug

We are currently seeing duplicate id bug errors in HMTL wrapped in display:none

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://powerapps.microsoft.com/en-us/signup/
2. Run Accessibility insights for Web
3. In Dev tools: search for class="modal-wrapper-mask", which has the display: none property
4. See error

## CodePen repro example

https://codepen.io/to

[2021-03-22 21:25] DaveTryon commented on #4052
Hi, @tohmjudson-ms! The **duplicate-id** and **duplicate-id-active** errors are going off because the current axe-core rules (the rules at the heart of Accessibility Insights for Web) require the id's to be unique within the entire scope of the HTML document and intentionally ignore the _display:none_ or _visibility:hidden_ attributes. The axe-core team [debated this question](https://github.com/d

[2021-03-24 18:36] ferBonnin commented on #4027
Per conversation with Peter, let's try option 2, we should also only include the code snippet in the report once if possible

[2021-03-24 18:39] ferBonnin commented on #4027
one more comment, when picking up this bug, please loop in @LiLoDavis for reviewing UI changes and its likely the instructions will need to change slightly too

[2021-03-25 23:19] joelkseattle commented on #4052
hey Dave,
this is contrary to the documentation provided by Accessbility Insights however, have you discussed with the AI team?
https://accessibilityinsights.io/docs/en/web/reference/faq/#can-automated-checks-in-accessibility-insights-for-web-detect-issues-in-content-thats-currently-hidden

*_*_from the FAQ__**
_Can automated checks in Accessibility Insights for Web detect issues in content that's

[2021-03-26 17:00] ferBonnin commented on #445
After reviewing within our team and hearing the community feedback, we are reactivating this feature request. Our original concerns around the **initial and ongoing** cost of maintaining support for Firefox are still valid:

 but we would be happy to accept **ongoing** community contributions that  enable the extension to work properly in Firefox with every release, and that update our E2E tests t

[2021-03-26 18:33] juchampa commented on #4026
Hi @mgifford! That is a good feature request, have you made any request to axe? The current solution is what you mentioned for user to test in both dark & light mode.

[2021-03-29 17:22] DaveTryon commented on #4052
Thanks, @joelkseattle! Most rules run only on visible content; the duplicate-id and duplicate-id-active rules are exceptions that should be documented in the FAQ. I've opened https://github.com/microsoft/accessibility-insights-docs/issues/553 to track this change (the repo is private so you'll just have to trust me when I say it's there).

[2021-03-29 17:42] dbjorge commented on #445
Thanks Fer! To summarize from earlier comments, the known work that we'd love to see community contributions for includes (but isn't limited to):

* [ ] Update `file://` URL handling such that for Firefox users, the extension presents a "this URL isn't supported" message (similar to `chrome://`/etc URLs), as opposed to the current Chromium behavior where the extension directs users to an extension

[2021-03-31 14:16] Badlapje commented on #4019
I'm not sure what feedback is required here?

To alleviate the concern about newer folks, the ability to skip other sub-tests could be a setting you need to toggle?

[2021-03-31 14:23] Badlapje commented on #4015
Adding hyperlink support or markdown support would be nice, but doesn't really address my problem.

Currently not all WCAG SC are incorporated.  It would be nice to state that i want to run a AAA test so those get added.  Or to allow me for adding them.

In the same spirit it'd be nice to be able to add other tests, currently not in WCAG.  These would be manual (as would the missing ones from AAA)

[2021-03-31 15:06] Badlapje commented on #4014
For Assessment only really.  Fastpass is nice as a quick checkup, but not really to create a report that i want to pass along.

Issues are more common between pages, as should be expected for any site where a design system or component library is used.  But every site has a couple of "unique per page" issues.

I'll post an example after my next audit, which should be sometime this week.  I prefer

[2021-04-02 23:00] #4026 closed

[2021-04-03 17:43] Badlapje commented on #4019
/me pokes msftbot

[2021-04-05 20:00] #4052 closed

[2021-04-06 17:28] ferBonnin commented on #4019
oops! reopening this!

@juchampa can you please clarify what is the additional author feedback needed?

[2021-04-08 04:52] Shobhit1 opened #4097 "Project doesn't build on M1 macbooks"
## Describe the bug

Looks like the project doesn't get built on M1 mac because of `electron's` dependency.

M1 macs are supported on electron from version 11 according to this [blog post](https://www.electronjs.org/blog/electron-11-0#highlight-features).

**To Reproduce**
Steps to reproduce the behavior:

1. Build the project on any m1 device.

## Expected behavior

Should be able to `install`, `

[2021-04-08 21:44] iamrafan opened #4102 "Mark "duplicate-id" rule as a best practice rule"
Based on feedback from users we tested to check the user impact of duplicate ID failures on static elements. We found no user impact on the experience with any of the ATs including Narrator, JAWS, NVDA, Dragon, Windows Speech Recognition.

After further discussions with the Tooling Advisory Board, we decided to make this a best practice rule

## Context
- AI-Web Version : Prod 2.24.0

[2021-04-09 19:17] ferBonnin commented on #3995
Hi @Bram-diederik this has been addressed and its now available in our [Canary extension](https://chrome.google.com/webstore/detail/accessibility-insights-fo/hbcplehnakffdldhldncjlnbpfgogbem) please let us know what you think!

[2021-04-12 18:37] ferBonnin commented on #3688
doing a friendly ping on this, did we filed a bug on Chromium? @iamrafan

[2021-04-12 20:03] ferBonnin commented on #4097
Per conversation with Peter, this will get addressed with feature work. @ferBonnin to add to the right feature.

[2021-04-12 20:07] ferBonnin commented on #3994
this will get addressed with feature work. @ferBonnin to tag to the right feature

[2021-04-12 20:26] DaveTryon commented on #3942
@ferBonnin This happens with all channels. I used Canary in the example because it's the only channel that's almost guaranteed to have a change after installing the current bits.

[2021-04-16 23:00] #3995 closed

[2021-04-19 22:37] karanbirsingh commented on #3095
@ferBonnin looks like OF team says their fix is released https://github.com/microsoft/fluentui/issues/11793#issuecomment-820980950

[2021-04-19 22:41] ferBonnin commented on #3095
thanks @karanbirsingh. @iamrafan can you please check the fix?
will remove the blocked tag after investigation

[2021-04-20 00:20] tohmjudson-ms commented on #4102
Happy to pick this fix up

[2021-04-20 00:27] ferBonnin commented on #4102
thanks @tohmjudson-ms! assigning to you and marking this as active

[2021-04-21 17:46] iamrafan commented on #3095
@ferBonnin The fix did not address the scenario for which we filed the bug, I am going to ask them to reopen the issue

[2021-04-21 20:07] ferBonnin commented on #1166
verified in canary

[2021-04-21 20:07] #1166 closed

[2021-04-21 22:57] lisli1 commented on #3272
Also noting here that the button icons aren't visible in the issues dialog

Screenshot of issues dialog buttons with non-visible icons
![image](https://user-images.githubusercontent.com/48259897/115631213-3adb4f00-a2ba-11eb-8c64-10641301c210.png)

[2021-04-22 19:16] LiLoDavis commented on #3322
Looks good on most pages,
However, it won't work on this target page: [Microsoft License Terms](https://www.microsoft.com/en-us/useterms). Visual helper is disabled, and it says **No matching/failing instances were found**.  There's text on the page, so it shouldn't say no instances.

[2021-04-22 20:22] ferBonnin commented on #3322
@LiLoDavis I cannot repro this, for me it takes a second or so and then the toggle is made available. This also happens if you go to requirements in Headings or Landmarks

[2021-04-22 20:24] ferBonnin commented on #3096
this has been addressed with #3836

[2021-04-22 21:39] ferBonnin commented on #1739
this has been resolved for a while after the codePen integration with no other users' comments. closing :)

[2021-04-22 21:39] #1739 closed

[2021-04-22 21:55] ferBonnin commented on #653
Marking this as active since we are working on the Save / load (Import/Export) part of this feature request.
The export to a JSON format will not be covered in this first part of the feature.

[2021-04-22 22:28] DaveTryon opened #4140 "Unified client's controls are not visible when running on Linux in Parallels VM"
## Describe the bug

The combination of Electron, Linux, and  the latest Parallels Tools (installed if you're running on a Mac using Parallels VM) have a known problem. If hardware acceleration is enabled (which is the default state), then the window's background color gets displayed, but the window contents don't render on screen. The controls are still there and accessible via keyboard or mouse,

[2021-04-23 08:01] Anschur opened #4142 "Listbox with grouped options reported as error in AI"
## Describe the bug

When options in a listbox are grouped in elements using role="group" Accessibility Insights will complain that the listbox is missing required children option, and that that the options are missing required parent listbox.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://w3c.github.io/aria-practices/examples/listbox/listbox-grouped.html
2. Run AI
3. Observe

[2021-04-23 14:08] madalynrose commented on #3322
@LiLoDavis I noticed that for some pages the scan takes a long time (especially if there are a lot of iframes). Because our visual helper toggle doesn't have a loading state, it can be hard to tell if it's still scanning or if it's finished and truly found no instances. Perhaps worth adding a feature for a loading state?

[2021-04-23 14:47] LiLoDavis commented on #3322
@madalynrose I see that the scan completed quickly today. Not sure what the problem was yesterday, as the page has relatively little text. I can't reproduce it, so I'll go ahead and close.

[2021-04-23 14:47] #3322 closed

[2021-04-23 16:56] peterdur commented on #4142
Looks like https://github.com/dequelabs/axe-core/issues/2523 might be related.

[2021-04-23 18:41] codeofdusk commented on #3803
I can't repro this on Chrome 91.0.4472.19 running Accessibility Insights 2.25.0 on Windows 10 21H1.

1. Visit the linked page.
2. Press alt+shift+t, arrow to accessibility insights and press enter. Observe that "not secure" is displayed on the toolbar.
3. Navigate to "fast pass" and activate it.
4. Wait for automated scan to complete, observe 20 failures detected. Navigate by heading to one of the

[2021-04-23 18:57] ferBonnin commented on #3803
@codeofdusk thanks for looking into this! This only happens in the target page when you select the '!'exclamation icons, but not from the FastPass page

[2021-04-23 19:21] dbjorge commented on #4102
Resolved by @tohmjudson-ms in #4127

[2021-04-23 20:29] codeofdusk commented on #3803
What is the accessible label for the exclamation mark icon? (I'm using a screen reader).

[2021-04-23 22:18] kennyzhen13 commented on #3803
Hi @codeofdusk I have explored this issue a bit on a [branch on my fork](https://github.com/kennyzhen13/accessibility-insights-web/tree/copy-failure-details-fix). Please let me know if you have any feedback!

[2021-04-23 22:39] waabid opened #4144 "Color-contrast produces false-positive on elements during transition/animation"
## Describe the bug

Color-contrast produces a failure in automated checks on an element while the DOM may be animating/transitioning around it.

**To Reproduce**
Steps to reproduce the behavior:

Note: these failures are not real failures and only occur randomly and rarely.

1. Go to https://visualstudio.microsoft.com/
2. Scroll to the carousel.
3. Keep scanning until issues are seen (like screen

[2021-04-26 20:10] ferBonnin commented on #4142
Agree with @peterdur this is the same issue as [#2523](https://github.com/dequelabs/axe-core/issues/2523). ARIA 1.2 is not an official recommendation yet.

[2021-04-26 20:13] ferBonnin commented on #4144
per triage conversation, assigning to @waabid

[2021-04-27 18:22] ferBonnin opened #4148 "[Bug] Various typos"
## Describe the bug

Various typos in the product found by @peterdur

**To Reproduce**
Steps to reproduce the behavior:

* Assessment > Custom Widgets > Keyboard Interaction > Info and Examples > Why It Matters (keybord is missing an a)
* Assessment > Repetitive Content > Consistent identification > Info & Examples > Sufficent techniques (Sufficent is missing an i)
* Accessiblity is misspelled in

[2021-04-28 23:18] DaveTryon commented on #4140
This has been fixed.

[2021-04-28 23:18] #4140 closed

[2021-04-29 20:48] DaveTryon commented on #3938
Fixed

[2021-04-29 20:48] #3938 closed

[2021-04-29 22:05] codeofdusk commented on #3994
I think this might've been resolved with #4155 (4.2.0 is newer than 4.1.2).

[2021-04-30 02:00] #3096 closed

[2021-04-30 17:52] dbjorge opened #4178 "web/chrome 91: first-time telemetry dialog is visually cut off"
## Describe the bug

During 2.26.0 validation, we found an incompatibility between Chrome 91 (current Chrome Beta) and the extension's first-time telemetry prompt dialog. The dialog's contents aren't being given the full height of the dialog to render in, and get squashed down to a ~80px height with a scrollbar (see screenshot below)

Unfortunately, opening the F12 developer tools in the popup dur

[2021-04-30 17:55] ferBonnin commented on #4178
@dbjorge do we know when does Chrome 91 will be in prod?

[2021-04-30 18:12] dbjorge commented on #4178
@ferBonnin May 25 (https://www.chromestatus.com/features/schedule)

[2021-04-30 23:30] ferBonnin commented on #4102
this is now in production, @iamrafan can you please verify and close?

[2021-04-30 23:33] ferBonnin commented on #3994
Hi @Bram-diederik this has been addressed with the latest release of Accessibility Insights for Web updating to axe-core 4.2!

[2021-05-03 08:12] iamrafan commented on #4102
Validated in AI Web Prod 2.26.0

[2021-05-03 08:12] #4102 closed

[2021-05-03 19:49] peterdur commented on #4178
Also reproduces on Edge Version 91.0.864.15 (Official build) beta (64-bit)
(including resolving when dev tools are opened)

[2021-05-03 20:04] ferBonnin commented on #4178
Per conversation with Peter, marking this as high priority since the release is May 25th and its the first thing users interact with (plus its the telemetry permissions)

[2021-05-03 20:05] ferBonnin commented on #4013
thanks for the suggestion @Badlapje! We are taking a look at this request

[2021-05-05 19:37] dbjorge commented on #4178
The issue doesn't seem to repro under Chromium 92, either (only 91).

I am able to get a repro under dev tools by:

1. Performing the original repro steps
2. Opening F12 dev tools (this loses the repro)
3. From the dev tools console, invoke `window.location.reload()`
4. This reproduces the error state while keeping a dev tools instance open

@waabid helped with some experimentation (on his mac, he

[2021-05-05 19:40] ferBonnin commented on #4178
@dbjorge thanks for the detailed investigation. Since the scrollbar only appears in Chromium 91 and this helps address the issue, I am ok with us shipping fix option #2

[2021-05-10 23:39] kennyzhen13 opened #4211 "[bug] screen reader does not read all newly rendered text"
## Describe the bug
This bug report describes the issue described under **Context** in the PR description of #4170.

While using MacOSX VoiceOver, if new text is rendered in more than one area, only one of those texts is read aloud by the screen reader. In this specific instance, a button click renders two new texts: (1) a block of text under the button and (2) a toast message pop-up.

**To Reprod

[2021-05-11 21:21] ferBonnin commented on #923
Reviewed with Peter, closing since this is old and there is a workaround

[2021-05-11 21:21] #923 closed

[2021-05-11 21:24] #1011 closed

[2021-05-11 21:27] ferBonnin commented on #1169
Reviewed with Peter, closing since this is stale

[2021-05-11 21:27] ferBonnin commented on #1169
Reviewed with Peter, still a valid bug

[2021-05-11 21:28] ferBonnin commented on #1788
Reviewed with Peter, closing since this is stale

[2021-05-11 21:28] #1788 closed

[2021-05-11 21:28] ferBonnin commented on #1187
Reviewed with Peter, closing since this is stale

[2021-05-11 21:30] ferBonnin commented on #1789
Reviewed with Peter, closing since this is stale

[2021-05-11 21:30] #1789 closed

[2021-05-11 21:30] #1790 closed

[2021-05-11 21:31] ferBonnin commented on #2201
Reviewed with Peter, closing since this is referenced in a PR to improve issue

[2021-05-11 21:31] #2201 closed

[2021-05-12 18:04] MohammedAjaz opened #4217 "Ensures ARIA attributes are allowed for an element's role : aria-labelledby is flagged as invalid on <span> element"
In one of our applications Fast Pass has flagged the below issue and we assume this is incorrect as per ARIA roles & properties recommendation

Repro Steps
1. Open any sample webpage or any .HTML page
2. Add <span> element with aria-labelledby="id_value"
3. Run FastPass feature of Accessibility Insights (axe core 4.2.0)
4. See error - Ensures ARIA attributes are allowed for an element's role

As p

[2021-05-12 22:37] kennyzhen13 commented on #4211
@ferBonnin OK I can fix this since it was a part of my PR #4170

[2021-05-12 23:01] ferBonnin commented on #4211
awesome! thanks @kennyzhen13

[2021-05-13 01:33] iamrafan commented on #4217
@MohammedAjaz thanks for filing the issue. Looks like this should be a needs review instead of a failure. I filed issue https://github.com/dequelabs/axe-core/issues/2933 with axe-core and we shall update you once we fix it

[2021-05-19 17:29] iamrafan commented on #3688
No, it needs discussion. I will start an email thread

[2021-05-19 17:31] iamrafan commented on #3435
@ferBonnin I will share the investigation document via email

[2021-05-20 00:03] lisli1 commented on #4144
A similar issue was found when there is white text overlaying images with lazyload behavior. Before scrolling down to the images, AI Web would find the color contrast issues. The color contrast issues are not present when scrolling down the page far enough to load the images (no color contrast issues by the time the user can view the images/text). Additionally, the color contrast issues are not pr

[2021-05-20 20:17] jenniaynlynn commented on #2057
I agree with this 100%!  The test steps and info are so useful and easy to understand.  I'd love to have easy access to these as a comprehensive piece to share with people learning accessibility and growing in their practice.

[2021-05-21 17:43] ferBonnin commented on #4097
@madalynrose should this be marked as resolved?

[2021-05-21 20:55] DaveTryon commented on #3272
@karanbirsingh, this is now in Canary and Insider rings

[2021-05-21 22:07] DaveTryon commented on #3803
Confirmed fixed in release 2.26.1 (currently in Insider channel)

[2021-05-21 22:07] #3803 closed

[2021-05-21 22:36] DaveTryon opened #4261 "Checkbox in telemetry permission dialog not visible in Edge with HC theme"
## Describe the bug

The check in the "I agree to enable telemetry" checkbox is not properly displayed on Edge in HC modes. Screenshots showing the _checked_ state are below

**To Reproduce**
Steps to reproduce the behavior:

1. Start with an Edge install without the web data in local storage
2. Install the extension
3. Trigger the Popup--the telemetry permission dialog will appear
4. Look at the

[2021-05-21 23:12] DaveTryon opened #4262 "Failure instances has clipped border in all Windows HC modes"
## Describe the bug

In Windows HC modes, the border of the "Failed instances" counter gets clipped. It doesn't happen if non-HC mode

**To Reproduce**
Steps to reproduce the behavior:

1. Enable High Contrast
2. Run automated checks on a page with errors (I used https://www.washington.edu/accesscomputing/AU/before.html)
3. Look at the Failed instances marker
4. The top of the border is clipped

#

[2021-05-22 00:12] DaveTryon opened #4263 "Left nav lacks visible tab or strong focus indicators with Windows HC modes"
## Describe the bug

If you enable a Windows HC mode, the left nav pane loses both the hover indicator and the current selection indicators

**To Reproduce**
Steps to reproduce the behavior:

1. Start an assessment on a page (I used )
2. Hover over the assessment steps in the nav pane -- there's no strong visual feedback (except the tooltip if you pause long enough)
3. Select an item in the list--

[2021-05-23 15:01] mgifford opened #4264 "Non-English Interface Support"
## Is your feature request related to a problem? Please describe.
Would be great to see Accessibility Insight available in languages other than English. Most of the world doesn't speak English and most non-English speaking sites are getting worse https://webaim.org/projects/million/#languages

## Describe the desired outcome
Accessibility Insights to be used in default browser language. Incorporat

[2021-05-23 15:34] mgifford opened #4265 "Add Plain Language - Flesch Kincaid, etc. Evaluation"
## Is your feature request related to a problem? Please describe.
Plain Language is an important for accessibility.

## Describe the desired outcome
 Would be nice to have basic Flesch Kincaid evaluation for English built-in with the Fast Pass. There are other options for other languages, but adding it for English would be nice.

## Describe alternatives you've considered
You can run various tools

[2021-05-24 17:13] ferBonnin commented on #4264
duplicate of #3425?

[2021-05-24 17:47] ferBonnin commented on #4148
verified in Canary, thanks!

[2021-05-24 17:47] #4148 closed

[2021-05-24 19:47] dbjorge opened #4271 "Flaky web e2e: timeouts on non-linux agents"
## Describe the bug

During 2.26.1 release validation, we found inconsistent timeout issues affecting ~20% of runs.

Builds:
* [20210521.2](https://dev.azure.com/accessibility-insights/accessibility-insights-web/_build/results?buildId=21116&view=results)
* [20240524.1](https://dev.azure.com/accessibility-insights/accessibility-insights-web/_build/results?buildId=21117&view=results)

In Mac agents,

[2021-05-24 21:29] ferBonnin commented on #4263
@ferBonnin needs some PM/ Design information

[2021-05-25 00:21] karanbirsingh commented on #3272
looks great, thanks @DaveTryon !

[2021-05-25 00:21] #3272 closed

[2021-05-25 13:51] mgifford commented on #4264
Yes. Sorry.

[2021-05-25 13:51] #4264 closed

[2021-05-25 13:53] mgifford commented on #3425
Thought it might be useful to compare with the translations available from Google Lighthouse - https://github.com/GoogleChrome/lighthouse/issues/12549 - another open source project with accessibility features.

[2021-05-25 16:35] ferBonnin commented on #4097
@Shobhit1 we have updated to Electron 11, can you please let us know if this works again?
Thanks!

[2021-05-25 17:28] ferBonnin commented on #4264
no worries, thanks @mgifford!

[2021-05-25 19:46] DaveTryon opened #4281 "Cancel button is invisible in most Windows HC themes"
## Describe the bug

The SVG for the cancel button always uses the default color of black. As a result, it disappears if a Windows user is using any of the black-based High Contrast themes

**To Reproduce**
Steps to reproduce the behavior:

1. On your Windows machine, enable either HC1, HC2, or HC Black high contrast themes
2. Go to a page (I used https://www.washington.edu/accesscomputing/AU/befo

[2021-05-25 20:30] DaveTryon commented on #4261
Confirmed fixed in Canary using both Edge and Edge beta

[2021-05-25 20:30] #4261 closed

[2021-05-25 21:59] iamrafan opened #4283 ""Failure details copied" toast message is not announced by Narrator on Edge"
## Describe the bug

```aria-live="polite"``` is present on the toast message that appears when ```Copy failure details``` button is selected in the ```More options``` menu on an instance card. But, narrator does not announce this message on the Edge extension.

**To Reproduce**
Steps to reproduce the behavior:

1. Turn on Narrator
2.  Navigate to https://www.washington.edu/accesscomputing/AU/befo

[2021-05-26 17:44] dbjorge commented on #4178
Verified as fixed in 2.26.1

[2021-05-26 17:44] #4178 closed

[2021-05-26 18:04] jalkire opened #4290 "Mac signed build fails with electron-builder 22.10.5"
## Describe the bug
When we upgraded from electron-builder 22.9.1 to 22.10.5 (PR #4237), our Mac signed builds started failing ([example failing build](https://dev.azure.com/accessibility-insights-private/Accessibility%20Insights%20(private)/_build/results?buildId=22651&view=results)). As a short term workaround, we reverted back to electron-builder 22.9.1 (PR #4284).

**To Reproduce**
Steps to re

[2021-05-27 00:59] karanbirsingh commented on #4283
In Edge I can reproduce this even with `aria-live` set to `assertive`. Focus moves to the closed menu and the Toast is not mentioned. In Chrome Narrator announces the Toast. In both browsers the Toast is announced in the target page "copy failure details" button.

I ran AI-Windows against the Cards UI and target page copy-failure-details button. In both cases the StructureChanged events (ChildAdde

[2021-05-27 15:57] DaveTryon commented on #3800
@jalkire, this has bene fixed as described in the [Canary channel](https://chrome.google.com/webstore/detail/hbcplehnakffdldhldncjlnbpfgogbem). Please close it out at your convenience. Thanks!

[2021-05-27 15:58] DaveTryon commented on #3907
@guillermorueda, this has bene fixed as described in the [Canary channel](https://chrome.google.com/webstore/detail/hbcplehnakffdldhldncjlnbpfgogbem). Please close it out at your convenience. Thanks!

[2021-05-27 16:30] guillermorueda commented on #3907
Thanks a lot Dave... Was the code changed but not the documentation? Or am I not understanding it? I thought the change was to use "Alt" key instead of "Ctrl" key:
![image](https://user-images.githubusercontent.com/1143812/119863232-349a4d00-bece-11eb-8e82-e43bf501d10c.png)

[2021-05-27 16:32] ferBonnin commented on #3907
@guillermorueda documentation changes are also in canary and will be push at the same time we release Accessibility Insights for Web to production

[2021-05-27 17:28] DaveTryon commented on #3800
One note: Canary docs have been updated; production docs will be updated after the next release

[2021-05-27 21:56] karanbirsingh commented on #4283
This repros in Narrator + Edge when the `aria-live` element is a descendent of an `li` element. Here is a minimal repro: https://codepen.io/karansin/pen/OJpjKgV

Our cards are list items, so it affects us. Will reach out to see if I can report this

[2021-05-31 03:06] kidokidozh opened #4311 "Error occurs when running the Headings tool"
## Describe the bug
Cannot run the "Headings" tool. Our page is having some iframe inside it, not sure whether it's related. Errors output to browser console:
[code]

## Screenshots
![image](https://user-images.githubusercontent.com/58833558/120133122-2ade5580-c1fe-11eb-81e7-bb31f3870c7d.png)

## Context (please complete the following information)

- AI-Web Version & Environment: 2.26.1
- Browser

[2021-06-01 02:12] kidokidozh commented on #4311
I found it might be a bug of `axe-core`: https://github.com/dequelabs/axe-core/pull/2965

[2021-06-01 18:25] karanbirsingh commented on #4311
Thanks @kidokidozh for the report! I agree the issue you found seems like the root cause.

I can reproduce this issue when child iframe descendants have at least 2 headings in total. For instance, the following structures reproduce this issue:

<details>
    <summary>single iframe with two headings</summary>

`index.html:`
[code]

`page-with-headings.html:`
[code]
</details>

<details>
    <summar

[2021-06-01 18:51] pownkel opened #4321 "e2e tests: flaky behavior in cross-origin-iframe.test.ts, wrong number of ruleDetails found"
## Describe the bug

`cross-origin-iframe.test.ts` has been flaky on mac. See the [logs of this test run](https://dev.azure.com/accessibility-insights/accessibility-insights-web/_build/results?buildId=21577&view=logs&j=35f60db1-8dd3-569f-bd5d-96748e2bf3e6&t=2fc41186-90ea-5b51-d168-32fb57609ff2&l=45) for test "scanning › with localhost permissions only › does not get results from inside cross-origi

[2021-06-01 19:16] mgifford opened #4322 "Your Docs just cover Setup & Fastpass - I want more!"
## Is your feature request related to a problem? Please describe.
Assessment & Ad hoc tools should be included.  Even if it is just a short blurb and a link to your great videos https://www.youtube.com/watch?v=m1l7ghxOKF0&t=159s&ab_channel=AccessibilityInsights

FastPass is great, but Accessibility is terrific because it doesn't stop with the automated tools.  Highlight what makes you different.

[2021-06-01 20:00] #4097 closed

[2021-06-01 21:25] ferBonnin commented on #4322
Hi @mgifford thanks for the feature request!
From the screenshot, I see you are in the Android section, have you checked out the [_for Web_ Section](https://accessibilityinsights.io/docs/en/web/overview/)?

[2021-06-01 21:28] karanbirsingh opened #4326 "Icon of 'more actions' menu is not visible in Windows HC mode"
## Describe the bug

When Windows HC mode is on, the 'more actions' menu is missing its icon:

![screenshot of automated check card, more actions menu icon is blank](https://user-images.githubusercontent.com/7775527/120392244-145ef980-c2e5-11eb-9989-56be821cc36f.PNG)

Expected icon (Windows HC off, AI-Web high contrast theme on)
![screenshot of automated check card, more actions menu icon is visib

[2021-06-01 22:30] karanbirsingh commented on #4321
I asked Kelsey for more details and we changed this issue to focus on `cross-origin-iframe.test.ts` because `scanning › with localhost permissions only › does not get results from inside cross-origin iframes` fails with a new signature. It seems like some of the other 5000ms timeout issues are very similar to #4271 and should be investigated together there.

[2021-06-01 22:53] karanbirsingh commented on #4321
Dan suggests exploring side-effects of the post-message test that timed out beforehand:

[2021-06-02 11:30] iamrafan commented on #4283
@karanbirsingh I shared the minimal repro with the TT team and asked them to file a bug on Narrator

[2021-06-02 20:24] ferBonnin commented on #653
Thank you all for the insights on this feature request!
The Save and Load functionality is now available in Accessibility Insights for Web V2.27.0 ([release notes](https://github.com/microsoft/accessibility-insights-web/releases/tag/web%402.27.0)) Please take a look and **let us know what you think!**

![Command bar now has two additional buttons: Save assessment & Load Assessment](https://user-im

[2021-06-02 20:53] mgifford commented on #653
Ok, that's really exciting.

[What I see for Edge is still](https://microsoftedge.microsoft.com/addons/detail/accessibility-insights-fo/ghbhpcookfemncgoinjblecnilppimih) Version 2.26.1 - Updated 24 May 2021

On Brave though, after I deleted the extension & re-loaded it it worked fine. Is there no auto-update process?

Anyways, wow. So this now saves a JSON formatted file like SavedAssessment_20210

[2021-06-02 21:01] ferBonnin commented on #653
Hey @mgifford glad you like it!

We just released a few hours ago, both Edge and Chrome should auto-update after a few hours.

No, we divided this feature request into two parts:
1) allow users to save & load an assessment so you can do things like import the results back in Accessibility Insights, update the assessment if you find something later (or if you fix something), do multiple assessments

[2021-06-02 21:10] adbajaj commented on #653
I am doing the happy dance right now. Thank you and very excited! Here's efficiency! =)

[2021-06-03 00:37] mgifford opened #4331 "Define roadmap for integration with WCAG-EM"
## Is your feature request related to a problem? Please describe.

We need to have some clarity about we want to be able to use the Accessibility Insights reports in conjunction with something like a [WCAG-EM tool](https://www.w3.org/WAI/test-evaluate/conformance/wcag-em/).

Right now so many of these automated tools are used in a few different ways as people are evaluating websites. Defining a te

[2021-06-03 13:15] mgifford commented on #653
@ferBonnin I'm especially interested in hearing about the 2nd part. Very interested in efforts to aggregate findings into VPAT documents.

[2021-06-03 17:54] karanbirsingh commented on #4311
Fixed in #4327 and released to canary https://chrome.google.com/webstore/detail/accessibility-insights-fo/hbcplehnakffdldhldncjlnbpfgogbem/related

[2021-06-03 17:54] #4311 closed

[2021-06-03 20:00] #3907 closed

[2021-06-03 20:00] #3800 closed

[2021-06-04 23:31] ferBonnin opened #4338 "Save Assessment telemetry - Unable to interpret message"
## Describe the bug

When having telemetry enabled, using the Save Assessment functionality returns: "Unable to interpret message"  instead of logging telemetry.

**To Reproduce**
Steps to reproduce the behavior:

1. Using Canary, enable feature flag to log telemetry
2. look at events triggered when selecting the Save Assessment button
## Expected behavior

If telemetry is enabled, telemetry for w

[2021-06-07 15:23] mgifford commented on #653
In looking at the original request, it looks like with V2.27.0  we can close this.

I am wondering about setting up a new issue though to focus on having a more standardized EARL report that could be part of a broader VPAT or WCAG-EM process.

[2021-06-09 16:39] ferBonnin commented on #4281
reviewed with @peterdur

[2021-06-09 16:39] ferBonnin commented on #4326
reviewed with @peterdur

[2021-06-09 16:44] ferBonnin commented on #2391
reviewed with @peterdur this is stale (opened a year ago) and there is a feature looking into E2E tests

[2021-06-09 16:44] #2391 closed

[2021-06-09 16:44] ferBonnin commented on #2417
per conversation with @peterdur closing as stale

[2021-06-09 16:44] #2417 closed

[2021-06-09 16:47] ferBonnin commented on #3529
per conversation with @peterdur keeping around to track the supression

[2021-06-10 17:43] ferBonnin commented on #3801
this is not longer under a feature flag, marking as ready for triage again

[2021-06-10 21:40] karanbirsingh opened #4357 "Improve ad-hoc visualizations on cross-origin iframes"
## Is your feature request related to a problem? Please describe.

Some websites reference cross-origin iframes. Our extension requires additional permissions to run scripts on such pages.

If a user runs an ad-hoc visualization without granting these permissions, the extension silently ignores results in these iframes. My example is headings, but other visualizations like tab stops are similar.

[2021-06-10 22:32] ferBonnin commented on #3959
@ThanyaLeif
for the **how to check text**: Inspect the element using the Accessibility pane in the browser Developer tools and verify that the element’s accessible name contains its visible text.

[2021-06-14 21:09] ferBonnin commented on #3801
reviewed with Peter :)

[2021-06-14 21:11] ferBonnin commented on #2256
reviewed with @peterdur, closing since looks ok

[2021-06-14 21:11] #2256 closed

[2021-06-14 21:13] ferBonnin commented on #2968
Per conversation with @peterdur closing this, no user feedback on this

[2021-06-14 21:13] #2968 closed

[2021-06-14 21:16] ferBonnin commented on #3263
Per conversation with Peter, marking it as blocked to wait for the Electron bug to be addressed

[2021-06-14 23:42] dbjorge opened #4361 "Text spacing violation (clipping) in some assessment left nav items"
## Describe the bug

In the web details view, the left nav menu for assessments has several items which get clipped when you apply the styles suggested by our own Text Spacing test:

![screenshot of issue with the clipped nav items circled](https://user-images.githubusercontent.com/376284/121971822-a46e5b80-cd47-11eb-933d-7591f631f3a8.png)

Additionally, the `scrollable-region-focusable` automated

[2021-06-14 23:45] ferBonnin commented on #653
Keeping this open for the second part of this feature request

[2021-06-14 23:47] dbjorge commented on #4361
@juchampa / @ferBonnin , we'll need design input for what you'd like to do about these cases. I'm imagining something like a combination of "enable the text in the menu items to reflow for the sake of users that want to use custom text styling, and also expand the width slightly so `scrollable-region-focusable` doesn't reflow under default styles" - does that sound reasonable?

[2021-06-15 17:36] ferBonnin commented on #4361
this sounds reasonable, thanks @dbjorge!

[2021-06-16 12:29] thibaudcolas opened #4369 "Plans for WCAG 2.2 support"
👋  thank you for your work on Accessibility Insights! This has been my go-to testing extension since it came out, and from release to release it’s great to see it continuously getting better. I keep on recommending it to everyone who asks where to start when testing accessibility.

## Is your feature request related to a problem? Please describe.

I’m wondering whether you already have any plans f

[2021-06-16 23:51] jalkire opened #4379 "Color contrast recommendations need e2e tests"
## Describe the bug
A recent PR (#4360) added color contrast recommendations. This issue tracks the engineering work to add e2e tests for this contribution.

## Additional context
e2e tests were originally planned as part of the MinT project, but the schedule did not work out.

[2021-06-18 17:32] ferBonnin commented on #4369
thanks for the feature request @thibaudcolas! We are glad you enjoy using Accessibility Insights.

We do have plans for WCAG 2.2 to be added into Assessment as well as any axe-core automated checks; we will be waiting until WCAG 2.2 is an official recommendation.
We are also considering doing something similar to how we did with WCAG 2.1 adding a tag that says "_New for WCAG 2.2_" in the new requi

[2021-06-18 17:39] ferBonnin commented on #4322
@mgifford thanks for the additional feedback and suggestions. We will be looking into adding adhoc documentation and having our General section go before the tools section; after a conversation with the team, we have decided to keep the tools listed in alphabetical order.

[2021-06-19 00:02] jchen790 opened #4385 "Doesn't recognize web component buttons as buttons"
## Describe the bug

When running the Accessibility Insights tool on a page that uses button web components, the tool doesn't recognize them as buttons.

**To Reproduce**
Steps to reproduce the behavior:

1. Open a web page using button web components. The button web components must have a closed shadow DOM and should have aria-label set.
2. Run the Accessibility Insights tool
3. See that the tool

[2021-06-21 12:13] Bram-diederik opened #4387 "documentation issue, missing a check at "Connect to your Android device""
https://accessibilityinsights.io/docs/en/android/getstarted/setup/ gives a good read how to use the tool. and its referred from the software.

But it does not state at the "Connect to your Android device" check that you need to have developer settings enabled on your phone.
I'm sure this is already set for developers. but still i think it would be good if this check is added.

[2021-06-21 17:44] JGibson2019 commented on #4387
Hi @Bram-diederik! Thanks for the feedback! On the setup page section titled "Prepare your test environment", the second point serves as a check/reminder for users to do this; it mentions "If you're testing on a hardware device, you'll need to enable developer options and debugging on your device."

[2021-06-21 18:32] lamaks commented on #4385
@jchen790 Please provide link to a web page with bug repro

[2021-06-22 08:19] Bram-diederik commented on #4387
O yes. there its written.  But that section of the page is not shown by the installation process.
The process clearly guides you to https://accessibilityinsights.io/docs/en/android/getstarted/setup/#connect-to-your-android-device.
and there its missing.

The process is quite clear. you go to https://accessibilityinsights.io. you end up with a download. There are help in the installation pointing y

[2021-06-22 17:25] JGibson2019 commented on #4387
Got it! We've added a to do item to update our documentation and make this clearer. Thanks!

[2021-06-23 14:16] mra11yx opened #4398 "Provide standardized way to turn JSON export into VPAT/custom audit report/etc."
## Is your feature request related to a problem? Please describe.
The JSON export feature is currently only designed to facilitate re-importing a test into Accessibility Insights, rather than to export a VPAT or an audit report that could be used for monitoring the test results of a product over time.

I'm spinning this ticket off of https://github.com/microsoft/accessibility-insights-web/issues/6

[2021-06-23 14:17] mra11yx commented on #653
Created a new feature request to specifically address the second part: https://github.com/microsoft/accessibility-insights-web/issues/4398

[2021-06-23 18:32] jalkire commented on #4290
As an update, it appears electron-builder switched how it adds license files to DMGs [with this commit](https://github.com/electron-userland/electron-builder/commit/9e7b3c39ad3c59b88d78e3f5a5948cf4ced3f92a). I'm having trouble validating this, but it's possible we haven't been (and aren't currently) showing our license on Mac. If that's true, the only reason signed builds weren't already failing w

[2021-06-25 22:49] ferBonnin commented on #4398
Thanks for the feature request @mra11yx! As you mentioned, this is related to part 2 of #653 and after reviewing with the team it sounds like an interesting scenario.

We would like to have a consensus within the community for the format for this file; do you have a sample or suggestion for how this should look like? :slightly_smiling_face:

[2021-06-25 22:54] ferBonnin commented on #4331
Thanks for the feature request @mgifford!
after talking with the team, we would be happy to take on a community contribution for this feature request for the particular request of a template and JSON report in the format of the WCAG -EM report generator.

[2021-06-25 22:55] ferBonnin commented on #653
closing this issue since there are two feature request for the second part:
#4398  and #4331

[2021-06-25 22:55] #653 closed

[2021-06-25 22:56] ferBonnin commented on #4357
as discussed with the team, we will wait until we hear more from users on this edge case scenario. @waabid mentioned he has some ideas on how to tackle this

[2021-06-25 22:59] ferBonnin commented on #4265
thanks for the feature request @mgifford! After reviewing with the team, we have decided to wait until this is a WCAG guideline/ S.C (looks like 3.0 _clear words_ is related to this).

[2021-06-25 22:59] #4265 closed

[2021-06-26 21:32] mgifford commented on #4265
I was hoping a simple adoption of something like https://github.com/dana-ross/flesch-kincaid or even https://github.com/retextjs/retext-readability

The math isn't that complicated. I would want to see it is done for English only, as other languages aren't as well supported.

I wasn't familiar with [WCAG 3.0's Clear Words](https://www.w3.org/WAI/GL/WCAG3/2020/how-tos/clear-words/) though, so thank

[2021-06-28 14:34] mra11yx commented on #4398
Hi @ferBonnin, I'm thinking something like this (could potentially be in a format other than JSON, but I'm using this for simplicity's sake):
{
  412NameRoleValue: {
    //info about success criterion, for data presentation purposes
    wcagInfo: {
      num: "4.1.2",
      name: "Name, Role, Value",
      level: "A",
      status: "fail"
    }
    //tests, with pass/fail information
    roleState

[2021-06-28 16:29] waabid commented on #4144
My idea was to add something like this:

![image](https://user-images.githubusercontent.com/32555133/123671361-08d2f580-d7f3-11eb-846a-1f38e9d5bcc5.png)

This extra text on the bottom would only show if permissions were not granted. I believe we could decide then what this should do: ask for permissions or point to the "learn more" page. The latter might be more appropriate if we feel like the tex

[2021-06-28 17:30] waabid commented on #4357
My idea was to add something like this:

![image](https://user-images.githubusercontent.com/32555133/123671361-08d2f580-d7f3-11eb-846a-1f38e9d5bcc5.png)

This extra text on the bottom would only show if permissions were not granted. I believe we could decide then what this should do: ask for permissions or point to the "learn more" page. The latter might be more appropriate if we feel like the tex

[2021-06-28 23:00] #4385 closed

[2021-07-02 19:19] mryanlo opened #4436 "Accessibility Insights Fastpass causes pages using the monaco editor to crash"
Repro steps:
1. Open a page in some website/app that uses the monaco editor. For example: https://microsoft.github.io/monaco-editor/
2. Install the [Microsoft Accessibility Insights chrome extension](https://chrome.google.com/webstore/detail/accessibility-insights-fo/pbjjkligggfmakdaogkfomddhfmpjeni?hl=en-US).
3. Run the Fast Pass check on the page from step 1.
![image](https://user-images.githubu

[2021-07-14 23:09] karanbirsingh commented on #4436
I can reproduce this bug using AI-Web in Chrome. I can also reproduce this bug by running axe-core in the console:

[code]

However, versions of axe-core >= 4.2.3 can scan the page using the above snippet. I did not try the axe-core update locally in the extension. I also didn't see anything notable in the [changelog](https://github.com/dequelabs/axe-core/blob/develop/CHANGELOG.md#423-2021-06-22),

[2021-07-15 21:58] dbjorge opened #4490 "Android: Failure detail text missing engine versions"
## Describe the bug

The end of the text you get when using "File issue" or "Copy failure details" from Accessibility Insights for Android currently reads:

[code]

This text should mention both of the rules engines we use (not just axe-android), and it should include version numbers for both.

It should also not have a confusing empty `Environment:` block. Either the `\n====` should be omitted if

[2021-07-15 22:32] DaveTryon opened #4491 "Android: Need to unmaximize window if we redetect the device"
## Describe the bug

When we redetect a device after disconnect, the code tries to restore back to the 600x400 size used for the device connection experience. This works when the window is not maximized, but if the window is maximized (or presumably full screen on Mac), the window resize gets ignored.

**To Reproduce**
Steps to reproduce the behavior:

1. Start the client & scan an app
2. Get to t

[2021-07-15 23:15] waabid opened #4492 "Android: export dialog disappears if window is resized"
## Describe the bug

The export result dialog will disappear if the window is resized to where the export button moves to the "..." menu.

**To Reproduce**
Steps to reproduce the behavior:

1. Use the export result button.
2. The dialog will show up.
3. Resize window such that the export result dialog moves from the vertical "..." menu to outside of it or vice versa.

## Expected behavior

It shou

[2021-07-16 22:39] peterdur commented on #4490
Quick notes:

- not having the axe-android version may be intentional per #2757
- in Web, environment is the browser and version; for Android, do we want this to be the device/app as in the report?

[2021-07-19 17:17] ferBonnin commented on #4436
marking this as blocked until we update to axe-core 4.3 and linking to the feature

[2021-07-19 17:20] ferBonnin commented on #4490
marking as needs investigation and assigning to @juchampa to define requirements on the axe-android version and if we need environment details. Since this might be intentional, we might want to check why we don't have the axe-android version

[2021-07-19 17:23] ferBonnin commented on #4491
per conversation with Peter, marking this as won't fix. We agree that this is unexpected behaviour but its not broken as things seem to work fine in this state. Will reactivate if we get user feedback on this.

[2021-07-19 17:23] #4491 closed

[2021-07-19 17:44] jalkire commented on #4290
electron-builder now up to date as of #4459

[2021-07-19 17:44] #4290 closed

[2021-07-21 17:41] mhulse commented on #3853
https://accessibilityinsights.io/info-examples/

[2021-07-21 17:42] mhulse commented on #2057
Just found this: https://accessibilityinsights.io/info-examples/

[2021-07-21 21:15] DaveTryon opened #4513 "[bug]: Spinner movement is almost imperceptible in system HC modes"
## Describe the bug

The movement of the spinner that we display in either Web or unified is almost imperceptible in system HC modes

**To Reproduce**
Steps to reproduce the behavior:

1. Enable any Windows HC mode
2. Scan a page--especially a complex one that takes some time
3. Watch for movement of the spinner

## Expected behavior

The spinner movement should be clearer

## Screenshots

HC Mode

[2021-07-22 16:35] sahithikkss-zz opened #4516 "Browser extension for Accessibility Insights icon is not visible in high contrast "High Contrast Black" mode"
## Describe the bug

Browser extension for Accessibility Insights icon is not visible in high contrast "High Contrast Black" mode

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Edge browser with Accessibility Insights installed
2. Change Windows High contrast settings to "High Contrast Black"
3. Icon visibility is less and does not meet contrast ratio

## Expected behavior
Clear visi

[2021-07-23 20:53] AhmedAbdoOrtiga commented on #4516
I see the issue but I think it needs more investigation to see if we can can programmatically change extension icon when HC mode is on/off

[2021-07-26 20:22] DaveTryon commented on #4516
@ferBonnin, our solution in the Windows app was to request new icons that include an internally contrasting border, so that we have correct contrast no matter what the background color happens to be. The same approach might also be viable in the extension.

[2021-07-26 20:25] ferBonnin commented on #4516
@DaveTryon thanks for sharing! this might be a good option instead of having to change the icons' colors

[2021-07-26 21:09] ferBonnin commented on #4513
per conversation with Peter, we should check if this is Office Fabric spinner (and let them know). Regardless, we should fix this

[2021-07-26 21:10] ferBonnin commented on #4492
reviewed with @peterdur. we should address this

[2021-07-26 21:13] ferBonnin commented on #4516
per conversation with @peterdur lets try to make the background of the icon a white circle. Please let us know if a new image from design is needed.
![the Accessibility insights icon inside a white circle](https://user-images.githubusercontent.com/9062104/127059941-fc4c94f4-5ea4-41a1-9abb-22c94c789757.png)

[2021-07-28 22:28] DaveTryon commented on #4262
Confirmed fixed in Canary

[2021-07-28 22:28] #4262 closed

[2021-07-28 22:34] jalkire commented on #4211
Hey @kennyzhen13, thanks for fixing this! Feel free to close out the issue if you feel that it is resolved 🙂

[2021-08-02 08:43] imbushuo commented on #558
+1 for this one, which will also be helpful for testing browser extension pages.

cc @Jack-Works

[2021-08-05 02:00] #4211 closed

[2021-08-05 05:22] #4281 closed

[2021-08-09 17:50] DaveTryon commented on #4326
Confirmed fixed in Canary

[2021-08-09 17:50] #4326 closed

[2021-08-13 03:24] iamrafan commented on #3095
@ferBonnin The external bug https://github.com/microsoft/fluentui/issues/11793 that we filed has been fixed. Here are further details about the validation:

```NVDA Version 2021.1```
```JAWS Professional Edition Version 2020.2006.12 ```
```Google Chrome Version 92.0.4515.131```
```Fluent UI React 8.28.0```

## Screenshots

### Keyboard navigation with Chrome/NVDA
![NVDA](https://user-images.github

[2021-08-13 03:27] iamrafan commented on #3095
@ferBonnin The external bug fix has not resolved this issue, in fact I see new issues when navigation through the links. I shall start an email thread to discuss them further.

[2021-08-13 19:57] iamrafan commented on #1569
The external issue fix also fixed this issue. Please find the validation details from below.

```AI Web Version 2.27.0```
```NVDA Version 2021.1```
```Google Chrome Version 92.0.4515.131```

![NVDA more options](https://user-images.githubusercontent.com/22068434/129412019-dd5ec3fe-cf0a-4c17-aa58-300278fc933c.gif)

[2021-08-13 19:57] #1569 closed

[2021-08-13 20:19] #3095 closed

[2021-08-13 20:55] iamrafan commented on #3435
@ferBonnin, @karanbirsingh  I validated that this specific issue has been fixed. Now, I see other issues like the undo button not being visible. I think we close this issue and open new ones related to the other bugs that I will share offline.

Validation details:
```AI Web Version 2.27.0```
```Microsoft Edge Version 92.0.902.73```
```Windows 10 Enterprise Version 21H1 OS build 19043.1165```

![im

[2021-08-16 17:54] mgifford commented on #4398
Would be really nice to be able to integrate it with this machine-readable accessibility compliance report format -https://github.com/GSA/open-product-accessibility-template

[2021-08-16 17:55] mgifford commented on #4331
I'll re-open this if we get to developing that. In the interim though, thought I'd add a link to this related project https://github.com/GSA/open-product-accessibility-template

[2021-08-19 10:33] adrianskogvold opened #4595 "HitSlop not taken into account when determining button size"
## Describe the bug

When testing touch size area of a button the hitslop of the button is not taken into account causing a false positive when testing for a large enough press area.

**To Reproduce**
Steps to reproduce the behavior:

Create a touchable that is a bit to small to pass WCAG 2.5.5 and then expand it using [hitSlop](https://reactnative.dev/docs/touchablewithoutfeedback#hitslop) to inc

[2021-08-19 21:13] jalkire opened #4600 "Automated checks crash target page with out of memory error"
## Describe the bug
For some users, Accessibility Insights crashes during automated checks on a certain page. It is unclear what difference in environment causes the crash to occur for some but not others.

**To Reproduce**

1. Go to https://amdesigner.azurewebsites.net/
2. Select blank card
3. Run fastpass> automated checks
4. The page crashes after a few seconds with an error code: out of memory

[2021-08-23 23:13] ferBonnin commented on #4600
marking this as fix since with the latest canary build (that has the latest axe-core version) this is not crashing. Unsure why it was crashing when running with console.

[2021-08-23 23:48] peterdur commented on #3801
@ferBonnin Confirming that per https://developer.chrome.com/docs/extensions/reference/commands/ we can add more commands, but we can only suggest 4 default key combinations in [manifest.json](https://github.com/microsoft/accessibility-insights-web/blob/main/src/manifest.json).

[2021-08-23 23:51] ferBonnin commented on #3801
thanks for confirming @peterdur! :)

[2021-08-24 21:00] dbjorge commented on #4595
Thanks for reporting the issue, @adrianskogvold !

I've investigated this and found that, while `hitSlop` does impact the pressable target area of the button for non-screen-reader users, it does *not* appear to impact the pressable target area for users of the platform's standard screen reader (Talkback). To test this, I created a simple React Native app that used a `TouchableOpacity` control with

[2021-08-24 21:03] dbjorge commented on #4595
I've marked the issue as resolved because we think Accessibility Insights' current behavior is correct, but please let us know if I've made a mistake in my testing or if the React Native behavior were to change and we'd be happy to take another look!

[2021-08-25 21:49] dbjorge opened #4615 "web: color visualizer does not affect `body` element's background"
## Describe the bug

Accessibility Insights for Web's Color ad-hoc visualizer, which is intended to turn a page grayscale, does not work against background colors/images applied to a page's body element.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any page that uses a `background-color` or `background-image` style on its `body` element. For example, https://dequeuniversity.com/dem

[2021-08-25 22:26] lisli1 opened #4616 "[Windows HC] More actions menu icon is not visible when selected"
## Describe the bug

1. When the "more actions" menu icon is selected, the icon is no longer visible.
2. Similarly, when the menu items are hovered, there does not seem to be sufficient contrast.

* In Windows High Contrast 1, (1) is present.
* In Windows High Contrast 2, (1) is present.
* In Windows High Contrast Black, (1) and (2) are present. For (2), the text of the menu items has insufficient

[2021-08-26 23:18] brocktaylor7 opened #4621 "Report Package needs to build using lower typescript compilation targets"
## Description

The accessibility-insights-report package is currently building using ES2020 compilation targets. This is incompatible with the Accessibility Insights Service, which depends on it.  We need to be able to fix the build process so that the report package can have it's own nested tsconfig.json pointed to lower targets that is consumed and honored during build.

The current known accep

[2021-08-30 17:44] ferBonnin commented on #4436
axe-core has been updated to 4.3.2 and I can't repro this issue anymore, marking as resolved!
@mryanlo please let us know if this has addressed the issue 😃

[2021-08-30 17:45] ferBonnin commented on #3987
marking this as resolved and closing since scrollable region focusable has been moved to needs review due to the issue linked here

[2021-08-30 17:45] #3987 closed

[2021-08-30 17:47] mryanlo commented on #4436
@ferBonnin I have tested this and was able to successfully run the AI fastpass on pages with the monaco editor. thanks for resolving this!

[2021-08-30 17:49] #4595 closed

[2021-08-30 17:50] #4600 closed

[2021-08-30 17:50] #4436 closed

[2021-08-30 23:17] ferBonnin commented on #4616
triaged with @peterdur

[2021-08-31 00:19] peterdur commented on #4615
This bug feels very familiar, but I've had no luck finding an older instance with a reason that this couldn't be fixed.

Validated that applying the filter on the html element rather than on the body element appears to fix this.

[2021-09-01 22:04] jalkire opened #4645 "Android: Automatic updates not working on Windows"
## Describe the bug
Automatic updates for AI-Android are not working on my Windows devices

**To Reproduce**
Steps to reproduce the behavior:

1. Install a previous version of AI-Android on Windows ([here are some previous prod release artifacts](https://dev.azure.com/accessibility-insights-private/Accessibility%20Insights%20(private)/_build/results?buildId=24359&view=artifacts&pathAsName=false&ty

[2021-09-02 17:42] dbjorge commented on #4361
Resolved by #4644

[2021-09-02 23:19] brocktaylor7 opened #4649 "FluentUI FocusTrapZone flags aria-hidden-focus rule on Mac but not Windows"
## Describe the bug

This is an issue to track a very strange behavior that we've observed where a rule is flagged consistently on Mac but not on Windows even though the HTML is seemingly identical on both.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [Fluent UI Focus Trap Zone](https://developer.microsoft.com/en-us/fluentui#/controls/web/focustrapzone)
2. Click on any of the "Use

[2021-09-06 20:31] Shobhit1 commented on #4097
Hey @ferBonnin ,
Sorry for replying late. It works now. Thanks for the fix. :)

[2021-09-07 06:47] sahithikkss opened #4659 "WCAG 4.1.2: Nested interactive controls are not announced by screen readers (checkbox - custom style)"
#### Issue

Element has  focusable descendant but the descendant is hidden and is not announced by screen readers as desired by the application.
Because of the attributes **aria-hidden="true" tabindex="-999"**

Could you help me how to fix this error on AI? (while it is the expected behavior for the application)
Or should the tool be actually NOT showing the error when input element is aria-hidden

[2021-09-07 17:26] JGibson2019 commented on #4659
@sahithikkss Hello! Just to clarify: is the extension showing this failure on a site you're testing with our tool and you're seeking our help in fixing the issue on your site? Or are you thinking this is a false positive?

[2021-09-08 04:23] sahithikkss commented on #4659
Yes, I am thinking it is false positive.. My application is a authenticated app. www.qnamaker.ai.
If it is not false positive as per the standard, I would like to seek a possible fix as well.

[2021-09-08 16:38] JGibson2019 commented on #4659
Thank you for sharing additional information. We will investigate and get back to you!

[2021-09-08 17:50] JGibson2019 commented on #4659
@sahithikkss Can you specify which page on the website the failure is showing up on?

[2021-09-08 20:41] JGibson2019 commented on #4659
Thank you for the additional information. After further investigation, we were able to determine that the dual checkboxes (despite the native checkbox not being visible) can create an issue for screen reader users relying on either VoiceOver or Dragon. As such, this is not a false positive and the non-visible checkbox should be removed from the code to prevent accessibility violations.

[2021-09-08 20:41] #4659 closed

[2021-09-13 17:43] #4361 closed

[2021-09-13 18:59] ferBonnin commented on #4217
@MohammedAjaz we have updated Accessibility Insights for Web to axe-core 4.3.2. Please let us know if the issue has been addressed!

[2021-09-13 23:10] ferBonnin commented on #4649
Per conversation with Peter we should investigate if this happens with pure axe-core as well for next steps. @dbjorge can you help us investigate when possible?

[2021-09-13 23:11] ferBonnin commented on #4615
reviewed with Peter. To consider that this is also used in Assessment

[2021-09-13 23:12] ferBonnin commented on #4513
per conversation with Peter, closing since its low priority and nice to have. We will revisit if we hear user feedback

[2021-09-13 23:12] #4513 closed

[2021-09-14 00:52] peterdur commented on #4516
@ferBonnin Looking into the images, we'll need new versions of:
- https://github.com/microsoft/accessibility-insights-web/blob/main/src/icons/brand/blue/brand-blue-16px.png
- https://github.com/microsoft/accessibility-insights-web/blob/main/src/icons/brand/blue/brand-blue-48px.png
- https://github.com/microsoft/accessibility-insights-web/blob/main/src/icons/brand/blue/brand-blue-128px.png

Somethi

[2021-09-14 17:20] ferBonnin commented on #4516
@peterdur got it, let me check with design.

[2021-09-14 21:33] dbjorge commented on #4649
Sure, I can take a look. For reference, the easiest way to test with pure axe-core is usually to use the F12 developer console to add a script tag to the page pointing to any CDN for npm packages (I like https://unpkg.com). Something like this:

[code]

I verified the original report, ie, that the issue repros on mac but not windows in both pure axe-core as well as Accessibility Insights. On close

[2021-09-20 23:00] #4217 closed

[2021-09-20 23:15] #4649 closed

[2021-09-20 23:15] ferBonnin commented on #4649
per conversation with Peter,  and per earlier investigations since we don't want to show incomplete in _Needs review_ (possibility for lots of noise) and the fact that users would still see different results (one in _automated checks_, the other in _needs review_) because the page is different in each platform, marking as out of scope

[2021-09-21 08:48] negi4abg opened #4707 "Accessibility insides omits some headings"
## Describe the bug

In guided assessment mode a heading of level 1 is not highlighted if all items of the site menu are closed.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.tpgi.com/free-accessibility-testing-tools/#site-substance.
2. Run Accessibility Insides.
3. Start assessment mode.
4. Open "Headings" node and clik on the first test.
5. There is no heading at level

[2021-09-22 21:42] lisli1 commented on #4707
Hi @negi4abg, thank you for using Accessibility Insights.

Please help me understand this issue better -- are you asking that there should be a visual indicator for the heading 1 on the target page (the website you are scanning)? I see the H1 shown in the Assessment's lists of instances in both screenshots.

[2021-09-23 17:50] ferBonnin commented on #4398
Marking this as active since are starting the feature work. The JSON will follow a simple format with the WCAG number and the requirements under that WCAG.

[2021-09-23 18:37] mgifford commented on #4398
Is it possible to use the ID alone? OPAT is going with `id: 2.1.2` in YAML, but it would be easier to map to the numeric ID than a combination of number and name.

We've tried to align with the W3C's by listing an id & alt_id
[code]

In our catalog here:
https://github.com/GSA/open-product-accessibility-template/blob/main/catalog/2.4-edition-wcag-2.0-508-en.yaml

We've got some other datasets here

[2021-09-23 23:39] dbjorge opened #4720 "tech debt: report generation should embed styles using a more robust mechanism"
## Describe the ~bug~ technical debt

Today, we use a custom Grunt `embed-styles` task to implement generating report HTML which embeds the CSS bundles produced by web's webpack rules. This isn't a very robust solution; it requires us to handle quote/line escaping manually in a way that is reliant on implementation details of both webpack and our CSS loader chain. This has caused issues which are

[2021-09-27 19:41] DaveTryon opened #4735 "Android: client_OS values in telemetry are not ideal"
## Describe the bug

In the Insider telemetry pipeline, the client_OS values in the telemetry are _always_ one of the three values, which map as follows:

OS | client_OS value
--- | ---
Windows | Windows 10
MacOS | Mac OS X 10.15
Linux | Android

In the prod telemetry pipeline, we lose the OS completely, instead reporting the released version. Here's the list of versions I get from the same query

[2021-09-28 15:55] ferBonnin commented on #4735
We are using the _properties.os_ to get the OS value in the prod db. This returns Windows or Mac (Darwin).

[2021-09-28 19:49] ferBonnin commented on #4398
@mgifford yes, we can have the WCAG Number separated from the WCAG Name

[2021-09-28 21:06] ferBonnin commented on #4516
@peterdur, we met with the design team. I am attaching a file with the 3 sizes and an 8px white border. Ok to mark this as _ready for work_?

[new icons.zip](https://github.com/microsoft/accessibility-insights-web/files/7247285/new.icons.zip)

[2021-09-28 21:24] peterdur commented on #4516
@ferBonnin Looks like we need some tweaks; there's no 16px icon, and the 128px icon is a white heart rather than blue (or is that expected?)

[2021-09-28 21:36] ferBonnin commented on #4516
Ops, my bad! all icons should be blue. I will request a 16px icon, doesn't look like we have it in the Figma yet

[2021-09-29 09:33] ssawczyn opened #4741 "Ability to add optional comments to automated checks in assessment."
## Is your feature request related to a problem? Please describe.
When performing an assessment, it would sometimes be handy to be able to add additional comments for context or other reasons.  For example, I recently marked a bunch of links as failed for link purpose and it would have been great to optionally have the ability to add comments for each failure in order to provide alternative (more

[2021-09-29 09:51] ssawczyn commented on #1942
Recognizing the challenges and considerations already outlined by @ferBonnin  I think this would be a fantastic feature.  Sometimes, I just need to assess a form or a widget and when the recipient sees unrelated results, they are apt to disregard everything as irrelevant.

One suggestion might be to change the UI such that the tester can manually specify a specific path or ID, this could appear so

[2021-09-29 21:08] ferBonnin commented on #4741
Hi @ssawczyn thanks for your feature request! this looks like a duplicate of #485. Could you please take a look and let us know if that feature request covers this one?

[2021-09-29 21:17] ssawczyn commented on #4741
@ferBonnin  yes, unfortunately, this is a duplicate, my apologies -- I somehow missed the other.

[2021-09-29 21:17] #4741 closed

[2021-09-29 21:19] ferBonnin commented on #4741
No worries, thanks for the request @ssawczyn! Please feel free to upvote #485 if you'd like 🙂

[2021-09-30 02:00] #4707 closed

[2021-09-30 02:33] ssawczyn commented on #485
Absolutely love this suggestion, would be extremely handy to optionally be able to add comments in order to provide additional context around why something is marked as a failure, or possible remediation guidance to promote consistency.

[2021-10-01 15:50] #4615 closed

[2021-10-01 18:38] karanbirsingh opened #4762 "Assessment files fail to load if they were saved when the test nav was collapsed"
filed for tracking - adding details soon

## Describe the bug

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

## CodePen repro example

## Expected behavior

## Screenshots

## Context (please complete the following information)

- OS Name & Version:
- AI-Web Version & Environment:
- Browser Version:
- Target Page:

## Are

[2021-10-04 21:21] ferBonnin commented on #4516
updated the icons file above

[2021-10-06 22:39] jalkire opened #4778 "Custom widgets test crashes details view in Dev and Canary extensions"
## Describe the bug
In Canary and Dev extensions (both built with [devConfig in webpack](https://github.com/jalkire/accessibility-insights-web/blob/main/webpack.config.js#L136-L153)), the Custom widgets test causes details view to crash due to a circular reference error. This issue does not impact Prod/Insider builds.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the Canary extension

[2021-10-18 14:26] Sciurus7 opened #4800 "Visual helper for text spacing fails to change the spacing for text in input fields and buttons"
## Visual helper for text spacing fails to change the spacing for text in input fields and buttons

**To Reproduce**
Steps to reproduce the behavior:

1. Open a page with at least a native input field and a button, enter some text in the input field.
2. Start an Accessibility Insights for Web assessment.
3. Navigate to step 17.6, Adaptable content > Text spacing.
4. Toggle the Visual helper toggle

[2021-10-20 17:04] #4621 closed, assigned to nobody

[2021-10-20 18:27] #3688 closed

[2021-10-20 19:34] karanbirsingh opened #4811 "[Bug] Next requirement button doesn't expose "next" or ">" behavior to ATs"
## Describe the bug

This bug was made from https://github.com/microsoft/accessibility-insights-web/issues/3688, which had a couple issues bundled together.

Here are comments from Rob about the next requirement button used in assessment:

**To Reproduce**
Steps to reproduce the behavior:

1. Start an assessment
2. Select any requirement that has a 'next requirement' button on the bottom right

##

[2021-11-01 17:30] ferBonnin commented on #3258
verified in canary 2021.11.1.1620

[2021-11-01 17:30] #3258 closed

[2021-11-01 17:32] ferBonnin commented on #4338
verified in canary 2021.11.1.1620

[2021-11-01 17:32] #4338 closed

[2021-11-02 19:06] jlperkins commented on #4616
Investigated from a machine running Windows 11.  There are new high contrast modes available in Windows 11, entitled Aquatic, Desert, Dusk, and Night Sky.  The Windows 10 high contrast modes (High Contrast 1, HC2, HC Black, HC White) are no longer available settings in Windows 11.  Each new Windows 11 high contrast theme has color contrast issues, as listed and shown below. The cursor is not visib

[2021-11-02 22:48] ferBonnin opened #4864 "Add an adhoc tool to show the Accessible name"
## Is your feature request related to a problem? Please describe.
Would like to have a way for users bring up a list of all the form controls or links on a web page and show what is going to be the accessible name in a one-click/ keypress access option.

## Describe the desired outcome
an Adhoc option to show the accessible name of each interactive element. There should also be a way to view the e

[2021-11-04 17:06] DaveTryon commented on #4735
Confirming what @ferBonnin added above, the query to get the platforms is as follows:
[code]

If we really wanted to, we could undoubtedly add code to set the client_OS version on every event, but since that's not necessary at this time, I'll just close this out.

[2021-11-04 17:06] #4735 closed

[2021-11-06 05:00] #4398 closed

[2021-11-08 22:25] ferBonnin commented on #4864
Per triage with the team, this sounds like a good idea that we would like to explore.
We need to do more investigation to understand how to implement this solution and how it would look like since one of our main concerns is making the UI look too busy. We feel a visualization on the target page via adhoc tools that shows the same results as a user would in the Assessment feature could be a good w

[2021-11-08 23:24] ferBonnin commented on #4013
This feature has now been addressed and its available in Production

[2021-11-08 23:26] ferBonnin commented on #3959
verified this is now available in Canary!

[2021-11-08 23:26] #3959 closed

[2021-11-11 01:11] ferBonnin commented on #4027
verified in Canary

[2021-11-11 01:11] #4027 closed

[2021-11-12 00:17] ferBonnin opened #4884 "Change Resize Text display resolution"
## Describe the bug

Although there is not an explicit mention on the display resolution for resize text (and there is an ongoing conversation on this), F94 mentions 1280. For testing consistency, we should change our testing instructions in Adaptable Content > Resize Text to set the resolution to 1280 pixels wide.

## Expected behavior
in the instructions, 1.a. says: "Set the resolution to 1280 p

[2021-11-13 14:58] PureWeen opened #4890 "Display useful state information about what controls are currently focused - Android"
## Is your feature request related to a problem? Please describe.
When trying to debug focus issues (keyboard and screen reader) I'll frequently open up my app inside android studio and use the inspector so I can debug the issue. For example, recently our app was sending keyboard focus to nonvisible elements while I was using the TabIndex features of Application Insights on Android. I've hit simil

[2021-11-16 00:30] ferBonnin commented on #787
based on conversation when revisiting this feature request, we have created a way to export an Assessment report as JSON and at this moment we believe the implications of creating an API are out of the scope for the project

[2021-11-16 00:30] #787 closed

[2021-11-16 16:25] ferBonnin commented on #4516
@peterdur I think this can now be moved to Ready for work?

[2021-11-17 18:53] DaveTryon opened #4897 "[Feature Request] Simulate color blindness in color contrast checks"
**Is your feature request related to a problem? Please describe.**
The product currently provides no way to evaluate how color blindness will impact a user.

**Describe the solution you'd like**
Provide a way to understand how different types of color blindness on color contrast requirements. In an ideal world, color blindness would be automatically included in color contrast checks without any ad

[2021-11-18 05:00] #4811 closed

[2021-11-20 02:44] lisli1 opened #4910 "selfFastPass automated checks fails `list` rule in some Assessment views"
## Describe the bug

When running `selfFastPass.automatedChecks()` on the Assessment view of the details view page, there are 4 total [list](https://accessibilityinsights.io/info-examples/web/list/) violations. They are all instances of `ol` elements directly under another `ol`:
* 19.1 Captions (1 instance):
Screenshot of `ol` element circled in inspect mode next to the highlighted UI in the State

[2021-11-22 17:53] ferBonnin opened #4911 "Red failure color in overlays vs. FastPass, Assessments, reports UI"
## Describe the bug

The red that’s used in the FastPass Automated Checks website overlays is different than the red used within the Accessibility Insights UI and reports for both FastPass and Assessments.
Current red in overlays: rgb(204, 0, 0)

## Expected behavior
we use the same red color everywhere. Per design team, recommendation is to update the red in the overlays to match the red used els

[2021-11-22 17:57] ferBonnin commented on #4884
verified in Canary!

[2021-11-22 17:57] #4884 closed

[2021-11-23 23:44] lisli1 opened #4928 "selfFastPass needs review link-in-text-block violations"
## Describe the bug

When running selfFastPass on the telemetry popup dialog and settings panel, there are 3 total `link-in-text-block` violations. According to the ["How to Fix the Problem" for this rule](https://dequeuniversity.com/rules/axe/4.3/link-in-text-block), there should be a color contrast of at least 3:1 between the link text and surrounding text.

The contrast ratio for the colors is

[2021-11-29 19:40] peterdur commented on #4911
Per async conversation with Fer, marking ready for work.

[2021-11-29 19:43] peterdur commented on #4890
Per async conversation with Fer, holding for additional community feedback.

[2021-11-29 20:09] #4928 closed

[2021-11-30 04:18] #4910 closed

[2021-11-30 19:53] lisli1 commented on #4910
Verified fix in Canary Version 2021.11.30.443

[2021-11-30 20:01] lisli1 commented on #4928
Verified that links have 3.345:1 contrast ratio with surrounding text in aforementioned scenarios in Canary Version 2021.11.30.443

[2021-12-02 00:29] jalkire commented on #3942
Did some further investigation:
- When a user installs AI-Android for Mac, they download a dmg (ex: https://a11yunifiedprodblob.blob.core.windows.net/a11yunified-prod/Accessibility%20Insights%20for%20Android.dmg). When the app updates, it pulls in a zip file (ex: https://a11yunifiedprodblob.blob.core.windows.net/a11yunified-prod/Accessibility%20Insights%20for%20Android.zip). Details for why we nee

[2021-12-09 18:14] #2228 closed

[2021-12-21 18:41] #4911 closed

[2021-12-30 20:17] lavmot-ms opened #4997 "[CI/CD] Is there current support or workaround for CI integration?"
**We encourage tool related questions to be asked on stackoverflow.com and tagged with `accessibility-insights`.**

## Your question here

Is there current support or workaround for CI integration?

[2021-12-30 22:12] lisli1 commented on #4997
Please take a look at [axe-pipelines-samples](https://github.com/microsoft/axe-pipelines-samples), which contains examples on how to add automated accessibility tests to your CI builds.

[2022-01-04 18:16] sfoslund commented on #4379
Fixed by #5007

[2022-01-04 18:16] #4379 closed

[2022-01-07 02:00] #4997 closed

[2022-01-14 21:31] brocktaylor7 opened #5067 "Focus Indicator in FastPass and Assessment report not displaying correctly"
## Describe the bug

In both the FastPass and Assessment reports the focus indicator for the target page link is not displaying correctly.

**To Reproduce**
Steps to reproduce the behavior:

1. Run FastPass or Assessment
2. Export the report as HTML
3. Tab until the Target Page link in the top-right has focus

## Expected behavior

The focus indicator should be a full box around the focused elemen

[2022-01-21 23:31] jalkire opened #5097 "High contrast issues when interacting with tab stops requirements and instances in Edge"
## Describe the bug
When interacting with the tab stops requirements and instances sections with a Windows high contrast mode enabled and using Edge, coloring becomes inconsistent and potentially unreadable.

**To Reproduce**
Steps to reproduce the behavior:

1. Install the Insider or Canary extension (not the current prod, 2.29.0) on Edge
2. Enable High Contrast in the Windows settings. The issue

[2022-01-21 23:44] jalkire opened #5098 "Assessment instance issues with Windows 11 high contrast themes"
## Describe the bug
When using certain high contrast themes in Windows 11, the undo and visibility toggle buttons on assessment instances from assisted tests (and the yet to be released tab stops instances) are nearly invisible. In Chrome, the text of selected instances is also unreadable.

**To Reproduce**
Steps to reproduce the behavior:

1. Install the extension
2. Enable High Contrast in the W

[2022-01-22 00:39] dbjorge opened #5099 "Web FastPass Tab stops view and report fit and finish inconsistencies"
## Describe the bug

This issue tracks a collection of small fit and finish issues discovered during release validation for `feat(tabstops-report)` in Insider 2.30.0.

### FastPass report

#### Summary bar

* [x] (#5109 The Summary bar is intended to be contained inside a white "card" rectangle
* [x] (#5109) The "x" and "check" icons are misaligned; they should be vertically aligned with the numbe

[2022-01-25 00:12] ferBonnin commented on #4387
The Getting started section now states: "If you're testing on a hardware device, you'll need to enable developer options and debugging on your device."

[2022-01-25 00:12] #4387 closed

[2022-01-25 00:14] ferBonnin commented on #1167
reviewed with Peter, old bug. closing

[2022-01-25 00:14] #1167 closed

[2022-01-28 18:17] jalkire opened #5120 "Divs with role=heading should be replaced with native heading elements"
## Describe the bug
In a few places in our codebase, we use div elements with role=heading instead of actual heading elements. According to [our guidance](https://github.com/microsoft/accessibility-insights-web/blob/5deba6151546207ecb802540184a0c7e46947827/src/content/adhoc/headings/guidance.tsx) and [other best practices](https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/headi

[2022-01-31 16:11] break-stuff opened #5126 "Web Component Headings Not Being Detected by Headings test in Ad Hoc Tools"
## Describe the bug

Headings within web components are not visible to the "Headings" test in the "Ad Hoc Tools" section of the browser extension.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the provided [code sandbox](https://codesandbox.io/s/web-component-header-test-mncbn?file=/index.html)
2. Click on 'Open in new window' (upper-right corner of the rendered content)
3. In the n

[2022-01-31 17:04] #4321 closed

[2022-01-31 18:09] jalkire commented on #5097
Confirmed fixed in insider 2.30.1

[2022-01-31 18:09] #5097 closed

[2022-01-31 18:15] jalkire commented on #5098
Confirmed fixed in Edge with insider 2.30.1. However, the selected instance row text color issue remains in Chrome

[2022-01-31 18:28] brocktaylor7 commented on #5098
I am not able to replicate the issue in chrome, it is working as I expected for me:
![image](https://user-images.githubusercontent.com/13286385/151851578-06a2053d-d8e7-4101-bb38-6760eb08e296.png)

[2022-01-31 18:42] jalkire commented on #5098
Looks like I didn't give repro steps for the Chrome text color issue--it occurs when navigating the instances list with keyboard, and only after moving from one instance to another:
![gif showing more detailed repro of bad behavior](https://user-images.githubusercontent.com/4615491/151853233-e0dc62c2-0958-408e-977c-2db67e6e3247.gif)

[2022-01-31 23:07] dbjorge opened #5131 "Some FastPass components missing font-weights in mac/linux"
## Describe the bug

During 2.30.1 insider testing, we found that several UI components used in different parts of FastPass were using `font-weight` styles implied by default browser user agent CSS instead of explicitly specifying font-weights (ideally by using the named style includes from `fonts.scss`). These cases happened to end up with correct font weights on Windows' default user agent sheet

[2022-02-03 20:12] mhulse commented on #2057
Just to update this thread, it looks like https://accessibilityinsights.io/info-examples/ is different than the info found in the plugin. **I'd really love to share links to the most up-to-date info and examples from the plugin.**

[2022-02-03 21:09] ferBonnin commented on #2057
Hi @mhulse could you please tell us more about this? Where possible, the info-examples in Accessibility Insights for Web point to the link you added above:

<img width="958" alt="screenshot of Accessibility Insights automated checks, hovering over the more info about this rule link. the preview link shows it points to accessibilityinsights.io" src="https://user-images.githubusercontent.com/9062104

[2022-02-03 22:10] mhulse commented on #2057
Hi @ferBonnin, thanks for the reply.

Sorry if this wasn't clear in my original/last reply. Accessibility Insights for Web plugin doesn't actually point to https://accessibilityinsights.io/info-examples/. Sorry if I caused any confusion.

When I first found the above website, at first glance, I thought it was a web-published version of the info and examples found in the Accessibility Insights for

[2022-02-03 22:26] ferBonnin commented on #2057
Hi @mhulse got it! this is accurate. Right now, the information we have at [Info & Examples in the Accessibility Insights website](https://accessibilityinsights.io/info-examples/web/ ) is for automated checks only. The information in the requirements in assessment is only available in the product at the moment.

[2022-02-05 05:13] mhulse commented on #2057
Thanks for the update/reply/help @ferBonnin, I really appreciate it!

[2022-02-08 00:14] ferBonnin commented on #5126
reviewed with Peter. This needs investigation. Relevant notes:
* we are detecting the H1 element (in Assessment, the H1 appears in the list of Headings) but we are not able to draw the visualization
* the H1 is in an open shadow DOM

[2022-02-11 11:09] majaokholm commented on #5120
@jalkire I would like to give this one a go, if not already taken? It would be my first contribution here but looks pretty straight forward.

[2022-02-11 17:47] jalkire commented on #5120
@majaokholm Sure thing, thank you for checking! One hint is to take a look at how we're using [`HeadingElementForLevel`](https://github.com/microsoft/accessibility-insights-web/blob/main/src/common/components/heading-element-for-level.tsx) right now as a starting point 🙂

[2022-02-11 18:30] ferBonnin commented on #5120
@majaokholm thanks! I have assigned this issue to you 😄

[2022-02-14 22:30] ferBonnin commented on #5099
@dbjorge, @jalkire is this bug fixed?

[2022-02-14 22:56] dbjorge commented on #5099
Yes

[2022-02-14 22:56] #5099 closed

[2022-02-17 14:35] katydecorah opened #5187 "Consider enforcing scss values"
## Is your feature request related to a problem? Please describe.

While working on https://github.com/microsoft/accessibility-insights-web/pull/5158, I noticed that the values of `font-weight` for semibold text varied: `600` or `$fontWeightSemiBold`. This does not present a bug, but by using variables (`$fontWeightSemiBold`) we have the potential for reducing human error and making the stylesheet

[2022-02-17 15:38] mgifford commented on #4331
Just as an update, OPAT is now going by OpenACR.  There's also an editor that is live here https://gsa.github.io/openacr-editor/

We would want to be able to import in the same way as WCAG-EM is doing with JSON-LC formatted EARL data.

[2022-02-18 09:22] majaokholm commented on #5120
@jalkire sorry for the delay, got fir by sick kids. Nevertheless, I made a few changes but excluding e2e tests and unit tests I only found the div element with role=heading being used three places. I have refactored these three instances but am wondering if I might be overlooking something? I have created a draft pull request for my changes

[2022-02-18 20:19] sandyio opened #5191 "Tab stops not working"
## Describe the bug

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'Accessibility Insights for Web'
2. Click on 'tab stops'
3. it doesn't load - the blue circle just keeps spinning
4. help please!

[2022-02-22 17:51] ThanyaLeif commented on #5191
We were unable to reproduce the error.
Can you provide us with images of the issue or any other information about the problem?

[2022-02-22 18:14] sandyio commented on #5191
it seems to depend on the page.  I'll send along the next time I find one that spins out. thanks!

[2022-02-22 18:14] #5191 closed

[2022-02-22 22:16] jalkire commented on #5120
No problem at all, thank you for opening the PR! You found all the right div elements. I left a few pieces of feedback on the PR

[2022-02-24 18:46] dbjorge commented on #5131
LGTM in canary on my Ubuntu and MacOS machines!

[2022-02-24 18:46] #5131 closed

[2022-03-01 00:22] #4492 closed

[2022-03-01 00:25] ferBonnin commented on #4357
Per conversation with Peter, moving to await community interest to check if this is an issue

[2022-03-02 09:46] hunnynegi424 opened #5220 "Accessible Description shows No Value"
Below is my code for a logo button:
`<Button
    style={{ padding: 0, margin: 10 }}
    role='button'
    aria-label='Logo'
    aria-describedby='logoIcon'
    onClick={() => { window.location.href = '/PostLoginAnnouncements' }}
    onKeyDown={(e) => {
      if(e.key === 'Enter') { window.location.href = '/PostLoginAnnouncements' }
    }}

    <div id='logoIcon' style={{ display: 'none' }}>Logo Ic

[2022-03-02 10:39] pedrovinicio opened #5221 "Tool is not taking in consideration tabIndex=-1"
## Describe the bug

The original bug has been described on this GitHub repository for FluentUI=> https://github.com/microsoft/fluentui/issues/21904. As you can see, one of the developers replied that this is a bug on the tool side of things.

![image](https://user-images.githubusercontent.com/6471563/156345915-d38940f6-692e-4233-a7bd-727cebdf1d54.png)

[2022-03-02 10:42] pedroafsouza opened #5222 "Tool is ignoring tabIndex=-1"
The original bug has been described on this https://github.com/microsoft/fluentui/issues/21904. As explained for one of the deveopers, it looks like this is an issue on the tool side:

![image](https://user-images.githubusercontent.com/957088/156346466-da4b2a53-be98-4699-86ba-052372fbfdb0.png)

[2022-03-02 16:44] shanisebarona commented on #5220
Hi @hunnynegi424, looks the like the `aria-describedby='logoIcon'` is pointing to an element with a style of `display: none`, which removes the element completely from the DOM tree, will not be accessible to any user, and provides Accessible Description with no value.

We suggest hiding content visually, if you are trying to hide content from sighted users. An example on hiding content visually ca

[2022-03-02 21:24] shanisebarona commented on #5222
Hi @pedroafsouza, here is a helpful explanation regarding the nested-interactive rule failing with `tabIndex = -1`: https://github.com/dequelabs/axe-core/issues/3227#issuecomment-949684411

We will be working to update the rules engine version so that we can bring the improved error message into the tool.

[2022-03-04 05:37] hunnynegi424 commented on #5220
I tried that, it didn't work. I even removed all styling properties from the div, it still show no value for Accessible Description.

[2022-03-04 15:19] shanisebarona commented on #5220
Can you share a minimal repro (in something like Codepen) so that we can take a further look?

[2022-03-04 16:08] hunnynegi424 commented on #5220
So my issue is, the accessible name shows the aria-label, but the accessible description says no value, even after defining the aria-describedby for the my div.

<div role='button' aria-label='action-button' aria-describedby='info-div'>Click Me</div>
<div id='info-div'>I am a button</div>

does this make any sense? what exactly goes into Accessible Description under Custom Widgets > Instructions

[2022-03-08 05:00] #5067 closed

[2022-03-08 21:14] madalynrose commented on #5220
Hello! I pasted the code above into codepen and Accessibility Insights successfully detected the accessible description for the Instructions requirement. I am unable to repro the issue you are seeing. Could you link to a page or a repo where you are seeing the issue?

![accessible description listed matching contents of info-div above](https://user-images.githubusercontent.com/3230904/157325981-08

[2022-03-08 23:39] sfoslund opened #5247 "Requirement name is bolded but not emphasized"
## Describe the bug

Details view requirement results text does not meet accessibility requirements. Automatic failure results are listed in the details view with the name of the requirement bolded and followed by details. The requirement name appears bolded visually but is not surrounded by an emphasis tag, which is a violation. This repros in both automated tab stops details view results as well

[2022-03-09 22:58] sfoslund opened #5251 "Assessment instructions need to be updated for windows 11/current browser settings flows"
## Describe the bug

Some assessment `How to test` instructions need to be updated for windows 11 and current browser settings.

**To Reproduce**
Steps to reproduce the behavior:

1. Begin an assessment
2. Go to `Adaptable Content, High Contrast Mode` (can also be seen on `Adaptable Content, Resize Text` and possibly others)
3. See step 2 of `How to test` instructions, which says `Use Windows Sett

[2022-03-10 02:00] #5222 closed

[2022-03-10 18:20] katydecorah commented on #4616
Providing an update on this bug as result of the FluentUI v8 upgrade (#5244) as the state of this bug has shifted slightly.

## Current state of web

The high contrast issue on the kebab menu was almost completely resolved for web, the **Desert** theme is the only Windows 11 high contrast theme that needs to be addressed.

Theme | Original bug report | Current (post-FluentUI v8 release)
|---|---|-

[2022-03-10 19:25] sfoslund commented on #5247
Fixed by #5249

[2022-03-10 19:25] #5247 closed

[2022-03-10 19:28] waabid opened #5258 "AI Web: telemetry source is incorrect when auto-generated instances to tab stops are added"
## Describe the bug

Source is always DetailsView.

**To Reproduce**
Steps to reproduce the behavior:

1. Enable Tab Stops Automation.
2. Enable logging telemetry to console.
3. Run Tab Stops and create an error (e.g. tabbing back and forth quickly will create one).
4. In background.html, should see telemetry source for instances created is DetailsView.

## Expected behavior

Source should be Targ

[2022-03-13 04:22] apfeldieb opened #5275 "WCAG 4.1.2: Ensures buttons have discernible text (button)"
#### Issue
`Ensures buttons have discernible text` ([button-name](https://accessibilityinsights.io/info-examples/web/button-name))
#### Target application
[(1) Microsoft Edge | State of the Platform - YouTube](https://www.youtube.com/watch?v=sU0WRZ0kkNo)
#### Element path
yt-icon-button[pressed="true"] > button
#### Snippet
`<button id="button" class="style-scope yt-icon-button" aria-pressed="true

[2022-03-14 14:45] #5098 closed

[2022-03-17 15:50] DaveTryon commented on #5275
@apfeldieb, we don't believe that there's any action for our team to take on this, so we're assigning this back to you to close it out. Thanks!

[2022-03-17 20:00] #5220 closed

[2022-03-24 20:00] #5275 closed

[2022-03-28 18:31] ferBonnin opened #5305 "Tabstops automation with modal dialogs"
## Describe the bug

If there is a modal dialog and you run Tabstops, all elements behind the modal dialog will be marked as failures

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.washington.edu/accesscomputing/AU/after.html
2. Click on the cheat sheet of a11y issues
3. Run tabstops over the modal dialog
4. See that all other elements in the page are marked as potential

[2022-03-28 23:08] ferBonnin commented on #5305
triaged with Peter. Even though issues are added as potential / needs review, this could confuse users and make them not keep the focus in the modal only

[2022-03-29 16:24] sfoslund commented on #5305
I think the root cause of this is an oddity in tabbable- see its [readme](https://github.com/focus-trap/tabbable#more-details) which states: `Only elements hidden with display: none or visibility: hidden are left out`. It looks like it ignores `aria-hidden=true` and includes those elements in its list of tabbable elements, which causes us to mark them as missing when the user is unable to tab to t

[2022-03-29 18:29] waabid commented on #5305
Unfortunately, this is news to me as well. I guess we'll have to self-filter after getting the list of elements. Filtering for components that are under aria-hidden (and aria-modal, per WCAG 1.1) should be doable. Still, I do think there might be other modals (usually ones that are not accessible per WCAG since my understanding is one of aria-hidden or aria-modal attributes are required) that exis

[2022-03-30 16:18] sfoslund commented on #5305
@waabid makes sense, I made a PR to do that filtering: https://github.com/microsoft/accessibility-insights-web/pull/5308

[2022-03-30 16:34] sfoslund commented on #5305
I think there's also a false positive keyboard trap on this page- notice the error on tab # 4 over the close button in the screenshot above. Investigating initially it looks like the [oldElement here](https://github.com/microsoft/accessibility-insights-web/blob/main/src/injected/analyzers/tab-stops-orchestrator.ts#L108) is incorrect when tabbing from the OK to the close button- the old element sho

[2022-04-01 22:01] sfoslund opened #5317 "Automated Tab Stops Focus Trap False Positive"
## Describe the bug

A false positive focus trap failure is being reported through the new automated tab stops checks.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.washington.edu/accesscomputing/AU/after.html
2. Click on the cheat sheet of a11y issues
3. Run tabstops over the modal dialog
4. Tab at least 3 times, so that focus loops back to the close ('X') button
5. See

[2022-04-01 22:03] sfoslund commented on #5305
This issue was fixed by #5308, but that PR did not address the false positive focus trap I mentioned above so I opened https://github.com/microsoft/accessibility-insights-web/issues/5317 to track that issue separately.

[2022-04-04 17:54] sfoslund commented on #4778
Closing as this was fixed in #5289

[2022-04-04 17:54] #4778 closed

[2022-04-04 17:55] sfoslund commented on #5305
Closing as this was fixed in #5308

[2022-04-04 17:55] #5305 closed

[2022-04-05 20:33] waabid opened #5327 "Refactor svg-drawer to smaller classes, allowing for easier changes to be made in the future"
## Describe the bug

This is an issue tracking work on re-factoring the SVG drawer to smaller classes/objects.

Tasks:

- Refactor the creation of FocusIndicator objects
    - This was done in #5284
- Refactor SVG container management
- Refactor getting highlight elements

[2022-04-06 20:35] waabid opened #5331 "Building the unified client on MacOS errors out (potentially only on MacOS Monterey)"
## Describe the bug

Specifically the part where we run `pack:unified:canary` causes the error to occur.

**To Reproduce**
Steps to reproduce the behavior:

1. Checkout main branch and run yarn.
2. Run `yarn build:unified:canary`.

## Expected behavior

Should build unified client successfully.

## Context (please complete the following information)

- OS Name & Version: MacOS 12.3 and 12.3.1 both

[2022-04-06 21:58] waabid commented on #5331
@jalkire was able to validate that the build is green on MacOS 11.6.4.

[2022-04-06 22:07] waabid commented on #3942
After notarization is complete, we're seeing a different error when trying to update.

The error:

[code]

[2022-04-11 19:09] dbjorge opened #5349 "Regression: unexpected extra spacing between card groups"
## Describe the bug

In recent canary builds there is about 16px of undesirable extra spacing between groups of cards in card-based UI views (eg, web's FastPass Automated Checks). In the screenshot below, note the extra spacing in a recent dev build on the left vs the "normal" spacing in production on the right:

![screenshot demonstrating issue](https://user-images.githubusercontent.com/376284/16

[2022-04-11 20:00] waabid commented on #5349
Should have a PR out for this soon.

[2022-04-12 13:01] mgifford opened #5357 "Skip RSS & other non-HTML pages"
## Is your feature request related to a problem? Please describe.
If a user evaluates a URL that isn't in HTML, then the tool should be smart enough to identify that and not display errors for HTML. I've seen instances with both RSS & images (without proper extensions) where errors were reported that confused less technical users.

## Describe the desired outcome
If someone runs across a mimetype

[2022-04-12 15:51] scottaohara opened #5358 "Heading ad hoc tools not displaying the updated aria-level of a heading"
## Describe the bug
Headings which have had their implicit level overwritten by use of an explicit `aria-level` are still showing up with their implicit level when using a11y insights' ad hoc tools to highlight headings.

## CodePen repro example

Go to the codepen: https://codepen.io/scottohara/full/qBpyeNW
turn on the a11y insights for web ad hoc feature to display the headings of the page.

The

[2022-04-12 17:20] peterdur commented on #5349
@waabid @dbjorge has this been fixed by #5355?

[2022-04-12 17:29] ferBonnin commented on #5358
Reviewed with Peter, the aria-level should be the one we consider if we have both a native heading level and an explicit aria-level

Also interesting is that the H3 in the div has a lowercase 'h'. Ran the same visualization in accessibilityinsights.io/docs, all the Hx have an uppercase 'H'

[2022-04-12 17:35] ferBonnin commented on #5317
reviewed with Peter

[2022-04-14 00:30] peterdur commented on #5358
Looking at the code, it's intentional that a heading level set by aria-level has a lowercase 'h' prefix.

[2022-04-15 00:32] lisli1 opened #5374 "[Unified] Broken link in telemetry pop-up dialog"
## Describe the bug

The "help the community" link (https://accessibilityinsights.io/docs/telemetry) in the telemetry pop-up dialog is broken. It should instead point to https://accessibilityinsights.io/docs/android/reference/telemetry/

**To Reproduce**
Steps to reproduce the behavior:

1. Start with a fresh install of Accessibility Insights for Android
2. Launch the app
3. Select the "help the c

[2022-04-15 05:40] peterdur commented on #5374
I think this link should actually go to https://accessibilityinsights.io/docs/general/telemetry/ (rather than the Android-specific page suggested above). The redirects added in https://github.com/microsoft/accessibility-insights-docs/pull/1135/files#diff-d768796153b4cb52bcce46cffce7d2a46da96c912bd72d9381768f78b3b67592R16 almost do this, but they assume a slash at the end of the URL. Making the sla

[2022-04-15 16:10] KJohansonMicrosoft opened #5376 "Ongoing issues with assessment getting stuck in "scanning" mode"
I frequently have issues where my assessments get stuck in “scanning” mode (see below), and I have to close the assessment windows and reopen to continue.

I don't know how to reproduce, as this issue shows up randomly, not on all parts of an assessment, or all assessments.

I expected to be able to specify whether a page passed or failed that specific assessment.

![image](https://user-images.git

[2022-04-15 18:01] jlperkins commented on #5376
Hello! Thanks for letting us know about this issue. Can you give us any more information so that we might be able to reproduce it? For example, if there is anything you are typically working on when it hangs. Can you think of anything specific that you were doing right before this issue typically happens?

[2022-04-15 18:04] KJohansonMicrosoft commented on #5376
Not really. I haven't been documenting which parts of the assessment trigger this problem. But I see the "scanning" icon as soon as I click on a new segment of the assessment.

Karen Johanson
Copywriter/Editor | Commercial Licensing Digital Marketing
***@***.***<https://nam06.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.redtech.com%2F&data=04%7C01%7Cv-kjohanson%40microsoft.com%7C5a0f31e6

[2022-04-15 18:07] jlperkins commented on #5376
Gotcha. Without a consistent or reproducible case this might be tricky to triage... what is the exact version of the extension which you are running? (Version is visible at the bottom left of the popup)
![image](https://user-images.githubusercontent.com/33770444/163605294-60d7b24e-8ee9-4d03-901b-8ff11192f24c.png)

[2022-04-15 18:29] jlperkins commented on #5376
I was able to reproduce both this issue and the one you emailed about (text included below) by switching **quickly** between different assisted requirements.  Thank you for pointing out this issue, we will work to fix it!

Issue raised via email:

[2022-04-15 18:37] lisli1 commented on #5374
Verified the link is now fixed in Accessibility Insights for Android Insider 2022.411.12

[2022-04-15 18:37] #5374 closed

[2022-04-15 18:51] KJohansonMicrosoft commented on #5376
Version 2.31.1

Karen Johanson
Copywriter/Editor | Commercial Licensing Digital Marketing
***@***.***<https://nam06.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.redtech.com%2F&data=04%7C01%7Cv-kjohanson%40microsoft.com%7C5a0f31e618b945edd25f08d9d6e165e6%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637777085829959386%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1h

[2022-04-15 19:19] dbjorge commented on #5349
Yes. Verified the fix in main.

[2022-04-15 19:19] #5349 closed

[2022-04-15 20:06] dbjorge commented on #5376
For the "visual helper cannot be toggled on" variant, I captured the following logs from the background page during the repro:

<details>
<summary>full background logs</summary>

[code]
</details>

I think the most interesting parts the logs are:

[code]

These error messages come from `browser-message-broadcaster-factory.ts`'s `errorHandler` around the `browser.tabs.sendMessage` webextension API

[2022-04-15 22:09] KJohansonMicrosoft commented on #5376
Thanks!

Karen Johanson
Copywriter/Editor | Commercial Licensing Digital Marketing
***@***.***<https://nam06.safelinks.protection.outlook.com/?url=http%3A%2F%2Fwww.redtech.com%2F&data=04%7C01%7Cv-kjohanson%40microsoft.com%7C5a0f31e618b945edd25f08d9d6e165e6%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637777085829959386%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJ

[2022-04-23 02:22] waabid opened #5412 "Engineering: explore migration to esbuild"
I'm creating this issue to track an exploration into migrating this project from webpack to esbuild.

Latest branch: https://github.com/waabid/accessibility-insights-web/tree/esbuildTry2

Current status: local dev build is working in this branch (yarn build)

Some stats based on `yarn build` on my machine:
- esbuild: 15s on average.
- webpack: 45s on average.

## Changes that were made for esbuild

[2022-04-25 23:20] ferBonnin commented on #5120
@jalkire can this be closed now?

[2022-04-25 23:22] ferBonnin commented on #5258
@waabid can we close this issue?

[2022-04-25 23:24] ferBonnin commented on #3942
@waabid has this been fixed?

[2022-04-25 23:26] ferBonnin commented on #4263
@jlperkins could you please help us verify if this issue still repos after the Fluent update?

[2022-04-25 23:26] waabid commented on #5258
Yep!

[2022-04-25 23:26] #5258 closed

[2022-04-25 23:27] #4013 closed

[2022-04-25 23:27] waabid commented on #3942
This has been fixed in our latest release.

[2022-04-25 23:27] #3942 closed

[2022-04-25 23:31] ferBonnin commented on #3476
@jlperkins can you help us verify if this issue still happens after fluent update?

[2022-04-25 23:32] ferBonnin commented on #3435
@jlperkins can you help us verify if this issue still happens after fluent update?

[2022-04-25 23:54] waabid commented on #2154
This has been completed

[2022-04-25 23:54] #2154 closed

[2022-04-27 18:53] jlperkins commented on #4263
With the latest changes in main, and the new HC modes in Windows 11, this issue still repros.  As seen in the images below, the assessment step gets a small colored bar to the side, and the individual assessment task in question gets bolded, but there is no strong indication that you are on that step or have selected that task.

![image](https://user-images.githubusercontent.com/33770444/165598634

[2022-04-27 19:16] jlperkins commented on #3435
In Windows 11 HC modes, this issue appears to be resolved. The left-hand checkboxes, radio buttons, and undo buttons all appear with enough contrast, in each of the Windows 11 HC themes. See pictures below. I am unable to verify this for Windows 10 HC modes as I have already upgraded my work computer to Windows 11; a dev with Windows 10 still running should try and verify this issue as well.

Imag

[2022-04-27 19:41] jlperkins commented on #3476
These contrast issues still persist in our playground extension; however, in our latest dev version which includes the fluent update, this contrast issue appears to be resolved for Windows 11 HC modes. Please note that I am unable to test the Windows 10 HC modes since I have already upgraded, so someone still running Windows 10 will need to verify these changes as well.  Please see the images belo

[2022-04-27 20:29] #3435 closed

[2022-05-03 02:00] #5120 closed

[2022-05-03 15:48] mgifford opened #5452 "Also add Firefox's color contrast checker for text on background image"
Firefox has this now, it is an issue on Axe-core but also should be something that is included in Accessibility Insights
https://github.com/dequelabs/axe-core/issues/3447

Gradients are common and need to be easier to evaluate. Firefox does it this way:
![Firefox screenshot](https://user-images.githubusercontent.com/116832/166488095-f362c9cd-c723-4ed3-81f4-d52298d02617.png)

It should be something

[2022-05-06 00:18] waabid commented on #5412
Update: with a minor change, was able to validate the branch on Windows as well.

Started looking into using the "minified" version of the bundles and started seeing an error in details view (but everything else seems functional). It's an error saying that `axe is not a function` ... which likely means there's an import issue somewhere.

[2022-05-06 00:26] waabid commented on #5412
On further investigation, this seems to be related to this issue: https://github.com/dequelabs/axe-core-npm/issues/479

Updating to axe-core 4.4.0 fixed the build with minified JS.

[2022-05-11 17:29] karanbirsingh opened #5489 "Improve shadow DOM support (visualizations & tab stops automation)"
This issue tracks tasks that would holistically improve support of shadow DOM in Accessibility Insights. We are pretty close but have some small improvements to make.

I made a tracking issue because it feels like there could be other areas of the tool I'm forgetting. For example, any fixes should also check assessment behavior. Happy to restructure or break out as requested.

At the moment, every

[2022-05-17 02:36] waabid commented on #5412
Did some further work on this.

- Unified doesn't seem to work at this moment: unclear what the issue is or what it's with. Ultimately, we can execute this change piecemeal, meaning unified can continue to use webpack until we figure out the issues.
    - Supporting unified did mean that I needed to update some further style imports.
    - Supporting our webpack config also meant removing the 'nam

[2022-05-18 00:55] waabid commented on #5412
Investigation on the minified axe-core producing ```axe is not a function``` error.
- I still **do not** fully understand what's causing this issue. It could be a bad interaction with how esbuild minifies code. It specifically mentions in the documentation that minification is not always safe (https://esbuild.github.io/api/#minify-considerations) so that could be a reason. We can look into raising

[2022-05-19 18:24] peterdur commented on #4516
Holding this for a warm-up project

[2022-05-20 00:55] waabid commented on #5412
Update:
- Manifest V3 dev build is now functional
- Report package is now functional

I think the next step will likely be to "productionize" the changes necessary for the web extension alone and then incrementally work on migrating other parts of the project (report, unified, ui) to esbuild.

[2022-05-23 19:14] ThanyaLeif commented on #5358
Hi @scottaohara,
You were assigned this bug because we have updated the Canary extension so that elements that have their levels overridden by `aria-level` are tagged to match the level that is exposed in the browser's accessibility tree as suggested in your post.
Could you confirm that our Canary extension meets expectations for this issue and close it if so?
Here is a link with more information

[2022-05-24 16:52] scottaohara commented on #5358
thank you @ThanyaLeif

i don't have the canary build of a11y insights, but reviewing the PR you linked to, the changes look like they address the issue i raised. so thank you.

[2022-05-25 17:10] #5358 closed

[2022-05-31 23:22] ferBonnin opened #5563 "Reflow requirement note"
## Describe the bug
In the reflow requirement, we don't mention 320x256 CSS pixels is equivalent to 1280x1024 at 400% zoom.

## Expected behavior

Add a note to mention this equivalence in the reflow requirement as a bullet point in step 2:
* _Note: 320 x 256 is equivalent to a display resolution of 1280 x 1024 at a 400% zoom_

## Context (please complete the following information)

- OS Name & Ve

[2022-06-03 20:18] waabid commented on #5412
I've updated the parent to reflect current status of the esbuild migration.

[2022-06-09 21:39] ferBonnin opened #5607 "[Usability] More items button"
## Describe the bug

the "..." button that appears in the command bar when reflowing could have a more explicit name.

**To Reproduce**
Steps to reproduce the behavior:

1. Open Accessibility Insights > FastPass or Assessment in any website
2. Zoom in until the buttons on the command bar get collapsed to a '...' button
3. Notice the accessible name and lack of tooltip
4.
## Expected behavior
_for

[2022-06-09 21:47] ferBonnin opened #5608 "[Usability] Save and Load assessment dialog"
## Describe the bug
After saving an assessment, users can be confused on how to load it.
Some users might try to load it directly from their downloads folder instead of using the _load assessment_ button

## Expected behavior

After downloading an assessment, show a dialog with a "don't show this again" option that lets user know the assessment can be loaded again using the "load assessment" featu

[2022-06-09 21:52] ferBonnin opened #5609 "[Usability] Reflow buttons in failure cards"
## Describe the bug

currently the failure cards in the automated checks and needs review instances have a "..." button by default. When this UI was first implemented, we determined reflowing the buttons to file bugs and copy failure details was not feasible. This bug is to revisit this after we updated the fluent UI version used

**To Reproduce**
Steps to reproduce the behavior:

1. [Go to access

[2022-06-09 21:59] ferBonnin opened #5610 "[Usability] Explore making failure instance highlight more visible"
## Describe the bug
In assessment, we highlight elements to review with a thin red line. In certain cases, it can be hard to understand what elements have been highlighted

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Accessible university
2. Open Assessment > Images > 14.1
3. Turn on visual helper

## Expected behavior

Explore making the visual highlight clearer in different backg

[2022-06-09 22:30] ferBonnin opened #5611 "[Usability] Tabstops test instructions"
## Describe the bug
The first step in the tabstops test is confusing.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any target page
2. Open Accessibility Insights > FastPass > tabstops
3. review Tabstops Instructions

## Expected behavior
Change the instructions to make them easier to read.
Delete Step 1, instead add a sentence that says:
"The visual helper for this requirement high

[2022-06-10 15:45] ferBonnin commented on #4616
@lisli1 does this issue ( the more actions button not appearing until hover) repros in production? If yes, then I am ok with filing a different bug and closing this one (as it would not have been introduced by any of these fixes) 🙂

[2022-06-10 19:04] #4616 closed

[2022-06-10 22:50] lisli1 opened #5614 "[Windows 11 HC] More actions menu icon is not visible until hovered in AI Android"
## Describe the bug

In Unified Canary Version 2022.609.3 with Windows 11 Desert contrast theme, the "more actions" menu button is not visible until it is hovered.

**To Reproduce**
Steps to reproduce the behavior:

1. Change Windows 11 contrast theme to "Desert" (from Windows settings)
2. Open Accessibility Insights for Android Canary
3. Run Automated checks on an app with accessibility issues
4.

[2022-06-10 22:51] lisli1 commented on #4616
Filed #5614 to track the new issue

[2022-06-13 23:08] ferBonnin commented on #5614
we should fix this before any release. triaged with Peter

[2022-06-13 23:12] ferBonnin commented on #5610
if picking this issue, talk with @peterdur that has a prototype working.
If possible, lets just do this change for automated checks, needs review and assessment highlights

[2022-06-25 04:11] MarcusMorba opened #5672 "Enable possibility for partials assessments via "not tested" or "skipped"-option and custom assessment templates"
## Is your feature request related to a problem? Please describe.

Doing a full assessment takes much time, for a first audit I want to focus on the most critical areas (focus visible, keyboard access etc.) Contrast issues often require a more complex review and fixing as design department is included, especially when a design system is used, therefore I would love the option to skip tests.

## De

[2022-06-27 17:16] ferBonnin commented on #5672
duplicate of #3228?

[2022-06-27 21:26] ferBonnin commented on #5357
@DaveTryon checked this on image files, we learned that the browser auto generates HTML and the HTML generated doesn't have accessible properties; for users using assistive technologies, this would present an inaccessible solution. PDFs also have an HTML wrapper which is what Accessibility Insights detects and scans.

[2022-06-27 21:34] ferBonnin commented on #5357
beyond this, the question is can we provide some additional information when users try to scan PDFs or RSS?

[2022-06-27 21:56] pownkel opened #5676 "Undo button appears on all rows of issue list"
## Describe the bug

In the Canary web extension (2022.6.24.1419), every row of the instances list shows the undo button, regardless of whether pass or fail has been checked:

![screenshot of instance details list with undo button on each row](https://user-images.githubusercontent.com/55459788/176039292-50f1d023-27e0-4086-bb54-d933107da681.png)

This is a regression from the current production ver

[2022-06-27 22:48] pownkel commented on #5676
I noticed after filing this that in both Canary and Prod, the undo button always appears beside pass/fail radio buttons on Assessment steps with no instances list:
![Screenshot of "No missing headings" Assessment step, with neither pass or fail selected and the undo button beside the radio buttons](https://user-images.githubusercontent.com/55459788/176047848-ce007ad5-7b5f-4406-8805-ea165b2e0897.pn

[2022-06-27 23:09] ferBonnin commented on #5676
triaged with Peter; we should fix this. In all cases, the undo button should only appear when there is something to undo

[2022-06-27 23:27] jsnmrs opened #5677 "Export "as JSON" from FastPass"
## Is your feature request related to a problem? Please describe.

I noticed that "Export result" options differ depending on whether you're coming from a FastPass or an Assessment.

## Describe the desired outcome

Export "as JSON" option available when exporting results from FastPass.

## Describe alternatives you've considered

I could run a full assessment and only include programmatic tests t

[2022-06-28 00:52] pownkel opened #5678 "Settings menu buttons have no hover state with high contrast theme set"
## Describe the bug

In the current Canary (2022.6.24.1419), when the "night sky" theme enabled in Windows, the settings menu buttons no longer have a visible hover state. This is a regression from the current production build. Other buttons in the extension still change color when hovered.

**To Reproduce**
Steps to reproduce the behavior:

1. In the Windows settings app, go to Accessibility > Co

[2022-06-28 21:58] pownkel commented on #5678
Edit: _Most_ other buttons still change color when hovered. I've found similar issues in a few other popup menus. The first screenshot in each pair is from Canary, the second is from Prod.

1. The Assessment "Start over" menu
<img width="207" alt="Start over menu with no hover color" src="https://user-images.githubusercontent.com/55459788/176299993-201c2aeb-b5b7-4543-b5f9-a71c8e4e9130.png">
<img w

[2022-07-01 17:54] DaveTryon commented on #5357
@peterdur, I've researched this by opening opening various non-HTML files in Chrome then inspecting the generated html files. For each file:
1. Open it via Ctrl+O
2. Go to inspect view
3. Right-click on the HTML, select **Copy** > **Copy outerHTML**
4. Paste the result into a text editor
5. Save the text file to disk

I wasn't able to get the RSS File to load, potenttially due to user error on my

[2022-07-05 18:52] ferBonnin commented on #5357
Based on @DaveTryon investigation, we could detect PDF files and provide messaging. Leaving as needs investigation as this needs PM input on messaging / design. Some early thinking would be using the banner at the top (similar to how we notify of iframes)

[2022-07-05 18:54] #5452 closed

[2022-07-05 18:54] ferBonnin commented on #5452
After triaging with the team, this is not something we think we can do as an extension.

[2022-07-05 18:59] ferBonnin commented on #5672
After discussing this with the team, we talked about how the default state of _incomplete_ can be used as not-tested or skipped. We recommend leaving skipped tests as is so they appear in the report as _incomplete_

[2022-07-05 19:00] #5672 closed

[2022-07-06 17:10] #5676 closed

[2022-07-06 22:35] DaveTryon opened #5711 "Unified client is not clearing the local store when uninstalled from Mac or Linux"
## Describe the bug

When deleting the unified client on Mac or Linux, the local storage is not cleared. As a result, the telemetry dialog doesn't display on re-install

**To Reproduce**
Steps to reproduce the behavior:

1. Install unified client on Mac or Linux
2. Start the app normally and get past the telemetry dialog (doesn't matter if you accept or decline telemetry)
3. Exit the app
4. Move t

[2022-07-07 16:39] ferBonnin commented on #5711
@DaveTryon is this happening in insider only or in prod too?

[2022-07-07 17:39] ThanyaLeif commented on #5711
Following uninstall instructions and performing a fresh install appears to work for me, telemetry dialog is displayed again:

<img width="447" alt="image" src="https://user-images.githubusercontent.com/32908302/177835651-736c80d4-cdf8-4f1a-8c39-f9cd62b09a93.png">
(Image showing telemetry dialog)

[2022-07-07 18:09] DaveTryon commented on #5711
@ferBonnin, this happens for all versions. The uninstall instructions work correctly if you modify them for the Insider or Canary channel. In this case, I think the gap was that the validation template assumes a clean system without explicitly saying so. I've updated the validation template to explicitly call this out and point to the uninstall instructions you referenced.

I think we can close th

[2022-07-07 18:11] #5711 closed

[2022-07-08 12:08] PramodValavala-MSFT opened #5714 "Support Chrome Extension UI like Settings, Popup, etc."
## Is your feature request related to a problem? Please describe.

Currently, it is not possible to run Accessibility Insights on a chrome extension page like a custom settings page. When trying to do so, one gets this message

![image](https://user-images.githubusercontent.com/43602528/177989026-7f4bcb66-24ea-4eeb-a3f9-81a9a70312dc.png)

## Describe the desired outcome

The extension should work

[2022-07-08 18:16] dbjorge commented on #5714
Hi @PramodValavala-MSFT,

Unfortunately, this is a technical restriction enforced by the browser as an intentional security boundary, and isn't within our control to change. In general, browser extensions are not allowed to inject content scripts into other browser extensions' pages, which means we can't run any accessibility scans/etc there. The error message that Edge and Chrome give us if we we

[2022-07-08 21:55] sfoslund commented on #5317
Resolved by #5705

[2022-07-08 21:55] #5317 closed

[2022-07-11 21:23] ferBonnin commented on #5677
Hi @jsnmrs thanks for the feature request! we have a couple of questions:
* Can you please tell us more about your scenario?
* FastPass consists of 3 steps, are you looking for the results of _automated checks_ only or also _needs review_ and _tab stops_ (asking because from the workaround you mentioned we are not clear if its all 3 steps) ?

[2022-07-11 22:24] dbjorge commented on #558
Generalized the issue title slightly - we aren't sure if "support for Electron" applications would necessarily use a DevTools experience, vs a standalone tool that can connect to a separate process (similar to the standalone version of React DevTools). We'd ideally like an option that can support a variety of different out-of-process options (eg, Electron apps, other browser extensions, Tauri apps

[2022-07-11 22:27] dbjorge commented on #5714
We think that if we were to someday support this, it would probably be through a mechanism similar to what we someday hope to use for scanning of Electron apps. I've updated the existing issue tracking that, #558, to make it clear that this request would fall inside that scope; I'm going to close this issue as a duplicate, but feel free to post any followup discussion/upvotes/etc over in #558.