[2019-02-27 18:00] risanaka opened #246 "test bot"

[2019-02-27 19:12] #246 closed, assigned to mslonli

[2019-02-27 22:08] risanaka opened #256 "Testing another bot"
## Describe the bug

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

## Expected behavior

A clear and concise description of what you expected to happen.

## Screenshots

If applicable, add screenshots to help explain your problem.

## Extension (please complete the follo

[2019-03-04 19:12] #256 closed, assigned to nobody

[2019-03-04 23:31] risanaka opened #287 "Update Assessment's Overview section"
## Describe the bug
Users that read the overview section's summary paragraph don't always understand how assessment works.

**To Reproduce**
Steps to reproduce the behavior:

1. Open Accessibility Insights for Web.
1. Go to Assessment.
1. Go to Overview

## Expected behavior
This summary indicates the overall accessibility of the website or web app, based on a combination of automated and manual t

[2019-03-06 21:58] #287 closed, assigned to nobody

[2019-03-07 07:33] dbjorge opened #307 ""Start over" dialog not respecting aria dismissability recommendations"
## Describe the bug

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to an assessment's details view
2. Click on the Start over button
3. **keyboard focus defaults to the more destructive button (start over) instead of the less destructive one (cancel)**
4. **dialog is not dismissable even though it has a safe cancel option**

## Expect

[2019-03-07 07:53] dbjorge opened #309 ""Assessment in progress" dialog's text isn't announced by JAWS"
## Describe the bug

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Run JAWS
2. Go to an assessment's details view
3. Run the automated checks
4. close target page and details view
5. reopen target page and relaunch assessment

## Actual behavior

observe that JAWS announces the "Assessment in progress" dialog but not the content inside i

[2019-03-07 19:02] #309 closed, assigned to nobody

[2019-03-07 21:37] #307 closed, assigned to nobody

[2019-03-07 22:53] devaradhanm opened #313 "Migrate test setup scripts from js to ts"
## Describe the bug

We were using js for global setup & teardown files for jest due to this bug - https://github.com/facebook/jest/issues/5164
But, this issue is fixed now. So, we can move to typescript now.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

## Expected behavior

A clear and concise description of what you ex

[2019-03-07 23:49] #313 closed, assigned to nobody

[2019-03-13 11:25] stefan-kern opened #357 "plugin disables itself on activation (left-click)"
The plugin can be installed, however when trying to open the plugin actions by left-clicking the plugin icon, the plugin disables itself.

- OS: Linux / Ubuntu 16.04
- Chrome:
  - Version 74.0.3724.8 (Official Build) dev (64-bit)
  - Version 73.0.3683.75 (Official Build) (64-bit)
- Target Page: (any) example: google.com

Please let me know if i can provide more information.

[2019-03-13 14:44] onehotprocessor opened #358 "Mac/Chrome Extension - Cannot Uncheck Telemetry Checkbox on Install"
Issue:
Upon installation of the extension, and first attempt to use the plugin, a screen is displayed with telemetry opt-in/opt-out options. The end user is unable to uncheck the telemetry opt-in box, and does not have the ability to opt-out.

Expected:
End user is able to opt-out of telemetry.

Steps to Reproduce:
1. Using macOS v10.14.2 (18C54) and Chrome v72.0.3626.119 (Official Build) (64-bit)

[2019-03-13 14:46] onehotprocessor commented on #358
Please note: for evaluation purposes by my company (and potential adoption), we will need telemetry turned off during eval. Thank you.

[2019-03-13 16:12] ricardoserradas opened #359 "Command line execution to add this check to a DevOps pipeline"
## Is your feature request related to a problem? Please describe.
No

## Describe the desired outcome
If possible, it would bring a great impact if we could run this check on a CI/CD pipeline for a Windows/Web application, if possible.

## Describe alternatives you've considered
So far, I don't see any alternatives for achieving this during a DevOps pipeline.

## Additional context
Adding this inc

[2019-03-13 17:59] smoralesd commented on #359
Hi @ricardoserradas
Thanks for your interest on Accessibility Insights for Web.
We use [axe-core](https://github.com/dequelabs/axe-core) as our scan engine to find accessibility issues on web pages. You can use [axe-cli](https://github.com/dequelabs/axe-cli) in order to run axe from the command line.

[2019-03-13 18:34] Shobhit1 commented on #358
Hey @onehotprocessor,

Thanks for reporting this issue.
Looks like there is a bug (check it [here](https://bugs.chromium.org/p/chromium/issues/detail?id=659642)) on Chromium (for Windows 10 and MacOS) which makes the UI on chrome extensions behave unusually.
If you can just try using the extension on one screen, you will be able to opt out of the telemetry from the popup.

Please let us know if it

[2019-03-13 19:54] Shobhit1 commented on #358
Talked to @onehotprocessor. Issues seems to be because of the chromium bug described.
Closing this one here.

[2019-03-13 20:42] smoralesd commented on #357
Hi @stefan-kern
Thanks for your interest on Accessibility Insights for Web.
We'll be doing some preliminary investigation on this issue. We'll reply back as soon as we can.

[2019-03-14 02:07] pshrmn commented on #357
I ran into the same issue with Linux Mint 19.1 using Chrome 72.0.3626.121. The error occurred with both the Production and Canary extension builds.

[2019-03-14 02:26] pshrmn opened #362 "Missing stylesheet with Chromium on Linux"
## Describe the bug

When I try to run the extension on Chromium, I am running into various styling issues. This has occurred with both the Production and Canary extensions.

In the console for the "fast pass" window, I see a `file not found` error for `/Styles/default/detailsview.css`.

#### Style Issues:

1. The popup (what is shown when you click the favicon) is too narrow. I have a feeling tha

[2019-03-14 10:14] nterray opened #363 "npm run build failure"
## Describe the bug

When I run `npm run build`, the build is failing with "Module not found" error. Both on master and v2.0.1.

**To Reproduce**
Steps to reproduce the behavior:

1. git clone
2. npm install
3. npm run build

## Expected behavior

The build should succeed.

## Screenshots

[code]

## Extension (please complete the following information)

- OS: Linux Mint
- Version: 19.1
- npm: 6.9

[2019-03-14 10:22] lucagentile commented on #357
Same happens to me. I'm running Chrome 72.0.3626.119 (Official Build) (64-bit) on Ubuntu 18.04.2

[2019-03-14 13:15] onehotprocessor commented on #358
Confirmed - Chromium is the culprit! Thanks so much.

[2019-03-14 13:15] #358 closed

[2019-03-14 19:44] smoralesd commented on #363
Hi @nterray
Thanks for you interest on Accessibility Insights for Web.
Can you confirm which version of node you're using?
We'll run some preliminary investigation be triaging this issue.

[2019-03-14 19:56] smoralesd commented on #362
Hi @pshrmn
Thanks for your interest on Accessibility Insights for Web.
You've mention you found "various styling issues", can you update the description of the issues, add the details of all the styling issues?
We'll triage once we get this information.

[2019-03-14 19:59] smoralesd commented on #357
Hi @stefan-kern.
Thanks for your interest on Accessibility Insights for Web.
We'll be triaging this issues soon. Keep tuned for updates.

[2019-03-14 20:53] smoralesd opened #365 "Failure details dialog buttons are not clickable"
## Describe the bug

On certain pages, after running automated checks and opening the "Failure details" dialog, it is not possible to click any of the buttons on the dialog.

**To Reproduce**
Steps to reproduce the behavior:

1. Navigate to [https://www.schwab.com/](https://www.schwab.com/)
2. Click the extension icon close to the right-top corner
3. Click on Ad hoc tools
4. Enable Automated check

[2019-03-14 21:55] Shobhit1 commented on #363
Hi @nterray

Thanks for reporting the issue. We found an issue which was causing this and should be fixed with #366 .
Can you try updating your fork and re run `npm run build`?
Let me know if it works this time.
Thank you.

[2019-03-14 22:26] smoralesd commented on #362
Hey @pshrmn, the styling issues are now fixed on master branch. Stay tune for extension updates to get this fixes.

![01 - extension is working on linux](https://user-images.githubusercontent.com/2837582/54395617-89df4080-466d-11e9-86e9-c71385475326.gif)

[2019-03-14 22:28] smoralesd commented on #357
Hi everyone, this issues is not fixed on master branch. Stay tune for new releases of our extension to get this fixes.

![01 - extension is working on linux](https://user-images.githubusercontent.com/2837582/54395680-bf842980-466d-11e9-8cf6-75bda529a22e.gif)

[2019-03-14 22:37] pshrmn commented on #362
Aha, those darn Linux case sensitive paths! Thanks for the quick fix @smoralesd!

[2019-03-15 08:42] nterray commented on #363
Yeah, it works!

Thanks

[2019-03-15 08:42] #363 closed

[2019-03-17 18:38] mgifford opened #374 "Platform Specific Insights"
## Is your feature request related to a problem? Please describe.
How do we collect framework specific accessibility bugs from the telemetry that you are collecting to contribute back to the projects that they are built with?

## Describe the desired outcome
I would like to see a list of Drupal, WordPress, GatsbyJS, etc issues, Ideally aligned with modules or plugins that are used. Would be nice t

[2019-03-18 16:23] smoralesd commented on #357
@stefan-kern This issues should be fixed on release [v2.0.5](https://github.com/Microsoft/accessibility-insights-web/releases/tag/v2.0.5. Download the extension from [here](https://chrome.google.com/webstore/detail/accessibility-insights-fo/pbjjkligggfmakdaogkfomddhfmpjeni).

[2019-03-18 16:24] smoralesd commented on #362
Hi @pshrmn This issues should be fixed on release [v2.0.5](https://github.com/Microsoft/accessibility-insights-web/releases/tag/v2.0.5. Download the extension from [here](https://chrome.google.com/webstore/detail/accessibility-insights-fo/pbjjkligggfmakdaogkfomddhfmpjeni).

[2019-03-18 16:33] pshrmn commented on #362
Works like a charm now!

[2019-03-18 16:33] #362 closed

[2019-03-19 18:00] ferBonnin opened #385 "Add more detail to automated checks role"
**Describe the bug**
From user feedback, emphasize the role of automated checks in the tool: "that no automated tool can find even a majority of accessibility defects on a web page"

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://www.washington.edu/accesscomputing/AU/before.html
2. Run automated checks

OR
1. Go to https://accessibilityinsights.io/docs/en/web/getstarted/fastpas

[2019-03-19 21:11] ferBonnin opened #390 "Landmark best practice rules should not be flagged as failures"
## Describe the bug
This four rules should be best practice and not flagged in automated checks

* unique-landmark
* landmark-complementary-is-top-level
* landmark-banner-is-top-level
* landmark-contentinfo-is-top-level
* landmark-main-is-top-level
* landmark-no-duplicate-banner
* landmark-no-duplicate-contentinfo

**To Reproduce**
Steps to reproduce the behavior:
1. run automated checks in this p

[2019-03-19 23:58] dbjorge commented on #390
The fix to omit the rules as best practices is straightforward (add `BestPractice` to the corresponding link configurations in `rule-to-link-mappings.ts`), but doing so revealed an issue where old assessments in progress with state for rules that were removed cause DetailsView to crash on load, so that will need to also be resolved as part of this fix.

[2019-03-20 16:22] aardrian opened #394 "Reading order visualization"
## Is your feature request related to a problem? Please describe.
When a user is tabbing through or listening to a page, having content visually appear outside of an expected flow can be counfounding. For users who cannot see the page, it also means offering help (face-to-face or through documentation) can be harder since the code order is opaque to most users. There are even WCAG success criteria

[2019-03-20 19:53] ferBonnin commented on #394
Hi Adrian, thanks for your interest on the tool!
Have you take a look at our tab stops test in FastPass? the visualization indicates which elements are receiving focus and in what order, using numbers and arrows while you use your keyboard to move input focus with Tab or arrow keys:

![A screenshot of tabstops visualization over a website](https://user-images.githubusercontent.com/9062104/54714761

[2019-03-20 20:26] aardrian commented on #394
@ferBonnin , yes, I have. That is what prompted me to post this feature request.

That feature only indicates interactive controls (or content that has been made a tab stop with `tabindex`). I am looking to show the _reading_ order for all the content on the page, not just the tab stops.

In my example above, none of that content is tabbable so its reading order is not exposed in the tool. My feat

[2019-03-20 20:54] ferBonnin commented on #394
@aardrian got it! yes, this clarifies it :)

[2019-03-20 22:00] #359 closed

[2019-03-21 21:58] dbjorge commented on #390
There are two more affected rules to fix, so re-opening/editting description

* landmark-no-duplicate-banner
* landmark-no-duplicate-contentinfo

[2019-03-21 22:17] ferBonnin opened #413 "Scroll bar for requirements is gone with new Chrome update"
## Describe the bug

Scroll bar for requirements is gone with new Chrome update

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.washington.edu/accesscomputing/AU/before.html
2. Click on Accessibility Insights for Web extension, run Assessment
3. Go to automated checks
4. find valid-lang rule

## Expected behavior

there should bea scrollbar to navigate through the requirem

[2019-03-21 22:27] peterdur opened #416 "Stuck at Scanning 98% when displaying automated checks from an assessment scan done by 2.0.5"
## Describe the bug

Found during insider validation of 2.1.0

**To Reproduce**
Steps to reproduce the behavior in dev
(example-site = a site of your choice with automated checks failures)

1. Build master as of commit f442d154554325f989e5cab11c2efa20eb9bba83 (release 2.0.5)
1. Start Chrome, go to chrome://extensions/ and update the extension
1. Start Chrome, right-click the extension button and c

[2019-03-21 23:35] #413 closed

[2019-03-22 00:20] #390 closed

[2019-03-22 23:13] ferBonnin commented on #394
@aardrian thanks for the feature request!  it is a great suggestion and we are looking into this.

[2019-03-22 23:15] ferBonnin commented on #374
Hi @mgifford thanks for the feature request!
This request requires more discussion on our side, we will update here when we know more.

[2019-03-23 15:53] mgifford commented on #374
It is a huge issue.  That said, it has some really potential benefits.  If you could identify that an accessibility problem arises on 90% of all Drupal 8 websites that use the Bootstrap 4 theme, but doesn't occur on any of the WordPress sites that use Bootstrap 4, it would be possible to highlight post an issue here https://www.drupal.org/project/issues/search/bootstrap that could potentially fix

[2019-03-25 12:52] stefan-kern commented on #357
thanks for the fix, works now!

[2019-03-25 12:52] #357 closed

[2019-03-26 16:32] risanaka opened #436 "Remove nested double quotes from "From a user's perspective" section"
## Describe the bug
Under certain Assessment requirement guidances, there are nested double quotes.

**To Reproduce**
Steps to reproduce the behavior:

1. Launch Accessibility Insights for Web.
1. Go to Assessments.
1. Review the "From a user's perspective" section under Repetitive > Bypass blocks.

## Expected behavior
"re-read" and "bypass" within the quote should be surrounded by single quotes

[2019-03-26 20:43] #436 closed

[2019-03-26 21:24] mike-engel opened #445 "Firefox support?"
Hey y'all! I'm sorry if this is mentioned somewhere, but I couldn't find anything about support for other browsers (specifically firefox for me).

I know that the firefox addon api is similar to chrome, but I unfortunately don't know the specifics about what's different.

Thanks!

[2019-03-26 22:04] flyingUnderTheRadar commented on #445
@mike-engel - Currently Accessibility Insights for Web only supports Chrome. We haven't explored Firefox support.

[2019-03-27 01:37] mike-engel commented on #445
@flyingUnderTheRadar Are there any plans to support other browsers in the future?

[2019-03-28 22:22] Shobhit1 opened #474 "TabStore onTabUpdate gives an exception"
## Describe the bug

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to `Chrome`. Open a new tab.
2. Open `background.html` devtools console.
3. Type `google.com` (website url doesn't matter here). Type any url.
3. Check `console` to get the below mentioned error
4. See error

## Expected behavior

There should not be a console error be

[2019-03-28 22:36] flyingUnderTheRadar commented on #445
@mike-engel  - At this point of time there is no plan to support Firefox or any other browser in the near future.

[2019-03-28 22:36] flyingUnderTheRadar commented on #445
Need to update docs to reflect this so leaving it open.

[2019-04-01 09:04] hollsk opened #485 "Allow explanations for failures in lists of instances"
## Is your feature request related to a problem? Please describe.
Some of the categories produce a list of elements on the page that you can mark as a pass or fail. Sometimes it's not immediately obvious to another person why you've marked a particular instance as a fail.

e.g. I might want to fail `<h1><img src="logo.gif" alt="Project Name"></h1>` under "Headings -> Heading function" because the

[2019-04-01 15:56] Giorat opened #486 "Extension crashes and needs to be repaired when opened Inspector"
## Describe the bug

The extension crashes and needs to be repaired when I open the Inspector with Chrome on a Mac.

**To Reproduce**
Steps to reproduce the behavior:

1. Install the extension(stable or beta versions)
2. Enable the extension and activate it on a web page
3. While the application is running open the Inspector
4. The extension will disappear and you will have to Repair it in the chr

[2019-04-01 17:26] ferBonnin commented on #445
Hey @mike-engel thanks for your interest in Accessibility Insights for Web!

After long conversations with the team we have determined that for now, the costs to create an extension for Firefox would be too significant for the team.
From early explorations looks like we would have to do considerable changes, to mention some:
•	Changes to the code to ensure that it works properly in Firefox.
•	Ther

[2019-04-01 17:28] ferBonnin commented on #394
This is a great suggestion that can help add visualizations for a couple of requirements.
We will keep active and add it into our backlog, but if you or someone in the community wants to help please feel free to work on this! We would be happy to provide guidance 😊

Thanks!

[2019-04-01 17:29] ferBonnin commented on #374
We understand the value you present with this example. The main questions on our side are two:
•	Would Accessibility Insights users be ok with sharing this type of telemetry?
•	And, how do we detect this?

Related to your request, have you seen webAIM report of scanning a million websites? They have some data on the [Web Frameworks from the million home pages scanned](https://webaim.org/projects/m

[2019-04-01 17:40] mgifford commented on #374
I would assume you'd want to have some sort of checkbox that says something like "I approve of information being consolidated so that this product and the web in general can be made more accessible." You'd need to say how the information was going to be used and make the permission an opt-in.  That said, it really could be something that organizations are encouraged to do.

There are lots of ways

[2019-04-01 19:45] aardrian commented on #394
This stack is outside my wheelhouse, so it is unlikely I will learn it, get it set up in my dev environment, and contribute anything meaningful in the near term. I will poke around to see if I can find someone, but, well, yeah.

[2019-04-01 21:57] peterdur commented on #486
Hi @Giorat! Thanks for taking the time to file this issue. We're obviously very concerned about crashes. I've taken some time today to reproduce this on a Mac, with this specific version of Chrome, on the site https://www.hdblog.it/. So far I haven't had any luck. I'm wondering if there's something I'm doing differently. Could you describe the steps that cause the crash with more detail, to help m

[2019-04-01 23:09] ferBonnin opened #490 "issue details dialog button is upside down"
## Describe the bug
buttons are not usable in the issue details on target page

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://uifabric-prod.azurewebsites.net/?example=jhkjhkj#/components/toggle
2. run automated checks
3. Click one failure to open issue details
4. See error

## Expected behavior
buttons should look the same as in any other page

## Screenshots

![a screenshot

[2019-04-01 23:55] peterdur commented on #490
DRI triage: Bug has sufficient information, not a DRI issue.

[2019-04-02 08:31] Giorat commented on #486
It happens on every website.
In the exact moment I open the inspector while Insight is active this crash and it "needs to repaired".

![inspector_bug](https://user-images.githubusercontent.com/4527364/55387726-407a6680-5532-11e9-8eef-b5440c8d8882.gif)

[2019-04-02 15:48] Giorat commented on #486
I tried the same steps without any problem on Chrome for Windows.

But with Mac it happens every time, I also used Chrome Canary where I reproduced the same error.

[2019-04-02 19:10] peterdur commented on #486
@Giorat The screen capture above was very helpful! I'm still trying to get this to reproduce on our Mac, even following the steps you show, even with the same set of extensions you have installed (and disabled). I'll let you know if I have more questions.

[2019-04-02 19:45] TimothyKrajewski opened #492 "Extension not recoginzing dl element on the page"
## Describe the bug
When running the scan I got 20 errors back saying "\<dt\> and \<dd\> elements must be contained by a \<dl\>" but in the DOM all the instances that the extension points out are wrapped in \<dl\> elements

**To Reproduce**
1. Go to a site https://jsfiddle.net/noj8ztfw/
2. Run the scan see the issue  "\<dt\> and \<dd\> elements must be contained by a \<dl\>" despite the tag being

[2019-04-02 23:44] risanaka opened #493 "test"
## Describe the bug

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

## CodePen repro example

Please provide a reproduction of the bug in a codepen, if possible. Here’s how

* Goto https://codepen.io/ for a starting codepen
* Create a simple example of the page that you h

[2019-04-02 23:45] risanaka commented on #493
test

[2019-04-02 23:47] peterdur commented on #492
@TimothyKrajewski  Taking a look at the jsfiddle and running the scan, I agree that the error message is confusing here. As you observe, the error says the `<dt>` needs to be in a `<dl>`, which is clearly the case. More accurately, the rule is actually checking that the `<dt>` is in a `<dl>` which still has the default role of `list`. The `<dl>` in the jsfiddle has its role overridden to `listitem

[2019-04-03 00:22] peterdur commented on #490
Assigning to PM (bot did not pick this up)

[2019-04-03 01:46] TimothyKrajewski commented on #492
So even removing that role on the I still get the error here is an update fiddle https://jsfiddle.net/noj8ztfw/ and I have also update the link in the initial filing

[2019-04-03 16:29] peterdur commented on #492
Hmm - when I go to that jsfiddle I'm not seeing a dlitem failure reported. I'm using the latest release of the extension, version 2.1.2. Could you export your results from the automated checks (click the "Export result" button in the automated checks header) and attach? I've attached an example report from my run. (Note that I renamed it from x.html to x.html.txt so it could be attached to the iss

[2019-04-04 21:21] ferBonnin commented on #416
@peterdur is this fixed?

[2019-04-04 21:23] ferBonnin commented on #385
@LiLoDavis can you help us draft the language for this?

[2019-04-05 15:35] LiLoDavis commented on #385
@ferBonnin How about this? The "Did you know?" part is a bit of a trick to get people to look at the text.

Did you know?
Automated checks can identify some common accessibility problems, such as missing or invalid properties. Most accessibility problems can be detected only through manual testing.

[2019-04-05 17:04] peterdur commented on #416
This is fixed and released. Closing.

[2019-04-05 17:04] #416 closed

[2019-04-05 20:49] ferBonnin commented on #385
@LiLoDavis I like this! Do we want to mention that they can use Assessment too?

[2019-04-08 15:21] LiLoDavis commented on #385
@ferBonnin Good idea. How about this?

Did you know?
Automated checks can detect some common accessibility problems, such as missing or invalid properties. However, most accessibility problems can be identified only through manual testing. The most reliable way to evaluate the accessibility of a website or web app is to complete an assessment.

[2019-04-08 17:48] ferBonnin opened #507 "Missing WCAG link"
## Describe the bug

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any page
2. Run Accessibility Insights for Web > Assessment
3. Go to Multimedia > Audio Description > more info and examples
4. missing link for WCAG 1.2.3

## Expected behavior

Add a link in "WCAG Success criteria" for this requirement.
Name:  Understanding Succes

[2019-04-08 17:49] ferBonnin commented on #507
@LiLoDavis I do not think there needs to be more links for sufficient techniques or additional guidance?

[2019-04-08 18:27] LiLoDavis commented on #507
@ferBonnin Agreed.

[2019-04-08 18:32] ferBonnin commented on #385
@LiLoDavis looks great. I would just modify to add 'compliance':
Did you know?
Automated checks can detect some common accessibility problems, such as missing or invalid properties. However, most accessibility problems can be identified only through manual testing. The most reliable way to evaluate the accessibility compliance of a website or web app is to complete an assessment.

[2019-04-08 18:33] LiLoDavis commented on #385
@ferBonnin I approve!

[2019-04-09 21:00] #486 closed

[2019-04-10 05:24] Giorat commented on #486
Were you able to reproduce this bug @peterdur ?

[2019-04-10 14:22] MarjonBakker opened #519 "SC number in pop up"
## Is your feature request related to a problem? Please describe.

When doing a fastpass on a website, red outlines with exclamation points are shown that I can click to see what the failure is. I then get a popup that has a 'rule name' for example 'image-alt' that's a link to an explanation on dequeuniversity.com. When I want to know the number of the WCAG 2.1 success criterion the failure falls

[2019-04-10 16:50] risanaka opened #520 "When headers are used, no automated checks detect if there aren't exactly 1 h1 element."
## Describe the bug
According to the Headers test guidance in Assessment, "If the page uses headings, an automated check will fail if the page does not have exactly one top-level heading."

However, a page that doesn't have exactly 1 top-level heading when it uses headings isn't failing a corresponding automated check.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://codepen.io/

[2019-04-10 17:10] Shobhit1 commented on #519
Hi @MarjonBakker,

Thank you for filing this issue. We will triage it in our weekly review and update the issue. Thank you for contributing to Accessibility Insights!

[2019-04-10 17:15] Shobhit1 commented on #519
Hi @MarjonBakker,

Till the time we triage this issue and give you an answer on this feature request.
As a workaround, you can always check `WCAG` information in the fast pass assessment page.
Just click `FastPass` from the popup menu and the extension will start the process.

![image](https://user-images.githubusercontent.com/4496335/55899264-3af7ce80-5b79-11e9-9828-34f411932ee8.png)

![image](ht

[2019-04-10 17:48] ferBonnin commented on #519
@cheade What are your thoughts on this?
My concern is that it might make the target page look to busy

[2019-04-10 18:00] #492 closed

[2019-04-10 21:26] cheade commented on #519
This is interesting. If users are more inclined to view the WCAG rather than the deque rule description, then we should have it available on the target page pop-up. Key information should be in both places (target page and Accessibility Insights page) if both are widely used.

At most I've only seen up to three WCAG rules for a single deque failure. I think we can find a place for the WCAG rules o

[2019-04-10 21:58] ferBonnin commented on #519
@cheade what do you mean by UI re-styling?

this is a quick test on how it would look like with 3 WCAG:
![Tooltip with three WCAG](https://user-images.githubusercontent.com/9062104/55916379-0f88da00-5ba1-11e9-925f-40b0e5885878.png)

[2019-04-10 22:01] cheade commented on #519
I thought MarjonBakker was referring to the pop-up once you click on it, and not the tooltip that appears on hover, as they mention clicking the link of the rule name.

[2019-04-10 22:04] ferBonnin commented on #519
I think you are right, my bad. In that case I get what you mean on UI re-styling.
could we explore adding it next to the title? do we want to add links too?

[2019-04-10 22:15] cheade commented on #519
Here's a simple suggestion for the pop-up (without UI cleanup):

![image](https://user-images.githubusercontent.com/40274682/55917183-67284500-5ba3-11e9-95c4-a0c9289348eb.png)

[2019-04-10 22:27] ferBonnin commented on #519
@MarjonBakker what are your thoughts on what Chelsea suggests?

[2019-04-11 07:28] MarjonBakker commented on #519
@ferBonnin @cheade Yes, that is exactly what I mean and it would be very useful for me. I get that it clutters the page and would understand if you decide against it. On the other hand, w3.org is my go-to reference where I can also find 'understanding', 'how to meet', techniques and failures for all SC's. So a link directly to w3.org would be good.

[2019-04-11 17:15] lisli1 opened #529 "Inspector shows warnings on target pages with restrictive CSPs"
## Describe the bug

Inspector console shows the warning "Refused to load the font '<URL>' because it violates the following Content Security Policy directive" on certain target pages.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://github.com
2. Run automated checks
3. Right click anywhere on the target page and select "Inspect"
4. Click the Console tab
5. See warning message

[2019-04-11 17:50] ferBonnin commented on #519
@MarjonBakker great! We will put it in our backlog.
Lets use Success Criteria and Success Criterion instead of W3C guidelines.

[2019-04-12 01:03] haonliu opened #533 "Scan broken in master"
## Describe the bug

scan is broken

**To Reproduce**

1. Go to any page
2.  toggle adhoc tools -> automated checks,
3. spinner spinning forever

## Expected behavior

Scan should be able to complete

## Screenshots

If applicable, add screenshots to help explain your problem.

## Extension (please complete the following information)

- OS: Windows 10
- Version: Canary 2019.4.12.23
- Chrome Versio

[2019-04-12 01:56] Shobhit1 commented on #533
This was fixed with #534

[2019-04-12 17:54] ferBonnin commented on #520
to fix: need to remove the note in headings test guidance. the rule mentioned is best practice.

[2019-04-12 20:32] Shobhit1 commented on #520
Fixed.

[2019-04-12 20:35] ferBonnin commented on #490
@lisli1 looks like this got fixed with your PR, can you confirm?

[2019-04-12 20:54] lisli1 commented on #490
I can't repro this bug anymore, so I will mark it as resolved.

[2019-04-12 21:18] risanaka commented on #520
Thanks, @Shobhit1!

[2019-04-14 00:06] aardrian commented on #394
I created a bookmarklet that acts as both a proof of concept and a stop-gap until this feature is natively implemented in browsers and/or testing tools: http://adrianroselli.com/2019/04/reading-order-bookmarklet.html
![reading-order_intro](https://user-images.githubusercontent.com/1376607/56086573-9ea72380-5e27-11e9-87b4-6be19dc11cf1.png)

[2019-04-15 17:36] #507 closed

[2019-04-15 19:01] ferBonnin commented on #533
Hi @risanaka this issue has been fixed. You can verify the fix in our canary extension or we can let you know when its available in production. Thanks!

[2019-04-15 19:02] ferBonnin commented on #533
Hi @haonliu,
This issue has been resolved, could you verify?

[2019-04-15 19:02] #520 closed

[2019-04-15 19:02] #490 closed

[2019-04-15 21:18] peterdur commented on #486
@Giorat, we've tried to reproduce on some more Macs last week and haven't had any success. We want to fix the issue but it's obviously difficult to do so without being able to get the crash to happen.
Here are some more questions that might help the investigation…
- Which version of macOS are you using?
- Do you have access to another Mac where you could try the extension to see if it happens ther

[2019-04-15 21:28] haonliu opened #547 "Inspect HTML button should not be disabled"
## Describe the bug

The Inspect HTML button in the details dialog on target page should not be disabled, for accessibility concerns.

**To Reproduce**
Open
Run automated checks.

1. Go to any web page with a11y issue.
2. Run automated checks.
3. Click the '!' icon in the target page.
4. See Inspect HTML button is disabled.

## Expected behavior

Inspect HTML button should not be disabled. User sh

[2019-04-15 21:28] devaradhanm opened #548 "issue title generated contains the whole path for elements in iframe"
## Describe the bug

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any page with issues under iframes
2. Run automated checks
3. Try to file github issue for an element under iframe

## Expected behavior

The title should only contain the last selector part. for eg: #item1"

## Actual behavior

The title should the whole selector p

[2019-04-15 21:33] haonliu opened #549 "Back and next button in target page details dialog should be removed when there is only one instance"
## Describe the bug

Back and next button in target page details dialog should be removed when there is only one instance.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any page with a11y issues.
2. run automated checks.
3. Scroll down to a failure, and open the details dialog by clicking '!'
4. See Back and next button in target page details dialog appear even when there is only 1

[2019-04-16 18:16] haonliu commented on #533
Yep! I think we can close it.

[2019-04-16 18:16] #533 closed

[2019-04-16 21:28] digitarald commented on #445
Firefox DevTools team member here, who would be available for help. Accessibility audits are important to keep the web open and accessible to all; and developers struggle with understanding and addressing this topic. Your audit has some great ideas and can have a meaningful impact!

Having an product labeled "for Web" only available in Chrome would be an sad outcome for an [announcement](https://b

[2019-04-17 16:13] abettadapur opened #558 "Support web scanning against separate processes (Electron applications, other browser extensions)"
I think this tool is great for quickly validating accessibility on websites. I would also like to use it to perform audits on Electron applications, which are also built on web technologies.

I can install **devtools** extensions with this package (https://github.com/MarshallOfSound/electron-devtools-installer), but I cannot use this extension in my Electron application because it is not surface i

[2019-04-18 18:47] ferBonnin commented on #474
@haonliu is this resolved?

[2019-04-18 18:48] ferBonnin commented on #529
@devaradhanm can you please investigate?

[2019-04-18 18:52] haonliu commented on #474
Yes. Should the person who opened this issue close it or I should?

[2019-04-18 18:57] ferBonnin commented on #474
great!
the person who open it. @Shobhit1 could you please verify?

[2019-04-19 16:55] Shobhit1 commented on #474
Fixed. I dont see the console error anymore. Closing the issue.

[2019-04-19 16:55] #474 closed

[2019-04-19 19:01] ferBonnin opened #570 "Switcher Dropdown list to change between Assessment and FastPass doesn't announce changes"
## Describe the bug

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
0.- turn on NVDA
1. Go to https://www.washington.edu/accesscomputing/AU/before.html
2. Click on Assessment, select start new (if there is an assessment in progress)
3. Using Keyboard, navigate to the switcher drop down list that allows you to go to FastPass
4.- open the list

[2019-04-22 19:04] mgifford opened #578 "Jerky Dialog Box"
## Describe the bug

For some links the dialog box jitters in a way which could cause people with epilepsy problems. I'm not sure why it is flickering like this. The screenshot doesn't demonstrate it but the video does.

**To Reproduce**

I'm having this issue on the second color contrast link on https://tastybackend.com/

Chrome, MacOSX.

## Expected behavior

It shouldn't flicker.

## Screenshot

[2019-04-22 19:10] mgifford opened #579 "Add color box to the hex codes"
## Is your feature request related to a problem? Please describe.

It should be easier to verify you've got the right colors and know how to act on it.

Make it easier to see/understand color contrast problems. Sometimes what the color contrast tool is testing isn't what appears on the page.  It would be good to clearly show a box with the background/foreground color in the message.

Might be also

[2019-04-22 19:19] mgifford opened #580 "Manage alerts better on small links"
## Describe the bug

There are times that the icon for the accessibility problem overlaps the problem.

You should always be able to see the problem, so that you can understand it without disabling the accessibility insights automated checker.

**To Reproduce**

1. Go to https://tastybackend.com/
2. Enable Automated checks
3. Look at the log in link.

## Expected behavior

The WAVE Toolbar does th

[2019-04-22 20:28] adrianaandreeva commented on #445
Hey @digitarald thank you for reaching out and offering to help!
We are re-considering the possibility to support that effort and would be happy to engage in further conversations with you after we internally discuss the options.
Do you have a timeline in mind on your side?
I'd be happy to take this offline too!

[2019-04-22 21:56] adrianaandreeva commented on #558
Hi @abettadapur, thank you for your feedback! Glad you are finding Accessibility Insights helpful! This is a great suggestion, we will look into the timelines and effort for making this available and follow up.

-- Your Accessibility Insights Team

[2019-04-22 22:27] dbjorge commented on #578
Thanks very much for this report! We've been able to reproduce and root cause this; it's caused by a particularly bad conflict between the target page's CSS and our dialog's. The target page here is applying a "border: 3px" to all hovered buttons but not unhovered buttons; the extra 6px ends up re-flowing the row of 3 buttons at smaller screen widths, and the re-flow happens in such a way that if

[2019-04-22 23:06] mgifford opened #585 "Visually Hidden Headings Should Have Titles Exposed on Focus/Hover"
## Describe the feature

There are visually hidden headings which should have the semantic information exposed on focus & hover (when highlighting the H2) in the example below.

Screen reader content should be visible.

**To Reproduce**

1. Go to https://tastybackend.com/
2. Highlight the headings.

## Expected behavior

Display semantic content if accessible to screen readers.

## Screenshots

<i

[2019-04-22 23:18] haonliu commented on #585
@mgifford Thanks a lot for the clear description of this feature request! This is a great suggestion, we will look into this feature. Before the feature is available, as an alternative, you can use the headings Assessment test to visualize the semantic information of visually hidden headings:
![heading](https://user-images.githubusercontent.com/15974344/56539251-2a047100-651a-11e9-86b6-8a71ff2c7b5

[2019-04-23 00:37] dbjorge commented on #578
Fix is available in [Canary](https://chrome.google.com/webstore/detail/accessibility-insights-fo/hbcplehnakffdldhldncjlnbpfgogbem) build 2019.4.22.2339. It will go out to production with our next release train.

[2019-04-23 18:08] haonliu commented on #570
@ferBonnin checked on https://developer.microsoft.com/en-us/fabric#/components/dropdown using NVDA, it is not happening on their side. So this might be an issue from our side, or they've fixed the issue.

[2019-04-23 19:06] ferBonnin commented on #570
@haonliu how can we check if its fixed for us too?

[2019-04-23 19:13] haonliu commented on #570
we can update office fabric and see if the issue is still there.

[2019-04-23 19:13] ferBonnin commented on #570
@markreay thoughts?

[2019-04-23 20:54] Shobhit1 opened #588 "Issue filling fails with "Query String too long" error"
## Describe the bug

When I tried to use "File Issue" feature on the Issue dialog popup, the process fails with following errors:

1. Azure boards: "Query string too long"
2. Github: 2FA fails with 500 error.

**To Reproduce**
Steps to reproduce the behavior:
Prerequisite: You should **not** be logged in Azure devops or github before this

1. Go to "any target page'
2. Click on Accessibility Insig

[2019-04-23 21:08] dbjorge opened #589 "Edge compat: "file url disallowed" text refers to "Chrome" settings"
## Describe the bug

The popup.html content when trying to run the extension on a file:// url when this is not enabled in extension settings references "Chrome" even from Edge in the message `Your Chrome settings don't allow Accessibility Insights for Web to run on file URLs.`

**To Reproduce**
Steps to reproduce the behavior:

1. Ensure the extension settings do *not* have "Enable for file:// url

[2019-04-23 21:22] Shobhit1 opened #591 "URL change dialog doesn't show up for change in file urls"
## Describe the bug

URL change dialog box doesn't show up when we go from one file url to another.

**To Reproduce**
Steps to reproduce the behavior:

1. Open a HTML file in chrome to test for accessibility issues
2. Run assessment by clicking on Assessment from extension's popup page.
3. Verify some assessments so that it makes an entry in indexed DB
4. Change the file url to another url by open

[2019-04-23 21:46] peterdur opened #592 "How to Test content still refers to "Visual Helpers" after rename"
## Describe the bug

#521 renamed the "Visual Helper" toggles to "Highlight instances on target page" but several How to Test instructions still refer to visual helpers. For example, Assessment > Landmarks > Landmark roles says "The visual helper for this requirement highlights all landmarks in the target page."

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Assessment > Landmarks >

[2019-04-23 21:54] peterdur opened #593 ""Highlight instances on target page” doesn't make sense for some old visual helper toggles"
## Describe the bug

#521 renamed the "Visual Helper" toggles to "Highlight instances on target page" but this doesn't make sense in some cases:
- The toggle for “color as meaning” page makes the whole page go grey (see screenshot below for context)
- The toggles for “keyboard navigation” and “visible focus” record elements that get the keyboard focus

**To Reproduce**
Steps to reproduce the behav

[2019-04-23 21:57] dbjorge opened #594 "Secondary text color mismatches design color palette"
## Describe the bug

We specify a secondary-text color of `rgba(0,0,0,.6)`, but the design color palette expects it to be `rgba(0,0,0,.55)`.

**To Reproduce**
Steps to reproduce the behavior:

1. Start an assessment on any page
2. Go to the Overview
3. Right click -> inspect on the "This page contains a summary..." text
4. Observe the computed color

## Screenshots

![image](https://user-images.gi

[2019-04-23 22:30] #594 closed

[2019-04-23 22:34] haonliu opened #598 "Details view crashes when refresh after target page is closed"
## Describe the bug

Details view crashes when refresh after target page is closed

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any web page.
2. Click on fastPass.
3. Close the target page then refresh the details view page.
4. See error: details view is blank

## Expected behavior

details view should not crash

[2019-04-23 23:01] #598 closed

[2019-04-23 23:42] dbjorge opened #600 "Assessment overview help box has too much top padding"
## Describe the bug

The overview page's help box should have a top padding of 20px per design, but the 17px margin on the "Help" h3 is inflating the top padding to 37px instead.

**To Reproduce**
Steps to reproduce the behavior:

1. Start an Assessment on any page
2. Click on the Overview assessment
3. Observe formatting of help box in top right

## Expected behavior

Total space between help box

[2019-04-23 23:49] dbjorge opened #601 "Assessment Overview help box links are using wrong color"
## Describe the bug

The overview page's help box should be using links of color "communication-primary" per design, but are instead using "communication-shade-10" via the `.insights-link` class. Need to verify with design whether it's the insights-link style that's wrong (ie, whether all of our links should be "communication-primary" by default) or if it's just these specific links that should be

[2019-04-23 23:56] dbjorge opened #602 "Left nav item text shifts slightly when a test switches from "in progress" to "pass/fail" status"
## Describe the bug

The text alignment of the Test names in the left nav bar shifts slightly when the icon changes from a number to a pass/fail indicator:

![shifting-text-repro](https://user-images.githubusercontent.com/376284/56623313-95b50f80-65e8-11e9-90e0-798a52db5fec.gif)

It appears that either the numerical circles or the pass/fail icons are not quite centered with one another. In the moc

[2019-04-24 15:39] cheade commented on #601
Adding in design input for this one - I think the reason why $communication/shade-10 was used here is because on the card background of #F8F8F8, the normal $communication-primary fails color contrast.

I'm wondering if we should move our primary link color to communication/shade-10 in order to just cover all links, or just use it when we have links on a gray, #F8F8F8 background.

[2019-04-24 18:29] mgifford commented on #585
Nice..  That's a great feature too!

[2019-04-24 21:30] Shobhit1 commented on #593
Hi @ferBonnin,
So I reverted the changes that we made for this using PR #597 . Do we want to track this here for more information/discussion. Please let me know.

[2019-04-24 21:39] #600 closed

[2019-04-24 21:57] ferBonnin commented on #593
thanks @Shobhit1 I think we can close this issue as resolved. For now, seems like a more generic text for all toggles makes more sense.

[2019-04-25 00:35] dbjorge commented on #519
Implemented the basics, talking offline with @cheade to confirm the exact font/positioning we want before sending a PR.

![image](https://user-images.githubusercontent.com/376284/56702128-425dc280-66b7-11e9-8efc-b0834db9a81a.png)

[2019-04-25 01:23] cglong opened #606 "Submit to Edge Insider Addons store"
## Is your feature request related to a problem? Please describe.
It's difficult to install Accessibility Insights for Web onto [Edge Insider](https://www.microsoftedgeinsider.com/).

## Describe the desired outcome
I'd like to be able to install the extension without changing settings in my browser.

## Describe alternatives you've considered
I can enable installation of extensions from other sou

[2019-04-26 17:55] Shobhit1 commented on #593
Closing this in favor of having a more detailed discussion later.

[2019-04-26 17:55] #593 closed

[2019-04-26 19:16] ferBonnin commented on #549
@smoralesd is this resolved?

[2019-04-26 19:19] ferBonnin commented on #592
@peterdur given that we reverted that, I don't think this is a valid bug anymore, do you agree?

[2019-04-26 19:33] peterdur commented on #592
Agreed. Closing. When we reimplement the text change, we'll remember to update the content.

[2019-04-26 19:33] #592 closed

[2019-04-26 19:35] peterdur commented on #589
Fixed by PR #608. Verified in Canary 2019.4.26.1829.

[2019-04-26 19:35] #589 closed

[2019-04-26 19:37] peterdur commented on #606
Work in progress.

[2019-04-29 20:28] dbjorge commented on #519
@MarjonBakker This feature is now available in our [Canary extension](https://chrome.google.com/webstore/detail/accessibility-insights-fo/hbcplehnakffdldhldncjlnbpfgogbem) (version 2019.4.29.2023). Feel free to give it a try and let us know if you find any issues with it!

[2019-04-29 20:37] dbjorge commented on #385
@ferBonnin @LiLoDavis can you clarify exactly where in the UI/docs you want this new text to show up?

[2019-04-29 21:00] ferBonnin commented on #385
@dbjorge only in the UI (already added it in the docs). Will send you a screenshot

[2019-04-29 21:35] devaradhanm opened #624 "Color contrast issue on overview page in high contrast"
**To Reproduce**
Steps to reproduce the behavior:

1. Go to Assessment report overview page for any target page
2. Enable high contrast mode

## Screenshots
![image](https://user-images.githubusercontent.com/29855291/56928485-d18a2200-6a8b-11e9-8eb9-5184c552f216.png)

[2019-04-29 21:40] devaradhanm opened #625 "details view banner title is not consistent with guidance page title"
## Describe the bug

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Use Insider extension to open fastpass
2. Open a guidance page for automated checks

## Screenshots
![image](https://user-images.githubusercontent.com/29855291/56928764-aeac3d80-6a8c-11e9-8e93-1fed50dc5c4c.png)

![image](https://user-images.githubusercontent.com/29855291/

[2019-04-29 22:06] devaradhanm opened #627 "Inspect Element doesnt work if the same element is inspected again"
## Describe the bug

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any page with a11y issues
2. Run automated checks
3. click on one of the issues in the target page to open issue details dialog
4. Open devtools
5. Click on Inspect element
6. Select some other element in the devtools.
7. Inspect the same issue again.

## Screenshot

[2019-04-29 22:10] #624 closed

[2019-04-29 22:33] haonliu opened #629 "undefined returned when enable/disable feature"
## Describe the bug
undefined is returned when enable/disable feature

**To Reproduce**
Steps to reproduce the behavior:

1. Go to background.html.
2. Enter insigghtsFeatureFlags.enableFeature('showAllFeatureFlags')
3. See undefined logged in the console.

## Expected behavior

some useful info logged in the console instead of 'undefined'

## Screenshots
![image](https://user-images.githubusercont

[2019-04-29 22:38] dbjorge opened #630 "CodeExample component causes 'unique "key" prop' react warnings"
## Describe the bug

The `<CodeExample>` component renders using arrays of child elements without keys, which causes console errors of the following form:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Use the Canary or Dev version of the extension (Insider/Production versions use production react with warnings disabled)
2. Start an Assessment of any target page
3. Navigate to the

[2019-04-29 23:05] dbjorge commented on #385
To clarify: it should render in the fastpass view only, in between the `<h1>{this.props.title}</h1>` and the `this.renderContent()` in the `IssuesTable` within the details view main content. Probably we'd do this by adding an optional `subTitle` to `IssuesAdHocVisualization.displayableData` and rendering it in `IssuesTable` iff present.

It should be styled as `$secondary-text`.

[2019-04-29 23:34] digitarald commented on #445
Great to hear @adrianaandreeva! Looking forward to hear the results of the internal conversations. If we know more about what is blocking your work, we can diagnose and come up with estimates on by when it should be fixed.

Feel free to reach out via `{my nickname} [at] mozilla.com ` to discuss offline.

[2019-04-30 00:29] #629 closed

[2019-04-30 00:39] dbjorge commented on #385
Fix is implemented in #632, but need to wait til Chelsea is back in the office to review continue

[2019-04-30 08:18] MarjonBakker commented on #519
Checked it out, and it's just what I need. Thanks all!

[2019-04-30 20:10] haonliu commented on #570
Just an update: so I tried to updated OF to 6.174.0, this issue is not fixed, and a bunch of a11y issue is found in e2e tests.

[2019-04-30 21:23] haonliu commented on #570
Investigated a bit more on this issue, I think the cause is: the 'selected option' of the switcher does not change immediately after user input, It goes through our flux loop before updating the UI. This makes NVDA anoucing the option change incorrectly.

[2019-05-01 20:42] smoralesd opened #642 "Failure selection not preserved after refresh the details view"
## Describe the bug

On details view, automated checks, failure selection is not preserved after the user refresh the details view.

**To Reproduce**

1. Go to a web page with a11y failures, here's an [example page](https://github.com/Microsoft/accessibility-insights-web/blob/master/src/tests/end-to-end/test-resources/all.html)
2. Open FastPass -> automated checks
3. Wait for the scan to finish
4.

[2019-05-01 21:24] Shobhit1 opened #643 "Color-contrast issue on Detailsview automated checks page."
## Describe the bug

Color contrast issue on Automated checks page.

**To Reproduce**
Steps to reproduce the behavior:

1. Run automated checks from Ai4w extension on any page.
2. Open developer tools (F12) and open console
3. Run `A11YSelfValidator.validate()`
4. See 1 color-contrast issue found.

## Expected behavior

There should not be any error in console.

## Screenshots

![image](https://us

[2019-05-01 21:57] Shobhit1 opened #644 "Screen Reader announces content page tab as "document unknown""
## Describe the bug

Content reader (NVDA) announces the new tab opened for content

**To Reproduce**
Steps to reproduce the behavior:

1. Open any assessment from Assessment option on AI4W browser extension
2. Open NVDA
3. ab through to the Guidance link and press Space
4. Check NVDA output

## Expected behavior

NVDA reads  `document unknown` before announcing the title of the content page.
It s

[2019-05-01 22:27] haonliu commented on #570
Who should close this issue?

[2019-05-01 22:28] ferBonnin commented on #570
@haonliu the person who open it, in this case me.

[2019-05-01 22:52] ferBonnin commented on #570
verified in Canary version 2019.5.1.12208 with NVDA

[2019-05-01 22:52] #570 closed

[2019-05-02 19:58] dbjorge commented on #601
@cheade I have a slight preference for the former option (ie, making primary link color just be communication/shade-10) but am okay with either. I think the final decision on that is yours.

[2019-05-02 21:49] ferBonnin commented on #644
@iamrafan thoughts on this?

[2019-05-02 21:50] ferBonnin commented on #643
@Shobhit1 could you fix this, please?

[2019-05-02 21:52] ferBonnin commented on #642
@smoralesd this is known and given no user feedback, won't fix.

[2019-05-02 21:52] #642 closed

[2019-05-02 21:53] ferBonnin commented on #627
@devaradhanm what happens if you do not "Collapse body html element in the dev tools"? or you close the inspect?
We feel like this is a weird edge case.

[2019-05-02 21:55] ferBonnin commented on #602
@dbjorge per conversation with Mark, won't fix.

[2019-05-02 21:58] ferBonnin commented on #579
Thanks for the Suggestion @mgifford we will keep this feature request in our backlog.

[2019-05-02 22:30] #602 closed

[2019-05-02 23:28] iamrafan commented on #644
@ferBonnin NVDA is doing this because of the ```target="_blank"``` attribute on the hyperlink used to navigate to this page. Let me file it with NVDA team and find out their take on the issue

[2019-05-03 00:06] iamrafan commented on #644
Filed https://github.com/nvaccess/nvda/issues/9533

[2019-05-03 00:06] ferBonnin commented on #644
thanks @iamrafan!

[2019-05-03 17:41] cheade commented on #601
@dbjorge let's go with making the primary link color communication/shade-10.

[2019-05-03 17:47] ferBonnin commented on #601
@dbjorge lets just check all color contrast in the tool with and without high contrast with this change.

[2019-05-03 17:50] cheade commented on #601
This change shouldn't affect high contrast mode - high contrast mode uses a bright yellow for link colors.

[2019-05-06 17:51] smoralesd commented on #549
@ferBonnin Not yet, still working on it (The "Closed" badge you see on the related PR means the PR was not merge to master, just closed -like in abandoned)

[2019-05-06 18:19] LiLoDavis opened #651 "Assessment > Headings - Heading highlighted on page is missing from list"
## Describe the bug

There is a mismatch between headings (1) highlighted in the target page and (2) displayed in the Instances list.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.uwb.edu/brand/website/accessibility/examples/inaccessible-page.
2. Launch an assessment.
3. Go to the Headings test (requirement 1).
4. Compare the headings that are highlighted in the target p

[2019-05-06 20:04] waabid commented on #651
This seems to be happening because the element in question is not hidden using traditional means (i.e. display none) but rather, using absolute positioning (positioned off screen). As a result, we do not ignore this heading and try to draw on it.

This box seemingly appearing randomly is likely happening because we do not calculate whether an element is able to be drawn on at a later time.

[2019-05-06 20:19] mmafe opened #653 "Provide users with ability to import/export an assessment as data (e.g. json)?"
Currently I can only work on a single assessment at a time. If I want to start a new assessment, I'm forced to lose my previous work. I am also unable to edit a previously exported assessment once I've started a new one.

# My Request
In addition, I would love to be able to:
- export an assessment as data (e.g. json file)
- re-import the data of that assessment

This would allow me to:
- simultane

[2019-05-06 20:22] ferBonnin commented on #651
@waabid the element does appear in the list for me and I see it in the screenshot Lisa Louise attached (is _site information_) the number of highlighted elements in the page matches with the number of elements listed.

[2019-05-06 21:18] #385 closed

[2019-05-07 01:10] #643 closed

[2019-05-07 14:13] LiLoDavis commented on #651
@ferBonnin You're right - I didn't match it to the element in the list because of its odd placement in the DOM. I'll close this bug as by design.

[2019-05-07 14:13] #651 closed

[2019-05-08 00:16] waabid opened #659 "Details view switcher is not updated when view changed from popup view"
## Describe the bug

The details view switcher does not update when you click on fast pass or assessments in the popup view.

**To Reproduce**
Steps to reproduce the behavior:

1. Open popup view.
2. Click FastPass.
3. Open popup view again.
4. Click Assessment.

Note how the switcher is not updated and still says fast pass.

## Expected behavior

The switcher should state assessment when switched

[2019-05-08 16:19] smoralesd commented on #659
It sounds to me that this is a side effect of a previous bugfix (trying to fix the switcher state to be properly announced by the SR). In the bug fix, we move the state to the component instead of getting it through the props from the background.

[2019-05-08 16:45] smoralesd opened #660 "Guidance content broken"
## Describe the bug

Guidance content shows "Cannot find t"

**To Reproduce**
Assessment/Automated checks scenario
1. Open assessment (target page url is not relevant)
2. Select Automated checks (any test will do, except for Overview)
3. Click the info icon right after "Automated checks" title
4. On the new tab, observe the content: it shows "Cannot find t"

Adhoc/Tab stops scenario
1. Open the po

[2019-05-09 02:03] nschonni commented on #653
This may be applicable if you start to look at output formats https://w3c.github.io/wcag-act/act-rules-format.html#appendix-data-example

[2019-05-09 02:13] nschonni commented on #558
Maybe Deque will share their build setup, since that extension installs as a DevTool extension (and in Firefox)

[2019-05-09 16:32] Shobhit1 commented on #643
Fixed.

[2019-05-09 16:36] ferBonnin commented on #549
@haonliu this issue was marked as resolved, could you verify and close?

[2019-05-09 18:48] #660 closed

[2019-05-09 21:31] #519 closed

[2019-05-10 16:17] ambrosew opened #665 "False positive for automated check: <li> elements must be contained in a <ul> or <ol>"
## Describe the bug

Possible false positive for automated check: ```<li> elements must be contained in a <ul> or <ol>```

1. Go to https://codepen.io/ambrosew/pen/YbqvBX
2. Run automated check.
3. ```<li>``` are flagged as not contained in a ```<ul>```.

## Expected behavior

Expect no such error because ```<li>``` are contained in a ```<ul>``` with role="link"

## Screenshots

![image](https://u

[2019-05-10 17:06] ferBonnin commented on #665
Hi @ambrosew this is not a false positive. You are overwriting the role list with role **link**: `<ul aria-labelledby="label1" role="link">` .  You can check this if you go to the accessibility tab when inspecting the elements:
![a screenshot of the accessibility tree](https://user-images.githubusercontent.com/9062104/57544054-0e1b1080-730b-11e9-97f7-9892438e8829.png)

The rule "listitem" makes su

[2019-05-10 17:16] ambrosew commented on #665
Thanks for the feedback!

[2019-05-10 17:16] #665 closed

[2019-05-10 17:42] ferBonnin commented on #578
Hi @mgifford the fix for this is now in Production build version 2.3.0 :)

[2019-05-13 14:54] #578 closed

[2019-05-13 16:35] JoshuaLamusga opened #672 "Incorrect string "model" instead of "modal""
## Describe the bug
I hope this image will explain the bug:
![image](https://user-images.githubusercontent.com/30244654/57638268-4a947980-7562-11e9-8c7a-1ec4d58dd042.png)

Just a typo, where the word model is used when modal should be used. Highlighted with a red circle.

[2019-05-13 16:38] Shobhit1 commented on #672
PR welcome 😄

[2019-05-13 20:06] ferBonnin commented on #627
From conversation with Peter: this is kind of an edge case (we havent heard of a user having it) but we understand it can be confusing. temporary workaround, if this happens, inspect another element and then come back.
@devaradhanm do we know if this is happening because we are filtering a duplicate request to inspect the element or is it on the devtools side?

[2019-05-13 20:08] ferBonnin commented on #644
per reply on NVDA bug this seems like a weird edge condition. @Shobhit1 does this repros if you start NVDA before?

[2019-05-13 20:15] Shobhit1 commented on #644
@ferBonnin  For this I have NVDA running on my machine, before I clicked on any other link.  I dont completely understand what "starting NVDA before" means. Sorry.

[2019-05-13 20:17] ferBonnin commented on #644
@Shobhit1 repro steps indicate open Assessment and then launch NVDA, per the bug Guru opened [nvaccess/nvda#9533](https://github.com/nvaccess/nvda/issues/9533) the workflow seems a bit odd.

[2019-05-13 21:25] iamrafan commented on #627
@ferBonnin I too faced this issue many times when investigating user issues. It was tough for me to go back and inspect the same element after making changes in the DOM in other places (Especially in custom widgets).

[2019-05-13 21:35] iamrafan commented on #644
@ferBonnin I don't think it has anything to do with when NVDA is started, I think it related to focus and how NVDA handles pages without a focusable component

[2019-05-15 03:53] devaradhanm commented on #627
@ferBonnin , this is happening because of the way we handle store message changes in [StoreProxy](https://github.com/microsoft/accessibility-insights-web/blob/d467cb0ae5cd3ed64a988f4cce6f4715e25e6a4d/src/common/store-proxy.ts#L32). (We don't fire change event when there is no state change)
including @waabid & @smoralesd on their inputs if we can fix this easily without breaking other functionality

[2019-05-16 18:04] #672 closed

[2019-05-16 22:11] waabid opened #679 "Subtitle under automated checks disappears when target page is changed."
## Describe the bug

Subtitle under automated checks disappears when target page is changed. As in, if you navigate to another page or refresh the target page.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any website A
2. Open details view & scan automated checks.
3. Refresh website A.

## Expected behavior

The subtitle should not disappear.

## Screenshots

![targetpagechangedsub

[2019-05-16 23:08] peterdur commented on #606
We are now in the Edge Insider Addons store - you can find the extension [here](https://microsoftedge.microsoft.com/insider-addons/detail/ghbhpcookfemncgoinjblecnilppimih).

[2019-05-16 23:32] #606 closed

[2019-05-17 00:42] ferBonnin opened #680 "Switcher accessible name is confusing"
## Describe the bug

The dropdown that changes between Assessment and FastPass reads "select workflow".  For a new user, the message is confusing and does not convey what a workflow is.

**To Reproduce**
Steps to reproduce the behavior:

1. turn on JAWS
2. Launch accessibility Insights in any page
3. get focus to the switcher

## Expected behavior

A better description of what the control is and w

[2019-05-17 17:24] ferBonnin opened #682 "When visual helper is disabled, its confusing for AT users"
## Describe the bug

A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.washington.edu/accesscomputing/AU/before.html
2. turn on NVDA or Jaws
3. go to Headings test, requirement 1
4. there are no headings on the page, so the visual helper will be disabled. Visually, that is conveyed immediately, but for a user using a screen

[2019-05-17 18:13] #679 closed

[2019-05-17 22:50] ferBonnin opened #685 "Implement a scanning sound when scanning automated checks/list of instances"
## Is your feature request related to a problem? Please describe.
Yes, if I am using a screen reader there are some cases (the internet connection is slow, the page is big, etc) where I don't know what Accessibility insights is doing: is it still scanning?

## Describe the desired outcome
apart from the spinning wheel, I would like a scanning sound that notifies me that its still scanning.

## Des

[2019-05-17 23:35] AhmedAbdoOrtiga commented on #685
Just FYI: we have this feature already in AIWin, and it's configurable by the user (on/off)
![image](https://user-images.githubusercontent.com/45858632/57961103-98421680-78c1-11e9-895f-2d926326997d.png)

[2019-05-20 15:36] RobGallo commented on #682
The thing that jumps out at me is that some headings tests require headings to exist and some don't. If there are tests which require a certain type of element to exist, and none do, why don't we mark those tests as not applicable in a way that all kinds of users can tell why? To solve this bug minimally, we could add the element count as part of the heading.

[2019-05-20 15:37] RobGallo commented on #680
"Select type of test to run"?
"Select test mode"?

[2019-05-20 17:21] ferBonnin commented on #682
@RobGallo each requirement is checking for different things. In the case of requirement 2: no missing headings, if the visual helper didn't found headings it can mean they aren't implement them correctly or that they are not using them.

Since the requirement requires the user to determine whether is pass or fail, we cannot automatically mark it as not applicable (and we do not use _not applicable

[2019-05-20 17:22] ferBonnin commented on #680
@RobGallo one is assessment and the other is fastPass, not sure if they count as _tests_ (given that assessment has a list of 22 tests).

Would this be too long: "Select Assessment or FastPass workflow"?

[2019-05-20 17:34] RobGallo commented on #682
@ferBonnin
I think having tests automatically pass is just as confusing as "not applicable". It's like they should be disabled, or separated, or something. But I think at least having the count of instances in the heading would alieviate the problem.

[2019-05-20 18:31] devaradhanm commented on #627
@ferBonnin , I dont think we need to do any investigation here. we can go ahead with the implementation i suggested based on priority.

[2019-05-21 16:16] scottsb commented on #653
Here is a more detailed explanation of the same approach @nschonni mentions. It would be amazing if this tool could generate interchangeable data files with the W3C's own (sadly poorly maintained) tool:
https://github.com/w3c/wcag-em-report-tool/blob/master/docs/EARL+JSON-LD.md

[2019-05-21 22:12] ferBonnin commented on #680
note: if we change this, it would be good to check documentation: "The tool supports two primary scenarios:"

[2019-05-21 22:23] ferBonnin commented on #680
per conversation with Rob: "Select Activity".
workflow is vague, adding assessment, fastpass, is redundant and can be too long if we add more options

[2019-05-22 16:02] orunsewe opened #691 "Information related to the heading level requirement does not clarify the need for proper heading level order."
When using the information given as guidance for checking the heading level requirement, I noticed that the steps indicate the need for heading levels to visually match the programmatic level. However, it is not clear if this test requires heading levels to be in a logical order, that is, not skipping heading levels or using the wrong heading level.

As a user, I would like some clarification in t

[2019-05-22 16:56] #680 closed

[2019-05-22 17:12] joelverhagen opened #692 "Wrong background color detected by color contrast step"
## Describe the bug

Steps to reproduce the behavior:

1. Go to https://www.nuget.org/.
1. Scroll down to the footer.
1. Run the Fast Pass mode.
1. See contrast errors and drill into the details of one (they all have the same problem)

## Expected behavior

The actual background color is #002440, not #ffffff.

## Screenshots

![image](https://user-images.githubusercontent.com/94054/58194075-6a6e20

[2019-05-22 18:38] ferBonnin opened #694 "color contrast issue with Landmarks over target page"
## Describe the bug
Landmarks drawn over the target page from adhoc tools or Assessment, do not comply with color contrast.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.washington.edu/accesscomputing/AU/after.html#
2. turn on Landmarks from adhoc tools or assessment
3. See color contrast issues:

- purple: Navigation
- blue: region
- pink: main

## Expected behavior

No

[2019-05-22 18:55] ferBonnin commented on #694
Font size is 20px, based on [Techniques G145](https://www.w3.org/WAI/WCAG21/Techniques/general/G145): Point sizes are based on the CSS pt size CSS3 Values. The ratio between sizes in points and CSS pixels is 1pt = 1.333px, therefore 14pt and 18pt are equivalent to approximately 18.5px and 24px.

So two options:

- make font bigger
- change colors (need to consider high contrast mode too)

[2019-05-22 19:06] ferBonnin commented on #691
@LiLoDavis thoughts on this?

[2019-05-22 19:20] LiLoDavis commented on #691
@ferBonnin Properly structured headings is considered a best practice, not a WCAG AA requirement. If we decide to include best practices in our tool, there's an axe rule that looks for incorrect heading hierarchy.

[2019-05-22 19:56] ferBonnin commented on #691
@LiLoDavis agree.

@orunsewe  thanks for the feature request and your interest in the tool. We have a question to understand better the request. You mention: _"However, it is not clear if this test requires heading levels to be in a logical order, that is, not skipping heading levels or using the wrong heading level."_
In the Guidance page for Headings (information icon next to the Headings test t

[2019-05-22 20:21] lisli1 commented on #694
@cheade the proposed solutions would change the UI. What are your thoughts?

[2019-05-22 20:52] mmafe opened #696 "Decorative elements with a CSS background-image are reported as Meaningful when a nested element has an aria-label"
## Describe the bug

Decorative elements with a CSS background-image are reported as "Meaningful" when there is a nested element (in this case a `<nav>`) with an aria-label inside of the decorative container element.

Tool guidance specifically says:

1. Examine each image to verify that its coded function is correct.
   - An image should be coded as meaningful if it conveys information that isn't

[2019-05-22 21:45] cheade commented on #694
Hi guys! I've played around with the CSS and I have two different options. (pt to px size is also determined by the DPI of one's screen). I had a third option where option 2 just has black text. Even though it passes color contrast, I didn't like it at all.

### Option 1
Every landmark title gets a white background with black text, which I made 16px, as I feel it makes it a little easier to spot,

[2019-05-22 21:48] ferBonnin commented on #694
@cheade thanks for the options!
Question, I noticed you changed the font color too to white for some cases in opt 2, is that part of the option?

[2019-05-22 21:49] cheade commented on #694
Yep! All of these colors should pass with 14pt bold on white.

![image](https://user-images.githubusercontent.com/40274682/58211425-be403000-7ca0-11e9-8e38-74c4d1b5c2cc.png)

[2019-05-22 22:10] #659 closed

[2019-05-22 23:16] ferBonnin commented on #685
Quick Note: using sound only to notify users will not work for braille displays to communicate state of the scanning.

[2019-05-23 01:19] dbjorge commented on #692
@lisli1 @peterdur @iamrafan and I took a look at this. We think we understand the root cause:

axe-core's implementation of the color contrast test identifies the "background color" at a location by querying `document.elementsFromPoint` at the location of the foreground element in question and considering the background-colors provided by the returned elements. Here, because the footer element in

[2019-05-23 01:38] joelverhagen commented on #692
Is there something simple we can do to our markup or CSS to work around the issue? For example can we apply the background color to another part of the DOM so it passes validation? This would future members of my team save effort reinvestigating the issue.

Thanks for the update.

[2019-05-23 01:45] dbjorge commented on #692
Replicating the `background-color: #002440;` style from `.footer` in `.footer .container` would be a straightforward workaround, I think.

[2019-05-23 13:29] mmafe commented on #696
Relating to this, when the CSS background-image is coded as Meaningful, any instances of it will also show up under the Images/ Text alternative section as a meaningful image that requires a text alternative.

The guidance of this second section says...

[code]

Based on the tool guidance, these instances (under Images/Text Alternative) would also be marked as "Fail"s even though I believe they ar

[2019-05-23 13:35] orunsewe commented on #691
Yes it is helpful. Thank you.

[2019-05-23 14:55] mmafe opened #697 "Guidance suggests CSS pseudo-elements with visually-hidden alternative text might be failures"
## Describe the bug

I'm checking a meaningful button that (a) uses pseudo-elements (:before or :after) for its icon and (b) has visually-hidden text indicating the button alternative text.

![image](https://user-images.githubusercontent.com/1927902/58262780-e4210f80-7d48-11e9-9c84-4d677a3a4a72.png)

HTML is as follows:
[code]

CSS is as follows:
[code]

If I run a full assessment on this button,

[2019-05-23 16:13] mmafe opened #698 "Result description (after selecting Export result) does not support line breaks"
## Is your feature request related to a problem? Please describe.
The result description (created after selecting Export result) does not support line-breaks.

I attempted to export:

[code]

This was exported as follows:
```Must fix: - first issue - second issue - third issue Should fix: - first issue - second issue```

## Describe the desired outcome
I'd love it if the result description support

[2019-05-23 16:21] mmafe opened #699 "Result description should maintain its content"
## Is your feature request related to a problem? Please describe.
If I fill in the result description (after selecting Export result), and I accidentally close the window (either by clicking outside the window or selecting the close button), the content I typed in disappears.

Going forward, I've been keeping track of my summary findings in a separate document and then pasting that into the Result

[2019-05-23 18:32] ferBonnin commented on #691
@orunsewe Awesome!
Do you think this is enough for the feature request or is there something else you would like to have for this?

[2019-05-23 18:48] ferBonnin commented on #697
@iamrafan @LiLoDavis could you please take a look at this?

Based on the test procedure of [F87](https://www.w3.org/TR/WCAG20-TECHS/F87.html):
`If the inserted content is not decorative, check that the information is provided to assistive technologies and is also available when CSS is turned off.`

 I am unsure if this implementation covers all possible ATs or someone simply turning off CSS

[2019-05-24 15:57] LiLoDavis commented on #697
@imrafan @ferBonnin  When I wrote the procedure, I deliberately simplified it. I didn't include viewing with CSS off in part because it tends to turn pages into gibberish that's difficult to evaluate, and also because I'm not clear what insight is gained, or how it would help eliminate false positives. We already know that the before/after content will disappear. Is it that some information that's

[2019-05-25 12:13] WilcoFiers commented on #692
I reported on issue for this in axe-core here: https://github.com/dequelabs/axe-core/issues/1588

[2019-05-28 19:03] joelverhagen commented on #692
I noticed that I am assigned. Is there something you would like me to check on?

[2019-05-28 21:04] devaradhanm commented on #692
@joelverhagen , we would like to know if the workaround @dbjorge  provided unblocks you. Chrome team has changed the priority of the bug to P1. So, hopefully we will have this issue resolved soon. Do you have any questions? Feel free to close this issue if you are unblocked.

[2019-05-28 21:47] devaradhanm commented on #529
@ferBonnin, this error might be hard to remove since this is happening due to a font added by the fabric css we inject.
We could solve this by having our visualization under iframe, which would be a feature request. (with this approach you won't see this error message & the ui experience will not be affected) We may need an investigation for this.

[2019-05-28 21:55] joelverhagen commented on #692
Yes, the steps @dbjorge prescribed worked around the issue.

[2019-05-28 22:20] dbjorge commented on #529
I don't think we'd need to go as far as having our own visualization. [Office Fabric supports configuring fonts to load from alternative sources](https://github.com/OfficeDev/office-ui-fabric-react/wiki/using-icons#alternative-cdn-options); I would expect we could package the necessary font package with our extension and use that functionality to load the fonts from a chrome://our_ext_id/ URL to w

[2019-05-29 00:36] devaradhanm commented on #529
Looks like this is happening since we are importing fabric.scss in our scss file. I think we can remove this dependency, as i don't see any style changes when we remove it. i will send a PR for this change.tried removing this dependency,

[2019-05-29 15:17] devaradhanm commented on #692
Thanks for confirming @joelverhagen . I will close this issue then.

[2019-05-29 15:17] #692 closed

[2019-05-29 15:57] cnamal opened #711 "Add template id for azure devops bug filing"
I noticed you added the button to file an issue on Azure DevOps directly through Accessibility Insights, which is awesome! 😊

We have to add the a tag for A11y Insights bugs and make them P0, and so I was wondering if it would be possible to provide a bug template id in the settings UI.

For reference, we have an ADO dashboard that has links to create bugs with correct information, such as
`https:

[2019-05-29 19:05] #529 closed

[2019-05-29 22:20] smoralesd commented on #627
@devaradhanm is this too hacky a fix? https://github.com/microsoft/accessibility-insights-web/pull/713

[2019-05-30 17:14] karanbirsingh commented on #549
@haonliu ping

[2019-05-30 17:56] #549 closed

[2019-05-30 18:02] devaradhanm opened #715 "Snippet is not formatted for automated check issues in details view"
![image](https://user-images.githubusercontent.com/29855291/58653265-2d81d980-82ca-11e9-9660-175994bc9f2b.png)

Can we do some formatting for the snippet displayed.
Also, we could highlight based on html syntax.

[2019-05-30 18:15] ferBonnin commented on #659
@Shobhit1 ping to follow up :)

[2019-05-30 20:00] #691 closed

[2019-05-30 20:01] #625 closed

[2019-05-30 20:17] iamrafan opened #717 "Keyboard navigation: Focus indicator is not present on the close button in settings panel"
## Description

When the settings panel is opened using a keyboard, the focus is placed on the close button by default. But the focus ring is missing here.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'https://www.microsoft.com/en-us'
2. Navigate to the settings button in details view using keybaord
3. Open the settings panel using keyboard
4. Observe that the focus indicator on th

[2019-05-30 20:25] ferBonnin commented on #697
I understand the simplification and makes sense to me. One option could be to add a note but I +1 your question:

@iamrafan thoughts on this?

[2019-05-30 21:00] ferBonnin commented on #697
hey @mmafe from a conversation with @iamrafan
 if you consider this from F87: “check that the information is provided to assistive technologies and is also available when CSS is turned off.” As:
1.	information is provided to assistive technologies
2.	information is also available when CSS is turned off

the example provided would be ok for users who use an ATs, but we do not think it will be acces

[2019-05-30 21:14] iamrafan commented on #697
It would also be related to [F1: Failure of Success Criterion 1.3.2 due to changing the meaning of content by positioning information with CSS](https://www.w3.org/TR/2016/NOTE-WCAG20-TECHS-20161007/F1) as the reading order would be impacted in most of the cases

[2019-05-30 22:27] ferBonnin commented on #698
Hi @mmafe thanks for your interest in Accessibility Insights for Web.
This is a great suggestion, we will we will look into the timelines and effort for making this available and follow up.

[2019-05-30 22:31] ferBonnin commented on #699
Hi @mmafe thanks for your suggestion and the interest to Accessibility Insights for Web.

Per conversation with @juliestuart-ms makes sense to keep the information if possible since the user can always clear the information entered. We will we will look into the timelines and effort for making this available and follow up.

[2019-05-30 22:45] devaradhanm commented on #717
@iamrafan , i see that the focus is on the close button but we don't highlight it on opening the settings dialog. but we do have a focus ring the next time the focus is on the close button . I will check why we have this behaviour

[2019-05-30 23:07] #627 closed

[2019-05-31 00:21] ferBonnin commented on #653
Hey @mmafe, thanks for your interest in Accessibility Insights for Web!

This is a request that requires more discussion and investigation on our side, we will update here when we know more and we will keep checking for upvotes/reactions from the community on this request

[2019-05-31 16:54] smoralesd commented on #579
@ferBonnin @mgifford This is on [canary](https://chrome.google.com/webstore/detail/hbcplehnakffdldhldncjlnbpfgogbem) now.

[2019-05-31 17:35] ferBonnin commented on #579
awesome!
@mgifford please let us know what you think!

[2019-05-31 17:58] devaradhanm commented on #717
office fabric adds a class ms-Fabric--isFocusVisible on body tag, after u start interacting with the dialog. so, the close button only gets focus the second time u focus the element. We can have a workaround fix on our end, but this needs to be fixed on office fabric side.

[2019-05-31 18:15] iamrafan commented on #717
@devaradhanm looks like this has been fixed in the latest office fabric update

[2019-05-31 18:45] devaradhanm commented on #717
@iamrafan , i still see this issue there as well. (as soon as the panel is open, i dont see the focus, even though the focus is on the close button. (if u hit enter the panel will dismiss). But the second time when u tab to the close button the focus is added.

[2019-06-02 17:35] mgifford commented on #579
That looks great now, Thanks!
<img width="501" alt="screenshot with colors by the hex" src="https://user-images.githubusercontent.com/116832/58764927-3e855180-853b-11e9-9b0b-35a111e48b8f.png">

[2019-06-02 17:35] #579 closed

[2019-06-03 22:34] virav opened #730 "Download report gives an error on pages"
While doing the assessment of a specific page, we get download error on "export result". I had discussed this issue with @smoralesd with screen share and as per discussion, it is an HTML file size issue. Please help me to overcome this issue for our portal to be accessibility compliant.

Thank you!

[2019-06-05 17:26] peterdur opened #735 "yarn precheckin fails in copyright check after yarn build"
## Describe the bug

Running `yarn precheckin` after doing a `yarn build` fails. If the file tree is clean, `yarn precheckin` succeeds.

**To Reproduce**
Steps to reproduce the behavior:

1. `yarn build`
2. `yarn precheckin`
3. See errors like this:
`License not found in \src\common\components\guidance-tags.scss.d.ts`

## Expected behavior

`yarn precheckin` should succeed

## Additional context

[2019-06-06 15:19] jalkire opened #743 "Automated checks visualization appearing inconsistently on target page"
## Describe the bug
Details copied from customer email.

When run the tool, it is showing the number of issues (count) that has been identified on the page run, however, the tool is not highlighting the areas on the page where the issue are being identified.
PFA snippet for your reference. In the foreground, it is displayed that the tool has identified 29 failures in total, however, in the backgro

[2019-06-06 15:41] LiLoDavis commented on #697
To ensure against false positives, we'll need to make the following changes to **Semantics** > **CSS content**. Note that test steps starting with lower case Roman numerals (i, ii, iii) should be indented relative to test steps starting with lower case letters (a, b). (I couldn't get the formatting to display properly.)

### Requirement:
Meaningful content must not be implemented using only CSS **

[2019-06-06 16:55] annikakouhia commented on #698
@ferBonnin Feature is up and running in Canary! Right now line breaks are working. Screenshots available here as well #741

[2019-06-06 16:59] ferBonnin commented on #698
Awesome! Thanks Annika.
@mmafe as Annika mentions the fix is now available in [Canary](https://chrome.google.com/webstore/detail/hbcplehnakffdldhldncjlnbpfgogbem). Please let us know what you think! :)

[2019-06-06 17:38] LiLoDavis commented on #696
To avoid both false positives and false negatives related to CSS images with meaningful content, we'll need to make the following changes.
Note that test steps starting with lower case Roman numerals (i, ii, iii) should be indented relative to test steps starting with lower case letters (a, b). (I couldn't get the formatting to display properly.)
### Automated checks
The **image-alt** rule will fa

[2019-06-06 17:47] LiLoDavis commented on #696
I'll crate a separate issue for the automated check.

[2019-06-06 18:54] ferBonnin commented on #743
@dbjorge please take a look at this issue, looks like the other issue with the iframes getting blocked we had in the past.

[2019-06-06 18:56] ferBonnin commented on #735
needs engineering investigation. The fix is not obvious because of the tools.

[2019-06-06 18:58] ferBonnin commented on #697
just as a summary to whomever picks this up, it is text changes in our test.

[2019-06-06 19:01] ferBonnin commented on #696
For summary, for whomever picks this up:

- Requires change of what we show to the user (include aria-role).
- 1.b is optional (we don't do this in other tests)
- and there is also a text change

[2019-06-06 19:03] ferBonnin commented on #694
For summary, lets use opt 2. This includes changing the text color to white instead of black.
dashing the box around as shown in opt 2, is nice to have.

[2019-06-06 19:09] mmafe commented on #698
Thank you! Looks good to me. Feel free to close the issue. 👍

[2019-06-06 19:19] #698 closed

[2019-06-09 15:18] rugk commented on #445
Please add Firefox support! With WebExtensions the APIs are very much the same and your maintenance cost will be very low. (actually the Firefox WebExtension APIs are often better and have more features.)

Also please re-open this issue, so we can see you are considering adding Firefox support.

[2019-06-10 10:02] iamrafan opened #756 "High Contrast mode: Info icon on the hidden state banner is not visible"
## Describe the bug

The info icon on the hidden state banner in details view is not having sufficient contrast against its background

**To Reproduce**
Steps to reproduce the behavior:

1. Run assessment on any page
2. Enable high contrast mode from settings panel
3. Switch to the target page used in step 1
4. Open a new tab in the target page window
5. Go back to details view page
6. Observe tha

[2019-06-10 10:49] iamrafan opened #757 "High Contrast mode: "Pass unmarked instances" button does not have enough contrast between 'active' and 'disabled' states"
## Describe the bug

It is tough to tell if the "Pass unmarked instances" button in assisted manual tests is active or disabled when in high contrast mode. The button is not having enough contrast across the states

**To Reproduce**
Steps to reproduce the behavior:

1. Run assessment on any page
2. Enable high contrast mode from settings panel
3. Navigate to landmarks assessment -> 1. landmark rol

[2019-06-10 17:54] LiLoDavis opened #758 "Add additional visual helpers to the Keyboard and Focus tests"
## Is your feature request related to a problem? Please describe.
Testing keyboard interaction and focus can be difficult if a page has elements that don't provide visible keyboard focus.

## Describe the desired outcome
Must have: Ability to see which element currently has the input focus, even if the element doesn't provide its own visible focus indicator.
Nice to have: (1) Ability to record whi

[2019-06-10 20:07] ferBonnin commented on #757
@cheade Peter and I agree this is an issue, could you suggest other color?

[2019-06-10 20:09] ferBonnin commented on #756
@peterdur please add more detail and mark ready for work :)

[2019-06-10 20:13] cheade commented on #757
Hi guys!

![image](https://user-images.githubusercontent.com/40274682/59223675-5d11cb00-8b81-11e9-80b7-b087928ff4b0.png)

This purple should be in our high color contrast palette as a disabled color.

Something else I've noticed in default windows high contrast apps, the actionable command buttons in high-contrast are outlined in white to further help define that it's an action, in lieu of the sub

[2019-06-10 21:56] iamrafan opened #760 "WCAG 2.1: 'Gear' icon's focus indicator has insufficient contrast against its background"
## Describe the bug

This issue is related to [WCAG SC 1.4.11: Non-text Contrast](https://www.w3.org/WAI/WCAG21/Understanding/non-text-contrast) and fails [F78](https://www.w3.org/WAI/WCAG21/Techniques/failures/F78).

**To Reproduce**
Steps to reproduce the behavior:

1. Run assessment on any page
2. Using keyboard navigate to 'Gear' icon on the header in details view
3. Observe that the focus ind

[2019-06-10 22:35] iamrafan opened #761 "WCAG 2.1: 'Switcher' drop down's inner background color has insufficient contrast against its adjacent background"
## Describe the bug

Related to [WCAG SC 1.4.11: Non-text Contrast](https://www.w3.org/WAI/WCAG21/Understanding/non-text-contrast)

**To Reproduce**
Steps to reproduce the behavior:

1. Run assessment on any page
2. Open details view
3. Observe that the ```FastPass/Assessment``` switcher's background isn't having sufficient contrast against the adjacent background

![image](https://user-images.git

[2019-06-10 23:24] iamrafan opened #762 "WCAG 2.1: Buttons' inner background color has insufficient contrast against its adjacent background"
## Describe the bug

Related to [WCAG SC 1.4.11: Non-text Contrast](https://www.w3.org/WAI/WCAG21/Understanding/non-text-contrast)

**To Reproduce**
Steps to reproduce the behavior:

1. Run assessment on any page
2. Open details view and start an assessment
3. Open the target page
4. Navigate to a new URL in the same tab
5. Run assessment once again
6. A dialog 'Assessment in progress' shows up in

[2019-06-10 23:40] iamrafan opened #763 "WCAG 2.1: High Contrast mode - Buttons' inner background color has insufficient contrast"
## Describe the bug

Same as #762 , in high contrast mode

## Screenshots
![image](https://user-images.githubusercontent.com/22068434/59233631-19798a00-8b9e-11e9-8036-4df3d30e91d9.png)

![image](https://user-images.githubusercontent.com/22068434/59233659-38781c00-8b9e-11e9-9053-2bfaadc88cc9.png)

## Extension

- Accessibility Insights for Web - prod
- Browser Version: Chrome 75.0.3770.80
- Target

[2019-06-10 23:49] iamrafan opened #764 "WCAG 2.1: High contrast mode - 'Gear' icon's focus indicator has insufficient contrast"
## Describe the bug

Same as #760, in high contrast mode

## Screenshots

![image](https://user-images.githubusercontent.com/22068434/59233843-02876780-8b9f-11e9-80c7-d2737900997f.png)

![image](https://user-images.githubusercontent.com/22068434/59233960-8b060800-8b9f-11e9-9146-ab107d9b670d.png)

## Extension

- Accessibility Insights for Web - prod
- Browser Version: Chrome 75.0.3770.80
- Target

[2019-06-11 18:50] karanbirsingh commented on #588
I have reached out to GitHub support to get their thoughts on the GitHub length. For me a URL of 1938 characters leads to the 500 server error if the user is logged out. This [link ](https://github.com/microsoft/accessibility-insights-windows/issues/new?body=jnkbxjkkolvifefgtsawrhemblthejpykcxqlalpoosvsvjtobejtrqqmhjyctgdxpurpixpllojczqgsjepjkkqthjgpxkbuqdpldcxfmitewpooeeislxsqmakovvedmwvsumnpizmh

[2019-06-11 20:51] karanbirsingh commented on #696
Looked at this and I think we need the `role-img-alt` rule slated for Axe's upcoming milestone. We consume axe-core 3.2.2 and the rule is planned for 3.3.
- milestone: https://github.com/dequelabs/axe-core/milestone/8
- issue: https://github.com/dequelabs/axe-core/issues/1192
- axe PR: https://github.com/dequelabs/axe-core/pull/1586

[2019-06-12 00:34] karanbirsingh commented on #757
It seems to me the ActionButton OfficeFabric component does not support semantic styles yet for its disabled text color. I filed an issue here to validate this: https://github.com/OfficeDev/office-ui-fabric-react/issues/9418

If the button can use the `disabledText` semantic slot instead, then we'll just need to update OF once the fix is in. Otherwise we can look into workarounds on our end.

[2019-06-12 18:50] ferBonnin commented on #760
@cheade could you take a look and suggest color?

[2019-06-12 19:17] ferBonnin opened #777 "WCAG 2.1: 1.4.13 tooltip in modal dialog is not dismissible"
## Describe the bug
related to S.C. 1.4.13, tooltip in modal dialog is not dismissable using keyboard only.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any page and continue an assessment
2. Dialog to continue or start new assessment appear
3. using keyboard, navigate through the links
4. try to press esc to dismiss tooltip, you can't

## Expected behavior
tooltip should be dismiss

[2019-06-12 20:21] cheade commented on #762
I'd like to propose this color scheme for our secondary buttons in order to be in accordance with WCAG 2.1:
![image](https://user-images.githubusercontent.com/40274682/59383327-8747c200-8d14-11e9-83f8-5f1e3d45101b.png)

**Button styling**
background-color: #FFFFFF;
border-color: rgba(0, 0, 0, 0.42) /* we'll need to add new shade, --neutral-alpha-42
border-radius: 2px;

**Text**
color: $primary-tex

[2019-06-12 20:30] cheade commented on #763
### **High contrast mode secondary buttons**
In my original Figma designs, I had our secondary buttons styled as such:

![image](https://user-images.githubusercontent.com/40274682/59383943-e3f7ac80-8d15-11e9-9e6e-791158c1908b.png)

(White background with black text.)

However, In accordance with WCAG 2.1 and to match my suggestion for #762, I suggest:

![image](https://user-images.githubuserconten

[2019-06-12 20:49] ferBonnin commented on #762
@cheade,  thanks! but right now we are using black border to indicate element has focus. How would we show element has focus?

[2019-06-12 20:50] ferBonnin commented on #763
same as #762, what would we show for focus?

[2019-06-12 23:51] dbjorge commented on #777
Office fabric issue; you can see the same behavior in their default tooltip example at https://developer.microsoft.com/en-us/fabric#/controls/web/tooltip

Filed https://github.com/OfficeDev/office-ui-fabric-react/issues/9435

[2019-06-13 00:04] cheade commented on #762
@ferBonnin We could tackle it the way new Fluent Fabric does! The buttons are the same except for modified colors:
![image](https://user-images.githubusercontent.com/40274682/59394287-e963ef80-8d33-11e9-9746-8d9d7cb0b261.png)

The CSS for these buttons can be [pulled from here](https://www.figma.com/file/Wj4Ggf6GGQBQkiDIaHfXRX2B/Accessibility-Insights-Style-guide?node-id=13%3A53)

[2019-06-13 00:06] dbjorge opened #786 "Target page with placeholder iframe causes visualization enablement to hang"
## Describe the bug

If a target page contains certain types of placeholder iframe elements (eg, an element like `<iframe src="javascript:false;">`, [apparently a common technique](https://stackoverflow.com/a/4284645)), actions that involve injecting visualizations into the target page will end up spinning forever without making progress:

* enabling any ad-hoc tool
* performing a fast pass scan
*

[2019-06-13 00:18] cheade commented on #763
Would something like this work?

![image](https://user-images.githubusercontent.com/40274682/59394828-0f8a8f00-8d36-11e9-918d-a514ce0b2aa7.png)

I'm not sure if we can include the nuanced states of hover and pressed in high contrast mode.

[2019-06-13 00:22] ferBonnin commented on #762
thanks Chelsea!
 @iamrafan thoughts on the approach?

[2019-06-13 00:27] ferBonnin commented on #763
per [1.4.11](https://www.w3.org/WAI/WCAG21/Understanding/non-text-contrast.html) the states of the button ( on hover, focus, select, press, etc) also need to have sufficient color contrast

[2019-06-13 15:02] cheade commented on #763
@ferBonnin great, then these all should work! Each of the states is above 7:1 with their adjacent colors. The rule doesn't apply to, for example, hover contrast against the rest contrast since they aren't going to appear next to each other.

[2019-06-13 16:03] zzo opened #787 "programmatic api for extension"
## Is your feature request related to a problem? Please describe.
I would like to kick off an accessibility run programmatically from within my webpage. I am creating a web UI that wants to programmatically launch MS AI against a given URL (see https://developer.chrome.com/apps/messaging#external-webpage)

## Describe the desired outcome
Ideally would like to postMessage to the extension with a UR

[2019-06-13 16:39] ferBonnin commented on #764
@cheade thoughts for this?

[2019-06-13 16:40] cheade commented on #764
@ferBonnin Yep! It's on my list to address today :)

[2019-06-13 16:40] ferBonnin commented on #763
perfect!
Couple of questions, what colors are those in the palette?
Would we use the primary or the secondary/standard?

[2019-06-13 16:43] cheade commented on #763
We would use the secondary button in this specific scenario, but I wanted to design a primary button as well. (I'm not sure if we have any primary buttons other than the 'accept telemetry' pop-up, but I wanted to be prepared)

Here is the [Figma fil](https://www.figma.com/file/Wj4Ggf6GGQBQkiDIaHfXRX2B/Accessibility-Insights-Style-guide?node-id=13%3A153)e where all of the appropriate colors can be

[2019-06-13 17:38] iamrafan commented on #762
@ferBonnin Yes, I think this approach would satisfy the requirement for 1.4.11 provided the button's border in all the cases is having enough contrast against the button's background and adjacent background.

Is the border in focus state having enough contrast?
![image](https://user-images.githubusercontent.com/22068434/59454578-42c92e80-8dc7-11e9-9c90-1dcc86f313bd.png)

[2019-06-13 17:44] ferBonnin commented on #762
from the figma file, the border color is #666666 should be fine.

[2019-06-13 19:24] risanaka opened #788 "Typo: Disclosure is spelled "Dislosure""
## Describe the bug

A clear and concise description of what the bug is.

In Assessments, under the Custom widgets test's Design pattern requirements, Disclosure is spelled incorrectly.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://onboard.talent.dynamics.com.
1. Sign in and go to Guides.
1. Launch Accessibility Insights for Web.
1. Go to Assessments.
1. Go to Custom Widgets

[2019-06-13 23:19] cheade commented on #760
Adding in my suggestion for focus treatment on the gear icon. It is #FFFFFF, with a dash gap of (2, 4). I've given some breathing room of 3px between the focus border and the icon itself.

![image](https://user-images.githubusercontent.com/40274682/59473287-acacfc80-8df6-11e9-979f-bb8bf2df4efb.png)

In exploring solutions for this, I'd like to move to make sure all of our focus states are similar,

[2019-06-13 23:25] cheade commented on #764
Suggestion for high contrast mode based on my suggestion for #760:

![image](https://user-images.githubusercontent.com/40274682/59473561-cdc21d00-8df7-11e9-9162-d8b03b2eaaec.png)

It is #000000, with a dash gap of (2, 4). I've given some breathing room of 3px between the focus border and the icon itself.

[2019-06-13 23:26] ferBonnin commented on #764
thanks Chelsea.
@iamrafan thoughts on this?

[2019-06-13 23:32] cheade commented on #761
Working on solutions for this - it's on my radar :)

[2019-06-14 17:37] iamrafan commented on #764
@ferBonnin I like this suggestion, as the focus indicator would be consistent with the drop down

![image](https://user-images.githubusercontent.com/22068434/59527404-57252e00-8e90-11e9-8a62-5e20063d7204.png)

[2019-06-14 18:48] dbjorge commented on #787
Hi Mark,

Thanks for writing up this request! Typically, we recommend that folks looking to automatically/programatically run accessibility scans use [axe-core](https://github.com/dequelabs/axe-core) (the accessibility scanning engine Accessibility Insights uses under the hood for all of its automated checks) directly, which already provides JSON-formatted scan results and has [many integration](h

[2019-06-14 19:30] devaradhanm opened #801 "Use native async, await & promise"
We don't need 'q' dependency. We could use async, await & promise since the browser we use will have es6 promise & async, await support

[2019-06-14 19:51] devaradhanm commented on #786
I observed that the call to chrome to inject script never completes.
chrome.tabs.executeScript(587, {code: "console.log('hi');", allFrames: true}, console.log);
i will investigate further if we can do something from our end, or if we need to create a bug on chrome.

[2019-06-14 20:13] devaradhanm commented on #786
looks like this command works on document idle by default. for some reason, it is not idle in this case. forcing the injection by setting runAt: 'document_start' fixes this issue

[2019-06-14 20:46] smoralesd commented on #730
hi @virav We have a fix for this issue now on [insider](https://chrome.google.com/webstore/detail/accessibility-insights-fo/nnmjfbmebeckhpejobgjjjnchlljiagp). It should go to [production](https://chrome.google.com/webstore/detail/accessibility-insights-fo/pbjjkligggfmakdaogkfomddhfmpjeni) presently (probably next week).

Please let us know if you have any  question about this bug fix.

[2019-06-14 20:48] ferBonnin opened #803 "New report has a gigantic logo"
## Describe the bug
new report has an enormous logo on the top

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any page
2. run automated checks
3. export result
4. open report

## Expected behavior

a reasonable sized logo

## Screenshots

If applicable, add screenshots to help explain your problem.
![screenshot of colossal logo](https://user-images.githubusercontent.com/9062104/59537

[2019-06-14 20:56] ferBonnin opened #804 "new report doesn't have change to add line breaks"
## Describe the bug

new report doesn't have change to add line breaks

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any website
2. run automated checks
3. download report and add a comment with line breaks and spaces
4.  open report

## Expected behavior

text should have line breaks

## Screenshots

If applicable, add screenshots to help explain your problem.
![screenshot of failu

[2019-06-14 21:51] smoralesd commented on #801
@devaradhanm  We are using `progress` api from Q on the assessment -> automated checks section. We need PM confirmation that it's fine to remove that before actually removing Q. Alternative, we could implement it ourselves.

[2019-06-14 21:51] Shobhit1 opened #805 "Accessibility issues on 2.5.0 Insiders (validation bug)"
## Describe the bug

Found an a11y issue while validating Insiders 2.5.0 version.
Rule failed: `label-content-name-mismatch`

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Assessment View from the extension for any target page
2. Open developer tools (F12) and type `A11yselfvalidator.validate()`
3. See error

## Expected behavior

`A11ySelfvalidator` should return `[]` on Assessment

[2019-06-14 22:06] #804 closed

[2019-06-14 22:09] virav commented on #730
It's working as expected. Thank you, Team!

[2019-06-14 22:09] #730 closed

[2019-06-14 22:21] zzo commented on #787
thanks for the response!  We already do use axe-core to run automated browser testing - I'm interested in incorporating your manual tests into our a11y testing workflow tool - that's where things are much more interesting.
From our browser-based a11y testing toolkit/dashboard we'd like to launch MS AI in 'manual testing mode' against a given URL and when the tester is done doing all of the relevan

[2019-06-14 22:25] cheade commented on #761
Suggested treatment for context switcher:

![image](https://user-images.githubusercontent.com/40274682/59541909-44265400-8eb8-11e9-9f0f-dfc4542b9084.png)

This will put our drop-down context control in a similar visual style to our secondary buttons (i.e; user sees an icon with text outlined = clickable)

I also have another visual styled I played around with. Probably out of scope, but still an o

[2019-06-14 22:29] cheade commented on #762
On the topic of focus styles, since we like the dotted line focus style around the gear icon, can we have our buttons match? (it's the same styling as the gear icon's focus)

![image](https://user-images.githubusercontent.com/40274682/59542097-1a216180-8eb9-11e9-8c6c-259b7ffc0096.png)

[2019-06-14 22:31] #803 closed

[2019-06-14 22:37] ferBonnin commented on #762
i think we only have the dotted line in high contrast mode, but will check when triagging if possible.

[2019-06-14 22:38] ferBonnin commented on #761
Thanks Chelsea!

[2019-06-14 22:41] cheade commented on #762
The dotted focus line appears to be only on the drop-down in both high contrast and normal mode. (it doesn't have a dotted line around buttons or any thing else) Everything else has a solid line, but it seems like a solid line might be harder to follow. I think the dotted line brings a nice visual to the focus on all the elements :).

![image](https://user-images.githubusercontent.com/40274682/595

[2019-06-17 16:53] ferBonnin commented on #805
3/4 issues are related to this https://github.com/dequelabs/axe-core/issues/1635
the other one (link "see more info here") is a real issue.

[2019-06-17 18:44] ferBonnin opened #811 "new report there is no focus indicator"
## Describe the bug
chevron to expand/collapse in report should have focus indicator

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any website
2. run automated checks
3. download report and add a comment with line breaks and spaces
4. open report

## Expected behavior
there is visible focus indicator

## Extension (please complete the following information)

- OS: [e.g. Windows/Mac]

[2019-06-17 18:46] #788 closed

[2019-06-17 18:50] ferBonnin opened #812 "new report summary is not consistent with current"
## Describe the bug
the summary in new report has: failed, passed, incomplete.
In Assessment report, the order is pass, incomplete, fail.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any website
2. run automated checks
3. download report and add a comment with line breaks and spaces
4. open report

## Expected behavior

A clear and concise description of what you expected to happen

[2019-06-17 18:50] ferBonnin commented on #812
@cheade thoughts on this?

[2019-06-17 18:51] #786 closed

[2019-06-17 19:00] ferBonnin opened #813 "Long target page is not responsive in new report"
## Describe the bug

the target page link is not responsive with long links

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.washington.edu/accesscomputing/AU/before.html
2. run automated checks
3. download report and add a comment with line breaks and spaces
4. open report
5. change display to 1920x 1080 and zoom to 400%

## Expected behavior

target page link is fully rea

[2019-06-17 19:05] smoralesd commented on #811
fixed on #810

[2019-06-17 19:34] karanbirsingh commented on #801
One usage of `progress` from `q` is here in `tab-stops-analyzer`: https://github.com/microsoft/accessibility-insights-web/blob/a5f230e43006f37185d16bb7df5372b03a11f4ca/src/injected/analyzers/tab-stops-analyzer.ts#L40

`progress` looks to be deprecated soon ([details](https://devdocs.io/q/index#promise-progress)) so it may be worth visiting its usages in the project. If all usages of `progress` are

[2019-06-17 19:46] cheade commented on #812
Hi! We’ve discussed this before.

I designed them differently as they are used for two different purposes.

In the FastPass report, users are primarily looking for their errors to fix, and this can become a backlog of sorts

In the Assessment report, users want to see how close they are to passing and how accessible their site is, which is why Passing is listed first.

If this is not the case, the

[2019-06-17 19:46] karanbirsingh commented on #697
@ferBonnin the semantic content changes have been merged & should be in canary

[2019-06-17 19:49] smoralesd commented on #813
@ferBonnin I looked at the figma file. In the case of the target page, it actually shows the url being cut and ellipsis being added. I followed that approach instead of wrapping (which looks better, I tried both)

In the case of the scan details, I added wrapping as you suggested.

[2019-06-17 20:05] ferBonnin commented on #763
@cheade whats the difference between rest and on hover?

[2019-06-17 20:08] ferBonnin commented on #762
per conversation with Peter, convert this into a feature including the high contrast stuff and investigating what officeFabric is doing. @ferBonnin

[2019-06-17 20:09] ferBonnin commented on #761
per conversation with Peter, lets go with opt1, opt 2 feels like two different controls.

[2019-06-17 20:10] ferBonnin commented on #761
also note that need to take care that we keep focus indicator.

[2019-06-17 20:12] cheade commented on #763
@ferBonnin rest and hover vary slightly by color. It's more noticeable on hover when the button changes below a cursor. Rest background is #000000 and the hover background is #272727

[2019-06-17 20:12] #630 closed

[2019-06-17 20:14] ferBonnin commented on #801
@peterdur to create a feature for this.

[2019-06-17 20:17] cheade commented on #761
@ferBonnin for the focus indicator, can we use the same focus that we’ll have for our buttons? The internal dotted line?

[2019-06-17 20:19] ferBonnin commented on #761
we will assume yes for now, but buttons will need to have a full feature. So if that's the case, I will attach this bug to that feature instead

[2019-06-17 20:23] ferBonnin commented on #762
@cheade having two borders for buttons that receive focus is complex. Could we simply have the outer border and have it being dotted when it receives focus.

[2019-06-17 20:26] cheade commented on #762
@ferBonnin we could for the standard/secondary button, but for the primary button there might be trouble. Black is hard to see against the blue and white can’t be see against the normal background of the page.

I know that updated fabric has the focus indicator inside the button (but it’s solid), are we able to leverage that?

[2019-06-17 20:28] ferBonnin commented on #762
will need to investigate if we can leverage this. will create a feature.

[2019-06-17 20:34] ferBonnin commented on #813
@smoralesd sounds good :)

[2019-06-17 20:49] #813 closed

[2019-06-17 22:38] ferBonnin commented on #812
@cheade I agree design of both reports should be different/its ok its different.

Thinking more about this, if we show in the summary A, B and C, shouldnt the details section below be A details, B details, C details too? (we do that in fastpass, not in assessment)

[2019-06-18 00:29] #717 closed

[2019-06-18 16:50] LiLoDavis opened #822 "Improve formatting of instances added manually"
## Problem
For Assessment > Parsing, when I copy a failure from the Nu HTML checker into Accessibility Insights for web, the pasted content is poorly formatted.

For example, a failure that looks like this in the Nu HTML checker:
![image](https://user-images.githubusercontent.com/45569509/59702647-058ce400-91ad-11e9-814f-858897278317.png)

...looks like this when first pasted into Accessibility In

[2019-06-19 17:49] ferBonnin commented on #697
Hey @mmafe we have made changes to our Semantics test guidance. This should be now in the production extension.

[2019-06-19 17:53] ferBonnin commented on #682
Per conversation with Rob, would be good to read the message in one go instead of having to tab 4 times to get the status. Another option could be that given that the toggle is not available, we dont show it at all and just say no instances found

[2019-06-19 18:29] Shobhit1 commented on #805
We partially fixed some of them and there is a bug on axe-core for a false positive for a rule in WCAG 2.1. So, I feel we can close this bug.
Reference bug: https://github.com/dequelabs/axe-core/issues/1635

[2019-06-19 18:40] Shobhit1 commented on #694
Working on it.

[2019-06-19 18:46] cheade commented on #601
I'll tackle this one :)

[2019-06-19 20:49] karanbirsingh opened #829 "Failure instance dialog is missing spacing & icons"
## Describe the bug

In prod version 2.5.4, the failure instance dialog is missing spacing and icons:
![image](https://user-images.githubusercontent.com/7775527/59799198-b58b4b80-9298-11e9-891a-71aa3af518bc.png)

**To Reproduce**
- Run automated checks on bing.com
- select any exclamation point to open the failure instance dialog

## Expected behavior

We expect more spacing between the buttons. H

[2019-06-19 21:54] Shobhit1 commented on #682
Just a quick question on the option 2, does it not take us away from having a consistent UX? Without looking at the code for this; i am assuming that hiding visual helper for `No matching instances` should be straight forward; so the only question is about consistency for all  users.
Please let me know what you think @ferBonnin .

[2019-06-19 21:55] Shobhit1 commented on #591
Taking this one.

[2019-06-19 22:17] waabid commented on #829
This seems to be due to an Office Fabric update.

[2019-06-20 16:17] #811 closed

[2019-06-20 16:24] #694 closed

[2019-06-20 16:25] Shobhit1 commented on #547
@haonliu Isn't the `Inspect HTML` button supposed to be disabled till the time user manually opens the dev tools (`F12`) ? Can you please provide more context on this issue?

[2019-06-20 16:27] ferBonnin commented on #547
@Shobhit1 behaviour should be similar to the file bug button, the message and alert that you need to open dev tools appears after you interact with the button

[2019-06-20 16:52] Shobhit1 commented on #735
PR #834 created for the fix.

[2019-06-20 17:05] Shobhit1 commented on #547
Thanks @ferBonnin . I will take a look if I can take this one up today. 😺

[2019-06-20 17:37] ferBonnin commented on #763
@cheade per #762 do we want dotted line here too?

[2019-06-20 17:50] cheade commented on #763
For focus states, yep!

The [Figma styles](https://www.figma.com/file/Wj4Ggf6GGQBQkiDIaHfXRX2B/Accessibility-Insights-Styles?node-id=13%3A153) file is updated

[2019-06-20 18:36] ferBonnin commented on #812
per conversation, nothing to fix here.

[2019-06-20 18:36] #812 closed

[2019-06-20 18:39] ferBonnin commented on #805
@Shobhit1 agree to close this issue.

[2019-06-20 20:23] mmafe commented on #697
I just saw this while checking a page - so happy to see it in production. Thank you!

[2019-06-20 20:35] #697 closed

[2019-06-20 20:39] #735 closed

[2019-06-20 20:43] Shobhit1 commented on #735
Fixed. `Precheckin` works fine on local build now.
Tagging @peterdur

[2019-06-20 22:31] ferBonnin commented on #591
for webpage urls, we only compare the hostname, for filenames, if we do that then we end up in this scenario. Ideal scenario would be that if we have filenames, then we compare the full filename, but unsure if that can be detected and complexity around it

[2019-06-20 23:02] dbjorge commented on #777
Office fabric issue has been fixed, just need to wait for a new fabric release now.

[2019-06-20 23:24] smoralesd commented on #801
@karanbirsingh my bad. We're not actually using `progress` on the assessment -> automated checks. I guess is just the one usage you mention for tab stops.

[2019-06-21 16:34] ferBonnin commented on #699
Hi @mmafe this feature request has now been completed and should be available in [Canary ](https://chrome.google.com/webstore/detail/accessibility-insights-fo/hbcplehnakffdldhldncjlnbpfgogbem) now :)
Please let us know what you think!

[2019-06-21 18:44] #829 closed

[2019-06-21 20:52] Shobhit1 commented on #805
Closing this one as fixed with https://github.com/microsoft/accessibility-insights-web/tree/v2.5.4

[2019-06-21 20:52] #805 closed

[2019-06-24 16:32] Shobhit1 commented on #591
Created a PR for this in draft stage. We should discuss this when you are back @ferBonnin

[2019-06-24 16:33] Shobhit1 commented on #547
Taking this one.

[2019-06-24 21:57] haonliu opened #850 "Inconsistency in the implementation of 'standardizeTags'"
## Describe the bug

We have a lot of duplication in src\background\issue-details-text-generator.ts and src\issue-filing\common\issue-filing-url-string-utils.ts. Also the implementation of ``standardizeTags`` are not consistent.

The one used in issue filing includes more tags (for example, new wcag 2.1 tags) than the other one.

**To Reproduce**
This is more of an code defect. So there is no repr

[2019-06-25 17:04] smoralesd opened #852 "On Automated check report, summary bar shows NaN"
## Describe the bug

On the automated checks report, the summary section shows 'NaN' instead of the proper count for each, failed, passed and not applicable sub-sections

**To Reproduce**
Steps to reproduce the behavior:

1. Navigate to any webpage/local html file
2. Open the details view
3. Using the switcher, select FastPass
4. Run automated checks
5. Click the 'Export result' button
6. Open the

[2019-06-25 17:05] Shobhit1 opened #853 "E2E tests not running on Ubuntu/WSL"
## Describe the bug

e2e tests are not being able to run on ubuntu wsl.

**To Reproduce**
Steps to reproduce the behavior:

1. Clone the latest code
2. run `yarn build`
3. run `yarn test:e2e`
4. See error

## Expected behavior

e2e test cases should work

## Screenshots

![image](https://user-images.githubusercontent.com/4496335/60118224-b4db3500-9730-11e9-8b57-fda66ebb9858.png)

## Extension (ple

[2019-06-25 17:19] Shobhit1 commented on #853
Found a link to solve this: https://techoverflow.net/2018/06/05/how-to-fix-puppetteer-error-while-loading-shared-libraries-libx11-xcb-so-1-cannot-open-shared-object-file-no-such-file-or-directory/

[2019-06-25 17:23] #699 closed

[2019-06-25 18:02] Shobhit1 commented on #682
After discussion with @ferBonnin ; the want from this issue is that whenever the visual helper is disabled; AT should not be reading the state of it.
It should just say for example:
[code]

[2019-06-25 18:22] Shobhit1 commented on #853
Tried solving this but looks like WSL needs a lot of work to get graphical chromium working and our puppeteer wont work until we do that. Since, we have `headless: false` as a setting. Closing this issue and will create a Readme note for this.

[2019-06-25 18:25] #853 closed

[2019-06-25 20:54] Shobhit1 commented on #547
Created PR #859 for it.

[2019-06-25 21:53] karanbirsingh commented on #852
@smoralesd this is fixed in canary

[2019-06-26 17:15] ferBonnin opened #860 "Accessibility Insights for Web crashing in Linux"
## Describe the bug

Per support comments in Chrome store, Version 2.5.5 is broken in Linux
https://chrome.google.com/webstore/detail/accessibility-insights-fo/pbjjkligggfmakdaogkfomddhfmpjeni?pli=1

**To Reproduce**
Use Linux Mint 17

## Expected behavior

Accessibility Insights for Web should work

## Extension (please complete the following information)

- OS: [e.g. Windows/Mac] Windows
- Versi

[2019-06-26 18:00] #852 closed

[2019-06-26 18:00] smoralesd commented on #852
Validated it on canary.

[2019-06-26 19:48] karanbirsingh commented on #588
I got a response - the team has acknowledged the issue and will follow up with me when they have more info. No ETA.

[2019-06-27 18:54] DaveTryon opened #867 "Flaky E2E test"
## Describe the bug

We have a flaky E2E test that shows up about once a week

**To Reproduce**
Steps to reproduce the behavior:

1. Create a PR
2. Look at the test output

Sample output (from buildId 22334):
[code]

[2019-06-27 18:56] DaveTryon commented on #867
@smoralesd has seen this from time to time on his machine

[2019-06-27 19:53] Shobhit1 commented on #591
Marking this issue as resolved and closing it.

[2019-06-27 19:53] #591 closed

[2019-06-28 12:33] ssthegrt opened #873 "Update aria-level accessibility bug"
## Describe the bug

Detecting unnecessary aria-level accessibility bug in **ARIA: heading role**

## Expected behavior

Any tag with role="heading" and with out level mentioned is producing aria-level accessibility bug.
But if no level is present, then aria-level has value of 2 by default. So it shouldn't be reported as bug.
Follow the link to check:
https://developer.mozilla.org/en-US/docs/Web/A

[2019-06-28 15:54] DaveTryon commented on #873
From https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/heading_role#Associated_WAI-ARIA_roles_states_and_properties (emphasis added), and dating from September 23, 2018:

The aria-level attribute specifies the heading level in the document structure. **If no level is present, a value of 2 is the default.**

Assigning for triage, although I suspect that this change would be made

[2019-07-01 17:05] Shobhit1 commented on #860
Resolved with 2.6.0 release.

[2019-07-01 17:55] #860 closed

[2019-07-01 17:59] ferBonnin commented on #873
@iamrafan could you please do AT testing with this and open a bug with Deque in case the behaviour is consistent (i.e. no aria-level means level 2)?

[2019-07-01 18:04] ferBonnin commented on #850
we took a look and the only thing different between copy failure details and azureDevOps is the missing tag for WCAG 2.1.

If we standardize, need to consider that copy failure details is plain text, so you need to specify the links explicitly.

[2019-07-01 20:11] iamrafan commented on #873
@ssthegrt: Browsers/ATs do not process the implicit ```aria-level``` value in a consistent manner, hence we are showing this issue.

The ARIA WG is also going to remove the implicit values for required attributes in the ARIA spec. Please find more info form:
- https://github.com/w3c/aria/issues/787#issuecomment-417070479
- https://github.com/w3c/aria/wiki/Required-Properties-with-Default-Values

H

[2019-07-02 22:29] #601 closed

[2019-07-02 23:55] Shobhit1 commented on #547
@ferBonnin / @haonliu Can you please verify this and close the bug if its fixed?

[2019-07-03 00:16] dbjorge opened #883 "Add CONTRIBUTING documentation with E2E test guidance"
There should be some documentation (a section in a CONTRIBUTING.md or similar) checked into the repo that documents:

* What sorts of functionality we expect there to be E2E/acceptance tests for
* Examples (links to working tests to use as examples/starting points)
* What sorts of things should not have an E2E/acceptance tests (and should just be unit tests instead)
* Some info about what makes a

[2019-07-03 00:18] dbjorge opened #884 "Test case: verify keyboard shortcuts after setting them up in extension page"

[2019-07-03 00:21] dbjorge opened #885 "Test case: different ways of enabling same visualization are synced"
For each of Headings, Landmarks, and Automated checks:

Enable / Disable from:

* popup (click on the keros icon & select adhoc tests)
* shortcut key (that you set up)
* details page(The page that you get to when you go to Adhoc tests)

Make sure all are in sync.

[2019-07-03 00:25] dbjorge opened #886 "Test case: issue filing"
From current validation steps: "For issues, validate issue details / failure details has right information."

[2019-07-03 00:38] dbjorge opened #887 "Test case: selecting individual instances to visualize from details view"
From current validation doc: "Verify various selection operations in details view & validate."

Specific subcases that should be validated:
* Enabling a single instance shows that single instance's visualization in the target page
* Disabling the instance stops showing the visualization
* Enable/disable works for instances inside of iframes
* Multiple instances can be selected/visualized simultane

[2019-07-03 00:40] dbjorge opened #888 "Test case: a11y scans of injected UI components from target page"
Add axe-core scans run in the context of the target page for
* Issue dialog
* visualization boxes

[2019-07-03 00:41] dbjorge opened #889 "Test case: a11y scans of details view"
Add axe-core scans from the context of the details view in at least the following states:

* overview page
* an assessment+requirement page with a populated instance details table

[2019-07-03 00:42] dbjorge opened #890 "Test case: deprecated page validation (ad-hoc)"
1. Reload extension & validate that our extension still works on existing tabs
1. Refresh/Navigate details page & observe the state is not change in the page.
1. Close the target page & validate the details page. Also try to refresh the deprecated page.it would not change.
1. Refresh/Navigate away from the target page and enable visualization using popup, then check deprecated page was enabled.
1.

[2019-07-03 00:44] dbjorge opened #891 "Test case: deprecated page validation (assessment)"
* Navigate away from the target page/close the target page
* verify the data is persisted in the details view

[2019-07-03 01:24] dbjorge opened #892 "Test case: functional validation of one assisted requirement"
Pick any one single requirement which provides a prepopulated instances table (eg, Landmarks -> Landmark roles)

* Go to a test page with a combination of passing and failing elements (create one or pull from legacy KFC codebase's headings page if necessary)
* Start an assessment and navigate to the requirement
* Verify UI on the page, especially contents of instances list
* Change statuses of ins

[2019-07-03 01:28] dbjorge opened #893 "Test case: functional validation of one manual requirement"
Pick any one single requirement which does not provide a prepopulated instances table (eg, Keyboard -> Keyboard navigation).

* Go to a test page with a combination of passing and failing elements (create one or pull from legacy KFC codebase's headings page if necessary)
* Start an assessment and navigate to the requirement
* Verify UI on the page
* Verify that adding and removing a failure instan

[2019-07-03 01:29] dbjorge opened #894 "Test case: verify tab stops visual helper"
Trigger tab stops (at least from fast pass) against a simple page with just a few focusable elements. Verify that the page gets focused and verify the look of the visualization before/after tabbing through

[2019-07-03 01:34] dbjorge opened #895 "Test case: verify automated checks results from major target pages"
Verify that automated checks can successfully scan microsoft.com and bing.com.

[2019-07-03 01:46] dbjorge opened #896 "Avoid blocking PRs on externally-dependent E2E tests"
We want to balance the competing priorities of "PR builds should be fast and reliable" and "we want to keep some production release criteria that involve E2E tests that rely on third party sites or are otherwise prohibitively time consuming (eg, axe-core scans of huge quantities of similar pages)".

In particular, we want to make sure that we validate the extension against a few major websites (mi

[2019-07-03 01:51] dbjorge opened #897 "Add parallel job to run E2E tests on Windows build agent"
Right now, our E2E tests only run on MacOS in our CI/PR builds. We'd like them to run in parallel on all of our supported OSes.

As part of this task, investigate limits on parallel build job count and consider making some of the jobs CI-only if necessary

[2019-07-03 01:51] dbjorge opened #898 "Add parallel job to run E2E tests on Ubuntu build agent"
Right now, our E2E tests only run on MacOS in our CI/PR builds. We'd like them to run in parallel on all of our supported OSes.

As part of this task, investigate limits on parallel build job count and consider making some of the jobs CI-only if necessary

[2019-07-03 01:53] dbjorge opened #899 "[stretch] Investigate running E2E tests on other browser combinations"
Stretch goal for the feature: investigate testing other browser combinations

Today we test only on the puppeteer-provided Chromium. Ideally, we'd like to also try to test against other Chromium based browsers:

* Chrome stable
* Chrome beta
* Edge Insider dev

It's a non-goal of this feature to enable firefox testing, but as you look into this feature, keep in mind that we'll be considering that

[2019-07-03 01:55] dbjorge opened #900 "[stretch] Investigate visual regression testing"
Right now, we're doing some snapshot testing against generated page HTML, but it would be closer to testing our UI as a user would see it to test for visual regressions. There are a variety of gotchas (eg, different system fonts on different platforms) and a variety of different tools/libraries for this; this task would include investigating options and result in spawning futher tasks to implement

[2019-07-03 02:03] dbjorge opened #901 "Test cases: extend first manual requirement test case to cover all manual reqs"
#893 covers writing the first test case for one manual requirement. This covers repeating similar test logic across all manual requirements

Note that as part of this task, we'll want to assess the reliability and performance of doing this; we might consider doing just one representative case in the "every PR" test suite and leaving the rest of the requirements for the extended CI/release-only sui

[2019-07-03 02:03] dbjorge opened #902 "Test cases: extend first assisted requirement test case to cover all assisted reqs"
#892  covers writing the first test case for one assisted requirement. This covers repeating similar test logic across all assisted requirements

Note that as part of this task, we'll want to assess the reliability and performance of doing this; we might consider doing just one representative case in the "every PR" test suite and leaving the rest of the requirements for the extended CI/release-onl

[2019-07-03 16:48] ferBonnin commented on #547
Looks good to me :)

[2019-07-03 16:48] #547 closed

[2019-07-03 18:46] Shobhit1 commented on #895
The basic idea is to verify that our automated checks is not broken when we run on complex websites. The website can be anything like cnn etc.

[2019-07-03 20:02] dbjorge opened #903 "Re-write release test plan document to account for newly automated parts"
* Remove steps already covered by automation
* Ensure manual steps still exist for any cases we couldn't automate
* Ensure manual steps still exist for appropriate cases considered during #904

As part of this, consider whether to keep using our internal onenote for this, vs using a more public process like VSCode's "endgame-plan" issues ([example](https://github.com/microsoft/vscode/issues/75985)

[2019-07-03 20:02] dbjorge opened #904 "Audit recent validation notes for bugs caught"
* Look through the last ~year worth of notes from past release validations
* For each case where a bug was caught or a release caused a regression...
  * Think through whether the current proposed work would catch that issue automatically
  * If not, either add a work item to add a test case that would, or note it in #903

[2019-07-03 20:05] dbjorge opened #905 "Split some guidance a11y checks into extended validation set"
#896 discusses creating an "extended validation" set of E2E tests that don't run every PR. We think most of the guidance page a11y checks probably belong there. This task should:

* Audit the set of guidance pages to identify a minimal set of "interesting" pages (ones like landmarks with unique HTML components that warrant specific a11y tests)
* Discuss/consider whether to move the rest to extende

[2019-07-03 20:27] Shobhit1 commented on #898
According to official [Azure DevOps](https://docs.microsoft.com/en-us/azure/devops/pipelines/licensing/concurrent-jobs?view=azure-devops#microsoft-hosted-cicd) documentation:

[2019-07-03 20:33] dbjorge commented on #895
Suborder here will be:
1. Implement the meat of the test case against a checked in test page
2. Implement `it.skip` versions against key external properties
3. Go do #896 and incorporate the `it.skip`'d cases there

[2019-07-05 19:18] ferBonnin opened #910 "Assessment and Automated checks report is broken in Canary"
## Describe the bug
Assessment report is not formatted

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any website
2. mark one requirement as pass, one as fail
3. download report
4. See error

## Expected behavior

report is correctly formated

## Screenshots

![Screenshot of report](https://user-images.githubusercontent.com/9062104/60741565-c8e81900-9f1e-11e9-9fd1-3176c93a8331.png)

[2019-07-06 01:21] peterdur commented on #910
Resolving bug. Fer, please confirm that Canary works for you now.

[2019-07-08 16:25] ferBonnin commented on #910
looks good now :) thanks Peter!

[2019-07-08 16:25] #910 closed

[2019-07-08 18:58] clottman opened #917 "`<button>` with `title` is not considered to have an accessible name"
## Describe the bug

Accessibility Insights reports a button doesn't have an accessible name when the accessible name is set with `title`.

**To Reproduce**

1. Create a page that has `<button class='some css with background image' title="an accessible name"></button>` on it.
2. Run the automated tests from the extension
3. See that the extension reports a failure for WCAG 4.1.2, button does not h

[2019-07-08 22:00] #873 closed

[2019-07-08 22:00] iamrafan commented on #917
hi @clottman , thanks for reporting the issue. This is a false positive caused because of the "space" inside the ```<button>``` element.

We are going to update axe-core to version 3.3.0 pretty soon. It contains PR https://github.com/dequelabs/axe-core/pull/1615 which fixes this issue

[2019-07-08 23:09] peterdur commented on #801
Created feature 1568193 per note above.

[2019-07-08 23:13] peterdur commented on #801
Resolving since will be tracked by feature above.

[2019-07-09 00:32] peterdur commented on #756
Investigated as per notes above and the fix is simple, so going ahead with fix.

[2019-07-09 01:05] karanbirsingh commented on #696
axe-core 3.3 is out, we are likely able to pick this up now - needs investigation to double-check

[2019-07-09 16:48] ferBonnin commented on #696
Not ready for work, will take this as part of the update axe-core feature.

[2019-07-09 18:57] peterdur commented on #756
Fix now available in Canary. Assigning to @iamrafan to validate and close.

[2019-07-09 20:13] #898 closed

[2019-07-09 21:14] lisli1 opened #923 "E2E test fails when font fails to load"
## Describe the bug

When writing/running E2E tests, there is a `requestfailed` error from attempting to load a font, causing a `forceTestFailure` call in `page.ts`. (See sample error message below.) This causes the whole test suite to fail.

[code]

A similar error is seen in the browser console when running an Assessment:
[code]

**To Reproduce**
Steps to reproduce the behavior:

For first error

[2019-07-09 22:11] lamaks commented on #923
Please provide the URI to repro the issue

[2019-07-10 14:23] #801 closed

[2019-07-11 16:26] smoralesd opened #937 "Automated checks report: x icons are coded as no value"
## Describe the bug

Icons on the automated checks report are coded as "no value" under Images -> Image function requirement

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.washington.edu/accesscomputing/AU/before.html
2. Open FastPass
3. Run Automated checks
4. Export the report by click on the "Export result" button
5. Open the download file
6. Open the assessment (on th

[2019-07-11 21:13] Shobhit1 commented on #853
After some investigation and solving this problem on our PR/CI builds; a solution to this problem is to use the commands that we use in Docker file mentioned in [docker file](Dockerfile).

So, basically use the following commands:

[code]

[code]

[code]

[code]

[2019-07-12 17:08] #889 closed

[2019-07-12 20:56] lisli1 opened #946 "Refreshing details page causes state change in target page"
## Describe the bug

After running Fast Pass, refreshing the details page does not maintain the state in the details and target pages.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to www.bing.com
2. Open extension popup and run Fast Pass (target page should show injected UI boxes around failure instances)
3. Uncheck all failure instances on details page (target page should no longer s

[2019-07-12 21:37] ferBonnin commented on #946
If I remember correctly we already talked about this bug and decided it was by design. Most users in any application use refresh as a way to restart the app in the state it was when they first started. In this case, everything selected is the default behaviour.

[2019-07-12 21:43] lisli1 commented on #946
This was found during Insider validation. Since this behavior is by design, I'll remove it from our validation steps and close the issue.

[2019-07-12 21:43] #946 closed

[2019-07-15 10:20] GeorgeTailor opened #950 "Extension ignores tab stops inside web-components."
## Describe the bug

With enabled `tab stops` tracking, it does not shows actual tab stops inside web-components.

**To Reproduce**

1. Go to https://zooplus.github.io/zoo-web-components/
2. Enable extension.
3. Go to `Ad hoc tools`
4. Enable `Tab stops`
5. Start pressing `Tab` button.
6. Observe that actual tab stops in web-components are not tracked by the extension.

## Expected behavior

Exten

[2019-07-15 20:25] ferBonnin commented on #937
@iamrafan can you take a look at this and see if its a false-positive?

[2019-07-15 21:37] smoralesd commented on #950
@GeorgeTailor thanks for your interest on accessibility insights web.

We need to investigate this issue before having a proper response.

Preliminary, this may be due to the fact the use of web components, which uses shadow dom but we would like to have more info in order to properly find the root cause and a possible solution.

Is it possible that you add a code pen repro example to this issue?

[2019-07-15 22:51] iamrafan commented on #937
@smoralesd hey Sebastian, did you mean to say its a false positive on the there icons under summary?

But looks like non of their parents are having ```aria-hidden="true"``` and hence are being exposed to ATs, but are lacking an accessible name

[2019-07-16 18:36] iamrafan commented on #756
Validated the fix in prod v2.7.1

[2019-07-16 18:36] #756 closed

[2019-07-18 17:18] smoralesd commented on #937
@iamrafan On my first review of the issue, I though I found an element with `aria-hidden="true"` containing the icons but you're right, there is none. So good news is this is not a false positive and the fix is actually quite simple! PR #959 is waiting for review to fix this issue.

Thanks for double checking on this!

[2019-07-18 19:16] #937 closed

[2019-07-23 18:00] #950 closed

[2019-07-25 20:42] ferBonnin commented on #715
Closing this issue as out of scope since this will get address with other feature.

[2019-07-25 20:42] #715 closed

[2019-07-25 20:48] ferBonnin commented on #758
Thanks for the suggestion Lisa Louise! Just to clarify the ask, you would like us to add the same visual helper used in Focus order to the following requirements:
- Revealing content
- Modal dialog
- closing content
- no keyboard traps
- on focus
- on input

correct?
how will the instructions change for each requirement?

[2019-07-25 20:55] ferBonnin commented on #711
Hi @cnamal thanks for your interest in Accessibility Insights!

This is an interesting suggestion. Adding a tag could be done by creating an additional text field in settings for tags. Using a template each team has defined might be possible but requires additional investigation. We are marking this request as help wanted.

[2019-07-25 23:17] ferBonnin commented on #485
Thanks for the feature request @hollsk! We will add the tag "needs help" and if someone in the community wants to help make this happen we can provide the mock-ups for this.

Some additional thoughts on this, we already have a panel to add a comment for manual instances, so that can be re-utilized for this. Each element row will need to have a way to add a comment as well as an indicator that ther

[2019-07-25 23:19] ferBonnin commented on #787
Hi @zzo thanks your interest in the tool and the feature request!
We have received a similar ask #653 and we will add both to our needs investigation backlog. We will update here when we know more and we will keep checking for upvotes/reactions from the community on this request

[2019-07-26 15:07] LiLoDavis commented on #758
Yes, those are the requirements that need a visualization. Alternatively, we could also include **Keyboard navigation** and use the same visualization for all of them.
I recommend adding this text to the beginning of each requirement's **How to test** section: "The visual helper for this requirement highlights each element that receives the input focus."

[2019-07-29 07:18] cnamal opened #981 "Disable elements don't need to meet contrast ratio requirements"
Go to https://developer.microsoft.com/en-us/fabric#/controls/web/combobox
Run Accessibility insights

-> A11y insights reports a color contrast issue
![image](https://user-images.githubusercontent.com/9625284/62028642-0a4bab80-b1e1-11e9-9797-e5339aed387f.png)

I opened a bug on [Office UI Fabric](https://github.com/OfficeDev/office-ui-fabric-react/issues/9909), which pointed me to the [following e

[2019-07-29 19:41] iamrafan commented on #981
@cnamal , thanks for filing the issue.

Yes, Accessibility Insights shouldn't be reporting this issue. We filed it (https://github.com/dequelabs/axe-core/issues/1731) with axe-core and will update you once we fix it.

[2019-07-29 22:30] brianteeman opened #987 "Nested Lists"
## Describe the bug

The AXE rule says "`<ul> and <ol> must only directly contain <li>, <script> or <template> elements"` but it is perfectly valid to have a nested list`

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.w3.org/WAI/tutorials/page-structure/content/
2. Run FastPass automated checks

## Expected behavior
No failures for links

## Extension (please complete the

[2019-07-29 22:32] taparikh opened #988 "[Accessibility Insights Tool] "Color as a meaning test" clears the whole page except top navigation bar."
## Describe the bug
When the "Color as a meaning" test is performed on this page, the entire page disappears except the top navigation bar. This bug is also filed as an issue with the Office UI Fabric Team but they are not facing this issue. Hence it has been re-directed to the "Accessibility Insights Team" to ensure that the tool is working fine.

**To Reproduce**
Steps to reproduce the behavior:

[2019-07-30 14:51] iamrafan commented on #987
Hi @brianteeman , I do not see any ```list``` rule failures for links. I see ```list``` failures only on the examples due to the presence of ```...``` outside ```<li>``` tags.

![image](https://user-images.githubusercontent.com/22068434/62139832-d5059300-b29e-11e9-8e3f-bf1e2fa8a30a.png)

[2019-07-30 17:19] brianteeman commented on #987
Seems to be related to https://github.com/dequelabs/axe-core/issues/1171

[2019-07-30 17:42] iamrafan commented on #987
@brianteeman can you please share the code snippet of the specific failure you are seeing?

[2019-07-30 18:20] Shobhit1 commented on #988
@taparikh I could not see anything in your codepen even without running accessibility insights color test. Can you please provide a correct repro for this issue? I am unable to replicate this.

[2019-07-31 02:31] taparikh commented on #988
Hi @Shobhit1 - unfortunately I cannot repro the whole page as it is data driven. Can we hop on a Teams call and I can show you& we can debug ?

[2019-07-31 16:49] Shobhit1 commented on #988
Sure. I will ping you today.

[2019-07-31 17:29] taparikh commented on #988
@Shobhit1  Can I block some time on your calendar today?

[2019-07-31 18:24] #585 closed

[2019-07-31 21:05] Shobhit1 commented on #988
After discussing this offline, found out that its because of our injected css using `filter` property for `color as a meaning` test.
Basically, when we apply `filter` css using `insights-grey-scale-container` class; it creates a containing block for absolute and fixed positioned descendants unless the element it applies to is a document root element in the current browsing context; where the list

[2019-07-31 21:30] Shobhit1 commented on #988
codepen: https://codepen.io/shobhit111/pen/XvgNeY?editors=1100

The codepen shows that the `container` div which has a `filter` style starts to go out of the viewport when you scroll, because it then becomes `fixed` with regards to the containing block thats added as part of our greyscale filter

[2019-08-01 18:52] adarshrema commented on #822
Hi @LiLoDavis, thank you for your interest in Accessibility Insights and this feature request. This was triaged by the team and has been added to our backlog. In addition, this has been marked as good first issue and help wanted to encourage community contribution.

[2019-08-01 23:17] #374 closed

[2019-08-01 23:17] adarshrema commented on #374
Hi @mgifford, thank you for your interest in Accessibility Insights and this feature request. We have discussed this as a team and concluded that it will not be possible to share this information as we take the privacy of our users very seriously.

As suggested in one of our earlier responses, please review the report from webAIM that analyzes accessibility issues in the top 1 million web pages. Y

[2019-08-02 03:17] dbjorge commented on #445
Looked into this a little during slack time last week. #1003 #1004 #1005 came out of it, but only got as far as enabling the popup page to show up; the ad-hoc tools hang when being enabled and the fastpass/assessments links don't launch the desired pages, and the background page is full of console errors about unhandled errors in `chrome.*` callbacks. Definitely more work to be done here before we

[2019-08-02 22:48] #888 closed

[2019-08-03 08:48] rugk commented on #445
It does: https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/runtime/openOptionsPage

Huh? How so? It's still HTML.

[2019-08-05 06:49] TechnopriseC opened #1009 "Unable to File issues to Azure Boards from Insights for Web - FastPass"
## Describe the bug

Unable to File issues to Azure Boards from Insights for Web - [FastPass] when you select the 'File issues' button in the Failure details section.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the desired website to test
2. Click on the Chrome extension for Accessibility Insights for Web
3. Select FastPass
4. Run the Automated Checks on the site; Show failures = O

[2019-08-05 16:47] ferBonnin commented on #1009
Thanks for reporting this @TechnopriseC!

Shobhit and I talked about this. It indeed looks like something recently changed and now the URL needs to say **Issues** for bugs filed in _Description_.

While we look into this, there is a workaround to manually change the url from bug to issue:
htttps://dev.azure.com/org/project/_workitems/create/Bug?...
Change to
htttps://dev.azure.com/org/project/_wor

[2019-08-05 17:11] dbjorge opened #1011 "e2e tests: Page.goto should use a more reliable mechanism to detect ready-to-interact"
## Describe the bug

Currently, our end to end tests' wrapper for `Page.goto` includes a `waitFor(200)` after waiting for the page's `load` event. This works around a class of flakiness issue we see about 5% of the time without the `waitFor` where a test will try to click on a button, but the expected effect of the click never occurs, where the specific button/test in question varies.

We aren't s

[2019-08-05 18:05] adarshrema commented on #580
Hi @mgifford, thank you for your interest in Accessibility Insights and this feature request. We discussed this as a team and our findings are,

Accessibility Insights for Web chooses not to change how the page under test is rendered - the alert floats over the failure location, rather than being inserted next to the failure location. This is different from how WAVE inserts their alert in the flow

[2019-08-05 18:26] dbjorge commented on #867
With #1012, we're considering the broad class of flakiness to be adequately resolved. We'll start filing individual bugs for more specific classes of flakiness after this point.

[2019-08-05 18:26] #867 closed

[2019-08-05 19:37] mgifford commented on #580
I think this is a sufficient explanation and I am closing the issue for now. Thanks!

[2019-08-05 19:37] #580 closed

[2019-08-05 20:18] dbjorge commented on #895
Cutting subparts 2 and 3 due to feature timebox

[2019-08-05 20:18] #895 closed

[2019-08-05 20:21] dbjorge commented on #899
Setting puppeteer to use a custom binary path to find chrome in is definitely feasible; getting the alternate environments installed is a little harder. For Chromium itself, the best option is to probably just do a separate CI job that adds a special "yarn add -D puppeteer@xyz" for the chromium beta version. For edge/branded chrome, we'd need an alternate strategy that preinstalls the browsers sep

[2019-08-05 20:21] #899 closed

[2019-08-05 20:23] dbjorge commented on #900
Experimented with a few options, the most promising of which was [jest-image-snapshot](https://github.com/americanexpress/jest-image-snapshot). Using the library was pretty straightforward; the issue was that the screenshots are significantly inconsistent between different platforms/OSes, primarily due to font rendering differences. If we wanted to explore this in the future, I'd recommend using j

[2019-08-05 20:23] #900 closed

[2019-08-05 21:41] dbjorge commented on #903
Rewrote onenote page accordingly. Did not have time to consider endgame-plan approach.

[2019-08-05 21:41] #903 closed

[2019-08-06 19:00] #987 closed

[2019-08-06 22:53] ferBonnin commented on #1009
Per investigation, we can assume that if the user selects _repro steps_ then its a bug and if they select _description_ then it is an issue. This can be addressed by changing the url if the user selects _description_

[2019-08-07 17:55] dmp569 opened #1039 "Scans fail for PowerApps"
## Describe the bug
I am trying to scan a web page based on PowerApps (https://web.powerapps.com/webplayer/app?) web player. The FastPass fails to complete. Tried also in the Axe extension directly and that failed as well.

**To Reproduce**
I am not sure I can grant you access to this specific PowerApp but wondering if AI has ever been used for testing these types of pages?

## Expected behavior

[2019-08-07 18:23] ferBonnin opened #1041 "Typos in new requirements"
## Describe the bug

**To Reproduce**
Typos in the following:

1. **Text legibility test**Getting started text should say:
In general, larger fonts, high contrast mode and ample spacing make it easier to read text, especially for people with low vision, dyslexia, or presbyopia.
A 2018 study found that 1.8 billion people worldwide have presbyopia. (All people are affected by presbyopia to some degr

[2019-08-07 19:20] flyingUnderTheRadar commented on #1039
Hi @dmp569,

Thank you for the report. Yes the tool has been used to scan PowerApps successfully in the past.

**If not the actual instance is it possible to create a sample that we could use to reproduce the issue?**

Additionally if you can send us console logs we can try to guess what might be happening.

**On the target page (the powerapp page)** enable the developer tools for chrome (see belo

[2019-08-07 23:58] #1041 closed

[2019-08-12 19:07] taparikh commented on #988
Hi @Shobhit1 Just wanted to follow up on this bug and ask if you need any more time for me

[2019-08-12 20:12] ferBonnin commented on #988
Based on the unusual cause of this bug (having a layout with position: absolute or fixed in the whole page) and the difficulty of fixing based on initial investigation, we will not fix this issue.
Our recommendation is to remove position:absolute from the page or do the _Color as a meaning_ requirement without the aid of the visual helper (The instructions are still valid without making the page g

[2019-08-12 20:12] #988 closed

[2019-08-14 17:28] karanbirsingh commented on #1009
Some various cases:
- if Azure Boards is not enabled at all, user gets a 404 ([example](https://dev.azure.com/ms/accessibility-insights-web/_workitems))
- if bugs or issues are not enabled due to process type, user gets server error
- default processes always show the same layout (repro steps for bugs, description for issues). Users can customize these ([example](https://dev.azure.com/karansin/scr

[2019-08-14 17:32] adbajaj commented on #787
This would be very helpful for my team as well! Would be interested to know ball park timings on when this is coming.
Thanks,
Aditya

[2019-08-14 17:33] adbajaj commented on #653
This would be very helpful for my team as well! Would be interested to know ball park timings on when this is coming.
Thanks,
Aditya

[2019-08-14 18:37] LiLoDavis opened #1071 "Parsing test - change the test method to avoid false positives (text changes only)"
## Describe the bug

The Parsing test instructs users to run the Nu HTML checker via a bookmarklet, rather than typing the target page into the URL field at https://validator.w3.org/nu/. The two methods produce different results. I filed a bug on the Nu HTML Checker and got this explanation:

The Parsing test should instruct users to type the target page URL into the validator because that method

[2019-08-14 20:37] karanbirsingh commented on #1009
@TechnopriseC @ferBonnin We've pushed a potential fix in our Canary extension [here](https://chrome.google.com/webstore/detail/hbcplehnakffdldhldncjlnbpfgogbem). Feel free to try it and let us know if things look good. Thanks!

[2019-08-15 20:28] Shobhit1 opened #1078 "Investigate reasons and rectification for Canary release delays."
## Describe the bug

Sometimes, our canary take longer than expected time for chrome store release, because of two reasons (found by @karanbirsingh after primary investigation):

- the failure is silent because the grunt task doesn't fail: https://github.com/c301/grunt-webstore-upload/issues/
- our extension hits pending review occasionally which leads to a delay in release time

We need to invest

[2019-08-15 23:33] ferBonnin opened #1080 "Assessment has injected stylesheet with font-size: 75%"
## Describe the bug
Assessment has injected stylesheet with font-size: 75%

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any page and open Assessment
2. Open Inspect > Elements > Styles
4. See injected stylesheet

## Expected behavior
Unsure if this is by design or not?

## Screenshots

![screenshot of the Styles ](https://user-images.githubusercontent.com/9062104/63133368-c6df9400-

[2019-08-16 02:06] SOPHYSTAKATED1 commented on #394
Like

[2019-08-16 21:00] #1039 closed

[2019-08-19 17:33] ferBonnin opened #1088 "Overview in Assessment is misaligned"
## Describe the bug

The overview section in assessment is misaligned and the region with the list of tests is not all scrollable

**To Reproduce**
Steps to reproduce the behavior:

1. Go to assessment
2. Click on overview
3. Scroll down
4. See error

## Expected behavior

List of tests details should be well aligned, user should be able to fully scroll the list of tests in the left nav

## Screen

[2019-08-19 20:21] smoralesd commented on #1080
This seems to be the default behavior for chrome extensions; basically, chrome injects a style for all the extension content (popup and custom content tabs include). Refer to [extension_fonts.css](https://chromium.googlesource.com/chromium/src/+/master/extensions/renderer/resources/extension_fonts.css).

Looking for solutions I found this [stack overflow question](https://stackoverflow.com/questio

[2019-08-19 21:05] #1080 closed

[2019-08-20 18:27] #548 closed

[2019-08-20 18:55] dbjorge commented on #1088
#1096 and #1098 fix the issues mentioned here and are merged into master. Canary release with fixes is pending.

[2019-08-20 20:51] #850 closed

[2019-08-20 21:25] haonliu opened #1107 "Scan fails when a page does not have a body tag"
## Describe the bug

Scan fails when a page does not have a body tag

**To Reproduce**

1. Create a page with the following html:
[code]
2. Open AI-web
3. Run automated checks
4. See error in the console

## Expected behavior

The scan should be able to run.

## Extension (please complete the following information)

- OS: any
- Version any
- Browser Version any
- Target Page N/A

[2019-08-20 22:49] DaveTryon opened #1108 "Flaky test found validating Insider release 2.8.1"
## Describe the bug

The E2E reliability build associated with Insider release 2.8.1 failed. The failure occurred only on the mac_3 job, and it succeeded on the runs before and after the 2.8.1 release.

Link to failing build: https://dev.azure.com/ms/accessibility-insights-web/_build/results?buildId=32155&view=logs

Excerpt from log:

[command]/bin/bash --noprofile --norc /Users/vsts/agent/2.155.1

[2019-08-20 22:51] dbjorge commented on #1088
Fixes are available in [Insiders](https://chrome.google.com/webstore/detail/accessibility-insights-fo/nnmjfbmebeckhpejobgjjjnchlljiagp) v2.8.1 - @ferBonnin, can you double check the resolution? :)

[2019-08-20 23:00] ferBonnin commented on #1088
tested in high contrast mode, zoom 200% different sizes, looks good :)

[2019-08-20 23:00] #1088 closed

[2019-08-20 23:31] karanbirsingh commented on #1108
same symptoms in CI build as well, ids 2115 & 2109

[2019-08-20 23:54] AhmedAbdoOrtiga opened #1111 "Enabling visual helper in Keyboard or Focus assessment brings the target page to the front but the tab stops visualization doesn't work"
## Describe the bug

Enabling visual helper Keyboard navigation brings the target page to the front but the tab stops visualization doesn't work **Only if the target page is minimized**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any web page.
2. Start new assessment.
3. Switch to Keyboard or Focus assessment.
4. **Minimize the target page.**
5. Enable visual helper.
6. Starting c

[2019-08-21 00:21] AhmedAbdoOrtiga opened #1112 "Clicking Add failure instance doesn't work in Keyboard assessment"
## Describe the bug
Clicking Add failure instance doesn't work in Keyboard assessment, Keyboard Navigation step if the Assessment Page is on the **Right Side of the Screen**

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any web page.
2. Switch to Keyboard assessment, Keyboard Navigation step.
3. Click window + right arrow so the assessment page would be in the right half of the scre

[2019-08-21 16:30] karanbirsingh commented on #1112
It seems that clicking on Add Failure Instance can cause some of the text to wrap, which can jerk the button's position a bit down. May have been introduced with recent change to failure instance "Comment:" UI

[2019-08-21 19:51] dbjorge opened #1118 "In Chrome 76+ at small window sizes, assessment overview pane has malformed scroll bar behavior"
## Describe the bug

Chromium 76 regressed the Overview page of the assessment UI; at small window sizes, you see an unexpected whole-page vertical scrollbar in addition to the expected 2 scrollbars (one each for the left nav and main content views), and when the whole-page scrollbar is scrolled down, the left nav UI gets clipped.

#1098 fixes this, but we reverted it because it simultaneously int

[2019-08-21 19:52] dbjorge commented on #1118
Our fix for this (#1098) is blocked on Chromium 77 reaching the Chrome Stable channel

[2019-08-21 20:01] dbjorge commented on #1112
This was introduced by #1098. It repros on Chromium 75 and 76, but not on 77 or 78.

We're reverting #1098 (in #1119) to fix this bug for the short term, and will re-apply #1098 once Chromium 77 hits stable and this bug will no longer apply.

[2019-08-21 20:12] #1112 closed

[2019-08-22 17:57] waabid commented on #1111
A couple of notes:

- The target page is un-minimized when the tab stops experience is enabled (this was a bit unclear to me reading the bug description).
- Upon investigation, even when the target page is un-minimized the page does not receive focus. If one were to manually focus on the page, the visualization does work (meaning code is injected appropriately).

[2019-08-28 18:03] jechols opened #1156 "Add in-page links to the exported report's headers"
## Is your feature request related to a problem? Please describe.

When we go through the report as a team, we like to jump to a given section so we can all discuss what we failed and why, but scrolling around the document takes up a lot more time than we'd prefer.

## Describe the desired outcome

Having some kind of table of contents toward the top of the report would be excellent.  We'd also lo

[2019-08-28 21:56] jechols opened #1163 "Text spacing link doesn't take user to the text spacing bookmarklet"
## Describe the bug

The link to download the "text spacing" bookmarklet takes me to the WCAG 2.1 page on w3c, but there's no bookmarklet to be found there.  I'm not sure if the link was supposed to be labeled differently or what, but I ended up having to search for the bookmarklet (and hope that what I found was the same one as what was meant to be used).

**To Reproduce**
Steps to reproduce the

[2019-08-28 23:00] karanbirsingh opened #1165 "failure instance details: refactor the PathSnippet store to better distinguish between snippet-capturing outcomes"
The state management in our failure instance detail panel requires some refactoring. For example, we use the string "No code snippet..." in our store / panel to indicate we should show an error message:

https://github.com/microsoft/accessibility-insights-web/blob/359c0d9f21d5abe7532e5c7db5d16bc2b2cebd56/src/DetailsView/components/failure-instance-panel-details.tsx#L23

https://github.com/microsof

[2019-08-28 23:35] karanbirsingh opened #1166 "failure instance details: create & link to new content page for "Learn more about CSS selectors" in UI​"
The failure instance detail panel needs an initial "Learn more about adding failure instances" guidance page that opens in a new tab. The new guidance page should have text that explains:
- how to get the CSS selector of an element using dev-tools
- how to format selectors inside iframes

When we run the feature by users during testing, we will come back and improve the text if needed.

![screensh

[2019-08-28 23:51] ferBonnin commented on #1163
Hi @jechols, thank you for reporting this issue. We can reproduce it and we will take a look to fix it.
In the meantime, please use the following link: https://www.html5accessibility.com/tests/tsbookmarklet.html

[2019-08-28 23:54] karanbirsingh opened #1167 "failure instance details: move buttons to footer & css changes"
There are some slight differences between the current failure instance details panel & our [mock](https://www.figma.com/file/T7bhNPvbpGYZTSSehCAIohz7/Web-Assessment-report-experience?node-id=91%3A1634):
- the 'add failure instance' buttons should be in the footer. PR #1085 intentionally undid this work in order to revert a separate regression. We should reintroduce them using `onRenderFooterConten

[2019-08-29 00:07] karanbirsingh opened #1169 "failure instance details: refactor error handling of querySelector to use try/catch"
from incomplete PR #1072:

It looks like the PR had decent progress (failing unit tests).

[2019-08-29 18:09] #883 closed

[2019-08-29 18:09] #884 closed

[2019-08-29 18:09] #885 closed

[2019-08-29 18:09] #886 closed

[2019-08-29 18:09] #887 closed

[2019-08-29 18:09] #890 closed

[2019-08-29 18:09] #891 closed

[2019-08-29 18:09] #892 closed

[2019-08-29 18:09] #893 closed

[2019-08-29 18:09] #896 closed

[2019-08-29 18:09] #897 closed

[2019-08-29 18:09] #901 closed

[2019-08-29 18:09] #902 closed

[2019-08-29 18:09] #904 closed

[2019-08-29 18:09] #905 closed

[2019-08-29 21:31] ferBonnin commented on #1163
this issue is resolved, keeping open until fix is in Prod :)
@jechols, if you want to take a look to the fix, please use the [Canary](https://chrome.google.com/webstore/detail/hbcplehnakffdldhldncjlnbpfgogbem) build and let us know what you think

[2019-08-29 21:50] jechols commented on #1163
I think this is good!  Thanks so much for the crazy-fast response and fix!  Loving the tool so far FYI

[2019-08-29 23:25] devaradhanm opened #1183 "Scrolling issue in assesment page"
## Describe the bug

- Navigate to any web page & open assessment page.
- Resize with assessment page window so that you can see scroll bar for the summary section.

Expected
- Both left pane & the summary section should have same scroll bar height.

![image](https://user-images.githubusercontent.com/29855291/63982907-493b7e00-ca79-11e9-9df2-b5e79408b1f2.png)

**To Reproduce**
Steps to reproduce t

[2019-08-29 23:26] devaradhanm commented on #1183
it is a known issue & we already have a tracking bug. & will be fixed in later release

[2019-08-29 23:26] #1183 closed

[2019-08-29 23:34] dbjorge opened #1184 "Text legibility -> Text spacing bookmarklet instructions unclear about how to drag link to bookmarks"
## Describe the bug

The text of the Text spacing instructions currently begins:

During validation of the 2.9.0 release, we felt that the text was slightly confusing; we tried dragging the link directly out of the instructions text into the bookmarks bar, but this doesn't do the desired thing; the user needs to drag the link *from the linked page*, not from the instructions text.

We don't want t

[2019-08-29 23:38] ferBonnin opened #1185 "Autocomplete>more info and examples > example table extra line"
## Describe the bug

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Assessment > Native Widgets > Autocomplete
2. Click on more info and examples
the Example box line goes over the rectangle

## Screenshots

![more info and examples table is not drawn correctly](https://user-images.githubusercontent.com/9062104/63983357-33c75380-ca7b-11e9-8937-b05d0dd1e764.png)

## Extension (please c

[2019-08-29 23:44] ferBonnin opened #1186 "Unnecessary horizontal scroll bar in list of instances Assessment"
## Describe the bug

**To Reproduce**
Steps to reproduce the behavior:
1. using https://www.washington.edu/accesscomputing/AU/before.html
2. Go to Assessment > Native Widgets > Autocomplete
3. scroll down

there is a disabled horizontal scrollbar

## Expected behavior
No horizontal scrollbar

## Screenshots

![Horizontal scrollbar](https://user-images.githubusercontent.com/9062104/63983554-0fb8420

[2019-08-29 23:58] dbjorge opened #1187 "e2e flakiness:"
## Describe the bug

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

## CodePen repro example

## Expected behavior

## Screenshots

## Extension (please complete the following information)

- OS: [e.g. Windows/Mac]
- Version [e.g. 1.140.1]
- Browser Version [e.g Chrome 71.0]
- Target Page [e.g www.bing.com]

## Are you will

[2019-08-30 00:09] dbjorge opened #1188 "e2e flakiness: failures in setup fixtures don't clean up browser process reliably"
## Describe the bug

This bug tracks a class of issues where:

* A test setup fixture (`beforeAll`/`beforeEach`) fails
* The failure results in the browser instance never being cleaned up

Ideally, failures in setup fixtures should understand how to clean up the browser/page as necessary, to avoid causing Jest to hang indefinitely because of the open browser process handle.

[code]

[2019-08-30 00:09] ferBonnin opened #1189 "Label requirement name didnt got changed in info & examples section"
## Describe the bug

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Assessment Native/custom widgets > Expected input> more info & examples
The title says _label_ instead _Expected input_

## Expected behavior
should say Expected input

## Screenshots

![title says Label instead of info &examples](https://user-images.githubusercontent.com/9062104/63983984-0a5bf700-ca7e-11e9-863c-e9677

[2019-08-30 00:21] waabid opened #1190 "Autocomplete requirement has a couple text issues"
## Describe the bug

1. "If a text field does serve an identified input purpose" - the word does should be italicized.
2. "or icons; and" the ';' or the 'and' should be removed. Together, I believe they are redundant. I would personally remove the ";" character.

- Version 2.9.0

[2019-08-30 00:37] dbjorge commented on #1190
I disagree with the second suggestion; I think omitting the ; makes it more confusing (the "and" becomes confusing in the context of the preceding conjunction), and I think that it reads less smoothly without the "and". I agree that the "; and" construction doesn't technically seem like proper grammar, though; if we wanted to fix that, I think switching the (1) and (2) clauses and then omitting th

[2019-08-30 04:34] #1184 closed

[2019-08-30 11:26] fxnoob commented on #822
Can I work on this issue?

[2019-08-30 15:37] ferBonnin opened #1195 "Text spacing requirement doesnt need to zoom 400%"
## Describe the bug

in the text spacing requirement there is a line that says "use your browser's settings to set the target page's zoom to 400%."per spec, that line is not needed.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to Assessment > text legibility> text spacing

## Expected behavior

that instruction line, is not needed

## Screenshots

![screenshot of the Text spacing test

[2019-08-30 16:09] ferBonnin commented on #1186
per conversation with Dan, dup of #1118

[2019-08-30 16:09] #1186 closed

[2019-08-30 16:13] ferBonnin commented on #981
@flyingUnderTheRadar can you take a look a the bug opened in axe-core?

[2019-08-30 17:46] #1195 closed

[2019-08-30 17:55] dbjorge commented on #1190
Fixed by #1192

[2019-08-30 17:55] #1190 closed

[2019-09-03 18:38] LiLoDavis opened #1203 "Contrast test: Modify "How to test" for requirement 1: UI components"
## Describe the bug
Clarify step 2a by adding text.

Current:

Normal
Focused
Mouseover
Selected (if applicable)
2. In each state, use Accessibility Insights for Windows (or if you are testing on a Mac, the Colour Contrast Analyser) to verify that the following visual presentations (if implemented) have a contrast ratio of at least 3:1 against the adjacent background:
Any visual effect that indica

[2019-09-03 18:49] LiLoDavis opened #1204 "Contrast test: Edit requirement 2: State changes"
## Describe the bug

Requirement 2 is based on an incorrect interpretation of 1.4.11 Non-text Contrast. A clarification in [Understanding Success Criterion 1.4.11 Non-text Contrast](https://www.w3.org/WAI/WCAG21/Understanding/non-text-contrast.html) includes this clarification:

We need to edit the instructions to reflect that the user only needs to test the contrast of the visual indicators of ea

[2019-09-03 18:57] LiLoDavis opened #1205 "Sensory test: Modify "How to test" for requirement 1: Color as meaning"
## Describe the bug

To avoid false negatives, clarify step 1 by adding an additional sub-step.

Current:

Proposed:

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the "Sensory" test.
2. Select the first requirement ("Color as meaning").
3. See the "How to test" content.

## Are you willing to submit a PR?

No.
## Did you search for similar existing issues?

Yes.

[2019-09-03 20:06] adrianaandreeva commented on #1156
Hi @jechols!

Thank you for using Accessibility Insights and for leaving a feature request! We appreciate your input and look forward to more suggestions.
We are working on a change in the cards UI that will result in something similar to what you are suggesting. Please stay tuned for the official release and leave us a comment after!

Thanks,
Your Accessibility Insights Team

[2019-09-03 20:23] ferBonnin commented on #1204
This also requires to remove the following Test Guidance:

Provide sufficient contrast for controls' state changes. (WCAG 1.4.11)
Good: Ensure colors used to indicate different states have a contrast ratio ≥ 3:1.
Better: Indicate state changes by changing both color and another visual characteristic, such as shape or size.

@LiLoDavis can you confirm?

[2019-09-03 21:10] LiLoDavis commented on #1204
Yes, I think we can remove it.

[2019-09-04 15:27] ferBonnin commented on #1204
per conversation with Lisa Louise, reviewing approach on this. Do not start working on this bug, please.

[2019-09-04 15:28] ferBonnin commented on #1203
per conversation with Lisa Louise, reviewing approach on this. Do not start working on this bug, please.

[2019-09-04 16:25] ferBonnin commented on #822
Hi @fxnoob for sure!
Please take a look at our[ README file](https://github.com/microsoft/accessibility-insights-web/blob/master/README.md) for instructions on how to build and test

[2019-09-04 18:01] #1205 closed

[2019-09-05 21:18] ferBonnin commented on #1189
@dbjorge is this fixed?

[2019-09-05 21:19] ferBonnin commented on #1163
Closing since this fix is now in production :)

[2019-09-05 21:19] #1163 closed

[2019-09-05 23:09] #1189 closed

[2019-09-05 23:10] #1185 closed

[2019-09-05 23:11] #1009 closed

[2019-09-06 20:20] ferBonnin opened #1219 "WCAG 2.1 1.4.12 Text spacing in the Switcher"
## Describe the bug

The switcher to change from fastpass to assessment has overlapping text

**To Reproduce**
1. Go to  text legibility> text spacing
2. run the following function (Same as the bookmarklet)
`(function () { document.querySelector("body").classList.add("text-spacing"); var style = document.createElement("style"), styleContent = document.createTextNode(".text-spacing * { line-height:

[2019-09-09 18:11] AhmedAbdoOrtiga commented on #1219
I can't seem to repro, the only difference is my Chrome version is "Version 76.0.3809.132 (Official Build) (64-bit)", can you please advise?

[2019-09-10 19:15] AhmedAbdoOrtiga commented on #1219
Worked with @peterdur, we were able to repro it by running the code in the DevTool console

[2019-09-10 21:00] #1156 closed

[2019-09-11 18:36] #1203 closed

[2019-09-13 16:55] kborchers opened #1245 "Show all errors reported by axe"
## Is your feature request related to a problem? Please describe.

Running a Fast Pass scan will come back as passing even if there are some color contrast issues. This could potentially happen with other missed errors but I noticed it with contrast specifically. It appears that since axe will occasionally accompany an error report with a message that it couldn't determine the background or foregr

[2019-09-13 19:20] #1204 closed

[2019-09-19 18:21] ferBonnin commented on #1245
Hi @kborchers thanks for your feedback! In FastPass, we only show issues that are WCAG violations (and not best practice, needs review or experimental rules).

For color contrast in particular, when axe-core returns _needs review_, we show this results in Assessment, in the Text legibility test >  Contrast requirement, and ask the user to investigate if its a failure or not.

[2019-09-19 18:38] kborchers commented on #1245
IMO, it seems like anything with "needs review" should still be surfaced in FastPass because now that I know FastPass is hiding actual issues, FastPass is no longer useful to me and I can only ever use Assessment or just use axe directly.

[2019-09-19 20:23] ferBonnin commented on #1245
We understand the concern that there are more things you need to take a look at even after a FastPass, but that would be the case even if we showed _needs review_ items in FastPass.

The goal of FastPass is not to be complete, but to help you check for common accessibility issues in **less than 5 minutes**, thus we only show things that we know are failures and add the assisted manual test for tab

[2019-09-23 21:02] karanbirsingh opened #1278 "Default extension scroll behavior can lead to inaccessible content for keyboard-only users"
## Describe the bug

In #1269 we found that a guidance page in the extension with no interactive links fails the  [scrollable-region-focusable](https://dequeuniversity.com/rules/axe/3.3/scrollable-region-focusable) rule. Because `overflow` is not set on `insights-root`, it is possible for a scrollbar to appear only over the main landmark div _excluding_ the header. When a keyboard-only user tabs t

[2019-09-23 22:54] ferBonnin commented on #1278
@iamrafan any recommendations?

I would suggest making sure we have a skip link as a thing that can be focused so a user can scroll.

[2019-09-23 22:55] ferBonnin commented on #1118
@dbjorge asigning to you per conversation with Peter. He recalls you already have the fix for this

[2019-09-24 19:44] iamrafan commented on #1278
@ferBonnin I think making the ```body``` as scrollable content would be most appropriate if we feel there is no need to have links in the page.

I tested using ```skip link``` as you suggested but that doesn't seem to give the scroll control to the arrow keys. I think this idea would work only if we can find a reliable way to trigger scrolling using arrow keys after using ```skip link```

[2019-09-24 19:54] ferBonnin commented on #1278
Thanks @iamrafan, what would happen if we set body as scrollable but there is nothing to scroll?

[2019-09-24 20:03] iamrafan commented on #1278
@ferBonnin There would be no need for scrollbar if the content is not large enough for the view port and this rule would pass.

Even the current failure occurs only when the view port is so small that a scrollbar is need to view all the content

[2019-09-24 21:47] smoralesd opened #1289 "Failure panel push down when expanding a failure group"
## Describe the bug

Failure panel disappear and double scroll bar shows up if the window is "small enough" and the user expand a failure group with "enough" instances.

**To Reproduce**
Steps to reproduce the behavior:

1. Navigate to http://www.washington.edu/accesscomputing/AU/before.html
1. Open details view -> fast panel -> automated checks
1. Wait for the failure list to be loaded
1. Make su

[2019-09-24 21:49] smoralesd commented on #1289
#1118 may be related

[2019-09-25 18:13] waabid commented on #1289
This might be due to a browser update. This is what I saw on Edge 78.x:

![scrollbug_nonrepro_edge78](https://user-images.githubusercontent.com/32555133/65628050-85350680-df85-11e9-80ff-93853066940d.gif)

[2019-09-25 23:56] jechols opened #1297 "Add more testing (manual or automated) for data tables"
## Is your feature request related to a problem? Please describe.

When doing testing I'm not seeing anything that validates or suggests validating table headers.  For a data table, if there are no headers, this is a major problem most of the time.  It's also probably good to explain what kinds of headers make sense.  Sometimes you only need column headers, but in a lot of cases tables need row he

[2019-09-26 00:18] ferBonnin commented on #1297
Thanks for the feature request @jechols! have you take a look at the [assessment](https://accessibilityinsights.io/docs/en/web/getstarted/assessment) feature? We do have a requirement for Data tables in the Semantics test

[2019-09-26 11:34] joppekroon opened #1298 "Allow re-scan on checks where instances are auto detected"
## Is your feature request related to a problem? Please describe.
It is possible for a check with automated instance detection to scan the wrong page. For example, when the target page has been closed or the assessment is restarted before the target page has been opened. At this point, the instance detection will detect items from another page, and there is no option available to invalidate this l

[2019-09-26 14:16] jechols commented on #1297
@ferBonnin I don't see anything in there about table headers or captions, which is why I filed the ticket.  The assessment has very minimal testing for tables currently, and there's a lot of data-table-specific tests I am having to try to remember to do that isn't guided.

[2019-09-26 17:45] ferBonnin commented on #1298
Thanks for the feature request @joppekroon! There is a possibility to trigger an scan for just one test, instead of the whole assessment: [Start over a single test](https://accessibilityinsights.io/docs/en/web/getstarted/assessment#start-over-a-single-test)

Would this help your scenario?

[2019-09-26 18:08] ferBonnin commented on #1297
@iamrafan can you please take a look at this?

There is an automated check rule for table headers in axe-core, but looks like its marked as experimental, thus we are not surfacing it:
[All non-empty <td> elements in a <table> larger than 3 by 3 must have an associated table header](https://dequeuniversity.com/rules/axe/3.0/td-has-header)
We do show other automated checks related to table and table

[2019-09-26 22:31] devaradhanm opened #1302 "Configure dependabot for office fabric minor version update"
We discussed about this in our retrospective. As part of this issue, we will configure dependabot to notify only for minor version upgrades of office fabric.

[2019-09-27 07:45] joppekroon commented on #1298
Yep, that solves the immediate problem.

But let's be real, after completing 23 out of 24 checks, "Start over" is the absolute last button I'm going to be pressing ;-).

[2019-09-27 15:24] joppekroon commented on #485
After doing my first assessment this was my main problem with the tool.

From a user perspective it is weird that some checks have the option for comments, and others do not. This requires you to have an accompanying document to record your comments anyway, reducing the usefulness of the report and the comments that you _can_ add.

Additionally, there were cases where I wanted to explain why I _pa

[2019-09-27 16:56] ferBonnin commented on #485
Thanks for your feedback @joppekroon! After taking a look, we do send the details of a pass instance into the report, so a comment for passed or failed instance could be in the report.

We have marked this issue as "needs help" in case someone in the community wants to take a look :)

[2019-09-27 21:29] lisli1 commented on #1298
Hi @joppekroon, each of the 24 checks can be restarted individually. For example, if you want to restart the Landmarks check, you can do so by clicking the  **Start over** menu at the top right corner, which will give you the options to **Start over Assessment** or **Start over Landmarks** (see screenshot below for reference). Here, you would want to select **Start over Landmarks** to re-scan just

[2019-09-27 22:10] ferBonnin commented on #1298
Hi @joppekroon glad to hear that this solves the immediate problem!

We do understand that selecting the "start over" button is a bit of a scary thing to do when you have completed so many tests. I will file a bug to have the "start over" button as a drowpdown button, so its clearer that there is more than one option :)

[2019-09-27 22:13] ferBonnin opened #1316 "Is not clear the Start Over button has two options"
## Describe the bug
In Assessment its not clear the Start Over button has an option to start over the whole assessment vs a test (check #1298 )

## Expected behavior

There is a clear indicator of the behaviour of the button

## Screenshots

![Start Over Button opened](https://user-images.githubusercontent.com/9062104/65805148-4e9fed00-e139-11e9-9a33-d3343f6a699f.png)

## Extension (please complet

[2019-09-27 22:14] ferBonnin commented on #1316
@cheade thoughts for making clear the button has options? thanks!

[2019-09-27 22:15] ferBonnin commented on #1298
Closing this feature request since the problem has been solved and we filed a bug to improve discoverability of the feature.

[2019-09-27 22:15] #1298 closed

[2019-09-27 22:19] cheade commented on #1316
Hi! Command buttons can have the down-chevron on the right, acting like a contextual menu button:
![image](https://user-images.githubusercontent.com/40274682/65805392-282e8180-e13a-11e9-8d98-9c5a546d6c23.png)

This should be an available component within Fabric 🙂

[2019-09-30 19:59] #1302 closed

[2019-09-30 20:04] ferBonnin commented on #1289
@smoralesd could you verify this is fixed in Edge  and Chrome 78.x ? If it isnt, please mark as ready for work

[2019-09-30 20:11] ferBonnin commented on #1278
Per conversation with Peter, lets go ahead and make the whole body scrollable for all content pages (whether they have links or not)

[2019-09-30 21:13] dbjorge commented on #1316
accidentally auto-closed with merged PR; leaving open as resolved until Fer can verify the fix.

[2019-09-30 22:12] fstorr opened #1323 "Add notes for automated checks"
## It would be useful to add notes to automated check results
Being able to add notes to the results of automated checks would be helpful. For example: sometimes SVGs, exported from design tools, contain the same `id` attribute but there's no impact on accessibility. Although duplicate `id`s fail WCAG 4.1.1 (Parsing) and should be remediated, it would be useful to add a note to the report to help

[2019-09-30 22:36] ferBonnin commented on #1316
lgtm in canary :)

[2019-09-30 22:36] #1316 closed

[2019-10-01 00:26] dbjorge commented on #1289
Verified in chrome 77 (stable) and 79 (dev). Closely related to #1118; will be considering their fixes in tandem.

[2019-10-01 00:45] dbjorge commented on #1289
@ferBonnin / @cheade , can you help me understand exactly what behavior you'd actually like to see here?

We don't currently enforce a minimum allowed viewport height, and both the instance table and the failure details pane have variable height content that could *each individually* be taller than what I'd consider to be a "reasonable" viewport height (especially at 200% font size). Given these c

[2019-10-01 17:18] ferBonnin commented on #1289
@dbjorge could you send a gif on how the solution you propose would look like?

[2019-10-01 17:45] dbjorge commented on #1289
![gif of proposed scrollbar behavior](https://user-images.githubusercontent.com/376284/65986366-90ca7680-e438-11e9-8355-ea444cdb6ce5.gif)

[2019-10-01 17:51] ferBonnin commented on #1289
per conversation with Peter, this fix is temporally ok (until we replace this whole UI) and a better experience than what we currently we have with this bug

[2019-10-01 17:52] ferBonnin commented on #1289
before the PR, lets check this doesn't affect keyboard-only nav.
A small note is that this could potentially affect discoverability of the details panel.

[2019-10-01 18:28] dbjorge commented on #1289
I don't think it's changed keyboard-only nav; in testing with NVDA, tabbing to the table, navigating the table, escaping the table, and continuing downing/tabbing still proceeds to the failure details pane as normal.

I agree that this could affect discoverability of the details panel for cases with many types of failure; if we weren't replacing this whole UI in the immediate future anyway, I thin

[2019-10-01 18:29] ferBonnin commented on #1289
thanks for checking Dan :)
we are fine with the discoverability since, as you mention, we are planning to change this UI

[2019-10-01 21:11] #1118 closed

[2019-10-01 21:12] dbjorge commented on #1289
Resolved by #1334

[2019-10-02 23:35] fstorr opened #1349 "Add a time out for scanning so reports can be manually entered if scanning fails"
## Is your feature request related to a problem? Please describe.
Sometimes scanning doesn't work and I'm left with the spinning "scanning" icon and message that doesn't seem to time out. Refreshing the app and/or target web page doesn't fix the issue. Until a scan is complete, it's not possible to enter a pass or fail score. In many instances I don't need the page scanned to enter a pass or failu

[2019-10-03 18:02] ferBonnin commented on #1349
hi @fstorr could you give us an example of a website that is getting stuck?

[2019-10-03 18:23] fstorr commented on #1349
I can’t point you at anything publicly—the issue is happening to me and others on pages inside a firewall. Happy to take this offline to work on this if that helps.

[2019-10-03 18:48] LiLoDavis opened #1357 "Text legibility > High contrast mode is missing from reports"
## Describe the bug

**Text legibility** > **High contrast mode** is missing from reports.

**To Reproduce**
Steps to reproduce the behavior:

1. Export results.
2. Scroll down to "Text legibility."
3. "High contrast mode" is missing.

## Expected behavior

"High contrast mode" should be the first requirement under "Text legibility."

## Screenshots

![image](https://user-images.githubusercontent.

[2019-10-03 19:11] karanbirsingh commented on #1349
Hi @fstorr - a few questions for you to start :slightly_smiling_face:
- do you see this hanging behavior in "Automated checks" scanning or in an assisted manual test like "Headings > Heading function?"
- Does it prevent you from adding manual instances, or marking existing instances that are generated for you (like headings)?
- do you mind copy-pasting any logs from the dev console? (step 3 [here]

[2019-10-04 20:36] dbjorge commented on #1357
@LiLoDavis I'm not able to reproduce this in the current production version of the extension (v2.10.0):

![screenshot of high contrast mode requirement appearing as expected](https://user-images.githubusercontent.com/376284/66238108-a0052a80-e6ab-11e9-9c31-c24aab723a4a.png)

Can you verify:
* The version of Accessibility Insights for Web you're using (you can find this in chrome://extensions/ )
*

[2019-10-07 14:29] LiLoDavis commented on #1357
Yes, it showed up in "Passed tests" - my mistake.

[2019-10-07 14:29] #1357 closed

[2019-10-08 23:59] waabid opened #1397 "No content available page shows scrollbar when it shouldn't"
## Describe the bug

When a target page is closed and the details view shows the "no content available" page, there is a scroll bar even when one is not necessary.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to any page to scan.
2. Open the details view for that tab (e.g. click fast pass link in the extension's pop out dialog)
3. Close the target page that was opened in step 1.

The

[2019-10-09 23:16] karanbirsingh commented on #644
@iamrafan @ferBonnin looks like there's a response on the bug Guru filed - we might want to reply

[2019-10-09 23:29] karanbirsingh commented on #917
hi @clottman - we've updated to `axe-core 3.3.2`. In the latest build I don't see this issue anymore on this [codepen](https://codepen.io/karansin/pen/wvvabzL). If you still see this after updating, do let us know. Thanks for reporting! cc @ferBonnin

[2019-10-10 18:03] #1323 closed

[2019-10-10 18:03] ferBonnin commented on #1323
Thanks for your feedback @fstorr!
After reviewing this with the team, we have decided that automated checks is intended to be a fast process and having the ability to add note would slow than that process. Your alternatives sound like a good workaround, we are adding one more for you to consider: before exporting a report you have the ability to add a comment. You could add in the textbox the comm

[2019-10-10 23:00] #1349 closed

[2019-10-11 22:13] peterdur opened #1444 "Clicks below group headers in automated checks report still collapse group"
## Describe the bug

In the automated checks results report, after expanding a group by clicking on the group header, clicking anywhere within the expanded area results in the group being collapsed - even clicking on links.

**To Reproduce**
Steps to reproduce the behavior:

1. Run FastPass > Automated Checks
1. Export report
1. Under failed instances, click on a rule to expand it
1. Click in the

[2019-10-11 23:31] ferBonnin opened #1449 "Cards UI in Report and automated checks doesn't work with High Contrast"
## Describe the bug

When turning on High contrast either via OS settings or the Settings in the tool, Cards UI in Report and automated checks dont look ok

**To Reproduce**

1. Run Automated checks in any page with automated checks issues, download report
2.  open the report in a browser that supports Windows High contrast
3. Turn on high contrast from the OS
4. See error

OR
1. Run Automated che

[2019-10-11 23:32] ferBonnin commented on #1449
@cheade suggestions here, please?

[2019-10-11 23:40] cheade commented on #1449
Two different suggestions:

1) Make the card background white and the text black, with a higher contrast dividing line for the bottom controls.
OR
2) Outline the card with a 2-3px white border line.

[2019-10-14 20:01] dbjorge commented on #1444
Reopening for peter to verify

[2019-10-14 20:03] ferBonnin commented on #1449
@cheade could you provide us with a Figma file that includes selected states, please?

[2019-10-14 22:57] dbjorge commented on #743
This is going to need an independent investigation/fix, it isn't particularly specific to the past investigation. Unassigning myself since I'm not working on it actively; this is ready to be picked up by anyone looking at the ready for work queue.

[2019-10-15 16:47] karanbirsingh opened #1470 "(Canary) Check circles in Assessment report are misaligned"
## Describe the bug

The icon we use to describe how many tests have failed in the assessment report is mangled - the circle appears at the bottom of the number instead of horizontally centered. This doesn't seem to occur in the fastpass report.

![screenshot of misaligned circles](https://user-images.githubusercontent.com/7775527/66851818-72807280-ef30-11e9-9354-3c24f86004e0.png)

**To Reproduce*

[2019-10-15 17:22] DaveTryon commented on #1470
We should fix this quickly

[2019-10-15 20:01] ferBonnin commented on #1470
We should fix this before the next release

[2019-10-15 20:30] peterdur commented on #1470
This is a recent break - was working Friday as of #1442

[2019-10-15 20:42] karanbirsingh commented on #1470
per Haonan / Dan, it looks like `!DOCTYPE html` causes this - will remove the DOCTYPE for now so we can unblock master while figuring out the details

[2019-10-15 21:48] #1470 closed

[2019-10-15 22:43] DaveTryon commented on #644
After checking with Karan, the status of this should not have been changed on 9 October. Undoing those changes.

[2019-10-16 17:14] peterdur commented on #1444
Verified in Canary 2019.10.16.1631

[2019-10-16 17:14] #1444 closed

[2019-10-16 20:17] lisli1 opened #1494 "Cards UI aren't table-navigable when using AT"
## Describe the bug

The failed instance cards in the universal cards UI aren't navigable as a table when using AT.

**To Reproduce**
Steps to reproduce the behavior:

1. Ensure that the "Enable universal cards UI" feature flag is on.
2. Start running a screen reader, such as NVDA or JAWS.
3. Go to [Accessible University (Inaccessible version)](https://www.washington.edu/accesscomputing/AU/before.

[2019-10-16 20:30] peterdur commented on #1219
Looks to be related to .ms-Dropdown-title having width: 139px;

[2019-10-16 22:16] ferBonnin commented on #1494
Checked an old report (we had tested the report before with users who are blind without encountering this) , this should not be announced as a table, sounds like a regression.

[2019-10-17 18:13] smoralesd opened #1500 "Target page failure dialog: misalignments in bottom "back / failure count / next" bar"
## Describe the bug

Failure details dialog seems to be not "tall" enough to acomodate all the content, making the "Next >" button appear to close to the border, like there is not enough padding/margin or the size of the dialog is not high enough.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [accessible university before](http://www.washington.edu/accesscomputing/AU/before.html)
2.

[2019-10-17 18:20] smoralesd opened #1501 "Copy failure details fail on the target page"
## Describe the bug

Activating "Copy failure details" button on the target page's failure details dialog shows the "Failed to copy failure details. Please try again." toast.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [accessible university before](http://www.washington.edu/accesscomputing/AU/before.html)
2. Run automated checks
3. Activate any "!" icon
4. On the failure details

[2019-10-17 21:02] ferBonnin opened #1503 "Perf issue when inspecting elements and using Assessment"
## Describe the bug
Inspect elements using Chrome dev tools becomes slugish after opening Assessment

**To Reproduce**
Steps to reproduce the behavior:

1. Go to [Accessible university demo website](https://www.washington.edu/accesscomputing/AU/before.html)
2. Go to inspect and select a few elements using hover and clicking on the list of elements
3. Open Assessment, go to any requirement that has