[2022-07-11 22:27] #5714 closed

[2022-07-12 00:57] PramodValavala-MSFT commented on #5714
@dbjorge Thanks for the insights! I'll give the approach you've mentioned a try.

I understand the rationale behind closing this. The out-of-process design does make sense for this and the other scenarios you've mentioned there. 👍🏽

[2022-07-12 15:32] sfoslund opened #5735 "Visualizations fail for targets with semicolon character"
## Describe the bug

Automated checks visualizations fail on web pages that include the character `;`.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to code pen: https://codepen.io/dbjorge/pen/OJvXaVg
2. Run fast pass automated checks
4. See message `unable to find frame to highlight button[data-attr="with ` in target page and no visualization.

## Expected behavior

Visualization shou

[2022-07-12 21:17] pownkel commented on #5609
@ferBonnin I don't have much context for why this was originally infeasible, but I have a working version on [my own branch](https://github.com/microsoft/accessibility-insights-web/compare/main...pownkel:accessibility-insights-web:reflow-cards?expand=1) that reflows those buttons similarly to how it's done in the command bar and handles focus when the issue filing dialog closes
![gif showing the A

[2022-07-13 17:03] teresawong-msft opened #5741 "Error in sample code (re: aria-required-parent"
## Describe the bug

There is an error with Pass example on this page:
https://accessibilityinsights.io/info-examples/web/aria-required-parent/

![image](https://user-images.githubusercontent.com/109237416/178790548-5392422a-6425-4993-86bd-77adf3b39f7c.png)

## Expected behavior

Should read:

![image](https://user-images.githubusercontent.com/109237416/178791039-a6babc05-4ca4-4246-b8d0-6e2ef08e92

[2022-07-13 21:03] JGibson2019 commented on #5741
@teresawong-msft thank you for bringing this to our attention; we will work on getting the documentation updated!

[2022-07-13 23:18] ferBonnin commented on #5609
This is awesome, thanks @pownkel! We should do this change, please!

[2022-07-14 15:13] etoscano opened #5746 "JSON export, missingHeadings and WCAG numbers"
I am looking at the JSON export of Accessibility Insights For Web and I see that "requirementKey": "missingHeadings" is connected to
"wcagNumber": "1.3.1" "wcagName": "Info and Relationships"
and to
"wcagNumber": "2.4.1" "wcagName": "Bypass Blocks"

However, when I read the information regarding test 5.2 No missing headings, this test is connected to 1.3.1: Info and Relationships and 2.4.6: Headin

[2022-07-14 17:33] JGibson2019 commented on #5746
Hi @etoscano can you provide the link to the website you're testing with so we can investigate/attempt to repro on our end?

[2022-07-14 18:15] ferBonnin commented on #5746
@JGibson2019 I don't think we need a link to a website as this repos with any site when exporting as JSON.

[2022-07-14 23:18] dbjorge opened #5753 "TabStore crashes and breaks background initialization when given an invalid URL"
## Describe the bug

If `TabStore` ever tries to handle a tab-updated event that involves a URL which cannot be parsed by `new URL()`, it emits an unhandled exception which prevents the completion of background initialization. The stack looks like:

[code]

Once in this state, the whole extension is broken and just shows loading spinners until the next time the background is torn down and re-initi

[2022-07-15 00:14] patrickhlauke opened #5757 "a11y: Low contrast icon and links in high contrast message bar"
## Describe the bug

When Accessibility Insights is switched to the high contrast theme, there are contrast issues in the message bar: the icon appears white on light yellow, and any links inside the message are saturated yellow on light yellow.

This screenshot was provided by https://twitter.com/TkDodo/status/1547580473743794183?s=20&t=dWI73ySGWxujaTZ5oGxPkg

![Screenshot of the message bar in h

[2022-07-15 14:50] jsnmrs commented on #5677
Hi @ferBonnin — sure thing!

Scenario-wise, I hope to have support staff run a FastPass on a URL and _optionally_ complete the tab stop review. If there are "needs review" items, they would also be optional. We would take the JSON report for that URL and feed it into a dashboard that shows FastPass results over time. These reduced scans will supplement our less frequent, complete assessments.

Ide

[2022-07-15 15:38] #5611 closed

[2022-07-15 16:48] patrickhlauke commented on #5757
is it ok to do a PR for this this weekend, or should I hold off until the team triage thing?

[2022-07-15 16:57] JGibson2019 commented on #5757
@patrickhlauke sure! I will update it to "Ready for Work" and assign you. If we have any additional information/thoughts on approaches to this fix, I can share those with you here or on the PR (if you have it up for review by the time we finish discussing). Thanks again!

[2022-07-15 16:57] patrickhlauke commented on #5757
good stuff, cheers @JGibson2019

[2022-07-15 21:04] patrickhlauke commented on #5757
@JGibson2019 felt inspired...so here we go https://github.com/microsoft/accessibility-insights-web/pull/5762

[2022-07-17 09:07] MarcusMorba commented on #5672
Ok to close, but I still would see "incomplete" not as a proper solution for "not tested/skipped" steps.

[2022-07-18 20:16] JGibson2019 commented on #5741
The updated documentation is live on [https://accessibilityinsights.io/info-examples/web/aria-required-parent/](https://accessibilityinsights.io/info-examples/web/aria-required-parent/)

[2022-07-18 20:16] #5741 closed

[2022-07-21 16:11] ferBonnin commented on #5126
@break-stuff thanks for reporting this issue! This has now been fixed and the fix is available to be reviewed in our [canary extension](https://chrome.google.com/webstore/detail/accessibility-insights-fo/hbcplehnakffdldhldncjlnbpfgogbem).

[2022-07-21 19:42] #5757 closed

[2022-07-21 19:42] dbjorge commented on #5757
Verified resolution as part of reviewing #5762

[2022-07-21 19:54] ferBonnin commented on #5757
Thanks for the contribution @patrickhlauke!

[2022-07-22 12:23] Rachel-AK opened #5785 "Axecore update for Azure Devops extension"
**We encourage tool related questions to be asked on stackoverflow.com and tagged with `accessibility-insights`.**

We are checking the ADO extension and noticed that the axecore has an old version:  axe-core 4.3.2
how can we update it to the axe-core 4.4.1 or latest 4.4.2?
Thanks

[2022-07-22 17:16] aut0poietic commented on #5376
Not sure if it helps, but I ran into the same issue and can consistently trigger this issue by enabling either the *Keyboard > Keyboard navigation*, *Focus > Visible focus*, or "Focus > Focus order" Visual helpers, then switching to an assessment item that uses a scan (Landmarks > Landmark roles, Page navigation > Page title).

It didn't seem to matter if I disabled the helper afterward or not. We

[2022-07-22 17:51] ferBonnin commented on #5376
thanks for sharing this @aut0poietic!

Informational mostly for who looks into this bug, with this steps, I can repo this somewhat consistently in the production version of the extension, however I cannot repo in the canary version at all.

[2022-07-25 20:50] Karrart opened #5797 "Ygy6y"
## Is your feature request related to a problem? Please describe.

## Describe the desired outcome

## Describe alternatives you've considered

## Additional context

[2022-07-25 21:25] ferBonnin commented on #5797
closing this as it has no information. please feel free to reactivate as needed!

[2022-07-25 21:25] #5797 closed

[2022-07-25 21:27] ferBonnin commented on #5677
thanks for the additional information on your scenario @jsnmrs. After reviewing with the team, we have added this to the backlog and marked it as _help wanted_. We would be happy to take on a  community contribution for this feature request!

[2022-07-25 21:29] ferBonnin commented on #5607
verified in canary

[2022-07-25 21:29] #5607 closed

[2022-07-25 21:31] ferBonnin commented on #5563
verified in canary

[2022-07-25 21:31] #5563 closed

[2022-07-25 23:24] ferBonnin commented on #5753
@dbjorge was this fixed by #5754?

[2022-07-25 23:27] ferBonnin commented on #5376
Per conversation with Peter, let's look at this in Canary and try to repro (timebox this), if it doesn't repo, its likely we fixed it as a side effect of other work

[2022-07-26 00:12] DaveTryon opened #5801 "Browser extension (non-production) icon is not visible in high contrast "High Contrast Black" mode"
## Describe the bug

This is closely related to #4516, which was recently fixed for prod. Unfortunately, that change included only the prod icon and left the other icons untouched.

Can we possibly get new icons for the non-production icons?

**To Reproduce**
Steps to reproduce the behavior:

1. Install a non-prod version of the web extension
2. Pin them to the command bar
3. Enable High Contrast

[2022-07-26 00:43] lisli1 opened #5802 "Scanning in Edge Internet Explorer Mode"
## Describe the bug

When loading a page in Edge Internet Explorer Mode and running a scan such as FastPass, the scanning/loading circle continues looping, even though the scan isn't working. No error messages appear in the console.

**To Reproduce**
Steps to reproduce the behavior:

1. Open Edge browser
2. Go to any test target page, such as https://www.washington.edu/accesscomputing/AU/before.ht

[2022-07-26 04:01] lisli1 commented on #5746
@etoscano, thanks for using Accessibility Insights for Web and catching this issue! The "missingHeadings" test should point to WCAG 1.3.1 and 2.4.6. We will fix the discrepancy in the JSON export data.

[2022-07-27 00:12] jsnmrs commented on #5677
Much appreciated! Thanks @ferBonnin

[2022-07-28 19:06] dbjorge opened #5840 "Preview Features heading overlaps with text underneath it when scrolling"
## Describe the bug

When enough preview features are visible to result in the preview features panel having a scroll bar, it is possible to enter a state where the "Preview Features" heading at the top of the panel is sticky but its background is not, so you end up with the panel's content and the heading getting drawn over each other.

![screenshot with overlapped text in preview features panel]

[2022-07-28 20:01] #5126 closed

[2022-07-29 01:11] lisli1 commented on #5746
@etoscano, the fix is now live in Canary Version 2022.7.27.1622. At your earliest convenience, please verify that the issue has been resolved.

[2022-08-01 23:10] ferBonnin commented on #5801
we need to get new images from design team for these icons too

[2022-08-01 23:13] ferBonnin commented on #5801
for consistency, lets also ask for playground (if needed)

[2022-08-01 23:16] ferBonnin commented on #2597
triagged with @peterdur, this has been open and not resolve for 2 years, closing

[2022-08-01 23:16] #2597 closed

[2022-08-01 23:19] ferBonnin commented on #2059
@madalynrose could you please check if this bug is still reproing?

[2022-08-01 23:22] ferBonnin commented on #3529
@dbjorge @waabid do we know if this issue is still reproing?

[2022-08-01 23:27] ferBonnin commented on #4271
@dbjorge is this bug addressed?

[2022-08-01 23:32] ferBonnin commented on #4490
triaged with Peter
* agreed to add the axe-android version
* in Web, environment is the browser and version; for Android, do we want this to be the device/app as in the report: yes

[2022-08-09 02:01] #4271 closed

[2022-08-09 02:01] #3529 closed

[2022-08-09 20:01] #5746 closed

[2022-08-11 01:57] LUTLJS opened #5905 "need architectural docs to better understand this project"
I have spoken to the early team member [Sebastian Morales](https://github.com/smoralesd) about providing any software engineering documentation like Requirement Specifications, User Interface Design, etc. This would help new contributors better understand how this project is implemented and make new contributions more easily.

[2022-08-12 15:51] cchengt opened #5912 "button-name rule not considering label linked to button"
## Describe the bug

Hello, I have <label /> linked to text-less <button /> via the label "for" attribute; I assumed this would be enough to pass the button-name check but it didn't. When tested with Narrator, the screen reader reads out the button's associated label.

**To Reproduce**
Fast check this HTML:
<!DOCTYPE html>
<HTML lang="en-US">
    <HEAD>
        <TITLE>test</TITLE>
    </HEAD>

[2022-08-12 21:28] shanisebarona commented on #5912
Hi @cchengt! I was able to reproduce the button-name error you are referencing. Looks like per [Using label elements to associate text labels with form controls](https://www.w3.org/WAI/WCAG21/Techniques/html/H44), `label` is not to be used for a button.

Passing examples and alternatives can be found here: [button-name](https://accessibilityinsights.io/info-examples/web/button-name/).

[2022-08-13 03:00] traisjames opened #5917 "Allow disabling notifications"
Simple thing.  I just want to be able to turn off notifications when I am doing a check.  I know I am doing checks and am watching for results.  I don't need to be told when they are found.

[2022-08-15 14:50] cchengt commented on #5912
I see, thanks for linking the w3 document. It looks this issue is not a bug then.

[2022-08-15 15:12] sfoslund commented on #5912
Thanks for confirming @cchengt! Is there anything else we can help with or can we go ahead and close this issue?

[2022-08-15 20:40] dbjorge commented on #5357
Note that for some variants of this (specifically, scanning image files), https://github.com/dequelabs/axe-core/issues/3465 will cover avoiding one of the more extraneous failures (where axe-core complains that the boilerplate page doesn't have a `lang` attribute).

[2022-08-15 21:33] ferBonnin commented on #5917
Thanks for the feature request @traisjames!
Could you please let us know which OS and browser you are using?

We triaged this with the team and we will be investigating:
* Is there a way to turn off notifications for a single extension via OS or browser?
* Are there other things where we rely on the OS notifications to notify users?
Leaving this as ready for triage to continue the conversation nex

[2022-08-15 23:21] ferBonnin commented on #5489
@sfoslund should this be moved back into ready for work or did we address it all with #5728 ?

[2022-08-16 04:22] pownkel opened #5931 "Tab stops breaks if some iframes do not load"
## Describe the bug

Currently, if we try to run any visualizer on a page where some iframes fail to load, the command (correctly) times out after 30 seconds and prints an error to the target page console. For automated checks and needs review, the visualization still shows in the rest of the page, so the failure isn't noticeable. However, for tab stops, the injected script throws an exception whe

[2022-08-16 15:02] sfoslund commented on #5489
@ferBonnin no, it was not all addressed with #5728. I plan on addressing the rest of it next time I have slack time, but for now I'll mark as ready for work :)

[2022-08-17 16:43] pownkel commented on #5931
Patched by #5933 - Tab stops can now run on these pages after a brief delay, but this doesn't fix the underlying frame communication errors

[2022-08-17 21:26] traisjames commented on #5917
Google Chrome Version 104.0.5112.79 running on OS X 10.15.7

[2022-08-22 20:01] #5912 closed

[2022-08-26 23:09] pownkel commented on #5917
@ferBonnin After investigating, Chrome doesn't seem to have a way to block notifications for an extension, and the functionality for blocking notifications from a site doesn't work with extension URLs.

The places where we use notifications are:
- After running an Automated Checks or Needs Review scan (from fastpass or ad hoc visualizers)
- Whenever the tab stops visualizer is enabled
- When enabl

[2022-08-27 20:23] traisjames commented on #5917
What about doing switches for each reason, because if its something automated yea an alert is nice, but if I manually run a check and am sitting on the page I am checking, I am ok without the notification.

[2022-08-29 21:21] ferBonnin commented on #5917
thanks for the investigation @pownkel! We are marking this as await community interest to correctly prioritize

[2022-08-30 09:22] april-ux commented on #2565
Hi, team. Any updates on this? It would still be a big help.

[2022-09-06 17:44] DaveTryon opened #6000 "Bug: Launch pad can fail to load after restarting the extension"
## Describe the bug

Launch pad will not load after turning extension off, then back on. This has been observed with Windows + Edge and Linux + Chrome, but it's not 100% reproducible. Once it happens, though, you need to exit the browser before it will work again.

**To Reproduce**
Steps to reproduce the behavior:

1. Run automated checks on some page
2. Turn the extension off then back on (altern

[2022-09-06 19:07] pownkel opened #6002 "Fastpass scans are delayed when tab stops is incomplete"
## Describe the bug

If the user starts the tab stops visualizer in fastpass, then changes to a different tab in details view before tabbing through the entire page, automated checks and fastpass scans take significantly longer to complete. This seems to be somewhat page-dependent, since so far I've only seen it reproduce on github pages.

**To Reproduce**
Steps to reproduce the behavior:

1. Open

[2022-09-07 16:40] DaveTryon opened #6003 "Bug: Needs Review counter overflows with 3 or more digits"
## Describe the bug

The OutcomeChip control in __Needs review__ results only works properly if the count is 2 or fewer digits. Once it hits 3 digits, the text wraps and some of it display _outside_ the visible control. The attached screenshot shows 3 `OutcomeChip` objects. The overall count is 110 and the counter renders correctly. The second and third `OutcomeChip` objects show counts of 10 and

[2022-09-07 16:59] madalynrose opened #6004 "BUG: Ad hoc visualization toggle does not reset after extension is toggled off and on"
## Describe the bug

When the extension is toggled off and then on again in edge://extensions the visualization toggle does not get set to off even though the visualization is in the off state.

**To Reproduce**
Steps to reproduce the behavior:

1. Open the ad hoc tools view in the extension on any target page
2. Toggle on an ad hoc visualization (e.g. automated checks)
3. Navigate to the extensio

[2022-09-07 17:23] DaveTryon opened #6005 "Bug: Color samples in issues dialog are overridden in HC modes"
## Describe the bug

Not sure if this is intentional, but filing for completeness. For a color contrast issue, we display colors both as a numeric value and as a color sample. Here's a screenshot of what I mean--notice that the displayed colors and the textual colors stay in sync:

<img width="617" alt="image" src="https://user-images.githubusercontent.com/45672944/188939580-16bdfcaf-b621-4017-a3a

[2022-09-07 17:40] DaveTryon opened #6006 "Bug: Inspect HTML not working in Edge"
## Describe the bug

The "Inspect HTML" button in the issues dialog works on Chrome but not on Edge. On Edge, clicking the button _always_ responds "To use the Inspect HTML button, first open the developer tools (F12)", even when the developer tools are open.

**To Reproduce**
Steps to reproduce the behavior:

1. Open developer tools (press F12)
2. Run automated checks
3. Open the issues dialog by

[2022-09-07 19:55] DaveTryon commented on #6006
2 other people were unable to repro this, and the problem went away after I restarted Edge. Looks like some sort of transient condition in Edge. Closing this out.

[2022-09-07 19:55] #6006 closed

[2022-09-08 16:46] DaveTryon opened #6013 "Bug: Kebab menu hover state is bad in Win10 HC modes"
## Describe the bug

The kebab menu produces unfortunate colors on hover state in Windows HC modes:

HC Theme | Hover? | Image
--- | --- | ---
HC1 | No | ![image](https://user-images.githubusercontent.com/45672944/189176549-77158149-9f30-48b9-9ff9-0fd3d00e2275.png)
HC1 | Yes | ![image](https://user-images.githubusercontent.com/45672944/189176775-dc8a9c1d-7a73-4d25-9206-c4348f0067f0.png)
HC2 | No |

[2022-09-09 16:23] DaveTryon commented on #6000
Confirmed fixed in 2.34.1

[2022-09-09 16:23] #6000 closed

[2022-09-09 17:01] peterdur commented on #5678
This may be a Fluent UI issue. The same behavior can be seen in the contextual menu samples at https://developer.microsoft.com/en-us/fluentui#/controls/web/contextualmenu (FluentUI v 8.94.3)
![image](https://user-images.githubusercontent.com/1752950/189403402-672a2bda-f83b-4bf9-9939-24a8e0a31f6c.png)
(image showing no hover indication when mouse hovering over Rename item)

[2022-09-09 17:24] peterdur commented on #5678
Rolling fluentui/react back to 8.49.6 (the version used in the previous release) seems to restore the hover behavior.

[2022-09-12 21:24] ferBonnin commented on #5905
Thanks for the feature request, @LUTLJS, as we work on different features, we will look for opportunities to add architectural docs. Adding this to our backlog

[2022-09-12 23:16] ferBonnin commented on #6002
per triaging conversation, given that this seems to be page specific, leaving this as await community interest to wait for customer reports.

[2022-09-12 23:19] ferBonnin commented on #6004
per triage conversation, won't fix. Leaving this issue for a documented workaround and will revisit if we get considerable customer feedback.

[2022-09-12 23:19] #6004 closed

[2022-09-12 23:28] ferBonnin commented on #5840
closing as this no longer repros

[2022-09-13 18:36] pownkel commented on #5931
Fixed by #6028

[2022-09-13 18:36] #5931 closed

[2022-09-13 21:58] shanisebarona opened #6033 "scrolling overlap of title and content on info and examples page of assessment requirement"
## Describe the bug

When opening the info and examples panel of a test section requirement, the title of the requirement overlaps with the content in the panel.

**To Reproduce**
Steps to reproduce the behavior:

1. Click on the extension icon and select 'Assessment'.
2. Click on any test section between 2 - 24 on the left panel.
3. Select a requirement in a test section and click the `i` icon ne

[2022-09-14 23:00] ferBonnin commented on #6033
Adding a note for when triaging, I cannot repro this consistently. changing the zoom level / window size makes this issue appear / dissapear

[2022-09-15 21:20] ThanyaLeif opened #6042 "[Bug] Tab stops not showing focused elements"
## Describe the bug

Accessibility Insight Tab stop is not working on [MSN](https://nam06.safelinks.protection.outlook.com/?url=https%3A%2F%2Fwww.msn.com%2F&data=05%7C01%7Ctaniamar%40microsoft.com%7C1843272f1a65466a3bb608da968560a3%7C72f988bf86f141af91ab2d7cd011db47%7C1%7C0%7C637987797091396725%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%

[2022-09-19 16:40] shanisebarona commented on #6003
I am not able to repro this when running the extension on a site with a lot of errors and when manually adding digits to the outcome chip.

[2022-09-19 17:04] pownkel commented on #5609
@ferBonnin this is complete and the change is in canary!

[2022-09-19 17:19] ferBonnin commented on #5609
thanks @pownkel, looks great!

[2022-09-19 17:19] #5609 closed

[2022-09-20 16:59] ThanyaLeif commented on #6042
After further investigation, we believe that the cause of the problem is msn.com's implementation of fluent user interface web components. Most of the buttons are located inside closed shadow doms. Accessibility Insighst can only scan open shadow doms, here is a link with more information about it:
[https://accessibilityinsights.io/docs/web/reference/faq/#are-automated-checks-compatible-with-shado

[2022-09-20 16:59] #6042 closed

[2022-09-20 20:38] peterdur commented on #4283
Verified the notification "Failure Details copied" is read by Narrator on Edge 105.

[2022-09-20 20:38] #4283 closed

[2022-09-21 21:02] ferBonnin commented on #5735
I can't see the error message, however, the button in the codepen is not failing the Button-name rule also, changing the attr of the button to something without a semicolon makes it such that the frame-title rule fails whether as with the semicolon, no failures are found.

[2022-09-21 21:05] ferBonnin commented on #5608
verified in canary Version 2022.9.20.1622

[2022-09-21 21:05] #5608 closed

[2022-09-21 21:05] ferBonnin commented on #4516
This has been resolved in the Production icon.

[2022-09-21 21:05] #4516 closed

[2022-09-21 21:07] ferBonnin commented on #4864
This new feature is now available in production!

[2022-09-21 21:07] #4864 closed

[2022-09-21 21:09] ferBonnin commented on #3736
this is now available in prod

[2022-09-21 21:09] #3736 closed

[2022-09-22 20:33] lisli1 commented on #5614
Verified the fix in Canary Version 2022.9.21.1623

[2022-09-22 20:33] #5614 closed

[2022-09-26 23:01] #6003 closed

[2022-09-27 22:44] sfoslund commented on #5735
@ferBonnin what build/ version are you reproing that with? I'm seeing the button failing the button-name rule as expected in the current prod.

I think this behavior is related to updating the codepen, not to changing the content of the code pen in this specific case. I'm seeing those frame-title failures regardless of how I change the code pen content both in this example and with other code pens

[2022-09-28 16:17] ferBonnin commented on #5735
investigated this with @sfoslund. We found it was an issue with the codepen and couldn't repro when testing html directly.

[2022-09-28 16:17] #5735 closed

[2022-09-30 16:31] katydecorah opened #6097 "Tab stops marks elements not yet tabbed to as failed keyboard navigation"
## Describe the bug

While testing the Insider release tab stops, if you don't tab to every element on the page then tab stops will mark the remaining elements as failed, even though they are reachable by tabbing. This does not repro in production.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://www.microsoft.com/en-us/ or https://www.cnn.com/
2. Open Insider release (2.35.0),

[2022-09-30 18:27] jlperkins commented on #6097
Confirmed issue by reproducing it; marking this as ready for team triage.

[2022-09-30 19:20] geoffrk00 opened #6100 "False positive #1?"
https://webcompliance.trafficmanager.net/ScanResultsApi/GetAccessibilityScanConsolidatedReport?siteId=8172d1b3-b36c-e711-80c2-0004ffc0fa4b

WCP is showing an error on
https://learn.microsoft.com/en-us/
duplicate-id-aria: Ensures every id attribute value used in ARIA and in labels is unique

<div class="dropdown-menu" id="theme-menu" role="menu">

This ID is not duplicated
Running AI4W locally on t

[2022-09-30 19:23] geoffrk00 opened #6101 "False positive #2?"
https://webcompliance.trafficmanager.net/ScanResultsApi/GetAccessibilityScanConsolidatedReport?siteId=8172d1b3-b36c-e711-80c2-0004ffc0fa4b

https://learn.microsoft.com/en-us/ is showing an error for

aria-allowed-role: Ensures role attribute has an appropriate value for the element

<aside role="navigation" class="assessments-side-nav is-vertically-scrollable" style="height: 673px;">

role of navi

[2022-09-30 23:55] jlperkins commented on #6101
Hi Geoff, it looks like this instance is a legitimate failure, and it shows up in the Assessment's first automated checks step. If you expand the failure in question in the report you linked to, you can see that the URL it is reporting the failure on is actually [https://learn.microsoft.com/en-us/assessments/?mode=pre-assessment&id=azure-architecture-review&session=local](https://learn.microsoft.c

[2022-09-30 23:59] jlperkins commented on #6100
Agreed; running automated checks against the url that reportedly has this failure, does not produce the same failed result.  Thank you for bringing this to our attention; the team will triage this issue and address it.

[2022-10-03 23:17] ferBonnin commented on #6097
triaged with Peter, by design as we compare tabbable elements with elements reached with Tab Stops

[2022-10-03 23:17] #6097 closed

[2022-10-04 05:59] #5753 closed

[2022-10-04 17:55] geoffrk00 commented on #6101
Thanks for the info from mozilla. That is what I was looking for.

We have updated the element to a nav.

This issue can be closed

[2022-10-04 17:55] #6101 closed

[2022-10-04 18:01] karanbirsingh commented on #3538
This is blocked on https://github.com/electron/electron/issues/27826

[2022-10-05 19:53] Gcamara14 commented on #1942
Hi All,

Are there any updates on this ticket? I know the IBM accessibility checker has this tool and so does deque. Maybe teams can look at the way IBM's implemented something like this.

[2022-10-07 02:32] daphneyyt opened #6121 "What WCAG Criteria that Accessibility Insights For Android can check for"
Dear Accessibility Insights For Android team

We are helping our client to run WCAG scans for mobile apps using Accessibility Insights For Android. Our client is requesting for  a list of WCAG success criteria that Accessibility Insights for Android is able to check for.

**Question:** We would like to understand what are the success criteria that Accessibility Insights For Android is able to scan

[2022-10-10 17:19] ferBonnin opened #6116 "Links to Design Pattern in Assessment take you to main ARIA APG page"
## Describe the bug
The design pattern links no longer take you to the design pattern page

**To Reproduce**
Steps to reproduce the behavior:
Got to Assessment > Custom widgets > Design pattern on a page with custom widgets, note that the links we have in the list of instances no longer take you to the design pattern page. Instead they take you to the landing page with all design patterns

## Code

[2022-10-10 23:44] ferBonnin commented on #6121
moving this to the right repo 🙂

@daphneyyt thanks for reaching out! Accessibility Insights has a set of automated checks and needs review checks that **partially** cover certain WCAG criteria.  Please note that Automated checks can detect some common accessibility problems such as missing or invalid properties, but most accessibility problems can only be discovered through manual testing.

The li

[2022-10-11 13:08] Bram-diederik opened #6122 "english a/an in error text"
My Dutch translation picked up some new tests that i believe are in error.

I did a google search and i state that I'm correct https://www.a-or-an.com/a_an/undefined

test messages:
"A undefined element must be coded correctly as a data table or a layout table"
"The headers attribute of a undefined element must reference the correct undefined element(s)"

[2022-10-12 22:26] karanbirsingh opened #6128 "User is not told if AI-Web skips unresponsive iframe"
## Describe the bug

Our extension makes a best-effort attempt to scan child iframes - we send messages to the child frame and wait for a small timeout. If the child frame does not respond by our timeout, we skip the child iframe.

The user should be notified when we skip an iframe. `axe-core` exposes a rule `frame-tested` that we can use to detect when an iframe was skipped.

**To Reproduce**
Ste

[2022-10-12 22:39] karanbirsingh opened #6129 "Our default iframe ping timeouts may be too low"
## Describe the bug

When scanning child iframes, our extension has to wait for a response from each frame. We have to balance two possibilities:
- Analysis or messaging inside the child frame may be slow, so we need to wait long enough for a response. Giving up too early means we lose results.
- The child frame may be entirely unresponsive; perhaps messaging is disabled altogether. Waiting too lo

[2022-10-13 00:07] ferBonnin opened #6130 "Parsing instructions can be confusing"
## Describe the bug

The parsing instructions say: "Run the first bookmarklet in the browser tab containing your target page"
Users might not know how to run the bookmarklet in their page.

**To Reproduce**
Steps to reproduce the behavior:

Go to assessment > Parsing > Parsing

## Expected behavior

Instead, I propose we have: "Run the first bookmarklet in the browser tab containing your target pa

[2022-10-13 00:21] peterdur commented on #6130
Suggestion: maybe "Go to the browser tab containing your target page and, in that browser window, select the first bookmarklet"?

[2022-10-13 14:04] madalynrose commented on #6122
Thank you for letting us know about this issue, @Bram-diederik! Could you point us to where you are seeing these messages?

[2022-10-13 14:15] Bram-diederik commented on #6122
Its a test case string somewhere in a html or json result export. My translation dictionary picked them up when i added the json format into my parser.

Any html or json result export contains the error and can be found there.

[2022-10-17 14:15] madalynrose commented on #6122
Thank you for finding this issue @Bram-diederik! It turned out to be a bug in the JSON export process where we parse the JSX description for requirements. `undefined` was being inserted into the final description instead of the element name (e.g. `header`, or `td`) in some cases and your attention to grammar highlighted this issue though it is present in more than those two places. A fix has been

[2022-10-20 02:01] #6121 closed

[2022-10-24 20:01] #6122 closed

[2022-10-24 23:13] ferBonnin commented on #6129
triaged with Peter, let's add telemetry to detect instances of this and baseline.

after, lets open another tracking bug to increase the timeout based on the telemetry. We should also confirm increasing the timeout doesn't impact scanning pages without slow iframes.

[2022-10-24 23:15] ferBonnin commented on #6116
we should change the links in all requirements that point to design patterns

[2022-10-26 16:56] karanbirsingh commented on #6129
@ferBonnin Can you elaborate on the telemetry requirements? What in particular should we capture?

If axe-core is unable to contact the frame because of a low `pingWaitTime`, I am not sure if we can detect this beyond the results of `frame-tested` described in #6128 . Maybe @dbjorge knows more? Here is our [axe-frame-messenger](https://github.com/microsoft/accessibility-insights-web/blob/main/src/

[2022-10-26 17:03] karanbirsingh commented on #6128
@ferBonnin By default, this rule would have shown up in needs review. With the banner, would we like to omit `frame-tested` from needs-review, or is the banner in addition?

Should the banner follow similar design & behavior as the existing banners (screenshot below)?

![banners in ai-web](https://user-images.githubusercontent.com/7775527/198089696-5bdc408b-f459-40d7-84ab-6b36c065fb67.png)

The ex

[2022-10-26 17:05] ferBonnin commented on #6128
@karanbirsingh since we cannot assume the user will step into needs review, we would like to omit the rule and instead add the banner. Yes, the banner should follow similar design & behaviour as the existing banners.

[2022-10-26 17:06] ferBonnin commented on #6129
@karanbirsingh we were not aware that we already had telemetry for this, our plan was to analyze how often it happened for a baseline before changing the maximum. Let's re-triage this with the new information

[2022-10-27 14:30] Pranav-yadav commented on #6130
@ferBonnin I can help with this one; if not already assigned to anyone :)

[2022-10-27 14:41] ferBonnin commented on #6130
thanks @Pranav-yadav! Assigning this to you 🙂

[2022-10-27 16:42] Pranav-yadav commented on #6116
@ferBonnin I can help with this one; if not already assigned to anyone :)

PS: PR for: Parsing Instructions rephrase: `#6130` is opened already & is ready to review & merge.

[2022-10-27 17:14] ferBonnin commented on #6116
Thanks @Pranav-yadav assigning this to you!
This is the [landing page link](https://www.w3.org/WAI/ARIA/apg/patterns), we would need to point to the right subpage for each pattern. For example for _combobox_  the current link is: [https://www.w3.org/TR/wai-aria-practices-1.1/**#combobox** ](https://www.w3.org/TR/wai-aria-practices-1.1/#combobox) the new link should be: [https://www.w3.org/WAI/ARIA

[2022-10-27 19:04] Pranav-yadav commented on #5610
@ferBonnin I can help with this one; if not already assigned to anyone :)

PS: PRs for already picked issues are ready to review & merge.

[2022-10-27 19:07] Pranav-yadav commented on #5610
If possible, lets just do this change for automated checks, needs review and assessment highlights

@peterdur any status, sir?

[2022-10-27 19:11] Pranav-yadav commented on #485
Hey @ferBonnin !
any status on this ?

[2022-10-27 19:27] Pranav-yadav commented on #5677
Hey @ferBonnin !
Any status on this?

I can help with this one; if not already assigned to anyone :)

PS: Though, Jason has explained the expected behavior very well, how this need to be approached programmatically?
Will have a look at the respective code, soon..

[2022-10-27 20:04] peterdur commented on #5610
@Pranav-yadav I started working on a prototype of what would be required from the HTML/CSS perspective to make double-line outlines work at https://github.com/microsoft/accessibility-insights-web/compare/main...peterdur:accessibility-insights-web:double-highlight; haven't yet had the opportunity to clean/parameterize the code to production quality, update tests, etc.; also meant to explore whether

[2022-10-27 20:27] #6130 closed

[2022-10-28 17:47] Pranav-yadav commented on #5610
Thanks! Will check it out..

[2022-10-31 16:54] sfoslund commented on #5489
Forgot to close on this when I merged https://github.com/microsoft/accessibility-insights-web/pull/6046, but that PR should wrap up the last of the work for this issue-- marking it as resolved

[2022-10-31 16:55] sfoslund commented on #5905
As part of the MV3 work we recently added this architecture doc, which seems to cover at least part of this request: https://github.com/microsoft/accessibility-insights-web/blob/main/docs/mv3-architecture.md

[2022-10-31 17:25] #6116 closed

[2022-11-03 11:23] segamiken commented on #5610
@peterdur
As a user of accessibility-insights-web, I wanted to fix this issue. Therefore, I created my own PR. https://github.com/microsoft/accessibility-insights-web/pull/6164

[2022-11-03 11:39] Pranav-yadav commented on #5610
Nice!

[2022-11-03 20:05] mcarbonell1 opened #6166 "Accessibility Testing on Localhost"
## Is your feature request related to a problem? Please describe.
Unable to run Accessibility Insights for Web on localhost. When I try to it directs me that: Accessibility Insights for Web can't run on this URL. You'll need to go to a different page.

## Describe the desired outcome
It would be really helpful from a testing stand point if one could run accessibility insights on something that is

[2022-11-03 22:05] mcarbonell1 commented on #6166
I realize this was the way I was launching the browser which made it unable to work. There was no URL for Accessibility Insights for Web to grab since I was launching Edge directly with the URL. Once I put in the localhost URL Accessibility Insights for Web worked.

[2022-11-03 22:05] #6166 closed

[2022-11-07 21:15] kamal2222ahmed opened #6172 "Automate part of accessibility-insights"
## It takes too long to test a complete WebSite for Accessibility, especially since:
1. Current WebSites that I am working on are content rich
2. They retain historical data
3. It's basically Driven by Drupal

## Describe the desired outcome
I would like at least 50% - 70% of the 508 compliance be automatically conducted. This must follow the same test steps/results as a person would do using Trus

[2022-11-08 03:51] DaveTryon commented on #6005
Confirmed fixed in Canary (2022.11.3.2033)

[2022-11-08 03:51] #6005 closed

[2022-11-08 20:01] #5489 closed

[2022-11-09 21:17] dbjorge commented on #6172
Hi @kamal2222ahmed,

It looks like there are several different requests bundled into one issue here. I'll respond one by one:

We would love this, too! Unfortunately, we don't think this is currently feasible - we are constantly reevaluating and thinking about how to automate more types of accessibility checks, but the unfortunate reality is that there are many types of accessibility issue which c

[2022-11-09 21:49] dbjorge commented on #5917
@ferBonnin FYI, we received a customer request in the "Support" section of [our Chrome Web Store listing](https://chrome.google.com/webstore/detail/accessibility-insights-fo/pbjjkligggfmakdaogkfomddhfmpjeni?hl=en) yesterday which is a +1 for this feature:

[2022-11-10 20:09] dbjorge commented on #5840
@ferBonnin and I discussed offline - it turns out the repro conditions are more specific than I'd originally written in the bug, but she's confirmed that she can also repro the issue with more specific steps. I'll edit the description with more specific repro steps.

[2022-11-14 23:05] dbjorge opened #6178 "Assessment 9.1 (Design patterns) is a little confusing about what multiple listed patterns per instance means"
## Describe the bug

We had a user write to us today that felt confused by Assessment Requirement 9.1 (Design patterns). They were not familiar with the notion of patterns vs roles and were confused by the way the instances list presents more than one "Design pattern" per instance for roles which can map to more than one possible design pattern - they weren't sure if we were indicating that the in

[2022-11-14 23:15] dbjorge opened #6179 "Make Assessment 11.4 (Status messages) assisted"
## Is your feature request related to a problem? Please describe.

This issue is based on a customer support request where they were confused by 11.4's "How to test" instruction to

The user was confused about exactly how they should be looking for such elements.

## Describe the desired outcome

I think this is a good candidate for creating a (partially) assisted requirement - it is much easier f

[2022-11-15 00:12] ferBonnin commented on #6129
@shanisebarona assigning to you per draft PR 🙂

[2022-11-17 20:01] #6172 closed

[2022-11-18 02:04] kamal2222ahmed opened #6190 "Available locally on Mac as Docker Instance"
It would be great if accessibility.io is available locally on my Mac since within our organization accessiibility.io is blocked

[2022-11-18 12:11] kamal2222ahmed opened #6191 "available with command line so it can be incorporated in CI/CD Pipeline"
## Is your feature request related to a problem? Please describe.

As part of 508/Trusted Tester ,I want to be able to run this as part of a CI/CD Pipeline and results posted as part of a build.
## Describe the desired outcome

$aib fastpass result.json
$aib assessment result.json
etc
and results be also available as HTML pages ( local )
the result.json is available for later integration with othe

[2022-11-21 18:48] ferBonnin commented on #6190
hey @kamal2222ahmed thanks for the feature request. Could you give us more details on this, please?
are you referring to our website or one of our tools?

[2022-11-21 19:14] shanisebarona commented on #6191
Hi @kamal2222ahmed, thank you for your submission!

We do offer a command line solution! It crawls an entire site and performs our automated checks against each page. It is published as the [accessibility-insights-scan NPM package](https://www.npmjs.com/package/accessibility-insights-scan).

We also maintain an [Accessibility Insights Action](https://github.com/microsoft/accessibility-insights-act

[2022-11-22 20:14] #5610 closed

[2022-11-22 20:59] dbjorge commented on #6129
Updated the timeout from 500ms to 1000ms in #6176.

[2022-11-28 19:42] DaveTryon opened #6212 "[Bug] Test page contents are not rendering properly after running automated checks"
## Describe the bug

We have a web site where running AIWeb causes the content of the nav pane to disappear. It exists in HTML, but does not render as expected.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://tdc.azure.net/welcome (requires MSFT login). Notice that the Home button is displayed
<img width="375" alt="image" src="https://user-images.githubusercontent.com/45672944

[2022-11-28 23:01] #6190 closed

[2022-11-29 18:55] shanisebarona opened #6215 "investigation for "ResizeObserver loop limit exceeded" unhandled error"
This issue is to track the engineering task of further investigation into the "[ResizeObserver ](https://developer.mozilla.org/en-US/docs/Web/API/ResizeObserver)loop limit exceeded" unhandled error.

Based on initial investigation as part of 1994211, this error might be related to our use of [`react-resize-detector`](https://github.com/maslianok/react-resize-detector). It's possible all the listen

[2022-11-30 02:01] #6129 closed